[2020-03-17 05:48] cassiawag commented on #154
@hyouka315 & taehoonh, thank you so much both for your offer to help with translations. It's really incredible to see how the global community has come together to fight against COVID-19; you are part of that, and we really appreciate it. However, at this time, we have enough Korean translators. May I add your names to our backup list of translators? I will contact if we need any more help.

[2020-03-17 06:16] hyouka315 commented on #154
I am glad to hear that many are willing to work together in this project. And I am willingly to join as a backup member.
I must say that it's truly an honor to take part.

Android용 Outlook<https://aka.ms/ghei36> 받기
________________________________
From: cassiawag <notifications@github.com>
Sent: Tuesday, March 17, 2020 2:48:52 PM
To: nextstrain/ncov <ncov@noreply.github.com>
Cc: 서현석 <greg3747@snu.

[2020-03-17 06:19] taehoonh commented on #154
@cassiawag
Not a problem at all. I would be more than happy to be a back-up. Glad as well that many are contributing to this. Please let me know if you need anything.

[2020-03-17 08:25] Chjulian commented on #181
doing this atm

On Tue, Mar 17, 2020 at 1:37 AM cassiawag <notifications@github.com> wrote:

--

Julián

[2020-03-17 08:44] SalehA74 commented on #160
Hi @cassiawag and @wammar. The first draft of the Arabic translated situation report is ready for proofreading! Any comments are welcome.

[2020-03-17 09:45] Chjulian commented on #181
@cassiawag translation finished. Sorry for the delay. Covid research +
usual research consuming lots of my time!
Cheers
J

On Tue, Mar 17, 2020 at 8:25 AM Ch. Julian <cj.villabona@gmail.com> wrote:

--

Julián

[2020-03-17 14:57] cassiawag commented on #154
Thank you both for understanding. Stay well.

[2020-03-17 20:23] cassiawag commented on #181
Thanks @Chjulian! @miparedes or @Cholokiwi, can either of you proofread? We'd like to have everything get at least two sets of eyes on it before publishing.

Definitely understand the busyness. On that note, we've had several offers of help for Spanish translations from people with a non-technical background. Would this be helpful? Weekly translations are a lot of work, but I don't want too crowd

[2020-03-17 20:54] miparedes commented on #181
I can proofread it!

[2020-03-17 20:58] Cholokiwi commented on #181
I’ll proofread it as well and make changes if any
in the next few hours.

On Wed, 18 Mar 2020 at 9:54 am, Miguel Paredes <notifications@github.com>
wrote:

[2020-03-17 21:03] cassiawag commented on #172
@aniafijarczyk is going to join in on these translations! Thanks so much for your help. I'll let you and @balwierz coordinate together.

[2020-03-17 22:57] Cholokiwi commented on #181
Hi all,
It reads really well, good job @Chjulian! Just made minor changes.
@cassiawag although md file seems ok, the preview is being funny again, please have a look.
Cheers,

Roy

[2020-03-17 23:21] miparedes commented on #181
Everything also looks great to me! No particular changes outside of what Roy made. Good to go.

[2020-03-17 23:21] cassiawag opened #206 "Translate "How to interpret phylogenetic trees" into Hindi"
We’d like to translate “How to interpret phylogenetic trees” into Hindi. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_hi.md` in branch `background_hi` under the narratives folder: https://github.com/nextstrain/ncov/blob/background_hi/narratives/ncov_tre

[2020-03-18 02:26] cassiawag commented on #181
Thank you everyone! It's online here: https://nextstrain.org/narratives/trees-background/es. I've also updated the links in March 13 situation report: https://nextstrain.org/narratives/ncov/sit-rep/es/2020-03-13.

For future reference: The file got messed up b/c the links in the Table of Contents did not have punctuation after them. It's a finicky narratives thing, but unless the text is in a head

[2020-03-18 02:26] #181 closed

[2020-03-18 03:38] cassiawag commented on #202
@codergr, if you have any Greek-speaking colleagues with technical backgrounds, feel free to tag them here!

[2020-03-18 06:43] pwrose opened #207 "add clade column to metadata.tsv"
The`clade` column is present in the nextstrain_ncov.tsv file available for download from the nextstrain website, however, it's missing in this info in the metadata.tsv file.

Alternatively, can the files available for manual download (no url) from the nextstrain website also be made available in this git repo so these files can be downloaded programmatically?

[2020-03-18 07:09] KyobinKang commented on #154
@hyouka315, @taehoonh, @hanbin973, @minkyuxyz, @Bolloknoon
If anyone have a background on evolutionary biology, bioinformatics, or systems biology, please help me to translate the "How to read a tree" document. Because of its content, it needs a little bit of knowledge on the fields above. You can find the document at: https://github.com/nextstrain/ncov/blob/background_ko/narratives/ncov_trees-bac

[2020-03-18 08:02] larsonreever commented on #53
this will help us a long way as we are coming up with a community based solution to track coronavirus near you - initiative named [Corona Warriors](https://coronawarriors.com/), it will be an innovative step ahead to help the spread. Github has lots of good resources which we can levarage. Contributions & partnerships are welcome.

[2020-03-18 08:06] pwrose opened #208 "why is clade info not available for some strains?"
The file nextstrain_ncov.tsv does not have clade info for some strains. Are these strains excluded from the Nextstrain.org visualization? Why don't these strains have a clade assignment?

[2020-03-18 08:09] matryoskina commented on #118
Hello!
I would be happy to help with Italian translation!
I'm not an expert in phylogenetics, but I work in genomics and evolution, and I have a background in microbiology/pharmacology/... in human from my MSc
My Twitter @aisselaossur

[2020-03-18 08:10] codergr commented on #202
Sure @cassiawag , @afilp can you please take a look into this. Thanks

[2020-03-18 08:34] emmahodcroft commented on #208
The clade information given by Nextstrain is there to allow us to quickly visualise interesting clusters of branches in the tree, it has no functional or official meaning - these clades are not officially recognised and should not be interpreted as meaningful. This is why they are not included in any files - they are simply a visualisation aid.

[2020-03-18 08:37] taehoonh commented on #154
Hello @KyobinKang,
I still have a lot to learn, but let me give it a try if you don't mind.

[2020-03-18 09:03] KyobinKang commented on #154
@taehoonh Please give a translation directly to the document above. Thanks.

[2020-03-18 09:22] t-neumann opened #209 "Rule download fails"
Hi,

I haven't yet gotten access to the GISAID dataset, but I wanted to do a dry run locally with `snakemake -p`.

Now it always seems to try to copy files from the remote `s3` which I understand is private. But what that step also always be executed if the proper files are already in the `data` subfolder?

[code]

Because this should be an optional step right?

[2020-03-18 11:43] taehoonh commented on #154
@KyobinKang,
It seems that I do not have a write access to **nexstrain/ncov**. It would be grateful if you give me an access to it. Thank you in advance.

[2020-03-18 13:49] KyobinKang commented on #183
@cassiawag Hi, @taehoonh wants to contribute this but he told me that he does not have the write access; could you solve this problem? Thanks.

[2020-03-18 14:56] brianpardy commented on #209
If the required files are in place in the data subfolder the download rule does not get executed in my environment.

[2020-03-18 15:47] seangrant82 commented on #207
@pwrose can you point me that dataset? I cant seem to find it

[2020-03-18 16:35] cassiawag opened #214 "Translate "How to interpret phylogenetic trees" into Arabic"
We’d like to translate “How to interpret phylogenetic trees” into Arabic. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_ar.md` in branch `background_ar` under the narratives folder: https://github.com/nextstrain/ncov/blob/background_ar/narratives/ncov_tr

[2020-03-18 16:45] pwrose commented on #207
The data file that doesn't contain the clade column is this one:
https://github.com/nextstrain/ncov/blob/master/data/metadata.tsv

On Wed, Mar 18, 2020 at 8:47 AM Sean Grant <notifications@github.com> wrote:

[2020-03-18 16:51] cassiawag commented on #183
@taehoonh -- you should now have access. Thank you to both for your hard work on this!

[2020-03-18 17:00] seangrant82 commented on #207
@pwrose what about the **nextstrain_ncov.tsv** dataset? I would be curious to look at the and see if there is a way to replicate the tree and map they have

[2020-03-18 17:15] emmahodcroft commented on #207
Just to be clear - the clade definitions here are purely for us to have 'zoom' capability when we do our Situation Report narratives. They have no functional meaning - no meaning at all, except they are little clusters we are interested in highlighting in reports. Please be cautious that you do not over-interpret this data. It is not meaningful.

[2020-03-18 17:26] seangrant82 commented on #207
@emmahodcroft thanks for the clarification. I have mainly been looking at the metadata.tsv and will looking that some more then. I was wondering is there is an explanation/data dictionary of the field "length" is as it seem this is a connecting "node" between different strains

[2020-03-18 17:43] emmahodcroft commented on #207
The 'length' is just the length of the sequence (number of bases) as given by GISAID. This may not be the exact length of bases that aren't 'N' (unknown). We use this as a first filter for our requirements (we only take nearly-full-length) sequences. This value alone isn't meaningful in an analytic sense, if anything at all it may indicate different technologies (minION/Illumina) being used to seq

[2020-03-18 18:21] pwrose commented on #208
Thanks for the clarification.

[2020-03-18 18:21] #208 closed

[2020-03-18 18:25] pwrose commented on #207
I understand that the clade info is not official and may change over time.

However, for our analysis, it would be useful if the nextstrain_ncov.tsv file (as well as the tree files) had a URL so we can download it programmatically. Right now we need to download it manually from the Nextstain.org page.

[2020-03-18 22:00] balwierz commented on #172
Lots of tasks to do these days. I asked some additional people for help.

[2020-03-18 22:06] jameshadfield commented on #207
This functionality doesn't currently exist. This could be added to nextstrain/auspice (which is the codebase of the visualisation app), however I don't see this happening in the short term as it would require shifting the code which makes this file into the server which is not in our current plans.

Much quicker would be to programmatically download `data.nextstrain.org/ncov.json`, which is what n

[2020-03-18 22:06] #207 closed

[2020-03-19 01:38] taehoonh commented on #183
@KyobinKang @cassiawag
My pleasure. Now it works well. Thank you both.

[2020-03-19 02:54] cassiawag commented on #160
And it's live here: https://nextstrain.org/narratives/ncov/sit-rep/ar/2020-03-13

Well done @SalehA74 and @hamarsheh. Thank you for the hard work. I couldn't get the link on slide 2 to work so if either of you wants to edit that tomorrow, please do. But I decided the information was worth publishing to keep a link error from stopping us.

[2020-03-19 02:54] #160 closed

[2020-03-19 07:07] t-neumann opened #219 "GISAID EpiCoV fasta download"
Hi,

I got my GISAID account and also navigated to the EpiCoV page as instructed, but when I click on download, only a PDF is downloaded and not the actual fasta sequences. Has this moved someplace?

I would be very grateful for any directions (see screenshot).

![image](https://user-images.githubusercontent.com/17272623/77040677-acaae000-69b8-11ea-976e-ea86cc33f5fe.png)

[2020-03-19 11:26] Maijin commented on #192
It's still there see -

<img width="514" alt="image" src="https://user-images.githubusercontent.com/1408600/77062768-d413a400-69dc-11ea-9e8e-be9bd95af702.png">

[2020-03-19 11:32] emmahodcroft commented on #192
Just looking into this. This is dependant on what you have set as 'Geographic resolution' on the left. In the view pictured I believe it's set as 'division' which is the default. This isn't town-level resolution, but canton/region/state/admin division:
![image](https://user-images.githubusercontent.com/14290674/77063210-95cab480-69dd-11ea-96d1-7ec4d626c034.png)

If you set to 'location' this is ci

[2020-03-19 11:35] Maijin commented on #192
Ok yes it makes sense thanks then!

[2020-03-19 11:35] #192 closed

[2020-03-19 13:09] fillorkill commented on #184
I finally had sometime today to finish the translation. I'm no phylogenetics experts so please can someone proofread this?

[2020-03-19 13:17] fzhang12 commented on #184
Thanks, @fillorkill . I will take a look when I have more time during the weekend.
Just a suggestion: read a little more online resources if you have no idea what the word means :)

[2020-03-19 13:23] rvosa commented on #219
Click on browse (below the radial tree). Then click the database icon at the bottom right of the next page.

[2020-03-19 13:31] lxy0107 commented on #184
I've been working on it slowly;) glad to see you finished it @fillorkill
I will also take a look.

[2020-03-19 13:50] bassanio commented on #219
@rvosa hi There is no such icon on my page

![Screenshot 2020-03-19 at 5 40 15 PM](https://user-images.githubusercontent.com/11612433/77074276-0be51080-6a0a-11ea-9f34-77a260e26590.png)

[2020-03-19 13:53] bassanio commented on #219
@rvosa  What I was looking for is bulk download of these files. Is there a way to do that Instead
of doing individual download

[2020-03-19 14:43] balwierz commented on #172
It is basically finished, apart from some formatting issue at FAQ part after auspiceMainDisplayMarkdown

I dont know how to fix it. Could you have a look?

[2020-03-19 15:14] t-neumann commented on #219
@rvosa I also don't have this button. Are you using different browsers? I tried Chrome and Safari, but I none of them shows it.

[2020-03-19 15:52] trvrb commented on #219
This seems to be an issue with some users in GISAID where not everyone has this download button. I think you may need to contact GISAID support. See further discussion here: https://github.com/nextstrain/ncov/issues/53.

[2020-03-19 15:56] cassiawag commented on #172
@balwierz -- thanks for the good work on this!

I fixed the formatting error. It did not like the comment in the same line as the heading of the FAQ slide, for future reference. We also have the option to add translatorLinks to your professional websites (some translators use their twitter) if you'd like to add those. Finally, if you can translate the text under "Scientific Credit" and "Detailed S

[2020-03-19 16:06] KyobinKang commented on #183
@cassiawag I've done with the document. After @taehoonh confirm it, this could be published. I tried to give a loose translation, instead of a word-for-word manner. Because this document is a guideline for readers who are not familiar with phylogenetic trees, so I focused on making it to be read easily.

@cassiawag I have a question. Among "An Example" part of the section "How should I interpret t

[2020-03-19 16:15] balwierz commented on #172
@aniafijarczyk Thanks a lot for your work!

[2020-03-19 16:48] SalehA74 commented on #214
Dear colleagues...
I finished the translation of the Phylogenetics interpretation guide into Arabic. Colud you please Dr Fadi @falnaji contact me here or via Twitter @Ahmadsa96201545 to coordinate with each other. Regards
Dr. Ahmad Saleh

احصل على Outlook for Android<https://aka.ms/ghei36>

________________________________
From: cassiawag <notifications@github.com>
Sent: Wednesday, March 18, 2020

[2020-03-19 17:17] pallavmehta commented on #206
I'm working on this now :)

[2020-03-19 17:20] taehoonh commented on #183
@KyobinKang  Thank you for the correction. Please let me know if you need anything.

[2020-03-19 17:44] cassiawag opened #220 "Testing new system for translations"
Hello all!

This weekend we’d like to test out a new online professional translation system. We’re now translating into 15 languages with the potential for more to come. With more languages, coordinating on GitHub might become unmanageable on the Nextstrain end. We’re testing this new system in hope that it will allow us to continue making reports widely available but in a sustainable manner.

If

[2020-03-19 17:59] bassanio commented on #219
The issue is solved for me. I thank gisaid developers for this resolve.

[2020-03-19 18:00] andersonbrito commented on #220
Hi @cassiawag,
I'm happy to help reviewing the translations, as I've been doing over the past weeks.

[2020-03-19 18:16] cassiawag commented on #183
Thank you so much to you both!! If possible, I would love one more set of eyes on this b/c it's a background document that we will use for a long time. @minkyuxyz or @hanbin973, any chance you're available to review.

Hi @KyobinKang, good catch! Please adjust the tree accordingly.

[2020-03-19 18:17] #219 closed

[2020-03-19 18:17] minkyuxyz commented on #183
I'll try to review it in a day or two. Thanks!

[2020-03-19 18:19] fzhang12 commented on #220
Hi all, I'm also willing to help as a reviewer. Thanks for the efforts all of you have done in the past few weeks :)

[2020-03-19 19:16] al-epo commented on #220
@cassiawag It looks like a very smart idea.
Let me know  if I can be of any assistance!
Best,
Alessia

[2020-03-19 19:37] aliceLedda commented on #220
Yes, fine with me!
Alice

On Thu, Mar 19, 2020, 19:17 al-epo <notifications@github.com> wrote:

[2020-03-19 19:52] balwierz commented on #172
@cassiawag All done.
translatorLinks were not transformed to hyperlinks

[2020-03-19 20:29] cassiawag commented on #172
translatorLinks only works if everyone has an entry. Until then, they'll just be names.

[2020-03-19 20:32] aniafijarczyk commented on #172
@cassiawag @balwierz I'll go through everything last time

[2020-03-19 21:08] sarameiqi commented on #220
Hi all,
it's ok with me being the main translator for Italian. I like the new
system a lot!

You can write me at pilia.meiqi@gmail.com.
Please link my name to my LinkedIn profile, here
<https://www.linkedin.com/in/sara-pilia/>.

Thank you for including me in the team, it's a real pleasure!

Best wishes,
Sara

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&

[2020-03-19 21:12] sarameiqi commented on #220
Hi all,
it's ok with me being the main translator for Italian. I like the new system a lot!
Thank you for including me in the team, it's a real pleasure!
Sara

[2020-03-19 22:26] sidneymbell commented on #206
Closed per discussion with @pallavmehta and @cassiawag

[2020-03-19 22:26] #206 closed

[2020-03-19 22:38] mg878 commented on #179
Hey @cassiawag, just letting you know that @dahaj1897 and are now pushing the translation out.
However, looking at the preview right now, unfortunately, the issue with R--->L text is still there.
I am going to report this in the auspic thread #954.

[2020-03-20 00:45] aliceLedda commented on #220
Hello,
I would like to add little note on the Italian translation to make life
easier to the translators.

There are a couple of technical words that have a very precise meaning and
might be misleading if used in their general meaning:
-correlare use only if the english is correlate otherwise better use a
synonym
-significativo/significativamente use only if the english word is
significant/signifi

[2020-03-20 00:57] aniafijarczyk commented on #172
I'm done with the proofs. I think it looks good!

[2020-03-20 00:58] cassiawag commented on #220
Thank you so much everyone for your rapid response! I'll send you emails with more information about how this translation software works. And I am excited to receive your feedback on it comparison to the GitHub process we have been using.

@tomoyuki-nezu or @satotake -- are either of you available to be the main translator for Japanese?

[2020-03-20 00:59] cassiawag commented on #172
I'll send it live. Thank you so much for the good work @balwierz and @aniafijarczyk!

[2020-03-20 01:01] cassiawag commented on #172
@balwierz: Do you have a twitter account I can tag in the post?

And can someone please translate one final bit of text for me for the twitter post:

Pleased to announce that the #COVID19 report from March 13 is now available in Polish. A big thank you to Piotr Balwierz, @afijarczyk, and Bartosz Lisowski for their translation.

[2020-03-20 01:07] aniafijarczyk commented on #172
Sure! "Miło mi poinformować, że raport #COVID19 z 13 marca jest teraz dostępny w języku polskim. Ogromne podziękowania dla Piotra Balwierza, @afijarczyk i Bartosza Lisowskiego za tłumaczenie."

[2020-03-20 01:17] tomoyuki-nezu commented on #220
@cassiawag Thank you for contacting. I'll send you an email as I can reserve time this weekend.
Anyway, do that system need to "ONE" main translator? Can't share with @satotake and others?

[2020-03-20 01:19] cassiawag commented on #172
It's now live at: https://nextstrain.org/narratives/ncov/sit-rep/pl/2020-03-13 ! Cheers all! The next report will be coming out tomorrow (Friday) around 5p PDT if you want to translate that one to Polish.

[2020-03-20 01:19] #172 closed

[2020-03-20 01:23] cassiawag commented on #220
@tomoyuki-nezu, yes it gets one main translator and one reviewer. One of the potential downsides. I'm looking forward to seeing what you think of it.

[2020-03-20 01:27] #159 closed

[2020-03-20 01:54] tomoyuki-nezu commented on #220
Understood, I'll try it first.

[2020-03-20 02:32] dahaj1897 commented on #179
Hi,
I pushed full translated file.

[2020-03-20 02:41] satotake commented on #220
Sorry for late response
It is ok that you are the main translator in Japanese, @tomoyuki-nezu  .
If you do not have the time in the future, I will.

I am looking to forward reading your translations, @tomoyuki-nezu  & @fzhang12
Thank you for your notification, @cassiawag .

[2020-03-20 02:48] tomoyuki-nezu commented on #220
@satotake It may be better to do a shared translation with you outside the new system (such as GitHub) and write back the results to the new system. I'll use it tomorrow, and so I'll contact to you afterwards.
best.

[2020-03-20 02:50] tomoyuki-nezu commented on #220
@satotake It may be better to do a shared translation with you outside (such as GitHub) the new system and write back the results to the new system. I'll use it tomorrow and contact to you afterwards.
best.

[2020-03-20 03:37] trvrb commented on #209
We've just added an example sequences file to `example_data`. If you start by running
[code]
you should then be able to run `snakemake -p`. Please try this out. I'll close the issue, but feel free to re-open if there's still a problem.

[2020-03-20 03:37] #209 closed

[2020-03-20 04:57] pedroelbanquero commented on #53
gisaid.org seems not provide access to normal public, anywhere the data ?

[2020-03-20 04:59] pedroelbanquero opened #223 "going gisaid share data with the global public ?"
seems normal people can't register to gisaid

[2020-03-20 05:22] cassiawag commented on #220
@tomoyuki-nezu & @satotake -- thank you for understanding as we test out this system. I've really appreciated your collaboration on translations so far, and I'm looking forward to continuing working with both of you in the future, whatever system we use for organizing translations. I'm looking forward to your critical and positive feedback on this alternative system.

[2020-03-20 05:29] taehoonh commented on #183
@minkyuxyz Thanks. I appreciate that.

[2020-03-20 05:38] cassiawag opened #224 "Translate "How to interpret phylogenetic trees" into Polish"
We’d like to translate “How to interpret phylogenetic trees” into Polish. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_pl.md` in branch `background_pl` under the narratives folder: https://github.com/nextstrain/ncov/blob/background_pl/narratives/ncov_tr

[2020-03-20 05:49] t-neumann opened #225 "Metadata extension"
Hi,

I'm curious on how the `metadata.tsv` files is created - could you elaborate on that?

I don't see any fields commenting on sequencing platform used, assembly method and coverage, yet I feel like this would be also valuable information. While I also do not see these fields listed when browsing GISAID, I see that this information is at least optionally supplied when sequences are uploaded.

![

[2020-03-20 06:06] minkyuxyz commented on #183
Just finished the revision. Thank you for your contribution. They are very well translated.

Following are the updates I made:
-Fixed minor grammars & typos
-Replaced all tokens of "계통도" and "계통유전학적 나무" by "계통수"
-Replaced all tokens of "샘플링" and "샘플 채취" by "표본 채집"
-Made honorifics consistent.

It's ready to go. @hanbin973 can review once more, if necessary. But I think it's generally publishable a

[2020-03-20 06:30] tolot27 commented on #225
I have to filter sequences dynamically based on coverage and sequencing platform (filter out low coverage MinION) and need this information as well.

[2020-03-20 11:07] balwierz commented on #172
Sorry, I am in London time zone. My Twitter account: PiotrBalwierz

[2020-03-20 15:56] cassiawag commented on #183
Alright, I'll publish then. Thanks everyone for the good work!

[2020-03-20 17:05] cassiawag commented on #183
It's live: https://nextstrain.org/narratives/trees-background/ko I've also update the links in the last situation report. Thanks all for an excellent job!

[2020-03-20 17:05] #183 closed

[2020-03-20 22:18] tolot27 commented on #180
Any progress on this translation? If not, I'd be happy to finish the translation.

[2020-03-20 22:33] cassiawag commented on #202
I'm going to close this issue b/c we're opening a new issue for this week's report, and I'd like proofreading/translation efforts to be directed to the newest report.

[2020-03-20 22:33] #202 closed

[2020-03-20 23:13] cassiawag commented on #220
For translators who are part of the teams and will not be testing out this alternative translation system, please feel free to suggest edits as pull requests after publication. You all provide important contributions to the translations, but it's important to stick to the two translator policy to test out how the system works.

[2020-03-20 23:33] cassiawag commented on #118
@matryoskina -- thank you so much for the offer! I'll add you to our list of backup translators.

[2020-03-21 00:26] lxy0107 commented on #184
@cassiawag can you ask the team to check this page 'https://nextstrain.org/narratives/trees-background?n=8'. This sentence:

I think there's a mistake - it should be "there was one introduction from **blue** to **orange**", right?

I corrected it in the Chinese version, but let me know if I'm wrong.

[2020-03-21 00:26] cassiawag opened #226 "Translate March 20 report into Arabic"
Hello @falnaji, @hamarsheh, @SalehA74 !

The situation report from 2020-03-20 is ready to be translated to Arabic. A branch exists as `sit-rep_ar`  where this can be done, and the file to translate is `ncov_sit-rep_ar_2020-03-20.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_ar/narratives/ncov_sit-rep_ar_2020-03-20.md

You can translate directly in this file, bu

[2020-03-21 00:28] cassiawag opened #227 "Translate March 20 report into Dutch"
Hello  @roanvanscheppingen, @rvosa, @Van-Doorslaer, @shenii, @pleunipennings,  @JSHuisman, @JiscaH !

The situation report from 2020-03-20 is ready to be translated to Dutch. A branch exists as `sit-rep_nl`  where this can be done, and the file to translate is `ncov_sit-rep_nl_2020-03-20.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_nl/narratives/ncov_sit-rep_n

[2020-03-21 00:29] cassiawag opened #228 "Translate March 20 report into Farsi"
Hello  @dahaj1897 @mhrimaz @mg878 !

The situation report from 2020-03-20 is ready to be translated to Farsi. A branch exists as `sit-rep_fa`  where this can be done, and the file to translate is `ncov_sit-rep_fa_2020-03-20.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_fa/narratives/ncov_sit-rep_fa_2020-03-20.md

You can translate directly in this file, but ple

[2020-03-21 00:29] cassiawag opened #229 "Translate March 20 report into French"
Hello  @meriemelkaroui @Maijin @DanielThedie @Simon-LoriereLab !

The situation report from 2020-03-20 is ready to be translated to French. A branch exists as `sit-rep_fr`  where this can be done, and the file to translate is `ncov_sit-rep_fr_2020-03-20.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_fr/narratives/ncov_sit-rep_fr_2020-03-20.md

You can translate

[2020-03-21 00:30] cassiawag opened #230 "Translate March 20 report into German"
Hello @astridgall @rneher @nicfel !

The situation report from 2020-03-20 is ready to be translated to German. A branch exists as `sit-rep_de`  where this can be done, and the file to translate is `ncov_sit-rep_de_2020-03-20.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_de/narratives/ncov_sit-rep_de_2020-03-20.md

You can translate directly in this file, but pl

[2020-03-21 00:31] cassiawag opened #231 "Translate March 20 report into Greek"
Hello @akifoss @codergr !

The situation report from 2020-03-20 is ready to be translated to Greek. A branch exists as `sit-rep_el`  where this can be done, and the file to translate is `ncov_sit-rep_el_2020-03-20.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_el/narratives/ncov_sit-rep_el_2020-03-20.md

You can translate directly in this file, but please rememb

[2020-03-21 00:31] cassiawag opened #232 "Translate March 20 report into Korean"
Hello @hanbin973  @kyobinkang @minkyuxyz, @Bolloknoon !

The situation report from 2020-03-20 is ready to be translated to Korean. A branch exists as `sit-rep_ko`  where this can be done, and the file to translate is `ncov_sit-rep_ko_2020-03-20.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_ko/narratives/ncov_sit-rep_ko_2020-03-20.md

You can translate directly

[2020-03-21 00:31] cassiawag opened #233 "Translate March 20 report into Mandarin"
Hello @fillorkill @alvinxhan @lxy0107 @fzhang12 !

The situation report from 2020-03-20 is ready to be translated to Mandarin. A branch exists as `sit-rep_zh`  where this can be done, and the file to translate is `ncov_sit-rep_zh_2020-03-20.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_zh/narratives/ncov_sit-rep_zh_2020-03-20.md

You can translate directly in t

[2020-03-21 00:32] Maijin commented on #229
Great!

Hackmd is here https://hackmd.io/LL50-sucTImEqFx_fBFJJw but I will personally start tomorrow! 🥱
Instant messaging as usual here - https://webchat.freenode.net/#nextstrain-fr-translation

[2020-03-21 00:32] cassiawag opened #234 "Translate March 20 report into Polish"
Hello @aniafijarczyk @balwierz !

The situation report from 2020-03-20 is ready to be translated to Polish. A branch exists as `sit-rep_pl`  where this can be done, and the file to translate is `ncov_sit-rep_pl_2020-03-20.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_pl/narratives/ncov_sit-rep_pl_2020-03-20.md

You can translate directly in this file, but pleas

[2020-03-21 00:32] cassiawag opened #235 "Translate March 20 report into Russian"
Hello @dtaliun @frogtraveler @vpuller @irina95511 !

The situation report from 2020-03-20 is ready to be translated to Russian. A branch exists as `sit-rep_ru`  where this can be done, and the file to translate is `ncov_sit-rep_ru_2020-03-20.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_ru/narratives/ncov_sit-rep_ru_2020-03-20.md

You can translate directly in

[2020-03-21 00:33] cassiawag opened #236 "Translate March 20 report into Spanish"
Hello @miparedes @Chjulian  @Cholokiwi !

The situation report from 2020-03-20 is ready to be translated to Spanish. A branch exists as `sit-rep_es`  where this can be done, and the file to translate is `ncov_sit-rep_es_2020-03-20.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_es/narratives/ncov_sit-rep_es_2020-03-20.md

You can translate directly in this file,

[2020-03-21 00:34] cassiawag commented on #184
This is correct @lxy0107 -- good catch!

[2020-03-21 03:18] mg878 commented on #179
@cassiawag just letting you know that the translation for "How to interpret phylogenetic trees" to Farsi is now completed (just pushed it now for the last time) and should be on the background_fa branch and following directory:
narratives/ncov_trees-background_fa.md

Let me know if there was any issues. thanks!

[2020-03-21 03:27] Cholokiwi commented on #236
Hi all,
I'm happy to have a go at the translation of the whole narrative this week. Will let you know once it's finished.

Roy

[2020-03-21 03:45] frogtraveler commented on #235
@cassiawag I had a question about line 134: "Looking at the green Canadian sequence in the middle, we see that they have a reported travel history to Europe. "  I don't see "green Canadian sequence", I believe it should be "blue". Also, I'm not sure that the legend for that tree is up-to-date.

[2020-03-21 05:23] cassiawag commented on #235
Yes, blue is correct. Thank you!

[2020-03-21 06:32] roanvanscheppingen commented on #227
Goedemorgen iedereen!

Ik ga er nu een half uurtje tot uurtje aan werken in ieder geval. Succes weer iedereen :)

[2020-03-21 07:23] roanvanscheppingen commented on #227
Okay. I've done a bit.
Unfortunately I'm a bit busy arranging my life back in Amsterdam again (while last week I was still hiking the alps) and trying to still graduate in time.

Last few things are for someone else. Good luck.
I've kept two things I was not sure of the correct translation. They are there in CAPS. It is about INTERMINGLING, EXECUTIVE SUMMARY, and INTERFERENCES OF TRANSMISSION.

Ta

[2020-03-21 08:15] JiscaH commented on #227
I'll continue where roan left off, unless someone else is working on translating just now?

[2020-03-21 08:38] JiscaH opened #238 "March 20 report: issues in english version"

[2020-03-21 08:40] #238 closed

[2020-03-21 09:13] JiscaH commented on #227
Alright, I've translated the second half. I haven't gone over Roan's bit, so whomever is going next should spell/grammar check the whole document please.

Following Roan's tactic, I've put terms that I'm not sure how to translate in CAPS: SURVEILLANCE TESTING
SEEDING EVENT

Thank you all, stay safe!

[2020-03-21 09:34] Chjulian commented on #236
@miparedes <https://github.com/miparedes> @Cholokiwi
<https://github.com/Cholokiwi> I am afraid I am busy with some research at
the moment, and I won’t be able to give this the attention it deserves - so
please go ahead with the translation without me.

On Sat, Mar 21, 2020 at 12:33 AM cassiawag <notifications@github.com> wrote:

--

Julián

[2020-03-21 09:41] lxy0107 commented on #233
@cassiawag it seems the file https://github.com/nextstrain/ncov/blob/sit-rep_zh/narratives/ncov_sit-rep_zh_2020-03-20.md does not exist?

And don't worry, I know it's hard to evaluate the translation if you don't know the language... but trust me, it is as accurate as it can get, with our teamwork so far. To reassure you, I have a PhD in evolutionary genetics and I've translated a [book](https://g

[2020-03-21 10:00] vpuller commented on #235
I have translated the remaining section and proofread the rest. I couldn't however visualize it on the nextstrain - the link doesn't seem to work, it directs to the general narratives page. And when I try to get the Russian  version from there, it is still displayed in English.

[2020-03-21 10:01] rvosa commented on #227
I'll continue.

[2020-03-21 10:15] codergr commented on #231
Thanks @cassiawag , welcome @akifoss . Please check above pull request @akifoss perhaps we can do the edit using github review?

[2020-03-21 10:26] roanvanscheppingen opened #241 "Colour on slide 6"
Disclaimer, I am colourblind so not the best reference.

In slide 6 of the new sitrep, the green Canada sequences are named in text. To me, it seems blueish.

Might be of use to all translators!

[2020-03-21 10:28] alvinxhan commented on #233
Link to the new zh file - https://github.com/nextstrain/ncov/blob/sit-rep_zh/narratives/ncov_sit-rep_zh_2020_03-20.md - typo with an underscore between 2020 and 03 instead of a dash.

I agree that the translation is pretty rad, much better than when we first started in January. Happy to help proofread.

[2020-03-21 10:30] fillorkill commented on #233
I just pushed a commit with ncov_sit-rep_zh_2020-03-20.md. Working on translations now.

[2020-03-21 10:31] roanvanscheppingen commented on #241
Also found a pull request stating this. Colours change based on browser.

[2020-03-21 10:38] meriemelkaroui commented on #229
@Maijin, @DanielThedie, @Simon-LoriereLab, I am starting to work on the translation on hackmd.

[2020-03-21 10:41] emmahodcroft commented on #241
Sorry about this. It is indeed blue! (Last time I checked, anyway.) This
needs to be corrected in all translations. Sorry! And thanks!

On Sat, 21 Mar 2020, 11:26 roanvanscheppingen, <notifications@github.com>
wrote:

[2020-03-21 10:42] alvinxhan commented on #184
Went through the translation, looks good! Great job.

[2020-03-21 11:12] lxy0107 commented on #184
I just finished the proofreading, but no major changes since your read @alvinxhan

[2020-03-21 11:16] lxy0107 commented on #233
Can we all agree to use full-width marks, i.e. “。” instead of ".“ , etc, for the Mandarin version? @fillorkill @fzhang12 @alvinxhan

Also, I realized that the links in the index page need to be changed to link the pages in the corresponding language. If we only translate the text, the links always point to the English page. Maybe this is worth the attention of other translation groups as well @cas

[2020-03-21 12:02] Simon-LoriereLab commented on #229
Hi all, the translation can be pushed! Thanks to all!

[2020-03-21 12:18] fillorkill commented on #233
Full translation pushed. Please proofread.
Agree on the punctuation. But @cassiawag could you please confirm if two-byte punctuation marks are handled correctly by the compiler? Coming from a programming background I've seen quite a few times compilers throw exceptions on this.
@lxy0107 Thanks for the Weibo post, I've seen it circulating and was wondering who posted it. Feel free to mention me at

[2020-03-21 13:04] lxy0107 commented on #233
I will read now and push as it goes.

[2020-03-21 13:10] JiscaH commented on #227
I've translated a couple of titles that I forgot earlier, and translated "INTERFERENCES OF TRANSMISSION" as " reconstructie van de besmettingsroutes ".

I've also updated links to "how to interpret a phylogenetic tree" to the dutch version.

I'm happy with it as is, @roanvanscheppingen do you want to give it a read-over to double check?

[2020-03-21 13:17] lxy0107 commented on #233
@cassiawag a problem in the [index](https://nextstrain.org/narratives/ncov/sit-rep/2020-03-20?n=1): there's FAQ in the index but the FAQ page is not in the report.

[2020-03-21 14:11] lxy0107 commented on #233
@cassiawag possible typo in this [page](https://nextstrain.org/narratives/ncov/sit-rep/2020-03-20?n=6), it should be **blue** Canadian sequence instead of green

[2020-03-21 14:29] hanbin973 commented on #232
I finished the first draft and uploaded it.
Other people can now review the draft.

[2020-03-21 14:32] minkyuxyz commented on #232
Thanks! I'll review it today.

[2020-03-21 14:32] cassiawag commented on #236
Keep up the good work @Chjulian. Thanks for letting us know.

Two bugs:
- One I accidentally pushed a file with the wrong name: `ncov_sit-rep_es_2020_03-20.md`. I have now moved that file to the correct name: `ncov_sit-rep_es_2020-03-20.md`. So preview should now work.
- Auspice is showing different colors on different browers for the Canadian sequence on slide 6. The English sentence was: "Lookin

[2020-03-21 14:39] cassiawag commented on #235
Really fast work @vpuller & @frogtraveler! Thank you very much!

Two errors that are definitely our fault:
- The wrong color above is a some type of bug in auspice -- when we wrote the document the sequence was green, now the sequence seems to blue or yellow depending on what display is used. I've updated the English text to now read: "Looking at the Canadian sequence (Canada/BC_78548/2020) in the

[2020-03-21 14:44] cassiawag commented on #235
Otherwise, it looks great on preview!

[2020-03-21 14:47] cassiawag commented on #241
Yes, I think colors change based on the browser... I've updated the English text to refer to the sequence by name: "Looking at the Canadian sequence (Canada/BC_78548/2020) in the middle..." Thanks for pointing this out @roanvanscheppingen

[2020-03-21 14:47] #241 closed

[2020-03-21 14:59] cassiawag commented on #231
Fast work @codergr! Thank you!

Please do reviews however you want @akifoss & @codergr. You should both have permission to approve the pull request once it's done.

We found a bug that needs to be addressed in the text. On slide 6, the text originally said: "Looking at the Canadian sequence in green in the middle..." This color seems to be showing up differently on different displays, so I've revi

[2020-03-21 15:22] vpuller commented on #235
I have updated the Canadian sentence.

[2020-03-21 15:45] cassiawag commented on #235
And it's now live here: https://nextstrain.org/narratives/ncov/sit-rep/ru/2020-03-20

Amazing job @vpuller & @frogtraveler!

[2020-03-21 15:45] #235 closed

[2020-03-21 15:46] cassiawag commented on #227
Ahh @JiscaH, I missed this. I pushed it live here: https://nextstrain.org/narratives/ncov/sit-rep/nl/2020-03-20

@roanvanscheppingen if you have any more edits, please add them as a PR to the master. Amazing work everyone!

[2020-03-21 15:46] #227 closed

[2020-03-21 15:55] codergr commented on #231
Done

[2020-03-21 16:04] JosephLee815 opened #243 "Problems using next strain/ncov"
Hi sorry to bother you but right now I'm now facing some problems with the code.

For the data uploaded in GISAID in different time, they were named in different ways. Sequences were named with "Country/XXXXXX/XXXX" previously however they were named with a prefix of "hCov-19/" which made it impossible to match with the sequence in the metadata.tsv (which we could download from nextstrain). I'm wo

[2020-03-21 16:10] #229 closed

[2020-03-21 16:14] cassiawag commented on #229
And it's now live at: https://nextstrain.org/narratives/ncov/sit-rep/fr/2020-03-20 !

Thanks for the excellent (and per usual speedy) work everyone!

[2020-03-21 16:20] codergr commented on #231
@cassiawag can you please create an issue for Translate "How to interpret phylogenetic trees" into Greek have some time today can work on it.

[2020-03-21 16:34] lxy0107 commented on #233
I finished proofreading, everything is good except the links to the 'How to Read Phylogenies' narrative that we are translating. If we publish the how-to page before this report, we can change the link.
Great job @fillorkill !

[2020-03-21 16:41] cassiawag commented on #233
You all have gotten **very** good at this!

I'm in the process of publishing the how-to, and then can update the phylo links.

@lxy0107, it's a display error -- it's looking different colors on different monitors, so I've update the English text to say: "Looking at the Canadian sequence (Canada/BC_78548/2020) in the middle..."
Can you update the translation accordingly?

Also in regards to FAQ in

[2020-03-21 16:46] cassiawag commented on #184
It's now live at: https://nextstrain.org/narratives/trees-background/zh

Thanks everyone for the collaborative translation!

[2020-03-21 16:46] #184 closed

[2020-03-21 16:49] SalehA74 commented on #226
Dear colleagues.... @falnaji and @hamarsheh
The Arabic translated copies of both the situation report for March 20 and the Phylogenetics interpretation guide are now ready at the GitHub...Please try to proofread them as soon as possible....let us show the world how enthusiastic are we Palestinisns.

[2020-03-21 16:55] cassiawag commented on #232
Thanks @hanbin973 & @minkyuxyz!

Two problems with this narrative that are my fault, and I have now addressed:
- I accidentally created a file with the wrong name - `ncov_sit-rep_ko_2020_03-20.md`. I've now moved that file to `ncov_sit-rep_ko_2020-03-20.md`, and the preview link should now work.
- The color of the Canadian sequence on slide 6 seems to be showing up as a different color on differen

[2020-03-21 17:04] cassiawag opened #245 "Translate "How to interpret phylogenetic trees" into Greek"
We’d like to translate [“How to interpret phylogenetic trees”](https://nextstrain.org/narratives/trees-background) into Greek. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_el.md` in branch `background_el` under the `narratives` folder: https://github.co

[2020-03-21 17:05] cassiawag commented on #231
@codergr -- opened!

[2020-03-21 17:07] cassiawag commented on #226
Very fast work @SalehA74!

We've discovered that the color of the Canadian sequence on slide 6 seems to be showing up as a different color on different displays. I've updated the English text to eliminate any reference of color. It now says: "Looking at the Canadian sequence (Canada/BC_78548/2020) in the middle, we see that they have a reported travel history to Europe." Can you please update the

[2020-03-21 17:36] cassiawag commented on #179
Thanks so much for both of these @mg878 & @dahaj1897. It's now live here: https://nextstrain.org/narratives/trees-background/fa

[2020-03-21 17:36] #179 closed

[2020-03-21 17:42] cassiawag commented on #185
@EricaBarroso, if you want to give this a proofread, that would be great!

[2020-03-21 18:03] astridgall commented on #180
@cassiawar, @nicfel, @rneher The left-hand text is done, subject to proofreading

[2020-03-21 18:05] cassiawag commented on #233
@fillorkill I can confirm that full-width marks work! @fzhang12 tested it out a few weeks ago.

[2020-03-21 18:06] cassiawag commented on #233
@lxy0107 -- Didn't realize your background, sorry! Thank you for all doing an AMAZING job. We are so fortunate to have all of you working on these translations.

[2020-03-21 18:07] miparedes commented on #236
@Cholokiwi im free to work this weekend if you need any help/want to split it up. Otherwise, I’m happy to proofread when finished!

[2020-03-21 18:41] cassiawag commented on #230
@jenslaufer is going to help out on translations too! Thanks for joining us.

[2020-03-21 18:57] lxy0107 commented on #233
Done:)

[2020-03-21 18:58] lxy0107 commented on #233
No worries:) I've never directly worked with phylogenetics but learned how to read the tree. It's always good to have experts whose work directly is directly related.

[2020-03-21 19:11] lxy0107 commented on #233
I've finished all my edits, maybe @alvinxhan @fzhang12 want to take another look?
A small comment: the hand-drawn diagram can be a little misleading in this [page](https://nextstrain.org/narratives/ncov/sit-rep/2020-03-20?n=9). Where do the seeding infections on the top and bottom around mid January come from? They should be from the Wuhan population (based on the single origin of the virus), but

[2020-03-21 19:44] Cholokiwi commented on #236
Thanks @miparedes, it'd be great if you can do part of it. I translated up until  "How do introductions become outbreaks?" (including green color issue).

[2020-03-21 19:53] codergr commented on #245
@akifoss ready for review

[2020-03-21 20:16] miparedes commented on #236
@Cholokiwi I'll handle the rest -- thanks!

[2020-03-21 23:40] cassiawag commented on #233
@lxy0107 -- that social context is super helpful. I'm going to pass this feedback on to the rest of the team. I think it's unlike that we'll want to change anything this week, but we'll be extra mindful of that in future reports.

Ping me when it's ready to publish

[2020-03-22 00:07] aniafijarczyk commented on #224
this narrative is ready to proofread!

[2020-03-22 02:20] cassiawag commented on #185
Per conversation with @andersonbrito, this is now published here: https://nextstrain.org/narratives/trees-background/pt

Thanks for the excellent translation: @7glaucio & @andersonbrito.

[2020-03-22 02:20] #185 closed

[2020-03-22 07:28] alvinxhan commented on #233
@lxy0107 and @fillorkill did a stellar job. Proofread the narrative and it is ready to go IMO.

[2020-03-22 08:52] pwrose opened #251 "Age and Sex info is missing in the latest version of metadata.tsv"
Previous version of this file had age and sex information listed for some strains. In the latest version that information was lost.

https://github.com/nextstrain/ncov/blob/master/data/metadata.tsv

[2020-03-22 09:50] acx01b commented on #53
@pedroelbanquero At the bottom of https://github.com/nextstrain/ncov there is a link to json file containing all the mutations

@brianpardy Would you mind checking on Gisaid (I can't) if they updated [this sequence](https://nextstrain.org/ncov?f_author=Albert%20et%20al&label=clade:A2a&m=div&s=France/HF1805/2020) EPI_ISL_414628 at most 2 days ago. There was a 12 nucleotides contiguous mutation in t

[2020-03-22 10:49] acx01b commented on #68
Did you see the Finish March and Shanghai January sequences matching the Bavaria sequence at the root of the European tree ? Also the mutation from Germany -> Italy is in an amino acid motif of the RdRp which stays the same in many Bat-CoVs. @Algorithman

[2020-03-22 11:13] minkyuxyz commented on #232
Done revision. Ready to go.

If you want @KyobinKang to review it, please feel free to do so.

[2020-03-22 11:26] emmahodcroft commented on #68
Hi! While we appreciate this discussion is interesting to people, we really appreciate if the issues log can be kept for issues with the software or data/sequences. I'm going to close this but feel free to continue discussing this elsewhere!
Sorry about that!

[2020-03-22 11:26] #68 closed

[2020-03-22 14:31] brianpardy commented on #53
Hi @acx01b, unfortunately I don't have an exhaustive list of which sequences have been revised when, but there have been multiple cases in the past where samples with apparent sequencing errors have been revised at various times since they were originally deposited, not specifically 3 days later but just as needed, it appears.

If you run the `scripts/get-data.sh` script contained in the [nextstra

[2020-03-22 15:01] cassiawag commented on #233
And it's published here: https://nextstrain.org/narratives/ncov/sit-rep/zh/2020-03-20

Thanks so much all!

[2020-03-22 15:01] #233 closed

[2020-03-22 15:25] cassiawag commented on #226
The narrative is published live here: https://nextstrain.org/narratives/ncov/sit-rep/ar/2020-03-20

Thanks for the translation @SalehA74 & @falnaji

[2020-03-22 15:25] #226 closed

[2020-03-22 15:38] cassiawag commented on #232
@KyobinKang -- are you available to get it soon? Otherwise, I will publish.

[2020-03-22 17:40] cassiawag commented on #236
Just checking in -- how's the translation coming?

[2020-03-22 17:41] miparedes commented on #236
Doing the last revision on my part before pushing the completed translation for a quick proofread !

[2020-03-22 17:43] TrentBrick commented on #53
After not being able to download GISAID data and trying both of the web scrapers linked to on this threat, I emailed GISAID about the problem and the download button has now appeared for me. If the button doesn't appear for you (bottom right, you can't miss it) then just email them and say why you need to be able to download all of the data.

[2020-03-22 18:59] astridgall commented on #180
Hi @nicfel, @rneher
This is done subject to proof-reading and editing by you.
Also, the links in the table of content point to the English pages.
Astrid

[2020-03-22 19:15] miparedes commented on #236
Hi all! Pardon the wait -- the completed translation is up for proofreading. @Cholokiwi , mind taking a quick look?

[2020-03-22 19:25] tolot27 opened #252 "include reverse-complemented sequences"
Currently, the sequence from "Peru/010/2020" is excluded because it is reverse-complemented. Is this really necessary? The alignment program mafft has a parameter `--adjustdirection` which adjusts input sequences automatically and based on the first sequence (reference). Maybe, this can be implemented in the agur align step.

[2020-03-22 19:29] tolot27 commented on #252
Reverse-complemented sequences will be prefixed with `_R_` and hence can be recognised right after the alignment step. In case it is necessary for downstream analyses, the input file (`results/filtered.fasta` as far as I know) can be adjusted accordingly.

[2020-03-22 20:04] cassiawag commented on #180
Thanks @astridgall!

[2020-03-22 20:32] Cholokiwi commented on #236
Hi all,
Just check it all. Read well!  Just one thing, there's a few links to documents in English that I guess we could work on during the week. See below for an example. Other than that good to go.
Cheers,

Roy

Enfocándonos en la raíz del grupo principal en el árbol filogénetico, podemos concluir que el virus probablemente fue introducido a esta área entre finales de enero y mediados de febrero

[2020-03-22 21:05] cassiawag commented on #236
Thanks @Cholokiwi & @miparedes. You all actually already translated that document here: https://nextstrain.org/narratives/trees-background/es I'm updating internal language links before publishing :)

[2020-03-22 21:19] cassiawag commented on #236
And it's live here: https://nextstrain.org/narratives/ncov/sit-rep/es/2020-03-20

Thank you as always.

[2020-03-22 21:19] #236 closed

[2020-03-22 21:28] cassiawag commented on #234
@M-nied7 is going to join the Polish translation team! Feel free to jump in wherever.

[2020-03-22 21:37] cassiawag commented on #232
I'm going to go ahead and publish this; @KyobinKang, if you have an edits, please add them as a PR.

[2020-03-22 21:50] cassiawag commented on #232
And it's now live at: https://nextstrain.org/narratives/ncov/sit-rep/ko/2020-03-20

Thank you for the excellent translation -- it's pleasure working with all of you.

[2020-03-22 21:50] #232 closed

[2020-03-22 22:00] akifoss commented on #231
Hi both and thanks for the welcome :) I have made changes and reviewed the report, you have a go from my side!

[2020-03-22 22:05] cassiawag commented on #231
@akifoss -- thank you! I'm putting your full name under Translators if that's okay, and do you want to link to your GitHub or would you prefer a different professional page?

@codergr, do I have a thumbs up to publish from you as well?

[2020-03-22 23:35] KyobinKang commented on #232
Sorry, I was busy this weekend because of writing grant proposal :(

All the translation looks great, but only one point: there are two pages with a head title of "Sequence data can cross-check travel histories", but the title is translated in only one page. Could you fix it?

[2020-03-22 23:50] cassiawag commented on #232
Thanks for pointing that out! Will fix. Good luck with the grants!

[2020-03-23 01:37] cassiawag commented on #228
It's live here: https://nextstrain.org/narratives/ncov/sit-rep/fa/2020-03-20

[2020-03-23 01:37] #228 closed

[2020-03-23 02:06] hringbauer opened #254 "Typo in metadata: "North American" instead of "North America""
All North American samples are labelled as "North America" in the "region" column, but in Wisonsin sample "EPI_ISL_416489" "North American" is entered in the metadata file.

[2020-03-23 02:15] jameshadfield commented on #254
Thanks Harold -- fixed (will take a bit of time to propagate, will close this once it's in master)

[2020-03-23 05:13] tsibley commented on #252
Hi @tolot27, thanks for the suggestion!

We had some internal discussion about this back when that sequence was added. Agreed it would be great if `augur align` used mafft's `--adjustdirection`. As you note though, Augur will have to adjust the sequence name in the alignment output after mafft is done in order for subsequent steps to work, and we haven't had a chance to implement this in Augur yet

[2020-03-23 05:32] tolot27 commented on #252
Yes, I'll do. Maybe, I can commit a draft PR today.

[2020-03-23 05:38] #254 closed

[2020-03-23 05:48] codergr commented on #231
@cassiawag yup +1 looks good to me

[2020-03-23 06:09] cassiawag commented on #214
This is now live here: https://nextstrain.org/narratives/trees-background/ar.
Links are updated to it in the most recent situation report: https://nextstrain.org/narratives/ncov/sit-rep/ar/2020-03-20
Thanks @falnaji and @SalehA74!

[2020-03-23 06:09] #214 closed

[2020-03-23 06:21] cassiawag commented on #231
And it's live here: https://nextstrain.org/narratives/ncov/sit-rep/el/2020-03-20

Amazing job everyone!! The Nextstrain main page should update in a few minutes with a link to the report, and I'm about to post on Twitter. @codergr, do you have a twitter handle I can tag?

[2020-03-23 06:46] cassiawag commented on #180
And it's live here: https://nextstrain.org/narratives/trees-background/de !

Thanks @astridgall for taking the lion's share of the work, and thank you @nicfel for the proofread.

[2020-03-23 06:46] #180 closed

[2020-03-23 07:10] tsibley commented on #252
Awesome, thank you!

[2020-03-23 10:32] akifoss commented on #231
Thanks for the update and happy to see the report online :)
I am not sure why, but the file that went online is not the same as the one that I corrected.. There are some terms that are not reflecting the english ones (e.g. on the title "genomic" is translated in greek with the meaning of "gene-based"), and other terms that do not correspond to the ones widely used in the greek media (e.g. "case" i

[2020-03-23 15:56] cassiawag commented on #231
Yes, we absolutely can make those corrections. I'm not sure why that happened; I added the file I linked to above. Can you make those edits as PR to master `ncov_sit-rep_el_2020_2020-03-20.md`?

Thanks for being on this.

[2020-03-23 16:00] cassiawag opened #258 "Update text in French translation"
@meriemelkaroui @DanielThedie @Maijin @Simon-LoriereLab

An astute reader pointed out a potential error in the March 20 French translation on slide 9:

"Le COVID-19 à Wuhan est passé d'un cas index en ~ novembre 2019 à plusieurs milliers de cas à la mi-janvier 2020, passant ainsi de l'introduction initiale à une transmission locale généralisée en environ 10 semaines. Nous pensons que les événement

[2020-03-23 16:10] Simon-LoriereLab commented on #258
Indeed there is an error. it should read: "...~10 semaines de là à la fin mars pour contenir..."
Will try to correct the text shortly

[2020-03-23 16:28] cassiawag commented on #258
Thanks @Simon-LoriereLab! That was fast.

[2020-03-23 16:28] #258 closed

[2020-03-23 18:22] M-nied7 commented on #234
@aniafijarczyk and @balwierz, I had some time today so I translated the slides. I will appreciate it if one of you can go through it and double-check it :) I made some small changes in the first 5 slides that had been translated earlier (typos, smaller grammar issues). However, it is so much easier to miss my own typos and grammar issues...

[2020-03-23 18:27] aniafijarczyk commented on #234
great! thanks a lot @M-nied7 I'll have time today to go through it

[2020-03-23 19:18] akifoss commented on #231
Thanks a lot @cassiawag ! I can't commit the changes to master, should I make a new branch? I am done with editing :)

[2020-03-23 19:47] cassiawag commented on #231
Yes a new branch would be good and then pull-request to master.

[2020-03-23 19:53] akifoss commented on #231
It's there: sit-rep_el_update2

[2020-03-23 20:04] akifoss commented on #231
Thanks a lot again @cassiawag !! Let me know when it will be updated online so I can share with people back in Greece :)

[2020-03-23 20:04] cassiawag commented on #231
I've merged into master here, and in the process of publishing live: https://nextstrain.org/community/narratives/nextstrain/ncov/sit-rep/el/2020-03-20

Can you confirm that this is the correct one @akifoss?

[2020-03-23 20:05] akifoss commented on #231
Yes, that's correct.

[2020-03-23 20:08] cassiawag commented on #231
Updated here https://nextstrain.org/narratives/ncov/sit-rep/el/2020-03-20 ! Thanks for catching that @akifoss

[2020-03-23 20:08] #231 closed

[2020-03-23 20:40] cassiawag opened #261 "Translate March 20 report into Turkish"
Hello @zeynephrc !

The situation report from 2020-03-20 is ready to be translated to Turkish. A branch exists as `sit-rep_tr`  where this can be done, and the file to translate is `ncov_sit-rep_tr_2020-03-20.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_tr/narratives/ncov_sit-rep_tr_2020-03-20.md

You can translate directly in this file, but please remember to

[2020-03-23 20:46] trvrb commented on #53
Hi everyone,

Could you please refrain from posting links to web scrapers of GISAID? These scrapers are harmful to the functioning of GISAID. I'm going to specifically delete comments that include these scrapers.

Thank you all.

[2020-03-24 00:09] tolot27 commented on #252
A draft is at https://github.com/imb-fmg/augur/commit/5c960a061a1373237eb1e8fe52417f74af8fe78c. I'll add a test case, update the docs and create a PR, tomorrow.

[2020-03-24 00:54] aniafijarczyk commented on #234
Thank you @M-nied7 and @balwierz for translations! I made just a few corrections, looks good and ready for me.

[2020-03-24 01:22] cassiawag commented on #234
@balwierz & @aniafijarczyk -- do you have professional links that you'd like to add under `translatorLinks:`. Otherwise, it just goes to a broken auspice page.

[2020-03-24 01:31] cassiawag commented on #234
Amazing work everyone! Thank you! I will publish this if if that's okay with @balwierz & @M-nied7?

[2020-03-24 01:57] aniafijarczyk commented on #234
links added!

[2020-03-24 04:49] abitrolly commented on #53
@trvrb scrapers still require valid GISAID account. Could you please explain why they are harmful? If GISAID needs a specialist to help them with managing server load, I can help.

[2020-03-24 06:13] M-nied7 commented on #234
@cassiawag, yes, everything looks good.

[2020-03-24 06:58] pwrose opened #263 "[BUG] author and title are missing in metadata.tsv"
**Current Behavior**
A clear and concise description of what is happening / what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen instead.

**How to reproduce**
Steps to reproduce the current behavior:
1. Open / run ...
2.
3.
4. See error

**Possible solution**
(optional)

**Your environment: if browsing Nextstrain online**
 - Operating system:
 - B

[2020-03-24 07:30] karthick1087 opened #264 "gisaid_cov2020_sequences.fasta download"
I have successfully registered for GISAID, but i am unable to find the link for downloading gisaid_cov2020_sequences.fasta

[2020-03-24 08:07] pwrose opened #265 "[Feature request] Use GISAID deep link URLs in metadata.tsv"
Use GISAID deep links as URLs as described here:

https://www.gisaid.org/help/publish-with-gisaid-references/

[2020-03-24 12:27] M-nied7 commented on #224
Hi @aniafijarczyk, I have read the whole text and added some minor changes - found some typos or put/delete commas mainly. I hope it is fine! I didn't notice anything else to correct.

[2020-03-24 15:42] cassiawag commented on #224
Thanks for the work on this both of you! I'll plan to publish this then?

[2020-03-24 15:48] aniafijarczyk commented on #224
yes, it's ready to go!

[2020-03-24 16:08] cassiawag commented on #224
Great! It's now live here: https://nextstrain.org/narratives/trees-background/pl

[2020-03-24 16:08] #224 closed

[2020-03-24 16:09] cassiawag commented on #234
Woohoo! It's now live here: https://nextstrain.org/narratives/ncov/sit-rep/pl/2020-03-20

I published the "How to interpret phylogenetic trees" first, so this now links to the Polish version of that. Thanks to all!

[2020-03-24 16:09] #234 closed

[2020-03-24 16:21] cassiawag commented on #245
@akifoss -- any chance you're available to review this?

[2020-03-24 16:53] cassiawag commented on #220
Hi all! Really appreciate you testing out MemoQ this weekend, and thank you so much for the helpful feedback on it.

We've decided to stick with GitHub for now. I think the live preview feature for narratives is too valuable, and we missed the open source, collaborative feeling that you so beautifully create. That being said if you have any thoughts on how to make translations smoother for your te

[2020-03-24 16:57] cassiawag commented on #230
@Hirthe is joining the German translations team! Thanks for your help!

[2020-03-24 18:01] sidneymbell opened #267 "Want to contribute? Welcome! Please start here"
# Contributing to translations of our situation reports
## Please see our [Translation Guide](https://github.com/nextstrain/ncov/blob/master/TRANSLATION_DOCS.md) to get started!

# Contributing to software or documentation
## Please see our [Contributor Guide](https://github.com/nextstrain/.github/blob/master/CONTRIBUTING.md) to get started!

[2020-03-24 19:05] Maijin commented on #267
Issues aren't really a good for broadcasting message - after a week this one won't be visible anymore.

I recommend you use the standard like CONTRIBUTING.md it will show in the bottom when creating issues as follow:
<img width="547" alt="image" src="https://user-images.githubusercontent.com/1408600/77466528-b2fee900-6e0a-11ea-9330-40144e477eb1.png">

You can also create some issue template which

[2020-03-24 19:37] sidneymbell commented on #267
Yup! We've already got all those implemented, as well. A pinned issue just ensures that people see these links even if they bypass the README, etc.

[2020-03-24 20:29] sarameiqi commented on #220
Hi all,
I'd like to advance some proposals to smooth the process.
1. We can start every translation process with a recap of already approved translating solutions, as @aliceLedda did last time (I'm sorry I didn't thank her, it was very useful!)
2. We should assign the first round of translation to one person, better if experienced in traslation. This first translator can commit the work and asks a

[2020-03-24 21:44] astridgall commented on #230
@Hirthe - I saw you were still working on this translations while I was editing. Let me know when you are done and I'll proofread

[2020-03-24 21:46] Hirthe commented on #230
@astridgall I would be done. Sorry and thanks.

[2020-03-24 21:48] astridgall commented on #230
Great!

[2020-03-25 01:49] cassiawag commented on #230
Excited to announce that this is live: https://nextstrain.org/narratives/ncov/sit-rep/de/2020-03-20 .

Thanks for that fast translation @Hirthe  and quick proofread @astridgall & @nicfel

[2020-03-25 01:49] #230 closed

[2020-03-25 02:03] tomoyuki-nezu opened #269 "[Feature request] About link from a older reports to the latest report."
**Context**
It is useful if all older versions of the report have a link to the latest version or a link to the report summary page.

**Description**
When a weekly report is published in each language, it will be posted to SNS with a link to report. As the post continues to remain on SNS. Then, past weekly reports are still re-RT today.

When SNS user look at old reports, that have no link to the

[2020-03-25 02:13] tomoyuki-nezu commented on #269
It might be easiest to add navigation links to the page template.

[2020-03-25 10:19] ZeweiSong commented on #53
I cannot find the download all button on 2020/3/25, maybe they just removed it? The only way I can check the sequence is by Browsering, but that means to download one record at a time.

Anyone else has the same problem?

[2020-03-25 14:06] rvosa commented on #264
<img width="1023" alt="Schermafbeelding 2020-03-25 om 15 05 51" src="https://user-images.githubusercontent.com/106490/77545081-2d327a80-6eaa-11ea-9697-c1744d4dc54b.png">

[2020-03-25 14:06] #264 closed

[2020-03-25 14:09] rvosa commented on #223
I don't speak on behalf of nextstrain but my understanding of the situation is that GISAID is in somewhat restrictive data sharing agreements with the institutions that upload to them, so they have to control (and want some oversight over) who downloads from them. Nextstrain, in turn, is therefore unable to simply redistribute these data.

Processing times for account applications at GISAID seem t

[2020-03-25 14:09] #223 closed

[2020-03-25 14:26] cassiawag commented on #261
@oyku-gencay will also be joining on this translation. @zeynephrc, please coordinate together on how to best move forward. Excited to have you both!

[2020-03-25 14:51] emmahodcroft commented on #269
I would agree, this would be a very useful feature. One thing we've discussed is if there could be a drop-down menu alongside the 'language selector' drop-down which allows you to pick older/newer situation reports. Would something like this work, or do you think there are even better implementations? We'd like to people to more easily be able to access our whole archive of situation reports!

[2020-03-25 15:52] Maijin commented on #269
The current language selector is too hidden imho so I wouldn't put it there.

With all the translations now there is probably a more important update to the main page to be done I think to make 👍

[2020-03-25 16:28] rvosa commented on #53
The sequence availability issue is something that is problematic beyond nextstrain per se. Perhaps it makes sense if someone from the nextstrain core kept an eye on the activities towards data sharing that are being developed by the participants of the [covid-19 biohackathon](https://github.com/virtual-biohackathons/covid-19-bh20/wiki/FairData).

[2020-03-25 16:31] karthick1087 commented on #264
Unfortunately, i could not able to see the download option in my login
![screen](https://user-images.githubusercontent.com/44516308/77561010-61427700-6e7b-11ea-89b3-ce3890097168.png)

[2020-03-25 16:32] karthick1087 commented on #264
Unfortunately, i could not able to see the download option in my login
![screen](https://user-images.githubusercontent.com/44516308/77561149-9222ac00-6e7b-11ea-85ef-6e4052c5839e.png)

[2020-03-25 16:43] rvosa commented on #264
I think this is something you have to ask GISAID about. It is my outsider
understanding that they are turning the button on and off for different
users. I don't know why.

On Wed, Mar 25, 2020 at 5:33 PM karthick1087 <notifications@github.com>
wrote:

[2020-03-25 16:44] karthick1087 commented on #264
Sure, I have contacted already yesterday. Still awaiting for the reply

[2020-03-25 19:42] zeynephrc commented on #261
Sure, thanks!

[2020-03-25 19:51] TrentBrick commented on #53
ZeweiSong, you need to email them. They should enable it for you then. Not at all clear why this is the case -- super frustrating in fact. But this is what happened for me. (also don't expect them to email you back, just check again 24 hours later and see if the button appears).

[2020-03-25 23:04] jameshadfield commented on #269
👍

These features should be implemented in the nextstrain.org repo so that they are available for all narratives, not just ncov. As a related example, the nextstrain.org repo contains [the code for the language dropdown](https://github.com/nextstrain/nextstrain.org/blob/master/auspice-client/customisations/navbar.js#L133) which is injected into auspice [at build time](https://github.com/nextstrain

[2020-03-25 23:46] pwrose commented on #251
Seems to be fixed in the latest versions.

[2020-03-25 23:46] #251 closed

[2020-03-26 09:42] akifoss commented on #245
@cassiawag yes, of course! This is on my to do list for today/tomorrow :) Sorry for late replies, I have been very busy with work.

[2020-03-26 10:45] tomoyuki-nezu commented on #269
Ultimately, it may be useful to be able to select another weekly report from the one report people are viewing. On the other hand, weekly reports are increasing, and I think that summary pages are becoming necessary (as @emmahodcroft says).

After the summary page is created, if the report page has a link to the summary page, the first step will be cleared.

[2020-03-26 10:55] tomoyuki-nezu commented on #220
The most important thing to keep in mind is that this is volunteer, not work, so not everyone can always doing every week or week-end. So it might be better not to decide who will do what.

Of course, a final medical proofreading is needed. This is no doubt.

[2020-03-26 12:21] al-epo commented on #220
Hi all,
@sarameiqi  I think it is a good plan.
Last time we worked together  I found quite useful that we divided the tasks and we worked with some sort of turnation.
We could leave to the more experts the technical  parts while the others could do the more generic one. And, when needed it , use the "dictionary " @aliceLedda  made.
We could divide the work at the beginning and each of us that coul

[2020-03-26 14:30] melkebir commented on #53
Seconding @TrentBrick and @trvrb messages -- best way forward is to contact GISAID and request access. Please do not use scrapers -- with increasing number of sequences and number of interested users this would essentially amount to a denial of service.

[2020-03-26 14:35] victorlin commented on #53
Not sure why my comment was removed - calling the Javascript function that triggers the download should be just as costly as using the download button itself. You would still need access to the page in the first place.

[2020-03-26 16:33] lollerollo opened #272 "it's possible to zoom the Tree?"
Hi, first of all Many Thanks for this great Site.

I was trying to zoom the Tree to see more in detail some parts,
but I wasn't able to find a way more then "Chrome Zoom"

is there any way to do it or could it been implemented?

Newly Many, many thanks!!!!

[2020-03-26 20:27] rvosa commented on #53
I'm gearing up to formulate a request for data access and sharing on
behalf of the biohackathon <http://biohackathon.org/> (there's a
special covid-19
edition <https://github.com/virtual-biohackathons/covid-19-bh20> starting
soon). I asked <https://twitter.com/rvosa/status/1242863583647731718>
GISAID on twitter but I don't think they're very active there. I've had
some interaction via their issue

[2020-03-26 21:12] rvosa commented on #53
I'm gearing up to formulate a request for data access and sharing on behalf of the [biohackathon](http://biohackathon.org/) (there's a special [covid-19 edition](https://github.com/virtual-biohackathons/covid-19-bh20) starting soon). I [asked](https://twitter.com/rvosa/status/1242863583647731718) GISAID on twitter but I don't think they're very active there. I've had some interaction via their iss

[2020-03-26 22:08] jameshadfield commented on #272
Hi @lollerollo -- if you click on a branch in the tree then you'll zoom into the clade defined by that branch 😄 You can get back to the entire tree by then clicking on "reset zoom" (top right of tree) and we're adding some more functionality to improve zooming out in the coming days (https://github.com/nextstrain/auspice/pull/1001)

[2020-03-26 22:08] #272 closed

[2020-03-27 02:09] heliosfa opened #273 "[BUG]"
**Current Behavior**
When loading the Novel Coronavirus build at https://nextstrain.org/ncov in the latest version of Firefox (and Waterfox Classic) on Windows, many of the branches of the phylogeny tree are not rendered as per this screenshot:
![image](https://user-images.githubusercontent.com/6616536/77712306-53037080-6fcb-11ea-9965-a77716ff4401.png)

This issue has only started to occur in the

[2020-03-27 05:38] abitrolly commented on #53
@rvosa maybe they think that the data will be used in a malicious way? Because if not, then maybe there is insufficient funding and poor technical excellence to avoid DoS. E.g. setup memcache.

[2020-03-27 09:21] tolot27 commented on #243
@JosephLee815 Did you try `scripts/normalize_gisaid_fasta.sh`? This script should solve your problems. If not, please report back the exact strain name which causes the problem. Be aware of #212.

[2020-03-27 17:42] cassiawag opened #275 "This week's narrative will be published around noon/12p.m. on Saturday PDT."
Hello translators!

First off, THANK YOU for enabling us to communicate what we're learning from the sequencing of hCov-19 to a global audience. You are playing a huge, important part in this fight, and we are so appreciative. We feel honored to work with such an incredible team.

Secondly, I want to let you know that we're running behind on this week's narrative. We expect to publish it sometime

[2020-03-27 17:47] cassiawag commented on #275
@Chjulian @Cholokiwi -- see above.

GitHub only seems to let me tag so many people in a post. I'm working on a better communication method for translators. Let me know if you have suggestions all.

[2020-03-27 17:49] SalehA74 commented on #275
We are ready and waiting to start the translation. Regards

[2020-03-27 17:57] Maijin commented on #275
12 PM PDT is much better for Amsterdam timezone (makes 20:00) - like @SalehA74 - ready and can't wait to start like every week! 👍

[2020-03-27 18:18] hamarsheh commented on #275
Thank you all, this is remarkable effort

On Fri, Mar 27, 2020 at 8:57 PM Maijin <notifications@github.com> wrote:

--
Omar Hamarsheh, MSc., PhD, PD
Associate Professor of Molecular Infection Biology
Chair, Department of Biological Sciences
Faculty of Science & Technology
Al-Quds University
P.O.Box 51000
Jerusalem
PALESTINE

Office: +972-02-2756200, ext. 6376
Fax: +970-22796960
Cell (PS): +9705991

[2020-03-27 18:21] palatos commented on #53
Is anyone else having trouble accessing GISAID right now? It was hard for me to create an account, but now that I have one the ncov tab just doesn't load. I'm not sure why it's so hard to obtain the sequences. Makes analyzing the data so much harder compared to the ones deposited in genbank.

[2020-03-27 18:29] Maijin commented on #275
@cassiawag

If you use team system in Github - you can then do a mention for a specific team - maybe you could do a team with all the translators see - https://github.blog/2012-05-09-introducing-team-mentions/

[2020-03-27 22:10] aabrego-sfdc opened #277 "Add accents to March 20 report (Spanish)"
I really appreciate the work done to make these reports available in multiple languages, specially in Spanish. (See #236). I noticed that in some instances of the [March 20 report (Spanish)](https://github.com/nextstrain/ncov/blob/master/narratives/ncov_sit-rep_es_2020-03-20.md) the accent marks are missing. For example:

[Contenidos](https://github.com/nextstrain/ncov/blob/master/narratives/ncov_

[2020-03-27 22:51] cassiawag commented on #277
Thank you @aabrego-sfdc!

@miparedes, can you review this?

[2020-03-27 23:11] #220 closed

[2020-03-27 23:34] cassiawag commented on #277
Sorry @aabrego-sfdc, in the craziness of it all I thought this was a PR with accent marks, even though it's very clearly under Issues. My bad! I hope you'll forgive me.

I really appreciate your offer to help with translations. I think we're okay for now on more Spanish proofreaders/translators for upcoming reports. I'll add you to our list of backups though!

In regards to the accent marks on the

[2020-03-27 23:34] #277 closed

[2020-03-28 01:18] aabrego-sfdc commented on #277
Sounds good, thanks for giving me a chance to contribute. 😃 For the accent marks on the March 20 report should I create a PR against `master` or any other branch?

[2020-03-28 01:55] 7glaucio commented on #275
@cassiawag If you guys need me this time, let me know. I've been busy, but I can find a time to do it.

[2020-03-28 05:17] cassiawag commented on #277
Against `master` would be great. Thank you!

[2020-03-28 11:12] zeynephrc commented on #261
Hello @cassiawag !
I've finished the translation for March 20 report and now still working on that during some extra time before the March 27 report.
When will the March 20 report be published in Turkish?

[2020-03-28 16:29] cassiawag commented on #261
Thanks @zeynephrc! I need to get a proofread on this before publication. It's our policy for all translations, and I'd also like to have it read by someone with a background in the field.

@oyku-gencay, can you please proofread?

[2020-03-28 17:01] melop opened #278 "Rooting with RaTG13"
I recommend rooting the phylogeny with the RaTG13 genome from Rhinolophus affinis, based on the latest finding that this is the currently known most closely related genome to human SARS-nCov-2 (Andersen et al., 2020; Nat. Med.).  https://www.nature.com/articles/s41591-020-0820-9. The current arbitrary choice of the root could result in problems in the dating of internal nodes.

[2020-03-28 17:24] melop opened #279 "Avoid excluding sequences that are not of technical error"
Currently, multiple sequences are excluded due to idiosyncratic reasons that are not thoroughly explained.
While understandably identical haplotypes can be collapsed to decrease computational time, and sequences with problems of a technical nature (sequencing/assembly errors) can be excluded, subjective exclusion of samples may result in a distorted picture for the phylogeny of the species.
I stro

[2020-03-28 17:39] oushujun commented on #278
I agree that rooting the tree with an arbitrary in-group sample is presumptuous and misleading. A clear outgroup should be used to root the tree.

[2020-03-28 17:58] shenweima opened #280 "[BUG] Please change the tree root to RaTG13"
![WechatIMG9697](https://user-images.githubusercontent.com/8536868/77830044-b2df5000-7160-11ea-96c6-1766f5a1fc8f.jpeg)

[2020-03-28 18:07] trvrb commented on #280
Thanks for the suggestion. However, we've investigated this strategy and have found that RaTG13 is too divergent to reliably root the SARS-CoV-2 tree.

[2020-03-28 18:07] #280 closed

[2020-03-28 18:21] acx01b commented on #278
But RaTG13 is not the ancestor, even if being in the same species it is probably closer to the common ancestor than SARS-CoV-2. The trees https://nextstrain.org/groups/blab/sars-like-cov and https://nextstrain.org/groups/blab/beta-cov are fine, maybe just make the font of the link     _'Phylogenetic context of nCoV in SARS-related betacoronaviruses can be seen here.' in ncov page larger ?

[2020-03-28 18:39] melop commented on #278
bat/Yunnan/RaTG13/2013 is the closely known outgroup of human SARS-nCov-2, which can be used to root the human SARS-nCov-2 tree. It does not need to be the direct ancestor, it only needs to share a common ancestor with human SARS-nCov-2. This is analogous with rooting the human population tree with a chimpanzee outgroup.
This is also clear from  https://nextstrain.org/groups/blab/sars-like-cov .

[2020-03-28 19:09] cassiawag opened #281 "Translate March 27 report to Spanish"
Hello @miparedes @doyarzun00 @Chjulian  @Cholokiwi !

The situation report from 2020-03-27 is ready to be translated to Spanish. A branch exists as `sit-rep_es`  where this can be done, and the file to translate is `ncov_sit-rep_es_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_es/narratives/ncov_sit-rep_es_2020-03-27.md

You can translate directly in

[2020-03-28 19:10] cassiawag commented on #281
Also, I'd like to welcome @doyarzun00 to the Spanish team this week! We're glad to have you.

[2020-03-28 19:11] cassiawag opened #282 "Translate March 27 report to Russian"
Hello @dtaliun @frogtraveler @vpuller @irina95511 !

The situation report from 2020-03-27 is ready to be translated to Russian. A branch exists as `sit-rep_ru`  where this can be done, and the file to translate is `ncov_sit-rep_ru_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_ru/narratives/ncov_sit-rep_ru_2020-03-27.md

You can translate directly in

[2020-03-28 19:13] cassiawag opened #283 "Translate March 27 report to Portuguese"
Hello @EricaBarroso @TNNeto @7glaucio @andersonbrito !

The situation report from 2020-03-27 is ready to be translated to Portuguese. A branch exists as `sit-rep_pt`  where this can be done, and the file to translate is `ncov_sit-rep_pt_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_pt/narratives/ncov_sit-rep_pt_2020-03-27.md

You can translate direct

[2020-03-28 19:15] cassiawag commented on #283
I'd especially like to welcome @TNNeto and @EricaBarroso to GitHub this week! I now @7glaucio & @andersonbrito might be a bit busy this week, perhaps you can all coordinate how to best complete the translation?

[2020-03-28 19:16] cassiawag opened #284 "Translate March 27 report to French"
Hello @meriemelkaroui @Maijin @DanielThedie @Simon-LoriereLab !

The situation report from 2020-03-27 is ready to be translated to French. A branch exists as `sit-rep_fr`  where this can be done, and the file to translate is `ncov_sit-rep_fr_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_fr/narratives/ncov_sit-rep_fr_2020-03-27.md

You can translate d

[2020-03-28 19:17] cassiawag opened #285 "Translate March 27 report to Dutch"
Hello @roanvanscheppingen @rvosa @shenii  @JSHuisman @JiscaH !

The situation report from 2020-03-27 is ready to be translated to Dutch. A branch exists as `sit-rep_nl`  where this can be done, and the file to translate is `ncov_sit-rep_nl_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_nl/narratives/ncov_sit-rep_nl_2020-03-27.md

You can translate dir

[2020-03-28 19:18] cassiawag opened #286 "Translate March 27 report to Italian"
Hello @al-epo @sarameiqi  @whispererindarkness @aliceLedda !

The situation report from 2020-03-27 is ready to be translated to Italian. A branch exists as `sit-rep_it`  where this can be done, and the file to translate is `ncov_sit-rep_it_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_it/narratives/ncov_sit-rep_it_2020-03-27.md

You can translate dir

[2020-03-28 19:19] cassiawag opened #287 "Translate March 27 report to Arabic"
Hello @falnaji @hamarsheh @SalehA74 !

The situation report from 2020-03-27 is ready to be translated to Arabic. A branch exists as `sit-rep_ar`  where this can be done, and the file to translate is `ncov_sit-rep_ar_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_ar/narratives/ncov_sit-rep_ar_2020-03-27.md

You can translate directly in this file, but

[2020-03-28 19:21] cassiawag opened #288 "Translate March 27 report to Farsi"
Hello @dahaj1897 @mhrimaz @mg878 !

The situation report from 2020-03-27 is ready to be translated to Farsi. A branch exists as `sit-rep_fa`  where this can be done, and the file to translate is `ncov_sit-rep_fa_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_fa/narratives/ncov_sit-rep_fa_2020-03-27.md

You can translate directly in this file, but plea

[2020-03-28 19:22] cassiawag opened #289 "Translate March 27 report to Greek"
Hello @akifoss @codergr !

The situation report from 2020-03-27 is ready to be translated to Greek. A branch exists as `sit-rep_el`  where this can be done, and the file to translate is `ncov_sit-rep_el_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_el/narratives/ncov_sit-rep_el_2020-03-27.md

You can translate directly in this file, but please rememb

[2020-03-28 19:23] cassiawag opened #290 "Translate March 27 report to Japanese"
Hello @tomoyuki-nezu @satotake @fzhang12 !

The situation report from 2020-03-27 is ready to be translated to Japanese. A branch exists as `sit-rep_ja`  where this can be done, and the file to translate is `ncov_sit-rep_ja_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_ja/narratives/ncov_sit-rep_ja_2020-03-27.md

You can translate directly in this fil

[2020-03-28 19:24] meriemelkaroui commented on #284
Hi @Maijin @DanielThedie @Simon-LoriereLab , I just moved the translation to in progress.
@Maijin can you open the file and hackmd and create the chat channel? (or tell me how to do it?)

[2020-03-28 19:24] cassiawag opened #291 "Translate March 27 report to Korean"
Hello @hanbin973  @kyobinkang @minkyuxyz, @taehoonh !

The situation report from 2020-03-27 is ready to be translated to Korean. A branch exists as `sit-rep_ko`  where this can be done, and the file to translate is `ncov_sit-rep_ko_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_ko/narratives/ncov_sit-rep_ko_2020-03-27.md

You can translate directly in

[2020-03-28 19:25] cassiawag opened #292 "Translate March 27 report to Mandarin"
Hello @fillorkill @alvinxhan @lxy0107 @fzhang12 !

The situation report from 2020-03-27 is ready to be translated to Mandarin. A branch exists as `sit-rep_zh`  where this can be done, and the file to translate is `ncov_sit-rep_zh_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_zh/narratives/ncov_sit-rep_zh_2020-03-27.md

You can translate directly in t

[2020-03-28 19:26] cassiawag opened #293 "Translate March 27 report to Polish"
Hello @aniafijarczyk @M-nied7 @balwierz !

The situation report from 2020-03-27 is ready to be translated to Polish. A branch exists as `sit-rep_pl`  where this can be done, and the file to translate is `ncov_sit-rep_pl_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_pl/narratives/ncov_sit-rep_pl_2020-03-27.md

You can translate directly in this file,

[2020-03-28 19:26] cassiawag opened #294 "Translate March 27 report to German"
Hello @astridgall @Hirthe @rneher @nicfel !

The situation report from 2020-03-27 is ready to be translated to German. A branch exists as `sit-rep_de`  where this can be done, and the file to translate is `ncov_sit-rep_de_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_de/narratives/ncov_sit-rep_de_2020-03-27.md

You can translate directly in this file

[2020-03-28 19:27] cassiawag opened #295 "Translate March 27 report to Turkish"
Hello @zeynephrc @oyku-gencay !

The situation report from 2020-03-27 is ready to be translated to Turkish. A branch exists as `sit-rep_tr`  where this can be done, and the file to translate is `ncov_sit-rep_tr_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_tr/narratives/ncov_sit-rep_tr_2020-03-27.md

You can translate directly in this file, but pleas

[2020-03-28 19:28] Maijin commented on #284
Yes https://hackmd.io/pD0iKoO5RbeJ4_zSmPJusg?edit -
https://webchat.freenode.net/#nextstrain-fr-translation

[2020-03-28 19:31] aliceLedda commented on #286
@whispererindarkness <https://github.com/whispererindarkness>,@sarameiqi
<https://github.com/sarameiqi>,@al-epo <https://github.com/al-epo>,
Come ci organizziamo?
Ci dividiamo i capitoli e io poi rileggiamo tutto tutti?
Io ci sono soprattutto ora di pranzo e notte UK time!
Buon lavoro a tutti!
Alice

On Sat, Mar 28, 2020, 19:18 cassiawag <notifications@github.com> wrote:

[2020-03-28 19:57] frogtraveler commented on #282
I've started translating "Note on Sampling"

[2020-03-28 20:10] frogtraveler commented on #282
@dtaliun let's coordinate. I think I just lost all my changes I made. Should we notify each other before commit?

[2020-03-28 20:12] lxy0107 commented on #292
Hi all, I will start working on it now. Anyone else joining could start on page 10.

[2020-03-28 20:16] doyarzun00 commented on #281
Hello there team, are we editing directly here or in hackmd?

[2020-03-28 20:16] dtaliun commented on #282
Sorry for this. This is strange, because we were working on a different sections which don't overlap. I will let you know before I am ready to commit next time.

[2020-03-28 20:25] falnaji commented on #287
The link for previewing the pushed changes is not working

[2020-03-28 20:27] frogtraveler commented on #282
No worries, I think I'm still figuring it out. So, I've just committed. If you are editing right now when you will try to commit it will tell you that there was a commit before you've started working on your version. Do you know how to merge it so that both parts are there? I believe what happened before: I had the sampling part translating and your version didn't have the translation- so it retur

[2020-03-28 20:36] frogtraveler commented on #282
I've tried installing hackmd. I made a group, but I can't add members. Do GitHub users need to install hackmd before I can add them?

[2020-03-28 20:41] lxy0107 commented on #292
reporting a bug : the link to "north america" in the index is linking to iceland report.

[2020-03-28 20:44] lxy0107 commented on #292
so are all the links below..

[2020-03-28 20:45] dtaliun commented on #282
One workaround I found is to open "See what changed" in a new tab and copy your changes into my version before committing.

[2020-03-28 20:47] frogtraveler commented on #282
Ok, that works. I've started working on "Continued spread across borders in the last 3-5 weeks"

[2020-03-28 20:50] Maijin commented on #284
Ready for proofreading/review @Simon-LoriereLab !

[2020-03-28 21:03] frogtraveler commented on #282
@dtaliun I'm going to start "Transmission across the U.S. is complex and not well-understood"

[2020-03-28 21:06] miparedes commented on #281
Hey @doyarzun00 welcome to the team! We’ve been mostly splitting up the work amongst ourselves and then pushing the translation for people to proofread but I’m more than happy to try hackmd if you prefer. I can split the translations this weekend with you if you’d like; I can translate the second half if you want to do the first half up to “central/south America)

[2020-03-28 21:22] Simon-LoriereLab commented on #284
You guys were very quick as usual, it can be published!

[2020-03-28 21:39] frogtraveler commented on #282
Started "Multiple transmission chains circulating in Washington state"

[2020-03-28 21:56] doyarzun00 commented on #281
Hi @miparedes no worries, just did it in the file itself, not hackmd.

I went all the way the first half, just before central/south america. I can have a look again tomorrow Sunday night (UK time).

saludos, D

[2020-03-28 21:59] frogtraveler commented on #282
Started "Likely two local transmission chains in California"

[2020-03-28 22:00] Cholokiwi commented on #281
Hi all,
I'm happy to proof read all the document. I'll start now with the first
part @doyarzun00 <https://github.com/doyarzun00> (nice job in doing it this
fast!).
Cheers,

Roy

On Sun, Mar 29, 2020 at 10:57 AM doyarzun00 <notifications@github.com>
wrote:

[2020-03-28 22:18] frogtraveler commented on #282
Started "Primarily travel-related cases sampled in South America"

[2020-03-28 22:27] #284 closed

[2020-03-28 22:33] cassiawag commented on #284
Wow. You continue to amaze! Well done, everyone. It's live here: https://nextstrain.org/narratives/ncov/sit-rep/fr/2020-03-27

[2020-03-28 22:34] cassiawag commented on #292
Thank you very much @lxy0107! And I can fix them here when I publish.

[2020-03-28 22:39] cassiawag commented on #287
Thanks for letting me know @falnaji. The title had loss the space between `:` and the text, causing the display to break. Should be working now though.

[2020-03-28 22:44] SalehA74 commented on #287
Thank you both Cassia @cassiawag and Fadi @falnaji ...It is working well now.

[2020-03-28 22:45] tomoyuki-nezu commented on #290
Thanks @cassiawag

@satotake @fzhang12 There are about two hours from afternoon to night in JST. If it has not been translated, it will be translate roughly throughout. If it has been translated, it will be checked in Japanese.

[2020-03-28 22:46] doyarzun00 commented on #281
Great, then @miparedes can do the second half (if that's ok). Let me know I
should have another look tomorrow night

On Sat, 28 Mar 2020 22:00 Roy Costilla <notifications@github.com wrote:

[2020-03-28 22:54] SalehA74 commented on #287
Ooops...Something went wrong again! It is not working again..
It worked just for a while! Please @cassiawag check it again.

[2020-03-28 22:55] frogtraveler commented on #282
Started "Export of COVID-19 from Iran"

[2020-03-28 22:56] cassiawag commented on #287
Just fixed it. It's the title page. Somehow in your edits on the title page, it's losing a space between `title:` and `2020`. It should look like: `title: 2020`, but it keeps looking like `title:2020`

[2020-03-28 22:58] SalehA74 commented on #287
Yes...it is working now..Thanks very much

[2020-03-28 23:14] frogtraveler commented on #282
Doing Takeaways

[2020-03-28 23:14] lxy0107 commented on #292
Finished translation until text 11 (South America)... people are welcome to continue:)
see you tomorrow!

[2020-03-28 23:33] sarameiqi commented on #286
Ciao a tutti,
per me possiamo dividerci il testo; poi ciascuno si rilegge tutto direttamente dalla preview (gli errori si notano meglio).
Farei:
1. chi ha meno tempo può curare le parti poco impegnative e quelle che rimangono quasi uguali alle traduzioni precedenti (sommario, nota sulla raccolta campioni, cosa puoi fare, ringraziamenti etc)
2. proporrei ad @aliceLedda di fare la parte sugli Stati

[2020-03-28 23:51] frogtraveler commented on #282
I'm going to take a break. Left: Africa, Oceania, and Iceland + Scientific credit.

[2020-03-28 23:53] dtaliun commented on #282
I will finish what is left

[2020-03-29 00:04] erenada commented on #261
Hi all,

Thanks for translating the report @zeynephrc and @oyku-gencay it looks great!

I will be proof-reading the report if @oyku-gencay hasn't started yet.

[2020-03-29 00:08] aniafijarczyk commented on #293
I started translation, I can continue or do some proofreading tomorrow evening (eastern time zone)

[2020-03-29 00:50] dtaliun commented on #282
Finished remaining sections

[2020-03-29 01:01] aliceLedda commented on #286
Ok, deal!
Io inizio dagli Stati Uniti! Poi se serve vado avanti... Pero' lo faccio
domani se riesco mattina sennò primo pomeriggio.
Buona notte!
Alice

On Sat, Mar 28, 2020, 23:33 Sara Pilia <notifications@github.com> wrote:

[2020-03-29 01:26] satotake commented on #290
@tomoyuki-nezu  I am trying now. I will translate as much as I can until noon (JST).
Please check it

[2020-03-29 02:29] frogtraveler commented on #282
@irina95511 you are the best at grammar, could you please look through? :)

[2020-03-29 02:55] satotake commented on #290
I have pushed first draft. Could you check and revise it, @tomoyuki-nezu ?

[2020-03-29 03:01] cassiawag commented on #295
@benuraa is also going to join in on translations. Thank you! We're glad to have you.

[2020-03-29 06:11] JiscaH commented on #285
I won't have time til the end of the afternoon, so it would be great if someone else could have a go, or make a start!

[2020-03-29 06:12] roanvanscheppingen commented on #285
Give me an hour to start up. Sleep deprived and should get the coffee
running :)

Op zo 29 mrt. 2020 08:11 schreef JiscaH <notifications@github.com>:

[2020-03-29 06:16] JiscaH commented on #285
Wasn't meant as a whip! Just a notification :)

Coffee is essential.

[2020-03-29 06:19] acx01b commented on #278
Mathematically choosing outgroup root is wrong. Imagine RaTG13 is at the origin in 2d and you choose a point far way and draw a circle around it and sample 2000 random points in that disk. The closest to the origin will never be the center of the circle. This is exactly what you'll get if choosing RaTG13 as the origin.

[2020-03-29 06:59] melop commented on #278
Rooting with an outgroup is a standard practice in phylogenetics. The root need not be "at the center of the circle".  The average divergence between RaTG13 and human SARS-nCOV2 is only <4%, that is, 4 differences in every 100bp. This level of divergence will not result in problems in sequence alignment or saturation/homoplasy.

[2020-03-29 07:07] irina95511 commented on #282
@frogtraveler sure, i am happy to walk through right now

[2020-03-29 07:52] tomoyuki-nezu commented on #290
Thank you @satotake I'ii check it now.

[2020-03-29 08:00] roanvanscheppingen commented on #285
Haha, no worries about that whip!

I'll use this post to update or point to things I am not sure about.
Slide 5 (Iceland) EXPOSURE HISTORY --> how to translate
In general: Updates for --> translated to 'updates over' and not to 'updates van(uit)'.
Slide 7 WELL UNDERSTOOD --> onduidelijk?

Row 175, Additional data (I'm lost at this point...)

I've pushed it for now, and will be offline to organize

[2020-03-29 08:04] zeynephrc commented on #261
Hello @erenada ,

It would be great if you can proofread the report. In the meantime, I can start working on the March 27 translation.
Thanks!

[2020-03-29 08:10] zeynephrc commented on #295
Hello all,
In the previous report, I translated it by myself. But now, I am very grateful to work with you on this report. If you want, we can divide the sections for translating.

[2020-03-29 08:38] erenada commented on #261
Hi @zeynephrc,

Thanks for your efforts in translating this. It looked great. I made some major but mostly minor changes in translation structure, grammar, and the technical language to eliminate/minimize the differences in some concepts. Good job!

[2020-03-29 08:43] astridgall commented on #294
@Hirthe @rneher @nicfel I'll start working in the file

[2020-03-29 08:55] al-epo commented on #286
Buongiorno!
Posso iniziare dal punto 4. nella lista di @sarameiqi  e se incontro difficoltà su alcuni termini tecnici  vi chiedo aiuto. ( @aliceLedda ) .
Posso lavorare da ora fino verso le 12 UK time e credo anche in serata.
In caso posso ritagliare un po’ di tempo anche lunedì.

Buon lavoro!

Alessia

[2020-03-29 08:58] zeynephrc commented on #261
Hi @erenada

I just checked it. It looks awesome! Thank you for all the things you've done.

[2020-03-29 09:02] erenada commented on #261
@zeynephrc, one more thing before this gets ready for the publication: I think we should provide only one link for the "translatorLinks" section. This way .rmd file doesn't conflict with other versions.

[2020-03-29 09:07] irina95511 commented on #282
@frogtraveler and @dtaliun great and super fast translation! I've checked typos and grammar, but, in fact, haven't done much, the text was correct and very clear!

Probably, only one question that I had was about an alternative term for SARS-CoV-2. Is it **h**Cov-19 or **n**Cov-19?
@cassiawag

[2020-03-29 09:10] zeynephrc commented on #261
@erenada, sure! I attached two links in the previous report since I was the only translator working on that at that time. I didn't know that .rmd file may conflict with other versions.
But for now, one link would be optimal.
Thanks for letting me know!

By the way, should we divide the sections for translating the March 27 report in order to finish up quickly?

[2020-03-29 09:21] erenada commented on #295
Sure! I can translate Europe & the Americas.  If you push your changes frequently on the file as you work on it, it would be easier for us to track. Thank you!

[2020-03-29 09:30] TNNeto commented on #283
Hi Cassia

I've tried to upload the translated file to GitHub - not being a regular
user of it, and finding the entire interface/procedures a bit of a
horrendous mess, I forked out the file to edit, but couldn't find a way to
push it to someone else.

I'm attaching it just in case. I've compared it with the original MD file
and looked good in my end, but I was unable to live preview it due to the

[2020-03-29 09:40] sarameiqi commented on #286
Ok, allora io faccio il 3, ci lavoro dalle 12 in poi (teniamo sempre UK time).
Magari appena finiamo ci mandiamo un messaggio qui così non ci sovrapponiamo, ok?
Buon lavoro!
Sara

[2020-03-29 09:51] al-epo commented on #286
Ho finito ora Oceania e America del Sud.
Faccio una pausa, rileggo e magari faccio l'Africa?
Ho una "lista" di parole che potrebbero essere ambigue nella traduzione e forse @aliceLedda  le ha già discusse, ma non riesco a ritrovare dove. Magari alle 12 le posto così possiamo controllarle insieme?

A dopo!

[2020-03-29 09:54] aliceLedda commented on #286
Vai tu posta o segnala le frasi che ti dico come le vedo!
Alice

On Sun, Mar 29, 2020, 10:51 al-epo <notifications@github.com> wrote:

[2020-03-29 09:56] sarameiqi commented on #286
Ok!
Intanto io aggiungo la traduzione dell'Europa e Islanda. Hai ragione Alessia, mi è sfuggita l'Africa, se ti va falla pure! ;)

Tra le raccomandazioni, da parte mia vi chiederei di usare la maiuscola per indicare Paesi o Stati quando indicano entità nazionali, e usare la minuscola per i nomi dei mesi (anche se forse non ci sono).

[2020-03-29 10:00] tomoyuki-nezu commented on #290
@satotake Changed Japanese wording and fixed type.

@satotake @fzhang12 About Japanese translation of "exposure history". Is "曝露歴" a medical term? In Japanese, the words are "strong" and "bad impression", so if it is not a medical term, "露見歴" would be good I think. If it is "判明歴", the sentence may be slightly different.

[2020-03-29 10:05] sarameiqi commented on #286
Io ho finito la mia parte.
Se vi serve una mano per tradurre qualche altra cosa fatemi sapere!
A presto,
Sara

[2020-03-29 10:08] Hirthe commented on #294
@astridgall I could continue in a couple of hours. Let me know, when you are done 👍

[2020-03-29 10:13] Cholokiwi commented on #281
Hi all,

@cassiawag quick question, the "How to read a phylogeny." narrative is referenced twice, left and right, in the same slide (https://nextstrain.org/narratives/ncov/sit-rep/2020-03-27?n=2). Was this on purpose?

@miparedes how are you going? Except for an issue with the markdown, I just finished proofreading the first part. I'm going to bed now so could have a look again in 7 hours :)

Chee

[2020-03-29 10:21] astridgall commented on #294
@Hirthe I am happy to finish this today. Maybe we could take a report in turns over the next weeks?

[2020-03-29 10:27] al-epo commented on #286
Fatto l'Africa!
La mia lista di "parole difficili"
- sampling : la traduzione  come campionamento non mi piace e mi sembra avessimo già discusso come non fosse sempre appropriata. Ho tradotto con "raccolta dati" che ne pensate?
- evidence / show evidence: la traduzione con evidenze mi sembra un po tecnica  in italiano. Meglio prove/ provano / mostrano prove ?
- Sampled:  di nuovo " campionati " no

[2020-03-29 10:32] fzhang12 commented on #290
Thanks both, I will take a quick look. if there is no big mistakes, the report could be pushed without my name.

[2020-03-29 10:51] emmahodcroft commented on #279
Hi @melop, thanks for your thoughts. Currently we exclude sequences when they have excess (or a lack of) diversity that indicates sequencing/assembly/alignment problems, and for other reasons including that the metadata doesn't line up with what we observe, dates seem incorrect, they cause errors in our pipeline, or sometimes because submitter have asked us not to put the data on Nextstrain yet, w

[2020-03-29 10:56] melop commented on #279
Thanks! Sure, we would like to take a look at the dataset. Where can it be downloaded? The Snakemake file indicates that it downloaded the fasta from a private repository.

[2020-03-29 11:00] emmahodcroft commented on #279
Hi @melop - great! All of the data is available on GISAID - you can go to gisdaid.org to find out more about how to access it. Under the GISAID terms, which protect those who submit the data, we cannot redistribute the data.

If you do find some exclusions that you feel are incorrect, please do let us know! Sometimes sequences are correct/revised later, and may no longer be problematic. At the mom

[2020-03-29 11:02] fzhang12 commented on #290
I finished my proofread. Both of you have done an excellent job. Just one last sentence was forgot to translate so I updated the file (but it is not so related to the main part so I didnt add my name).
Happy to work with all of you again :)

[2020-03-29 11:04] melop commented on #279
I could only download sequences at gisaid one by one. Is there a way to perform a batch retrieval?

It is important to make sure that the analysis is repeatable.

Currently a bigger problem is how the tree is rooted. Please see the other issue I opened.

Before having a reliable root, I suggest displaying only an uprooted tree with only tip dates but no inferred dates for internal nodes, which req

[2020-03-29 11:04] fzhang12 commented on #292
Thanks @lxy0107 ! I will take over the job from now.

[2020-03-29 11:06] astridgall commented on #294
@Hirthe @rneher @nicfel It's ready for proofreading

[2020-03-29 11:15] melop commented on #279
And for now, I suggest not exclude based on "confusing phylogeography" or any sequences based on a posteriori inspection of the phylogeny. It seems like a scientific malpractice to enforce the data to fit a predefined biogeography model, which is exactly what's being inferred.

[2020-03-29 11:54] satotake commented on #290
Thank you, @fzhang12 @tomoyuki-nezu

@tomoyuki-nezu

[Yes](https://lsd-project.jp/weblsd/o/begin/%E6%9B%9D%E9%9C%B2%E6%AD%B4).
[3rd meaning](https://dictionary.goo.ne.jp/word/%E6%9A%B4%E9%9C%B2/)
But I admit that it sounds unusual as you pointed. So how about `ウイルスとの接触歴` ?

@fzhang12

I am not sure about nextstrain's criteria .. but it is better to add your name because reviewing is tough task, IM

[2020-03-29 12:20] fzhang12 commented on #292
I have finished the rest of the text (and also read through @lxy0107 part).
@lxy0107 or others may proofread it again and change the progress to ready for publication.

[2020-03-29 12:30] sarameiqi commented on #286
Per "evidence-show evidence" usiamo "provare, mostrare, dimostrare" a seconda dei contesti (queste parole in italiano sono tutte un po' diverse). "There is evidence" lo tradurrei sempre con "ci sono prove".

Mi pare che per sampling avevamo detto "raccogliere campioni";
sampled "campioni raccolti" o casi, a seconda del sostantivo che va insieme a sampled;
invece "sample" lo traducevamo con "sequen

[2020-03-29 12:40] whispererindarkness commented on #286
Ciao, arrivo un po' in ritardo. Posso occuparmi di rivedere e tradurre i paragrafi più simili allo scorso report:

- Covid19 resources
- A note on sampling
- What you can do
- Scientific credit

Ho un paio d'ore a disposizione dalle 16 alle 18 UK time.

[2020-03-29 12:45] aliceLedda commented on #286
Si mi sa che sono d'accordo su quasi tutto!
There's evidence a volte può essere tradotto come sembra (anche se, sono
d'accordo, e' meno forte) oppure i dati suggeriscono che, dai dati sembra
che. Ci sono prove mi sembra troppo forte al momento, perché alla fine sono
solo inferenze basate sui dati (ah anche basandosi sui dati si può
concludere che e' traduzione accettabile)
Sampling si e' raccoglie

[2020-03-29 12:48] sarameiqi commented on #286
Ok, grazie mille!!
@al-epo ti va bene se ti faccio un post con tutte le mie osservazioni sulla tua parte (così poi le discutiamo qui e ciascuno si modifica direttamente la propria parte (così evitiamo sovrapposizioni e correzioni incrociate...)?

Fammi sapere!
Sara

[2020-03-29 12:54] benuraa commented on #295
Hi all, Thanks for this great project! I am happy to help as much as I can. Have you guys started to work on ncov_sit-rep_tr_2020-03-27.md file? All I see is in English so far (i may be on the wrong place though). Cheers!

[2020-03-29 13:13] codergr commented on #289
Whoever wants to contribute please check https://hackmd.io/@ncov-el/HydR4PmL8

[2020-03-29 13:15] cassiawag commented on #282
hCov-19 for human coronavirus

[2020-03-29 13:18] zeynephrc commented on #295
Hi @benuraa!
I've started to work on the March 27 report, but currently, I'm in the beginning. I will be pushing changes when I'm done.

@erenada has chosen to work on Europe & the Americas and I've taken the Asia and Africa.

Thanks for joining us!

[2020-03-29 13:19] lxy0107 commented on #292
Great! I can proofread your part @fzhang12

[2020-03-29 13:20] cassiawag commented on #281
@Cholokiwi: It was! It may seem a little over the top,  but it's pretty important if readers don't know how to read trees, and on mobile view, only left side text is shown.

[2020-03-29 13:26] tomoyuki-nezu commented on #290
Yes, I think I should also credit @fzhang12 name :)
I knew that my exposure history (暴露歴) was a medical term. Thank you @satotake

[2020-03-29 13:29] benuraa commented on #295
Great, thanks a lot!  I am a wee bit busy with a bunch of deadlines for the next couple of days. But I will definitely the proofreading and, if I can, a little bit of translation. Thanks a lot, guys!

[2020-03-29 13:29] cassiawag commented on #290
I also agree that @fzhang12's name should be on it. We couldn't do this without reviewers.

Is this ready to publish?

[2020-03-29 13:30] irina95511 commented on #282
thanks @cassiawag, I've just made the last correction on hCov-19.
all look good to me

[2020-03-29 13:30] tomoyuki-nezu commented on #290
Yes, I think I should also credit @fzhang12 name :)
Thank you @satotake  for letting me know that your exposure history is a medical term.
Where would you like to summarize our translation terms, including the past?

[2020-03-29 13:32] zeynephrc commented on #295
By the way, if you want, you can take a look at the previous report that we worked on to proofread.

[2020-03-29 13:36] al-epo commented on #286
@sarameiqi  perfetto!
I traduttori francesi mi hanno suggerito di usare hackmd. Può gestire modifiche in tempo reale da parte di piu utenti. Magari lo potremmo provare anche noi. Intanto cerco di capire come funziona...

[2020-03-29 13:38] tomoyuki-nezu commented on #290
@fzhang12 I added your name and link from the previous md file.
@cassiawag Status changed to Ready for Publish.

Thank you again everyone!!!

[2020-03-29 13:41] benuraa commented on #295
sure, I will proofread the previous report first.

[2020-03-29 13:57] satotake commented on #290
Of course, I will help you to do it if it is needed.
But I do not have any ideas about where or how...
(You may mean the new translation system, which I have never seen)

...Anyway, I am appreciating your and @fzhang12 's  review of this situation report for now.
Thanks all

[2020-03-29 14:18] Hirthe commented on #294
@astridgall thanks a lot for the translation. I proofread it. You can always contact me, when my help is needed. Otherwise I can also leave this totally to you.

[2020-03-29 14:19] lxy0107 commented on #292
I checked everything - maybe we wait for a few hours to see if anyone else want to read it, and I can change the status (maybe around 21-22h CET).

[2020-03-29 14:36] cassiawag commented on #283
@TNNeto -- Thanks for the translation! Yeah, GitHub can be a bit confusing if you're not used to it :( Unfortunately, you can't attach files to GitHub messages. Why don't you email me the file? I can then put it up. To avoid GitHub messes in future, I would recommend, editing online at the link shared to avoid the GitHub messes.

[2020-03-29 15:04] whispererindarkness commented on #286
@al-epo, @aliceLedda, @sarameiqi: ho terminato con le mie sezioni, non ci sono variazioni significative nel testo originale, ma se volete dare un'occhiata ne sarei felice.

Ho un solo dubbio: nella sezione relativa alla raccolta dei campioni, si parla di "sequences from viral isolates", che per il momento ho tradotto come "sequenze". Tuttavia l'espressione è diversa rispetto allo scorso report, e

[2020-03-29 15:07] astridgall commented on #294
@Hirthe Thanks! I think a good system may be to alternate each week as the main translator. What do you think?

[2020-03-29 15:07] aliceLedda commented on #286
Sequenze (estratte) da campioni virali?
Scusate sono in ritardo con tutto oggi...
Alice

On Sun, Mar 29, 2020, 16:04 Andrea Claudi <notifications@github.com> wrote:

[2020-03-29 15:10] sarameiqi commented on #286
@aliceLedda tranquilla, sono giorni incasinati!!
Se hai bisogno di una mano con la traduzione facci sapere! =)

[2020-03-29 15:11] cassiawag commented on #287
Thanks for the translation @falnaji & @SalehA74! You've gotten very fast.

It's now live here: https://nextstrain.org/narratives/ncov/sit-rep/ar/2020-03-27

As a note for the future, when you made the pull request, you made a pull request to merge `master` into `sit-rep_ar`. In future, you'll want to do the opposite, create a pull request to merge `sit-rep_ar` into `master`.

[2020-03-29 15:11] #287 closed

[2020-03-29 15:12] sarameiqi commented on #286
@al-epo ho provato a segnare qualche "errore" ma passarcele qua in chat è un mezzo casino...vogliamo fare che tu leggi la mia parte e la correggi e io faccio altrettanto con la tua? Solo correzioni di cui siamo certe, le cose più "complesse/dubbie/non sono sicura se questa frase è scritta bene" le facciamo in un secondo momento..?

[2020-03-29 15:13] Hirthe commented on #294
@astridgall Sounds like a plan :) Then I will do the next one :)

[2020-03-29 15:21] al-epo commented on #286
@sarameiqi  va bene! Come facciamo ad evitare che ci sovrapponiamo?
Ci dovrebbe essere un modo per fare un merge delle modifiche fatte da diversi utenti, ma io ancora non l'ho trovato. Voi?

[2020-03-29 15:23] JiscaH commented on #285
I've spell-checked @roanvanscheppingen 's bit, and translated a few extra slides.

I've translated 'Exposure history' as 'blootstellingsgeschiedenis' (is dat 1 woord?), en 'not well-understood' als 'slecht begrepen'.

Good luck to the next one! Besides translating the last few slides, the whole rapport also still needs an expert-check

[2020-03-29 15:27] benuraa commented on #295
I just finished proofreading the previous report and suggested some translation for the scientific terms. Well done, it was very well translated!

[2020-03-29 15:34] #290 closed

[2020-03-29 15:48] cassiawag commented on #290
And it's live here: https://nextstrain.org/narratives/ncov/sit-rep/ja/2020-03-27 Thank you all for the fast translation and wonderful team work!

P.S. I'm working on a better communication system for all of you; we should soon have a forum-style like place for translators where you can post a dictionary.

[2020-03-29 15:56] cassiawag commented on #261
Amazing work @zeynephrc & @erenada! I'm working to get this published asap.

You can only have one link per translator; otherwise, the display breaks. @zeynephrc, do you want your LinkedIn or your Twitter?

[2020-03-29 15:59] benuraa commented on #295
@zeynephrc and @erenada  let me know when you want me to start working on the proofreading of the current report. I need to have a lunch break and I can start in an hour or so earliest.

[2020-03-29 15:59] zeynephrc commented on #261
Hello @cassiawag,
Sorry, I forgot to delete my LinkedIn link in the report. I deleted it.

[2020-03-29 16:04] cassiawag commented on #295
Thanks all! Amazing work.

@benuraa, can you add your name and a professional link to this report?

@zeynephrc & @erenada, let me know when this is good to publish.

[2020-03-29 16:11] erenada commented on #295
hi all! I'll be finishing my part in ~1 hour. then we can do a quick proof-read & get this ready for the publication.

[2020-03-29 16:16] niemasd opened #302 "Collection dates for the WI-GMF sequences"
I have been running my own real-time analysis of COVID-19 sequences from GISAID, and I saw that the recent Wisconsin sequences on GISAID had collection YYYY-MM, but no DD, so I reached out to the submitting lab. They are updating their entries on GISAID, but just in case you've already pulled them, I wanted to forward them to you as well.

[code]

[2020-03-29 16:21] sarameiqi commented on #286
Allora, possiamo lavorare direttamente sui commit, non sul file originale.
Tu prendi il mio e mi aggiungi i commenti, poi io rivedo i vari commenti e li integro direttamente nella mia parte. Se non ci troviamo d'accordo, possiamo discutere senza modificare mille volte.
Che ne pensi?

[2020-03-29 16:35] astridgall commented on #294
Perfect @Hirthe !
I've made a PR to master for the above

[2020-03-29 16:38] cassiawag commented on #261
I noticed in my preview review that some text on slide 12 in the header isn't translated. Can someone do translate that quickly? Maybe @zeynephrc? Otherwise, it looks great.

[2020-03-29 16:55] zeynephrc commented on #261
@cassiawag I translated it. Thanks for letting me know.

[2020-03-29 16:58] al-epo commented on #286
ok! nn mi è arrivata nessuna email per ora, a volte mi arrivano con un certo ritardo.
Ora leggo i tuoi commenti poi guardo la tua parte :-)

[2020-03-29 17:01] al-epo commented on #286
@sarameiqi  Concordo con tutti i tuoi commenti !

[2020-03-29 17:04] cassiawag commented on #261
Super! Thanks for all the hard work! I'm going to publish this at the same time as the March 27 report.

[2020-03-29 17:20] al-epo commented on #286
@sarameiqi  ho aggiunto i miei commenti alla tua parte sull'Europa e l'Islanda. ;-)

[2020-03-29 17:29] al-epo commented on #286
@sarameiqi  ho commentato anche la parte sull'Asia. Dimmi che ne pensi

[2020-03-29 17:40] zeynephrc commented on #295
Hello,
I've finished my parts and while @erenada is finishing his parts, maybe @benuraa can proof-read my parts.
Thank you everybody for putting in the hard work!

[2020-03-29 18:01] M-nied7 commented on #293
@aniafijarczyk, I have finished the rest of the text, please do proofreading.

[2020-03-29 18:18] miparedes commented on #281
@Cholokiwi, I just pushed the completed draft for your proofreading! Thanks for the good work everyone!

[2020-03-29 18:52] codergr commented on #289
@akifoss have started working on this and continue a couple of hours since I have some time today.

[2020-03-29 18:52] erenada commented on #295
Hi! I've just pushed my changes, please feel free to read-over @benuraa & @zeynephrc!

[2020-03-29 18:56] benuraa commented on #295
I am working on the text now. Is there a way to see the original English text?

[2020-03-29 19:00] cassiawag commented on #295
Here's the original text @benuraa: https://nextstrain.org/narratives/ncov/sit-rep/2020-03-27

[2020-03-29 19:05] cassiawag commented on #283
I've pushed @Tiago's translation. Thanks so much for it. @andersonbrito or @EricaBarroso, are either of you able to proofread?

[2020-03-29 19:42] akifoss commented on #245
Hi @cassiawag  ! I have added a pull request #306 to merge the greek translation of how to interpret a phylogenetic tree. I noticed that the rest of the files in the 'narratives' directory are pulled as well, so let me know if I should proceed differently to make this file available :)

[2020-03-29 20:06] codergr commented on #289
@akifoss It's ready for proofreading unfortunately cannot work on this more today. Hope it helps!

[2020-03-29 20:08] cassiawag commented on #245
Hi @akifoss. It looks like your pull request is to merge into `background_el`? I'm seeing all the file changes too; I do think that will cause problems.  I recommend this (although it might be a little git unorthodox):
- Copy the translated file with your edits outside of the github repo on your computer
- Delete your current, local `background_el` branch
- Remake and pull the `background_el` from

[2020-03-29 20:09] cassiawag commented on #289
@thanks codergr! You've done a lot.

[2020-03-29 20:13] lxy0107 commented on #292
pull request created:)

[2020-03-29 20:18] akifoss commented on #245
@cassiawag  that would be great, because what you suggest seems to be what I have already done before (?) :P

[2020-03-29 20:32] bennettbrowniowa commented on #278
I sent this thread to an evolutionary biologist and an genomic anthropologist who studies pathogen evolution https://clas.uiowa.edu/anthropology/people/drew-kitchen . The unnamed evolutionary biologist thought it was important to include ne or more outgroups to establish the earliest branches in a tree, but deferred to the greater expertise on the particular subject to Kitchen who said, "There are

[2020-03-29 20:33] cassiawag commented on #292
Excellent work, ladies! It's live here: https://nextstrain.org/narratives/ncov/sit-rep/zh/2020-03-27

A process note for future, please update Table of Contents links to this form: `https://nextstrain.org/narratives/ncov/sit-rep/zh/2020-03-27?n=1`. Rather than the community narratives link. These links will not work prior to publishing, but we don't want to send people to the pre-publication versi

[2020-03-29 20:33] #292 closed

[2020-03-29 20:43] benuraa commented on #295
I think we are done! I did the proofreading and changed bits and bobs! if everybody is happy with that it should be ready to be published. Cheers guys!

[2020-03-29 20:45] cassiawag commented on #245
Commands in order:
- `cp file_original_location file_outside_of_repo`
- from in the ncov repo, `git checkout master`
- `git branch -D background_el`
- `git checkout background_el`
- `git pull origin background el`
- `cp file_from_outside_of_repo location_of_file_in_narratives_folder`
- `git add file_name`
- `git commit -m "Edits to Greek phylo"
- `git push origin background_el`

[2020-03-29 20:48] zeynephrc commented on #295
Thanks!

[2020-03-29 20:52] zeynephrc commented on #295
Thanks @benuraa, I did the last check and it seems great!

I moved the report to ready for publishing.

And also, thank you @erenada for the changes in my parts. It looks awesome!

[2020-03-29 20:55] erenada commented on #295
Hi all, looks great! Thank you both @zeynephrc  @benuraa. I am reading the report one more time and I'll add some minor corrections in a minute. Then it's ready to go!

[2020-03-29 20:56] benuraa commented on #295
let us know if u want us to check @erenada. honestly, guys, it's great job u are doing!

[2020-03-29 20:57] cassiawag commented on #295
#DreamTeam. Thank you all! Incredibly impressive effort.

[2020-03-29 20:59] zeynephrc commented on #295
I feel really privileged to work with both of you and gain experience by learning from you as a high school student!

Thanks again!

[2020-03-29 21:02] roanvanscheppingen commented on #285
I'll take it from here for a minute or 20. How are the others in their time? I could contribute again tomorrow afternoon, the earliest (after this run)

[2020-03-29 21:04] cassiawag commented on #295
Anyone want to translate the Twitter post for me? And @benuraa, do you have a twitter handle I can tag?

Pleased to announce that the latest #COVID19 situation reports are now available in Turkish. A big thank you to @zharcanoglu, @erenada, and Benura Azeroglu for making these translations happen.

[2020-03-29 21:06] benuraa commented on #295
i don't have a tweeter :/

[2020-03-29 21:08] melop commented on #278
I agree. This is how it should be done. Only exclude the outgroup at the dating stage, but not prior to that.

It is also important to collapse nodes with no statistical support to avoid misleading interpretations.

[2020-03-29 21:08] zeynephrc commented on #295
En son #Covid19 durum raporlarının artık Türkçe olarak da sunulduğunu duyurmaktan memnuniyet duyuyoruz. Bu çevirinin gerçekleşmesini sağlayan  @zharcanoglu, @erenada, ve Benura Azeroglu'na büyük teşekkürlerimizi sunuyoruz.

@cassiawag

[2020-03-29 21:11] Cholokiwi commented on #281
Hi all,

I've done the proofreading and in terms of translation it's good to go. Well done!

@cassiawag here's still problem with the live preview which is not showing the first slide (TOC and the executive summary). Could you please have a look?

@doyarzun00 for the next time, could you please check that preview works ok when making changes? Markdown language is easy to break but not so easy to f

[2020-03-29 21:17] doyarzun00 commented on #281
@Cholowiki no problem, understood. Even a space can make a big difference
in MD!
Thanks everybody
Diego

On Sun, Mar 29, 2020 at 10:12 PM Roy Costilla <notifications@github.com>
wrote:

[2020-03-29 21:19] cassiawag commented on #295
Here's the published version: https://nextstrain.org/narratives/ncov/sit-rep/tr/2020-03-27

Posting on twitter now! Amazing work all.

[2020-03-29 21:19] #295 closed

[2020-03-29 21:25] cassiawag commented on #261
Here's the published version: https://nextstrain.org/narratives/ncov/sit-rep/tr/2020-03-20

[2020-03-29 21:25] #261 closed

[2020-03-29 21:33] akifoss commented on #245
Thanks a lot @cassiawag ! After deleting my background_el branch, even though I followed the commands that you wrote, I get an error at the commit command. But anyways my background_el branch is up to date with the file edits. Should I rather use hard copy paste on the browser on the relative file straight on the background_el branch?

[2020-03-29 21:37] akifoss commented on #289
Thanks @codergr for the work!

I have finished translating and editing the report on this platform: https://hackmd.io/XbrAKxdtQH-sOYCPzbUIVQ?view Great tool! Do I need to provide the file via Github or is this platform synced with you guys? @cassiawag

[2020-03-29 21:44] cassiawag commented on #245
Hmm. Yes, go for it. If it doesn't work, we can always roll back -- that is the beauty of git.

[2020-03-29 21:46] cassiawag commented on #289
It is not synced. So if you don't mind sending it over to GitHub for prooreading in the preview link, that would be great.

Glad it worked out well for you. I actually have not used it myself, but the French team has been doing it and getting reports out in lightning fast speed.

[2020-03-29 21:51] akifoss commented on #245
Done! Let me know if it worked, the file is committed with the message "Edits to Greek phylo"

[2020-03-29 22:02] cassiawag commented on #281
And preview's back. The culprit was a misplaced period. Publishing this now.

[2020-03-29 22:04] cassiawag commented on #245
@akifoss -- it looks like it worked, but check the preview link above. I'll merge into master and publish with your approval.

[2020-03-29 22:10] akifoss commented on #245
Yes, that's the right file! Thanks @cassiawag !
What would be the link to this file (so that I update it in the sit-rep too)?

[2020-03-29 22:11] cassiawag commented on #245
As soon as I publish it, it will be: https://nextstrain.org/narratives/trees-background/el

[2020-03-29 22:18] akifoss commented on #289
This file is ready to be published too, I have checked the preview as well and incorporated the Greek Phylo link :)

[2020-03-29 22:20] cassiawag commented on #281
We're live here: https://nextstrain.org/narratives/ncov/sit-rep/es/2020-03-27

Amazing job, team! Thanks for the hard work.

[2020-03-29 22:20] #281 closed

[2020-03-29 22:32] taehoonh commented on #291
@hanbin973 @KyobinKang @minkyuxyz

Hope you are doing well. In the midst of working on 03-27 report, minor typos in 03-20 report drew my attention:

1.  In the 'COVID-19 Resources(코로나바이러스감염증-19 관련자료)' section,
이 정보들은 저희가 이 보고서에서 제시한 내용을 *이*하는데 도움을 줄 것입니다.

이 -> 이해

2. In 'as an official (지도자와 관료들이 할 일)' under the 'What you can do(우리가 할 수 있는 것들)' section,
third bullet point -- * Fund and implement

[2020-03-29 22:35] cassiawag commented on #245
And it's live! Thank you for the good work @codergr & @akifoss

[2020-03-29 22:35] #245 closed

[2020-03-29 22:36] minkyuxyz commented on #291
Hi everyone, I'm a bit distracted by other businesses at this particular moment and will only be available to contribute ~12 hrs later.

[2020-03-29 22:41] cassiawag commented on #289
@akifoss -- do you have a professional link you'd like included?

[2020-03-29 22:53] aliceLedda commented on #286
Non trovo i vostri commenti.
Ho modificato una frase  sull'Europa

Si puo notare che alcuni piccoli gruppi sono caratterizzati dalla
provenienza dallo stesso Stato, ma molte sequenze provenienti da stati
diversi sono in realta' molto mescolate sull'albero.

E map secondo me e' meglio tradurlo con cartina, che mappa mi suona di
quella del tesoro...

Sugli US lo traduciamo Stati Uniti?
Solano County

[2020-03-29 22:53] #289 closed

[2020-03-29 22:57] cassiawag commented on #289
And we're live here: https://nextstrain.org/narratives/ncov/sit-rep/el/2020-03-27

Thank you so much @codergr & @akifoss. I ended up just your GitHub link.

[2020-03-29 23:20] cassiawag commented on #282
@frogtraveler, @dtaliun -- I'll publish when I've got your go ahead.

[2020-03-29 23:37] aniafijarczyk commented on #293
finished proofreading, can you confirm if it's ready to go @M-nied7 ?

[2020-03-30 01:17] dtaliun commented on #282
Looks good

[2020-03-30 01:45] cassiawag commented on #294
Thank you @astridgall, @Hirthe, and @nicfel  for the translation! I hope you all are well this weekend.

It's now live at: https://nextstrain.org/narratives/ncov/sit-rep/de/2020-03-27

[2020-03-30 01:45] #294 closed

[2020-03-30 02:00] frogtraveler commented on #282
@cassiawag Looks good to me! Thank you!
when you post, could you pls tweet at @varvarakozyreva- I'll spread the word

[2020-03-30 02:16] vscooper commented on #53
No trouble creating an account, but download requests keep throwing errors.

[2020-03-30 02:34] cassiawag commented on #282
It's published here: https://nextstrain.org/narratives/ncov/sit-rep/ru/2020-03-27

Thank you all! Hope you had a safe and restful weekend.

[2020-03-30 02:34] #282 closed

[2020-03-30 08:04] JiscaH commented on #285
Allright! @rvosa @shenii @JSHuisman  could either of you please read it through, to make sure all technical terms are translated correctly, and we didn't inadvertently change the meaning anywhere? Thanks!

[2020-03-30 08:10] JSHuisman commented on #285
I could take a look in the afternoon (around 13 o'clock, or after 15 o'clock) - but if others have time earlier, please go ahead.

[2020-03-30 09:14] emmahodcroft commented on #302
Hi Niema! Thanks for providing these! I've just checked GISAID it seems these dates have been updated, and are now part of our live-build! (We automatically filter out any samples that don't have 'day'.) When possible we like to wait for these changes to filter through from GISAID, so that we don't hard-write over them - if there's every any other changes we then never catch them as our hard-write

[2020-03-30 09:14] #302 closed

[2020-03-30 09:30] al-epo commented on #286
Buongiorno !
@aliceLedda  molti dei tuoi commenti sono quelli che avevo fatto anche io :-)

sulla traduzione  di mappa non so...se è relativa  solo a quella geografica cartina va bene ma se è una mappa di quache altra cosa forse mappa e un aggettivo che la descriva magari è meglio.  Mappa dei dati ?  Credo dipenda anche dal contesto, a me mappa non fa pensare a quella del tesoro perchè probabilmen

[2020-03-30 09:33] sarameiqi commented on #286
US mettiamo Stati Uniti
Posso tornare su tutto il testo dopo le 3 pm UK time (le 4pm in Italia).
Riguardo tutto bene e vi dico la mia sulle cose che segnala Alice.
Se gli altri hanno tempo e gli va, rileggete anche voi e commentate nei commit, così faccio l'ultima lettura "professional" sulla traduzione e chiudiamo.
A dopo e buon lunedì di quarantena!

[2020-03-30 10:22] al-epo commented on #286
Ho tradotto i titoli nel indice dei contenuti e anche il sommario all 'inzio. Tradotto qualche altro titolo che era sfuggito e dovrei aver sistemato gli accenti di Alice ( magari ri-controllate se avete tempo).
Ho aggiunto Alice e Sara come traduttori, i nomi sono in ordine alfabetico ma se volete mettere diversamente non c'è problema per me. Aggingete i vostri tweeter o siti.
Non sono sicura di p

[2020-03-30 13:32] tolot27 commented on #279
Just to keep things together. One technical reason is if sequences are reverse-complemented (see issue #252).

[2020-03-30 13:59] JosephLee815 commented on #243
@tolot27 Thanks so much for your reply. We have already solve the problem with hCov-19 but now facing a new problem. We still have some errors with the tree. There are a few sequences in the metadata file. However they didn't appear on your tree nor your exclude.txt. So how did you remove them from the dataset?

[2020-03-30 14:06] tolot27 commented on #243
@JosephLee815 Please provide some strain names your are missing on the tree.

[2020-03-30 14:25] JSHuisman commented on #285
Ok, will go through it now

[2020-03-30 14:47] sarameiqi commented on #286
grazie @al-epo.
Per voi va bene se ripasso su tutta la traduzione e inserisco correzioni direttamente sul testo originale?

[2020-03-30 14:53] aliceLedda commented on #286
Si ok!
Se serve io ora sono davanti al computer...

On Mon, Mar 30, 2020 at 3:47 PM Sara Pilia <notifications@github.com> wrote:

[2020-03-30 14:54] al-epo commented on #286
ok per me.
grazie!

[2020-03-30 15:28] JSHuisman commented on #285
Finished going through ("expert review") - think it's ready to be uploaded.

[2020-03-30 15:42] drupiter commented on #278
There are differing opinions about whether representations should collapse poorly supported branches (because we believe there is little support for their existence) or whether they should include them (because, theoretically, the unknowable true genealogy is a bifurcating tree and we should just hold in our head that parts of the tree are uncertain).  This is an ongoing point of minor contention

[2020-03-30 15:42] sarameiqi commented on #286
@aliceLedda @cassiawag sorry if I bother you, but a doubts arised about the meaning of COVID-19.
If COVID-19 is the illness cause by SARS-nCov-2, is it correct to say: "We analyzed 1,495 publicly shared COVID-19 genomes."?

[2020-03-30 15:53] sarameiqi commented on #286
@aliceLedda fammi sapere se questa traduzione è corretta:
Per esempio, ci sono alcune sequenze raccolte recentemente in Connecticut (foglie evidenziate) che pur essendo antenate di quelle di Washington (foglie non evidenziate) sono anche mescolate con queste ultime.
For example, recent samples from Connecticut (selected tips) are both ancestral to and intermingled with samples from Washington stat

[2020-03-30 16:09] al-epo commented on #286
@sarameiqi  per me è abbastanza chiara.
Forse potrebbe essere ancora piu chiaro come:
Per esempio, ci sono alcune sequenze raccolte recentemente in Connecticut (foglie evidenziate) che sono sia antenate di quelle di Washington (foglie non evidenziate) che mescolate con queste ultime.

[2020-03-30 16:25] JosephLee815 commented on #243
@tolot27 Sorry for my mistake. It is because we didn't update the new exclude.txt so that we missed some strains in the file.
Actually we are encountering a confusing problem now. We are using the latest code and metadata file from your git. However we are not using the whole dataset from GISAID. Some strains with exclamatory mark on their website are not considering in our project. Because some o

[2020-03-30 16:31] aliceLedda commented on #286
i think you're right... But by the time the name was decided we were all
calling it different names...
What did they write in the english version?

On Mon, Mar 30, 2020 at 4:42 PM Sara Pilia <notifications@github.com> wrote:

[2020-03-30 16:34] cassiawag commented on #286
@aliceLedda & @sarameiqi -- you are correct, we're actually analyzing SARS-Cov-2 virus genomes that cause the disease COVID19. We were a bit sloppy about it in the English version of the report. Feel free to be precise in the Italian version! Thanks for all the work btw!

[2020-03-30 16:35] aliceLedda commented on #286
Io l'avevo rigirata perche cosi non si capisce bene.
Se metti:
Alcune delle sequenze draccolte in Connecticut sono mescolate sull'albero
con quelle dello stato di Washington, mentre altre sono loro antenate.
Vi sembra piu' chiaro?

On Mon, Mar 30, 2020 at 4:53 PM Sara Pilia <notifications@github.com> wrote:

[2020-03-30 16:44] sarameiqi commented on #286
A me sembra che la tua traduzione abbia un significato diverso da quella in inglese. Dice both, quindi io capisco che sono contemporaneamente antenate e mescolate. Però non so che voglia dire nel tecnico, quindi non so se quello che capisco io ha senso oppure no.

[2020-03-30 16:44] al-epo commented on #286
si era quello che stavo scrivendo, ma forse non ne capisco l'aspetto tecnico

[2020-03-30 16:52] aliceLedda commented on #286
Vai alla pagina in inglese e Guarda il disegno. Alcuni punti evidenziati
sono alla base e altri sono sulle foglie mischiati a quelli non
evidenziati. Both significa parte delle sequenze del c. Sono mischiate e
parte no.
Spiego la biologia.
Se l'outbreak si fosse evoluto in c. E solo recentemente fosse stato
trasmesso a e. Te le aspetteresti tutte verso la base.
Viceversa se lo scambio stesse avven

[2020-03-30 17:03] cassiawag commented on #285
Amazing! Thanks for the collaborative effort all. I'll work on getting this published.

[2020-03-30 17:24] cassiawag commented on #293
And it's published here: https://nextstrain.org/ncov/2020-03-27

Thanks for the fast work all!

[2020-03-30 17:24] #293 closed

[2020-03-30 17:41] sarameiqi commented on #286
Ok, ora è più chiaro. Non avevo capito che fossero due gruppi, uno che si mescola e uno che non si mescola ed è più "antico".
Grazie mille!

[2020-03-30 17:46] sarameiqi commented on #286
Ok, I substituted COVID-19 with SARS-Cov-2 in the sentence we talked about. I feel it important because there is a lot of confusion in Italy and sharing the right words can be of help for common readers...
For me the text is ok, @al-epo @aliceLedda or @whispererindarkness do you want to read it again or we can publish it?

[2020-03-30 17:49] #285 closed

[2020-03-30 17:54] cassiawag commented on #285
And it's live here: https://nextstrain.org/narratives/ncov/sit-rep/nl/2020-03-27

Thank you for another excellent translation!

[2020-03-30 18:03] al-epo commented on #286
it is ok for me too!
great to work with you @aliceLedda @sarameiqi @whispererindarkness !

[2020-03-30 18:10] aliceLedda commented on #286
Fine by me!
Alice

On Mon, Mar 30, 2020, 19:03 al-epo <notifications@github.com> wrote:

[2020-03-30 19:08] emmahodcroft commented on #243
Hi! I'm glad you've had some success in running the data and I'm sorry you've run into some problems. The Terms of Use Agreement from GISAID prohibit onward sharing of the data, so we are not able to provide you with the data ourselves. However, all data is available through GISAID!

[2020-03-30 19:37] Cholokiwi commented on #252
Hi @tolot27 and all,
Would this feature be available for the analyses this week? It’d be great to see how these sequences from Peru fit in the tree. Reported cases so thave been linked to return travel from Spain and the UK.
Thanks,
Roy

[2020-03-30 21:11] gwangjinkim opened #315 "[BUG] SyntaxError in line 84 of /home/josephus/ncov/Snakefile: invalid syntax"
Something is wrong with the Snakefile.

In ubuntu do:
[code]
OR do in a conda environment
[code]

git clone this repo
[code]

[code]

So, something is wrong with the Snakefile! But what?
line 84 is
[code]

I really don't get it why there is an invalid syntax ...

(I tried using the docker version etc. - nothing helped. I realized, this is a Snakefile and snakemake problem).

[2020-03-30 22:05] cassiawag commented on #286
I'm going to go ahead and publish. @whispererindarkness if you have any more edits, please add them as PR. Thanks for the great work all!

[2020-03-30 22:48] #286 closed

[2020-03-30 23:00] cassiawag commented on #286
And it's live here: https://nextstrain.org/narratives/ncov/sit-rep/it/2020-03-27

Thank you all for a lot of hard work and another excellent translation!

[2020-03-30 23:44] cassiawag commented on #283
I've just pushed @EricaBarroso's partial edits. Thank you so much for them! Are you finished reviewing the translation?

@andersonbrito, want to take a look? I'd love to get this published :)

[2020-03-31 00:05] #288 closed

[2020-03-31 00:52] taehoonh commented on #291
Hi all,

Just completed the first draft. It would be grateful if you start reviewing. Likewise, any feedback is welcome.

Thanks,
TH

[2020-03-31 01:25] minkyuxyz commented on #291
Done reviewing, made terminologies & grammar more consistent. Great job, thank you!
This report seems ready to go. @cassiawag , you can decide whether or not we need more reviews.
I also fixed the March 20 report in this branch. Please make sure that is merged together when you merge this to the main branch.

Minkyu

[2020-03-31 01:31] taehoonh commented on #291
@minkyuxyz  Thanks. I appreciate that.

[2020-03-31 01:35] cassiawag commented on #291
@KyobinKang -- any chance you could proofread rapidly?

[2020-03-31 01:48] cassiawag commented on #283
@TNNeto, @EricaBarroso, and @7glaucio -- It sounds like it's a little bit challenging working with both Brazilian & European Portuguese. Since I don't speak Portuguese, I'm not sure how challenging this is. But I really appreciate you all working on this, and I'm very open to re-thinking the Portuguese translation workflow so that it works well for all.

[2020-03-31 02:06] KyobinKang commented on #291
@cassiawag I'll proofread within a few hours and let you know.

[2020-03-31 02:48] KyobinKang commented on #291
@cassiawag Made it. I agree it's ready to be published!

[2020-03-31 03:39] JosephLee815 commented on #243
@emmahodcroft OK I totally understood. But thank you all the same for your kind reply.

[2020-03-31 03:41] #291 closed

[2020-03-31 03:47] cassiawag commented on #291
And it's published here: https://nextstrain.org/narratives/ncov/sit-rep/ko/2020-03-27

Thanks for the excellent translation all. I've also updated the March 20 report.

[2020-03-31 10:33] michelegentili93 opened #319 "can't download data from aws"
**Current Behavior**
After running
snakemake -s Snakefile --cores 3
the query to aws to fetch data is not working:

fatal error: An error occurred (403) when calling the HeadObject operation: Forbidden
[Tue Mar 31 11:16:21 2020]
Error in rule download:
    jobid: 8
    output: data/sequences.fasta, data/metadata.tsv
    shell:

        aws s3 cp s3://nextstrain-ncov-private/sequences.fasta data/se

[2020-03-31 16:46] cassiawag opened #320 "Translate "How to interpret phylogenetic trees" to Turkish"
We’d like to translate “How to interpret phylogenetic trees” into Turkish. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_tr.md` in branch `background_tr` under the narratives folder: https://github.com/nextstrain/ncov/blob/background_tr/narratives/ncov_t

[2020-03-31 17:11] tsibley commented on #319
Unfortunately we can't make those data files public, so this is expected. Please see the [developer guide](https://github.com/nextstrain/ncov/blob/master/DEV_DOCS.md#developer-guide) for how to run on public data.

[2020-03-31 17:11] #319 closed

[2020-03-31 17:17] cassiawag opened #321 "Translate March 27 report to Lithuanian"
Hello @sofijasemeniuk !

The situation report from 2020-03-27 is ready to be translated to Lithuanian. A branch exists as `sit-rep_lt`  where this can be done, and the file to translate is `ncov_sit-rep_lt_2020-03-27.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_lt/narratives/ncov_sit-rep_lt_2020-03-27.md

You can translate directly in this file on GitHub, but

[2020-03-31 17:21] benuraa commented on #320
Hi guys, I have a lab meeting for next 3 hours but after that, I am happy to proofread/help if needed.

[2020-03-31 17:51] erenada commented on #320
Hi all,

Great idea @cassiawag! I was thinking to offer to translate that document too because I've already received some messages on Twitter about that; it seems like a lot of people are interested!

I can start it today & finish (possibly tomorrow). It would be great if we can work together with you guys @zeynephrc & @benuraa again!

You can be 100% sure of the translation accuracy & quality @ca

[2020-03-31 18:29] zeynephrc commented on #320
Hello everyone!
Obviously, I am not an expert on this field but still, I will be trying my best to translate some of the parts that are easier.
Thanks!

P.S: @erenada thank you so much for the support on twitter. It made me really happy:)

[2020-03-31 18:43] erenada commented on #320
You deserve more @zeynephrc! I am really impressed by what you are doing, keep it going!

I've created a hackmd translation team folks. I've already sent an email to @zeynephrc.

@benuraa & @oyku-gencay, please give me your e-mail addresses so I can add you to the team. There will be another person joining us, Onur, he is a Ph.D. student at Max Planck Institute who works on host-pathogen interacti

[2020-03-31 20:13] benuraa commented on #320
you are doing a great job @zeynephrc! @erenada emailed you just now. If you want me to proofread something let me know I have 2 hours before my next meeting (I have a feeling I am having more meetings now that 'normal times')

[2020-03-31 21:12] oneillkza commented on #225
+1 to this. As far as I can tell, it involves running this tool: https://github.com/nextstrain/fauna

But I still don't see how they're getting it in the first place. I'm fairly sure they must be scraping it from GISAID, since the metadata only seems to appear when clicking on individual pages for each sequence.

[2020-03-31 21:25] hringbauer opened #322 "[BUG] Single "region" label set to "USA" in meta file"
**Current Behavior**
EPI_ISL_418865 has "region" USA in meta file.

**Expected behavior**
All North American samples have "North America".

**Possible solution**
Change region label for EPI_ISL_418865 to "North America".

[2020-03-31 21:46] oneillkza commented on #53
@palatos it's been up and down for me. Just keep re-trying. Fortunately the actual fasta download is pretty small and quick once you get in.

[2020-03-31 23:53] 7glaucio commented on #283
I had some computer issues lately, but I'm available now for the next report. Who speaks European Portuguese? I think (since it's extremely similar except for a few words or expressions) we should keep doing it as one version for both, because it's understandable. A portuguese could translate and the Brazilian proofread to check whether there are any expressions we don't understand, and vice versa

[2020-04-01 06:43] emmahodcroft commented on #322
Hi @hringbauer ! Thanks for your comment here. I've checked this in the most recent `metadata.tsv` file, and it seems like the region is listed as North America now. This may have been fixed in one of our recent pushes. But thanks for pointing this out - hopefully it's fixed now!

[2020-04-01 06:43] #322 closed

[2020-04-01 08:18] michelegentili93 opened #326 "Make output Phylogeny downloadable"
**Context**
We want to do some research on the Phylogeny. How can we download only the final output?

**Description**
I've tried to rerun myself the package, but it's not possible, because we don't have the input data. How can we build our analysis on top of your Phylogeny output, so that to let research advance?

**Examples**
A Json with the hierarchy evolution of the mutation with geographical i

[2020-04-01 08:30] emmahodcroft commented on #326
Hi @michelegentili93 ! You should indeed be able to download the final-format data you are looking for. If you go to https://nextstrain.org/ncov - and scroll to the very, very, very bottom of the page (past a lot of blue text), you should see this:

![image](https://user-images.githubusercontent.com/14290674/78115824-aa5a7400-7403-11ea-9a71-b1fde743c17a.png)

This will open up an option to downloa

[2020-04-01 08:30] #326 closed

[2020-04-01 11:04] sentausa opened #327 "[Language translation request]"
**What language would you like the situation reports to be translated into?**
Indonesian

**Are you available to help translate?** (Either way is alright, just let us know! :)
Yes

[2020-04-01 11:06] zeynephrc commented on #320
Hey all!
I've finished my parts and I guess @benuraa can now proofread.

[2020-04-01 15:45] erenada commented on #320
Hi all, thanks for the hard work you've been doing! It's almost done.

However, I noticed a possible mistake on the original text - before I continue, I wanted to let you know @cassiawag, I might be wrong.

On slide 9 (sampling issue), it says "In the last example, we have only one sequence from orange, which could lead us to think that there was one introduction from orange into blue."

I thought

[2020-04-01 16:36] brianpardy commented on #315
Hi @gwangjinkim, do you have the ability to install a newer version of snakemake?  It appears from the [snakemake changelog](https://snakemake.readthedocs.io/en/stable/project_info/history.html) that the `checkpoint` keyword was added in release 5.4.0 of snakemake.  The Snakefile processes cleanly without errors on my system running snakemake 5.10.0.

[2020-04-01 21:07] jameshadfield commented on #326
In addition to what Emma said, if you want the input JSON which auspice uses you can look at `data.nextstrain.org/ncov.json` (which fits [this schema](https://github.com/nextstrain/augur/blob/master/augur/data/schema-export-v2.json))

[2020-04-02 05:17] cassiawag commented on #320
Hi @erenada, you are correct. The original is mistaken. It should be from blue --> orange. Please translate it correctly! Thanks!

[2020-04-02 12:27] shameem356 opened #328 "pruning leaf : Samples were removed during augur refine steps"
Hello Team,
we have assembled covid genome which we collected from  our region and tried to run with nextstrain. But  samples were removed from during augur refine steps.Please can you suggest what will be the reason for removing our assembly. below are the log file messages.
Note :  I have modified metadata.tsv, ordering.tsv, lat_longs.tsv according to my samples.Please can you suggest me that wh

[2020-04-02 12:31] emmahodcroft commented on #328
Dear @shameem356 , thanks for reaching out! Yes, the code we use in `refine` automatically removes sequences which are too divergent from the clock model. It depends a little on the background sequences you are using and the root you are using - but if you are using our standard pipeline, and are able to access all or most of the sequences we use, then this is a sign that your sequences are too di

[2020-04-02 14:02] erenada commented on #320
Hi @cassiawag, thanks for checking it!

The translation has finished and ready to publish then! Thank you @zeynephrc & @benuraa!

One more person has proof-read to make sure there are no scientific/technical language mistakes: Dr. Hakan Gür (https://twitter.com/hgur_ecology -- I wasn't sure where to thank him in the translated page but maybe you guys can mention him in the tweet?) Thank you!

[2020-04-02 17:47] shameem356 commented on #328
Hello @emmahodcroft

Thank you so much for quick reply. It helped me to solve the issue as well as genome divergence issue.Once again thank you so much.

[2020-04-02 18:24] #328 closed

[2020-04-02 19:13] cassiawag commented on #327
Hello @sentausa, thanks for the message! We would LOVE to get an Indonesian translation started.

New situation reports come out every Friday at 5pm, and we start translations right away. Our goal is to have everything published within 48 hours, but many groups finish sooner.

All translations must be approved by at least two people. One of those individuals should have an advanced biology backgro

[2020-04-02 19:22] sentausa commented on #327
Thanks @cassiawag. I am a bioinformatician. So, I am quite confident that I have an advanced biology background, including in phylogenetics. For now I don't know anyone else who might be able to work on translations with me, but I can try to look for one.

[2020-04-02 19:34] cassiawag commented on #320
Amazing work everyone! Thank you for the special attention to make sure this was accurate; really appreciate it. It's now published here: https://nextstrain.org/narratives/trees-background/tr

I've also updated the links in the most recent narrative: https://nextstrain.org/narratives/ncov/sit-rep/tr/2020-03-27

We don't usually post on Twitter about publishing How To Interpret Phylogenetic Trees o

[2020-04-02 19:34] #320 closed

[2020-04-02 19:37] cassiawag commented on #327
I'll need their GitHub contact info. You can also have them reach out to me. via Twitter: https://twitter.com/wcassias

Thanks for reaching out. I'll tag you in a relevant issue when we publish the next weekly report (tomorrow).

[2020-04-02 19:47] sentausa commented on #327
Thanks. And could you please tell me in which time zone the situation reports are usually released on Friday?

[2020-04-02 19:53] cassiawag commented on #327
Yes of course, 5pm PDT. So if you're in Europe, people are working on them Saturday morning.

[2020-04-03 07:18] sentausa commented on #327
And one more thing: do we need to translate the previous situation reports as well? Thanks again.

[2020-04-03 08:34] sentausa commented on #327
I've found another volunteer: @kumincir

[2020-04-03 10:22] acx01b opened #330 "[BUG] tree missing some obvious merges"
Hi, in the european lineage today there are two edges with the same mutation and very similar sequences inside http://www.paris8.free.fr/bug_nextstrain.png

https://nextstrain.org/ncov?c=gt-nuc_15324&label=clade:A2a @lmoncla

2 April at 3h GMT+1 there wasn't such a problem, at 14h the problem was there so I think it appeared in [thisone](https://github.com/nextstrain/ncov/commit/1532c9d08bd58fa0f0

[2020-04-03 10:26] kumincir commented on #327
Hi, all. I'm in. My backround is chemistry, but have been working in molecular biology for years.

[2020-04-03 12:55] emmahodcroft commented on #330
To Nextstrain people: see on live tree here, at top of this part (can't zoom further in URL): https://nextstrain.org/ncov?branchLabel=clade&c=gt-nuc_15324&label=clade:A2a

[2020-04-03 15:57] acx01b commented on #330
Now solved. Someone did anything ?

[2020-04-03 16:20] lmoncla commented on #330
I didn't end up doing anything to fix this, but I'm glad it got sorted

[2020-04-03 16:50] hringbauer opened #331 "Metadata: Host field has "Human" as well as "human""
**Current Behavior**
The metadata "host" field has "Human" and in a few cases "human". All other hosts start with an upper case character  as well.

**Expected behavior**
Consistent labeling, to avoid that case-sensitive matching (often default) fails.

**Possible solution**
Switch all "human" to "Human" in host column.

[2020-04-03 18:05] cassiawag commented on #327
@kumincir & @sentausa, I've added you both to the Translators team and given you access to push to the relevant branches under the `translations` repo, where we're coordinating translations. Looking forward to getting an Indonesian report out!

re: Translating previous reports, this is not necessary. Although we do occasionally refer back to previous reports in the most recent one. I would focus o

[2020-04-03 18:05] #327 closed

[2020-04-03 18:06] cassiawag commented on #321
@evogytis, any chance you want to proofread this?

[2020-04-03 19:55] emmahodcroft commented on #330
Thanks for pointing this out @acx01b . I don't know what caused this, and it apparently fixed itself during one of our builds. If you spot it again please do let us know and we can take another look!

[2020-04-03 20:59] emmahodcroft commented on #331
Hi @hringbauer ! I just checked the `data/metadata.tsv` file which is online now, and I can't find lowercase 'human' instances in this copy. Can you check you're using a recently pulled (or downloaded) version of the file? If you're still finding lowercase 'human' instances, can you let us know the strain name they're associated with? Thanks!

[2020-04-03 22:18] tomoyuki-nezu opened #332 "[BUG] Some data provided by Japan is not displayed."
At the end of the report is a list of data provided by Japan. There is a group "Japanese Quarantine Stations (Japan/DPXXXX/2020)" in it, but this data cannot be searched and displayed in "Genomic epidemiology" menu.

The information is also included in the metadata (https://github.com/nextstrain/ncov/blob/master/data/metadata.tsv), why is it not displayed? Is some data incomplete and hidden?

In t

[2020-04-04 03:34] 7glaucio commented on #283
@cassiawag I just proofread this one. You can publish. Nothing in particular to point out

[2020-04-04 03:38] tomoyuki-nezu commented on #332
A side note. It would be great if someone could create a tag like "report". The word "bug" is strong for us, I want a more gentle tag :)

[2020-04-04 07:20] woson2020 commented on #53
@brianpardy I can't see the button for all genome sequence download,how can I figure it out?

[2020-04-04 07:33] woson2020 commented on #53
@xzhuo Are you able to download all genome sequence of ncov?

[2020-04-04 08:11] canholyavkin commented on #53
@woson2020, as suggested above you'll need to request download access from GISAID. After you login, you can send a message through Contact page. They generally gave the access in a 1-2 days.

[2020-04-04 08:21] woson2020 commented on #53
@cac

I have already sent message,thank you for your help.

[2020-04-04 15:42] cassiawag commented on #283
Thanks @7glaucio!!

[2020-04-04 15:42] #283 closed

[2020-04-04 18:29] brianpardy opened #333 "Some metadata cleanups to avoid inconsistencies in lab filtering/credit"
A few metadata elements have typos or other data-entry issues that are causing near-duplicate entries in the various filter options available at the bottom of the report. I am listing them here in this issue and submitting a PR to resolve the ones that seem like obvious fixes.

- Strain Hangzhou/HZ185/2020 submitting lab "Insepction Center" -> "Inspection Center"
- "University of Wisconsin - Madis

[2020-04-05 01:17] acx01b commented on #330
@lmoncla The bug is back :-)

I made a script is doesn't seem to appear elsewhere in the tree at least not in a such obvious form.

@emmahodcroft I noted that only sequences with travel history don't have the "branch_attrs" part in the Json file

[2020-04-05 12:09] JosephLee815 opened #335 "[BUG]An error related with State number"
**Current Behavior**
When we tried to build the tree with TreeTime, we encountered with an error saying that "180 or more distinct discrete states found. TreeTime is currently not set up to handle that many states". All the process before this one was finished.

**Expected behavior**
The evolution tree should be generated after the tree.nwk file was obtained.

**How to reproduce**
<img width="861"

[2020-04-05 15:03] brianpardy commented on #335
Hi @JosephLee815, I believe you need to upgrade the release of [augur](https://github.com/nextstrain/augur) that you are running and likely also the version of [treetime](https://github.com/neherlab/treetime), please see https://github.com/nextstrain/augur/pull/495 for more details.

[2020-04-05 17:53] acx01b commented on #330
There are now two appeareances of the bug, both in the European lineage  @jameshadfield

https://nextstrain.org/ncov?c=gt-nuc_15324&label=clade:A2a
https://nextstrain.org/ncov?c=gt-nuc_20268&label=clade:A2a

[2020-04-05 17:59] emmahodcroft commented on #335
@JosephLee815 , @brianpardy is right! This should solve your problem - but make sure you update both. Let us know if this doesn't fix things!

[2020-04-05 17:59] #335 closed

[2020-04-05 21:57] jameshadfield commented on #330
We should inspect the IQTREE tree (i.e. before `refine`) to see if this structure is there. I suspect it is, but I don't have an obvious reason why they're not monophyletic.

Unrelated -- but this should also be improved. For travel history isolates we split the branch in 2 to improve the DTA but we can't duplicate the mutations etc (branch_attrs) without causing double counting in the entropy pan

[2020-04-05 22:06] jameshadfield opened #336 "Add snakemake check to require minimum augur (& treetime?) version"
Will prevent issues such as #335. As we develop these analysis we are going to update augur in parallel and so enforcing a minimum augur version, and printing a helpful error message, will help everyone.

[2020-04-06 00:16] acx01b commented on #330
There is clearly a problem see https://nextstrain.org/ncov/?c=gt-nuc_26144,14805,17247&m=div where the iranian cluster became a subtree of a lineage having 3 unrelated mutations, I'm quite sure the divergence tree would be cleaner with a basic minimum spanning tree algorithm

[2020-04-06 14:55] JosephLee815 commented on #335
@brianpardy @emmahodcroft Thank you very much for your help. We believed that this should solve the problem we have. However now we have a new issue with updating these two stuff. Actually we installed the docker you provided (including the auspice and augur). But the augur and treetime seemed to be the old version even if we update the docker to the latest version. How can we get the new version

[2020-04-06 16:25] emmahodcroft commented on #335
@tsibley I know you're very busy, but could you possibly help with this - updating augur/treetime inside of docker, when upgrading the docker hasn't helped? Thank you!

[2020-04-06 16:37] cassiawag commented on #321
Closed, per conversation with @evogytis & @sofijasemeniuk

[2020-04-06 16:37] #321 closed

[2020-04-06 17:02] tsibley commented on #335
A new release of Augur is needed, as the change made in https://github.com/nextstrain/augur/pull/495 is currently unreleased. Doing a release of Augur will automatically publish a new Docker image.

[2020-04-06 17:44] EricFournier3 opened #338 "Missing connection between divisions"
**Current Behavior**
With the ncov build (Canada dataset), we lost connections in auspice when we change Geographic resolution to divisions (in the Map Option) instead of Country

**Expected behavior**
we want to keep connection between divisions
**How to reproduce**
Steps to reproduce the current behavior:
1. Open / run ...
2.
3.
4. See error

**Possible solution**
(optional)

**Your environment:

[2020-04-07 05:40] jiehuang001 opened #339 "two minor bugs to follow the instructions"
1.   On https://nextstrain.org/docs/tutorials/tb, the example command “augur export” needs to be followed by “v2”, and then the “--output-tree” and “--output-meta” commands need to be replaced with a single “--output” command.

2.   On https://github.com/nextstrain/ncov/blob/master/DEV_DOCS.md，it says that “can be visualized by running auspice view --datasetDir auspice”. However, I need to add “/”

[2020-04-07 06:30] jameshadfield commented on #339
Hi jie -- `auspice view --datasetDir auspice` works fine for me (MacOS) -- what OS are you using?

[2020-04-07 07:20] acx01b commented on #332
In https://github.com/nextstrain/ncov/blob/master/config/exclude.txt the cruise sequences are excluded, I don't know if trevor explained why

[2020-04-07 08:00] acx01b commented on #279
The number of iceland, uk, usa, australia (those highly using illumina multiplexing) decreased by about 150 each in the last 36h, copying what emma answered about this :

We are hoping to supplement this very soon with some other features, so that more sequences are visible on other views - we are working on implementing this now.

[2020-04-07 10:10] gwangjinkim commented on #315
@brianpardy Thank you so much! And sorry that I answer right now.
A nwer Version of snakemake did it. I am now stucking on some other error but will try to find a way first.
Thank you so much that you answered quickly!

[2020-04-07 10:10] #315 closed

[2020-04-07 12:51] jiehuang001 commented on #339
Hi, I use Ubuntu coming with Windows 10.

Best regards,
Jie

[2020-04-07 13:47] emmahodcroft commented on #339
Hm. I am also using Ubuntu Windows 10, for me running without the slash works:
`auspice view --datasetDir auspice`

However, running with the slash seems to work too:
`auspice view --datasetDir auspice/`

[2020-04-07 16:31] emmahodcroft commented on #339
@jiehuang001 Thanks so much for your detailed information about how to get the `export` commands for the tutorials working! We have just pushed a change for this onto the site, so hopefully it will be showing up correctly soon!
We really appreciate your help knowing what to change!

I'll leave this issue open for the moment in case there's more to be said about the second point you raise, but hope

[2020-04-07 18:03] acx01b commented on #330
At least in my basic script the bug seems gone, probably related with that many identical sequences (from australia,uk,usa,iceland,netherlands..) have been removed.

[2020-04-07 19:02] tsibley commented on #335
@JosephLee815 A new version of Augur was just released, and now the latest Docker image, `nextstrain/base:build-20200407T184050Z`, has the fixes you need.

[2020-04-08 01:49] JosephLee815 commented on #335
@tsibley Thank you very much for your help. We will immediately try the new version.

[2020-04-08 02:35] jiehuang001 opened #340 "4 Philosophical and Scientific questions on nextStrain/ncov"
Hi, there:

Deeply appreciate again that you guys have developed a tremendously useful and powerful tool!

I now got a few Philosophical and Scientific questions. Hope some of you can kindly shed some light.

1. Researchers around the world has used coronavirus Phylogenic analyses results to publish many papers, many of them with just <100 samples. I am very surprised that NextStrain did not seem

[2020-04-08 03:00] jameshadfield commented on #340
Hi Jie, thanks for reaching out :)

(1) We believe that distributing continually up-to-date analysis through nextstrain.org, using data shared through GISAID, is a valuable and important contribution to scientific understanding. We do not see this as a replacement for formal publications. Posts on virological.org are similar in this respect.

(2) Our ncov analysis pipeline (contained in this repo)

[2020-04-08 03:00] #340 closed

[2020-04-08 12:13] halilozercan opened #341 "[BUG] MissingInputException"
**Current Behavior**
- First clone the repository to a new directory `ncov`
- Copy `/example_data/sequences.fasta` to `/data`
- Run `nextstrain build ncov/`

[code]

**Expected behavior**
Build should complete successfully.

**Possible solution**
3 days ago when I first cloned this repository, there was no problem and I checked Snakefile and recently there was a cleanup of input files.

**Your env

[2020-04-08 12:41] brianpardy commented on #341
Hi @halilozercan, it looks like this appeared with https://github.com/nextstrain/ncov/commit/c0f773807f051f15165730421802026da25358d8 , specifically with the change at the top of the Snakefile from
`REGIONS = ["_africa", "_asia", "_europe", "_north-america", "_oceania", "_south-america", ""]`
to
`REGIONS = ["_africa", "_asia", "_europe", "_north-america", "_oceania", "_south-america", "_global"]`

[2020-04-08 12:45] halilozercan commented on #341
Thanks a lot @brianpardy , that did the trick :)

[2020-04-08 14:17] ajaybabu27 opened #343 "Duplicated sequence name MN908947 error"
I recently pulled the latest version of the repo and ran the sequences downloaded from gisaid. I am running into this following error during the iqtree step:

`(nextstrain) [kumara22@vanbah01-1 ncov]$ cat results/subsampled_alignment-delim.iqtree.log
IQ-TREE multicore version 1.6.12 for Linux 64-bit built Aug 15 2019
Developed by Bui Quang Minh, Nguyen Lam Tung, Olga Chernomor,
Heiko Schmidt, Domi

[2020-04-08 15:00] cassiawag commented on #343
Hi @ajaybabu27, what version of augur are you using? I got the same error until I updated to augur 6.4.3. You should be able to do this via: `pip install --upgrade nextstrain-augur`

[2020-04-08 17:06] emmahodcroft commented on #341
Dear both - thank you for spotting this! This was indeed an oversight from our recent migration to the regional builds. We've taken a slightly different route to fix, so it doesn't interfere with the Regional builds which are now generated as our regular runs, but should still allow you to run the 'base' build as before. @trvrb pushed this a few minutes ago - I hope it solves your problems, and so

[2020-04-08 17:06] #341 closed

[2020-04-08 17:32] emmahodcroft commented on #330
Ok, if it pops up again, please do shout and I'll tag someone else in who might have a better idea. But I don't want to call him in if we don't have an example :)
As a tip, you can link to a dated tree by putting the date: https://nextstrain.org/ncov/global/2020-04-08
(or sub 'global' with one of the regions) which means that it'll hopefully persist even after the current live build has moved on.

[2020-04-08 18:41] acx01b commented on #330
Tks there is one https://nextstrain.org/ncov/2020-04-02?c=gt-nuc_15324,20268&label=clade:A2a&m=div half-resolved two days later
 https://nextstrain.org/ncov/2020-04-04?c=gt-nuc_15324,20268&label=clade:A2a&m=div
but the worst one with the Iranian cluster becoming a subtree of a seemingly unrelated one is not archived.

[2020-04-08 18:47] ajaybabu27 commented on #343
@cassiawag, Yes that update solved the issue for me. Thanks !

[2020-04-08 18:47] #343 closed

[2020-04-08 19:05] gtauriello opened #345 "Some mutation data entries don't fit gene / protein sequences"
**Current Behavior**
In an effort to [map mutations from nextstrain onto protein structures](https://github.com/SWISS-MODEL/covid-19-Annotations-on-Structures/pull/24) (experimental and predicted), we observed a couple of mutation entries which seem off.
I list all observed cases below and explain it on a single case: in your ncov.json we can see the entry with "gisaid_epi_isl" == "EPI_ISL_419701"

[2020-04-08 19:24] brianpardy commented on #345
I can't speak to what is "correct" here, but I think what you are describing here is a result of back-mutations along the tree.  The EPI_ISL_419701 sequence that you noted is deep within the ORF8  L84S T28144C branch early in the phylogeny, and then this sequence bears a back-mutation/reversion ORF8 S84L C28144C.

Nucleotide and amino acid changes in nextstrain appear to be reported relative to ea

[2020-04-08 19:32] emmahodcroft commented on #345
I haven't checked all of the examples lists, but in position 28144, @brianpardy is correct! On this sequence (and some others) the virus seems to (from reconstruction) have a 'T' at this position ancestrally, but has then mutated along one clade to have a 'C' - then in some sequences mutated back to being a 'T':
![image](https://user-images.githubusercontent.com/14290674/78825224-e1222280-79df-11e

[2020-04-08 19:36] emmahodcroft commented on #330
Thank you for the great examples! Yes, unfortunately if a build is updated multiple times in the day, the earlier ones aren't archived.

@rneher Would you have insight into why this is happening? Is this a known problem, or something new we should make an issue about? Thanks!

[2020-04-08 22:28] gtauriello commented on #345
Thank you both very much for the detailed explanation and my apologies for wrongly classifying this as a bug. I still find it striking though that all those mutations, where the mutated residues didn't match the reference, ended up being back-mutations.

Anyways, I shall remove the "BUG" from the title and close this issue. Thanks again and keep up the great work you are doing.

[2020-04-08 22:28] #345 closed

[2020-04-09 03:59] JosephLee815 commented on #335
@tsibley Sorry to bother you guys again. Here we have a new problem after updating the latest version of Augur.
<img width="935" alt="WechatIMG2668" src="https://user-images.githubusercontent.com/25347700/78856476-77465f00-7a59-11ea-948a-be3fc88df915.png">
I'm not sure if this weights file was generated halfway in the process. Or is it something we should update somewhere with nextstrain?

[2020-04-09 04:20] jameshadfield commented on #335
Hi @JosephLee815 -- this may be a problem on our side (too many missing values in `weights.tsv`). In the meantime, you should be able to add in those missing demes to the TSV file yourself & give them a weight of `1.0` to proceed.

[2020-04-09 05:50] hringbauer commented on #331
Great, the newer versions don't have lowercase "human" anymore, it must have been fixed by someone already!

[2020-04-09 06:14] hringbauer opened #346 "[BUG] Mutation at pos 13401 is likely erroneous"
**Current Behavior**
When screening SNPs that are "incompatible" with others in my own alignment, position 13401 (to Wuhan-Hu-1) popped up a very clear red flag. When checking on nextstrain's tree, there is obviously also something faulty, see [nextstrain](https://nextstrain.org/ncov/global?c=gt-ORF1a_4379&gmax=14037&gmin=13134&l=radial). This mutation pops up on multiple branches; intriguingly al

[2020-04-09 06:16] #331 closed

[2020-04-09 06:41] emmahodcroft commented on #346
Thank you for reporting this! We will definitely look into it

[2020-04-09 06:55] emmahodcroft commented on #345
@gtauriello I'm so glad this was helpful! It's not too unexpected that those that are back-mutations are also those who 'mismatch' the reference (or, I suppose, they *do* match the reference, thus the 'mutation' seems backwards), as our reference is from the beginning of the epidemic, so close to the root. However, in general this may not *always* be the case (for example, in Enterovirus D68 runs,

[2020-04-09 08:18] tonbar opened #347 "[BUG] Snakefile for ncov throwing import error at partition_sequences stage"
**Current Behavior**
When running the Snakefile with the command `snakemake -p --cores 1`, I receive the following error:
[code]

**Expected behavior**
Successful completion of Snakemake process.

**How to reproduce**
Steps to reproduce the current behavior:
1.   Clone master branch of nextstrain/ncov (0790d442dc1700d56fd3c7f940f2c2877c8be1bd)
2.   Run snakemake -p --cores 1 in .../ncov/ directory

[2020-04-09 16:50] hringbauer commented on #346
Great! [pos 15323](https://nextstrain.org/ncov/global?branchLabel=aa&c=gt-nuc_15324&l=unrooted&m=div) (I use python indexing in my alignment, so always add 1 for nextstrain Position) has some Belgium outliers over multiple clades too. I would hope it is some really cool biology, but I guess more likely these are sequencing artifacts. :)

[2020-04-09 21:34] tsibley commented on #347
@tonbar I believe you'll need to upgrade to at least Augur 6.4.3. The latest version is 7.0.2.

[2020-04-09 21:34] #347 closed

[2020-04-10 06:26] tomoyuki-nezu commented on #332
@acx01b Thank you for information. Then close here and discuss with https://github.com/nextstrain/ncov/issues/279 if necessary.

[2020-04-10 06:26] #332 closed

[2020-04-10 09:27] Maijin opened #350 "[BUG] Selected continent is still shown in legend"
**Current Behavior**
Continent is shown in the legend when a specific continent dataset is selected

**Expected behavior**
Continent isn't shown in the legend when a speicfic continent dataset is selected

**How to reproduce**
Steps to reproduce the current behavior:
1. Open https://nextstrain.org/ncov/europe
2. Observe Europe is shown in the legend

<img width="85" alt="image" src="https://user-i

[2020-04-10 09:29] Maijin opened #351 "[BUG] Croatia isn't shown as part of Europe"
**Current Behavior**
Croatia isn't shown as part of Europe

**Expected behavior**
Croatia is shown as part of Europe

**How to reproduce**
Steps to reproduce the current behavior:
1. Open https://nextstrain.org/ncov/europe
2. Observe Croatia is in a shade of gray
<img width="84" alt="image" src="https://user-images.githubusercontent.com/1408600/78980571-70355480-7b1e-11ea-8403-254d57ab96a1.png">

[2020-04-10 10:04] jameshadfield commented on #350
Hi @Maijin -- while the European build (https://nextstrain.org/ncov/europe) is focused on samples from Europe, it's important to provide context of closely linked genomes to avoid misinterpretation. This is why we include samples from other regions (and we try to be smart about the non-European samples we include).

[2020-04-10 10:07] jameshadfield commented on #351
Thanks @Maijin -- this does seem to be a bug. Note that we don't currently have any genomes from Croatia, rather we have an Icelandic sample (Iceland/318/2020) with travel history to Croatia which seems to be causing this.

[2020-04-10 10:12] Maijin commented on #350
Ok it just look weird to have countries of europe + europe in the same legend see -

<img width="344" alt="image" src="https://user-images.githubusercontent.com/1408600/78983371-6282cd80-7b24-11ea-918a-be2f35371c4e.png">

[2020-04-10 10:40] Maijin commented on #350
@jameshadfield the issue isn't to have africa etc in the legend but to have both countries of europe AND "Europe" in the same legend see -

![image](https://user-images.githubusercontent.com/1408600/78985201-76c8c980-7b28-11ea-97df-0135cc7af0ea.png)

[2020-04-10 10:52] jameshadfield commented on #350
Ahh - I see. This may be a bug then

[2020-04-10 12:23] emmahodcroft commented on #350
I had a brief look into this and it seems like it might be caused by those with travel exposure to Europe, but who were sampled in non-European countries.

(@jameshadfield  in `results/metadata_adjusted_Europe.tsv` search for `Europe\tEurope`)

This may indicate we need to modify our 'travel history' scripts to handle this properly.

[2020-04-10 12:25] emmahodcroft commented on #350
Alternatively, something in one of our 'colour cleanup' scripts isn't cleaning up exactly as it should!

[2020-04-11 00:09] acx01b commented on #265
@MoiraZuber Hi, can you check the 16 February Kuwait sequence ? There are several hints that it is instead from 16 March  https://github.com/nextstrain/ncov/commit/2873976234ebab934df9b04a525fbd781d03df0b
https://www.kuna.net.kw/ArticleDetails.aspx?id=2860593&language=en

[2020-04-11 04:07] jiehuang001 commented on #340
Hi, guys:

Thank you so much again for replying to my previous questions. I am still striving to figure out how to read some key information correctly from nextstrain. It would be really nice if you guys have a tutorial on how to read the plot, with a FAQ to address questions like the following:

1.   When I open the homepage and click the “Clock” button, the Y axis label says “mutations”. The dot

[2020-04-11 08:21] emmahodcroft commented on #265
Hi @acx01b,  thanks for giving us some feedback! First, can you please open a new issue if you have a new question? This makes it much easier for us to keep track of the issues :)

Regarding your question about the date, we use the dates as they are provided to us by the submitter. Further, we do have another two sequences from Kuwait, `Kuwait/KU005/2020` and `Kuwait/KU001/2020`, which were sample

[2020-04-11 11:15] emmahodcroft commented on #265
Hi @acx01b. I wanted to let you know that we got in touch with the authors and the correct date is indeed 16 March! They will update this on GISAID and we'll correct in our data as well.
Thank you again for your attentiveness, and for catching this mistake!

[2020-04-11 15:36] craic commented on #53
I requested access yesterday and they enabled the download feature overnight. Just send them a polite note on their contact form describing why you need to access all the data. In my case I need it to validate a diagnostic against the latest isolates.

When you get the data you will need to do some basic cleanup. Some of the header lines have spaces in the ID e.g. 'Hong Kong' rather than Hong_Kong

[2020-04-11 15:54] craic commented on #53
Here is my cleanup script as a gist

https://gist.github.com/craic/790e57e3ea140797d66a9dccaaa098a2

[2020-04-11 16:05] woson2020 commented on #53
Thank very much for your reply. And I have wrote a python script of selenium package(Web automation simulation click) to download all fasta file from GISAID last week.

------------------

Zhuoxing Wu
PhD Candidate,Sun Yat-sen University&nbsp;
Address:No.74,Zhong Shan 2nd Road,Yuexiu District,Guangzhou,Guangdong Province,510080,P.R.China
Email:wuzhx25@mail2.sysu.edu.cn

&nbsp;
&nbsp;
&nbsp;
------

[2020-04-11 16:09] emmahodcroft commented on #53
Hi all, just a reminder that scrapers are harmful to the functioning of GISAID. We and they ask kindly that you do not use them.

[2020-04-12 07:13] abitrolly commented on #53
@emmahodcroft I can fix the problem with downloads and data quality if I understand what's going on on GISAID side, but I can not reach them. Do you have any contact with them?

[2020-04-12 09:23] emmahodcroft commented on #53
No, I'm afraid my own lines of contact are through the same portals that are available publicly.

[2020-04-12 12:38] cornhundred opened #355 "[BUG] Unable to reproduce results in running.md"
**Current Behavior**
I downloaded the sequencing data for SARS-CoV-2 from GISAID and I'm trying to use the metadata from this repo to reproduce the results (I was able to reproduce the results of the Zika tutorial). I made a directory called data with the fasta file and the metadata file and tried running

[code]

but I'm getting the error

[code]

**Expected behavior**
Reproduce the results descr

[2020-04-12 13:47] cornhundred commented on #355
I tried cloning this repo and running `snakemake -p -s Snakefile --cores 2 auspice/ncov.json`, but
I'm getting an error that appears to be related to not having access to aws files

[code]

I'm looking into how to disable this copying and just use my local fasta file (obtained from GISAID).

[2020-04-12 14:13] cornhundred commented on #355
I tried filtering for only sequences that appeared in the metadata tsv and am now getting the following error.

[code]

[2020-04-12 15:08] thaodoanng opened #356 "[Language translation request]"
**What language would you like the situation reports to be translated into?**

I would love to translate the report into Vietnamese

**Are you available to help translate?** (Either way is alright, just let us know! :)

Yes, I would love to help out with the translation as I’m a native Vietnamese speaker and I’ve studying in the States for 4 years so that would help me to fluently translate the re

[2020-04-12 18:19] brianpardy commented on #355
Hi @cornhundred, it's not clear from your last post what errors occurred as none seem to appear in the log. But for your prior post with the indication of a duplicate key "hCoV-19/Hong", it looks like you are using the GISAID sequences download file and have not normalized the sequence names from the format provided by GISAID to the format expected by the nextstrain/ncov pipeline. Specifically wha

[2020-04-12 18:22] cornhundred commented on #355
Thanks for your help @brianpardy! I'll let you know if I can get that working.

[2020-04-12 18:53] cornhundred commented on #355
Update: I reset the repo, ran the

[code]

command and then re-ran the

[code]

command but got the following error

[code]
It sounds like there might have been an error with `mafft`.

[2020-04-12 19:02] cornhundred commented on #355
Update: Sorry for the messy issue. This time I ran snakemate clean first and then got the following error

[code]

[2020-04-12 19:04] brianpardy commented on #355
Is `mafft` installed/accessible by the user running snakemake? I had a few problems with old versions, but it is working for me now with:

[code]

I don't recall that truncated looking error message though. You may also need to confirm the version of nextstrain/augur you are running, just in case.

[code]

It doesn't seem like error messages are making it to your screen so you may also have to dig

[2020-04-12 19:07] cornhundred commented on #355
Hi @brianpardy, I'm seeing

[code]

So I guess mafft is not installed. I'll look into how to install it

[code]

[2020-04-12 19:13] brianpardy commented on #355
Perfect!  If you're also missing iqtree you will run into a similar error once you hit the tree step, so make sure that is installed as well.

[code]

I'm using 2.0-rc2 but the stable 1.6.12 release works just fine too.

[2020-04-12 19:25] cornhundred commented on #355
I was missing that (ran `conda install -c bioconda iqtree`), we'll see if installing it mid-run works :)

[2020-04-12 21:14] cassiawag commented on #356
Hello @thaodoanng, we would love to have translations in Vietnamese! Thank you so much for offering.

What's your professional background and do you have anyone else who can help with the translation? Standard rules for translation are that each translation must be seen by at least two people, and one of those people should have a background in phylogenetics.

[2020-04-13 05:46] #275 closed

[2020-04-13 11:31] thaodoanng commented on #356
I'm a second year nursing student in Vietnam and I do have peers with master degrees that can help with translation. For the background in phylogenetics, does it require both of the peers to be in those exact same two major related to phylogenetics? Both of my desired peers are studying for Biology MD and their focus are on Virology and Microbiology. Thank you for answering my request!

[2020-04-13 12:39] cornhundred commented on #355
thanks @brianpardy! those instructions worked. It took ~10 hours to run on two cores of laptop.

[2020-04-13 12:39] #355 closed

[2020-04-13 12:52] cornhundred opened #357 "Question about mutations in mut_nt.json and mut_aa.json"
Are the mutations listed for each strain (e.g. nt_muts.json) the only mutations for that strain or are we to infer that it has the mutations inherited from it's clade (e.g. what's described with the branching of strains here: https://nextstrain.org/help/general/how-to-read-a-tree)? I'm just surprised that the mutations are so sparse.

I normally work with gene expression data and this is my first

[2020-04-13 13:30] cornhundred commented on #357
<img width="613" alt="Screen Shot 2020-04-13 at 9 26 59 AM" src="https://user-images.githubusercontent.com/8352840/79123909-2e4c1e80-7d69-11ea-9dce-61161b326628.png">

Here's quick attempt to visualize (low-res image heatmap image) with mutations as rows and strains as columns (with clade categories) showing sparseness.

[2020-04-13 14:46] emmahodcroft commented on #357
Hi @cornhundred , thanks for reaching out! Yes, the mutations listed are both the mutations for that node/tip, but also those the tip inherits from the internal nodes which lead to it (from root to tip). So, the tree should be 'traversed' to count up the total number mutations at the tip. I hope that is helpful!

However, it is worth keeping in mind that this virus is not very diverse yet, so the

[2020-04-13 15:34] cornhundred commented on #357
Thanks @emmahodcroft! So just to clarify, are the mutations in the `nt_muts.json`

[code]

are a comprehensive list of mutations for this node, such that I don't have to traverse the tree to add the inherited mutations?

[2020-04-13 15:35] emmahodcroft commented on #357
Ah, sorry - I wasn't clear in my answer. No, you *will* have to traverse the tree to get all the mutations. The ones at the tips/nodes are only the ones unique to that tip. The others that are shared with other tips will be listed on the internal nodes. So yes, you'll have to traverse the tree to get the full list. Sorry I wasn't clear enough the first time!

[2020-04-13 15:54] cornhundred commented on #357
@emmahodcroft thanks again. So, it sounds like I can parse the Newick tree and assemble all the aquired mutations for each strain. The docs also sound like the tree can be obtained from the Auspice JSON (https://nextstrain.org/docs/bioinformatics/data-formats).

Another quick question, I'm seeing ~6,000 strains from GISAID for COVID and Nextstrain has ~3,500 strains on Nextstrain, Are you all perf

[2020-04-13 16:03] #357 closed

[2020-04-13 16:07] emmahodcroft commented on #357
@cornhundred Glad this helped! Yes, you should be able to walk through the Auspice JSON. Alternatively, you can match up the tree output from `refine` with the `nt_muts.json`, and this'll get you the same results!

Yes, in our `global` build we are subsampling to 150 samples per division, per month, per year. So, that cuts our total number down. We are thinking about ways to have a completely 'ful

[2020-04-13 16:57] cornhundred commented on #357
Thanks @emmahodcroft.

One last mutation-related question about sharing. Later we might want to share a visualization (something like https://github.com/cornhundred/citibike-clustergrammer2) of this mutation data and be in compliance with the GISAID sharing policy. So we're thinking we might not show actual mutations across strains and instead just rename them or something. I know that your Nextst

[2020-04-13 19:12] acx01b commented on #346
@hringbauer  Belgium pop-ups also when looking at reversions of the 14408 Italian-European mutation https://nextstrain.org/ncov/global?c=gt-nuc_14408&l=radial

[2020-04-14 00:58] #336 closed

[2020-04-14 01:34] cassiawag commented on #356
Hi @thaodoanng, both translators do not need background in phylogenetics, but at least one definitely does. We actually may be able to produce Vietnamese translations shortly, via another mechanism. So let's hold off for now, but I'll reach out later this week to let you know.

[2020-04-14 13:48] TrentBrick opened #361 "[BUG] Tree Building Failed"
**Current Behavior**

I have run `nextstrain build ncov/` with no problems for a few iterations of the GISAID data. Today using the most up to date sequences, the code is failing with the following error:

[code]

I deleted the repo, re-cloned it and ran `nextstrain update` to ensure I had the most up to date version of the CLI. Running it all again (including the step to clean the GISAID download

[2020-04-14 13:56] emmahodcroft commented on #361
Hi Trent, Thanks for reaching out! Hopefully we can help. First, can you check you have IQTree installed? This is needed to run the command. It should be, but sometimes we discover later that it isn't! Just trying to run `iqtree` on the command-line should give you the answer.
If you don't have it, there are a couple different options to install it: http://www.iqtree.org/doc/Quickstart

Alternativ

[2020-04-14 14:09] TrentBrick commented on #361
Thanks for the speedy response! If I run `nextstrain shell` then iqtree runs without any problems.

Here is the output of that log file:  (I had to delete a lot of the sequences listed in the file to be able to post it here else it was too long).

`IQ-TREE multicore version 1.6.6 for Linux 64-bit built Jul  1 2018
Developed by Bui Quang Minh, Nguyen Lam Tung, Olga Chernomor,
Heiko Schmidt, Dominik

[2020-04-14 14:50] emmahodcroft commented on #361
Ahh, yes - IQTree is certainly there, but it's having a memory error, which was my second guess :)

I'm not sure why it's estimating your RAM per CPU at 0GB, this seems odd to me (and probably incorrect!). This may be related to running the CLI - I'm less familiar with this myself, so I'm afraid I can't advise on how best to change the memory settings so that it believes you have more than 0 RAM o

[2020-04-14 14:57] TrentBrick commented on #361
Thanks for the follow up too. If thats the problem I will try restarting my computer to clear the RAM and run it again (was running some other memory heavy things in parallel before). Will report back if that works. It is strange though because like I said I have run the pipeline with no issues twice before this.

Thanks again,
Trenton

[2020-04-14 16:26] tsibley commented on #361
Thanks for tagging me in @emmahodcroft. :-)

@TrentBrick From the first logs you posted, it looks like Linux's out-of-memory (OOM) killer in the container is killing the `iqtree` process when memory is overcommitted:

[code]

When a process is killed by a signal, the shell exits with 128+_n_ where _n_ is the signal number. 137 - 128 = 9, which is SIGKILL (see output of `kill -l`). This matches the

[2020-04-14 19:50] mstefaniak opened #363 "[Language translation request] Polish"
**What language would you like the situation reports to be translated into?**
Polish

**Are you available to help translate?** (Either way is alright, just let us know! :)
Yes

[2020-04-14 19:54] #363 closed

[2020-04-14 19:55] mstefaniak commented on #363
I'm sorry. I was thinking about translating auspice front-end part.

[2020-04-14 20:48] cassiawag commented on #363
That would be fantastic! Here's the guide on how to do so: https://github.com/nextstrain/auspice/blob/master/DEV_DOCS.md#contributing-to-internationalization-and-localization-i18nl18n

[2020-04-15 08:46] arpoe opened #364 "non-subsampled .json output on nextstrain.org"
I have been using the nextstrain.org global output (.json) for another project. This approach is now very limited due to the subsampling.
I understand that for visualisation this is the way to go, but would it be possible to generate the full output as a .json anyway?
This would not also provide the data I need for my project, but also allow others to visuallise the trees with custom subsampling.

[2020-04-15 08:55] emmahodcroft commented on #364
Hi @arpoe , thanks for reaching out! We are currently thinking about some ways to support this. We will try to update everyone if we find a way to go forward with this kind of idea!

[2020-04-15 09:01] arpoe commented on #364
Thank you very much! I am looking forward to it!
Your decision to subsample coincided with the moment that the mutations just got enough numbers for this project so that the results improved a lot and we started wrapping up ;-)
Please keep me posted, because as you can imagine, I am eager to through our findings out there.

[2020-04-15 09:09] emmahodcroft commented on #364
As a short term alternative, if you have access to a cluster, I'd highly recommend running there! If you set 16 cores for the main, not-subsampled build, you can multi-thread IQTree, which will speed things up (it'll still take hours, unfortunately, but hopefully <5). Pass through the number of cores you are able to use with `--set-threads tree=16` (or whatever the number is) to overrule our defau

[2020-04-15 09:12] arpoe commented on #364
Thank you, this is indeed my backup plan ;-)
Currently it is not possible, because my GISAID login data seem to have been deleted from their system.... but I am also working on fixing that.

[2020-04-15 13:51] TrentBrick commented on #361
Thanks for the reply @tsibley here is the output and it looks like you were right:

----------------

Testing your setup…

# docker is supported
✔ yes: docker is installed
✔ yes: docker run works
⚑ warning: containers have access to >2 GiB of memory

  Containers appear to be limited to 1.9 GiB of memory. This
  may not be enough for some Nextstrain builds.  On Windows or
  a Mac, you can increase

[2020-04-15 17:45] tsibley commented on #361
@TrentBrick Thanks! I expect that increasing the memory available to Docker containers on your computer will let you run the build successfully. I unfortunately can't tell you how much to increase as I'm not sure at the moment what the overall maximum memory consumption of the build is, but some trial and error should it.

I'm going to close this issue, but please feel free to chime back in to let

[2020-04-15 17:45] #361 closed

[2020-04-16 04:29] jiehuang001 opened #365 "3 minor features"
Hi, there:

I have 3 feature requests. Hopefully you guys echo some of these.

1. It would be nice to have an "export" button, to export the aligned sequences. I understand that the web version might not be able to do that, since the GISAID data has access control. But hopefully users could have such a button when they install nextStrain locally with their own data.

2. At the top, under “showing

[2020-04-16 13:58] emmahodcroft commented on #365
Dear Jie,
I hope I can help you out quickly with some of these.
1. Online we cannot supply any sequencing data as per the GISAID agreement, as you understand. If you are running locally, you can always see a copy of the aligned sequences by looking for a file in the `results` folder called `aligned.fasta` (or `masked.fasta` if you prefer a masked version).
2. The total number of mutations across a