[2021-10-14 08:19] AMPByrne commented on #759
Thanks for getting back to me so quickly.

You response got me thinking, I was trying to run the install from one of my mounted drives, so moved the ncov directory to my hom directory and re-ran the command and it got past that error and finished successfully.

Just to close the loop though I ran that command and here is the output:
`TARGET                     SOURCE

[2021-10-15 07:06] rajib100bd opened #760 "Error occurring during preparing data downloaded from GISAID database using "sanitize_sequences.py""
Dear nextstrain team,
I am trying to make a phylogenetic tree for my own sequences keeping 5000 randomly selected global sequences as contextual data. I was following the instruction on the page and was trying to prepare data for subsampling using "sanitize_sequence.py"

I was using the following command
`python3 scripts/sanitize_sequences.py --sequences data/sequences_fasta_2021_10_14.tar.xz --st

[2021-10-18 21:06] #759 closed, assigned to nobody

[2021-10-19 15:49] dezordi opened #761 "ERROR: None of the possible database id columns (['gisaid_epi_isl', 'genbank_accession'])"
**Current Behavior**
I followed the installation tutorial available on: https://docs.nextstrain.org/projects/ncov/en/latest/analysis/setup.html using the conda environment option, and the preparation data available on: https://docs.nextstrain.org/projects/ncov/en/latest/analysis/data-prep.html#curate-data-from-the-full-gisaid-database.

I performed the installation and tests yesterday (2021-10-18)

[2021-10-19 17:15] huddlej opened #762 "Set recommended minimum branch length for IQ-TREE"
## Context
As part of [a separate issue related to IQ-TREE and this workflow](https://github.com/iqtree/iqtree2/issues/40), we learned that the minimum branch length for IQ-TREE with SARS-CoV-2 data should be much lower—`-blmin 0.0000000000001` is suggested—than its default value.

Rob Lanfear says:

## Description
We should modify the default tree args in `defaults/parameters.yaml` to read:

[cod

[2021-10-19 22:27] #760 closed

[2021-10-19 23:24] #761 closed, assigned to huddlej

[2021-10-20 03:35] jameshadfield commented on #762
This needs testing - I ran this on a dataset today using tree-builder-args: "'-ninit 100 -n 40 -blmin 0.0000000000001'" and got
[code]

[2021-10-20 07:56] YuWang07 opened #765 "filter step file including sequence record by include.txt"
**Current Behavior**
One filter step, I have a target record meet all the filter criteria. But still dropped by filter step, I try to put it in include.txt file. But still not work.
**Expected behavior**
I expect the target sequence pass the filter and exist in final tree.

**Additional context**
Are there any tutorial for add own sample to the database and run the pipeline?

[2021-10-23 06:03] sacundim opened #766 "Error in sanitize_metadata.py when running the multiple inputs example: None of the possible database id columns (['Accession ID', 'gisaid_epi_isl', 'genbank_accession']) were found in the metadata's columns ('strain', 'date', 'region', 'country', 'division')"
**Current Behavior**

I tried to run [the multiple inputs example](https://github.com/nextstrain/ncov/blob/d08de36b5df5fba4d16d3557f93a5127397ab347/docs/src/reference/multiple_inputs.md) using `nextstrain-cli` (= Docker based), with these commands:

[code]

...and I get this during the sanitize_metadata script:

[code]

**Expected behavior**

Following the steps in the documentation example should

[2021-10-26 20:32] #765 closed, assigned to nobody

[2021-10-28 18:10] jacaravas opened #769 "Metadata/sequence name mismatch with NCBI sequence when starting from "aligned" data"
When metadata is combined, the default behavior appears to be removing the "SARS-CoV-2/" prefix from NCBI sequence names in the "strain" column.  This can be seen in the results/combined_metadata.tsv file.  If the sequences in the "inputs" section of builds.yaml are started from the "aligned" state, the same re-naming operation is not performed on the fasta file.  This causes a mismatch between me

[2021-10-28 21:45] #766 closed, assigned to huddlej

[2021-11-05 19:52] #769 closed

[2021-11-05 20:24] jacaravas opened #774 "SSL error when attempting to use data.nextstrain.org aligned files (north-america)"
When attempting to include a remote input in the builds.yaml file, an SSL certificate error occurs.

It is not clear to me whether the error is due to a code bug, error in my builds.yaml file, configuration error on my end, an actual SSL certificate, firewall issue, etc...  Can you verify that this is working as intended and give some troubleshooting tips if it is?

Builds.yaml inputs block (simpl

[2021-11-05 23:11] tsibley commented on #774
Thanks for the report. I can confirm that the certificates for https://data.nextstrain.org are ok.

There's two things I suspect to be the issue. Either:

1. An out-of-date local CA trust store. Since you're using Conda, it's likely the CA trust store in use is from Conda packages instead of your base OS's trust store. Could you try running `conda list -n nextstrain | grep certif` and reporting ba

[2021-11-06 11:44] rneher commented on #762
My suggestion here would be to set `blmin` to `0.003/alignment_length`, which is about `0.000001`. That should have less effect on underflows etc, but should fix the problem because the largest number of consecutive 0-length branches is like less than 100.

[2021-11-08 13:59] jacaravas commented on #774
Good morning @tsibley,
Thank you for the response.  The results of the grep you suggested are:
ca-certificates           2021.10.8            ha878542_0    conda-forge
certifi                   2021.10.8        py39hf3d152e_1    conda-forge

[2021-11-08 17:35] tsibley commented on #774
@jacaravas Well those are certainly new enough, so it's likely not situation 1.

Can you run

    openssl s_client -connect data.nextstrain.org:443 < /dev/null

and report the output?

[2021-11-08 17:40] jacaravas commented on #774
@tsibley After a long pause, I got:

`CONNECTED(00000003)
140391746942864:error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol:s23_clnt.c:794:
---
no peer certificate available
---
No client certificate CA names sent
---
SSL handshake has read 7 bytes and written 289 bytes
---
New, (NONE), Cipher is (NONE)
Secure Renegotiation IS NOT supported
Compression: NONE
Expansion: NONE
No AL

[2021-11-08 17:46] jacaravas commented on #774
@tsibley I just tried the same command on a different machine and got a different response.  This may be a machine config issue.

`CONNECTED(00000003)
depth=1 C = US, ST = Georgia, L = Atlanta, O = Centers for Disease Control and Prevention, OU = OCISO, CN = CDC PaloAlto, emailAddress = fwteam@cdc.gov
verify error:num=19:self signed certificate in certificate chain
verify return:1
depth=1 C = US,

[2021-11-08 17:52] tsibley commented on #774
@jacaravas Thank you for troubleshooting. Yes, this is a machine/network configuration issue. Your second response shows that your network operations team at CDC is MITMing connections (ostensibly for security). Note that the certificate reported is:

[code]

`s:` means "subject" and `i:` means "issuer". The real certificate is:

[code]

You'll need to contact the network team (fwteam@cdc.gov is l

[2021-11-08 17:52] #774 closed

[2021-11-08 17:56] jacaravas commented on #774
@tsibley Thank you very much for your help!

[2021-11-08 20:22] jacaravas commented on #774
Updating with resolution if anyone else encounters this error.
Non-standard certs needed to be specified in the environment with

`export REQUESTS_CA_BUNDLE=/path/to/converted/certificate.pem`

See:
https://docs.conda.io/projects/conda/en/latest/user-guide/configuration/non-standard-certs.html

[2021-11-11 06:20] jameshadfield opened #781 "Remove priorities from regional builds"
Placeholder issue to remind me to do this / write up a more thorough issue

**Context**
How would this feature help you? What would it enable you to do?

**Description**
A clear and concise description of what you want to happen

**Examples**

**Possible solution**
(Optional)

[2021-11-11 09:37] rneher commented on #781
https://github.com/nextstrain/ncov/pull/777

[2021-11-11 20:18] #781 closed

[2021-11-12 19:38] huddlej commented on #762
FWIW, I stumbled on [Rob's analysis that led him to suggest this very small minimum branch length](https://github.com/roblanf/sarscov2phylo/blob/master/tree_estimation2.md#iteration-13). His context (analyzing 40,000+ sequences) and Nextstrain's (analyzing ~4,000 sequences) are pretty different. We might have higher priority issues to address right now than marginally optimizing the tree likelihoo

[2021-11-15 21:05] danrlu commented on #708
With this [change](https://github.com/nextstrain/ncov/commit/3544dfd7df44697e231582bd96d3045fabc295c0), we were able to fully surface it [as a parameter](https://github.com/chanzuckerberg/aspen/blob/01cff58f022d1fa3f507305fd2ff3fbea1fbdc8b/src/backend/aspen/workflows/nextstrain_run/patches/crowding_penalty.patch) and set it in our [configs](https://github.com/chanzuckerberg/aspen/blob/01cff58f022d

[2021-11-17 20:48] corneliusroemer opened #787 "Surface insertion/frameshifts in SC2 builds"

[2021-11-20 03:34] jameshadfield opened #788 "Timestamped builds should represent the day the build was launched"
**Current Behavior**
`rule dated_json` produces timestamped build assets by adding the YYYY-MM-DD date to the files. Because this date is generated each time the rule runs, it can produce different dates if the build starts on one day and finishes on the next.

**Expected behavior**
The same date should be used for the entire pipeline, and this should be the day it was launched.

**How to reproduc

[2021-11-22 22:55] tsibley commented on #788
@jameshadfield Are you sure that's the right run / the right logs? If I look at the logs or inspect the file list of the workdir archive, I only see files dated `2021-11-19`.

Additionally, I don't see how the code responsible could generate two different dates, since the `expand()`s are processed first and `get_todays_date()` is called at that point:

https://github.com/nextstrain/ncov/blob/49ac7

[2021-11-23 17:58] huddlej opened #789 "Build names do not allow "." characters"
**Current Behavior**
Users who want to create a build for a specific Pango lineage with a build name like "B.1.1.7" will get an obscure validation error from Snakemake because the build config schema (and the workflow's wildcard constraints) do not support "." characters.

**Expected behavior**
Users should definitely be able to define builds named like "B.1.1.7" especially since build outputs are

[2021-11-23 20:21] jameshadfield commented on #788
Here's one example from those logs:
[code]

[2021-11-24 00:25] tsibley commented on #788
Ah, ok. It turns out that CloudWatch's filter/search returns nothing when I enter `2021-11-20` but finds lines when I enter `"2021-11-20"`.

[2021-11-24 17:19] tsibley commented on #788
Simpler than using a PersistentDict would be to define the date of the build in the environment or config before launching.

[2021-11-24 17:55] emmahodcroft commented on #788
FYI - I think this has caused builds to fail on Monday & Tuesday this week - at least that's what I surmise from the error messages. See #ncov-gisaid-updates in the slack. So this might be a more common problem than thought.

[2021-11-24 20:02] joverlee521 commented on #788
@tsibley Using `envvars` makes the environment variable required for all executions, but the build date is not required for the preprocess jobs which use the `upload` rule within `export_for_nextstrain.smk`. I think it would be confusing to require an environment variable that doesn't get used.

We can add the build date to the config that that gets added in the GitHub rebuild workflows.

[2021-11-24 21:42] #788 closed

[2021-11-25 06:49] huddlej commented on #753
This was mostly resolved by #767. How to handle the "different inputs" tests should be a separate issue.

[2021-11-25 06:49] #753 closed

[2021-11-25 06:52] #627 closed

[2021-11-25 06:55] huddlej commented on #390
This is now documented better in [the data prep guide](https://github.com/nextstrain/ncov/blob/ecded90fd3af632ca9c73c79aaac762022a15eca/docs/src/analysis/data-prep.md).

[2021-11-25 06:55] #390 closed

[2021-11-25 07:00] huddlej commented on #557
This was resolved by #593 for Conda users, but broadly supporting Pangolin annotations remains [an open issue for the Nextstrain Docker image](https://github.com/nextstrain/docker-base/issues/33).

[2021-11-25 07:00] #557 closed

[2021-11-29 00:23] fergsc opened #796 "Metadata: date_submitted"
Hi,

Within my meta data I have not been including "date_submitted". To date this was not a problem, nextstrain ran to completion and an auspice json was produced.

I just updated and found if date_submitted is not included an error is made in diagnostic.py on the lines
[code]
I have changed these back to the previous implementation and things look to be working fine.
If this field is needed I wil

[2021-11-29 18:38] stevin-wilson opened #797 "Example analysis stuck at "Downloading and installing remote packages.""
I tried installing and running the SARS-CoV-2 Workflow as described in [https://docs.nextstrain.org/projects/ncov/en/latest/analysis/setup.html](https://docs.nextstrain.org/projects/ncov/en/latest/analysis/setup.html).

On running `nextstrain check-setup --set-default`, the following output was received

`Setting default environment to native.`

However, the program seems to be stuck at the `Downl

[2021-11-30 08:20] ytye2010 commented on #399
the same question for the limitation of 10,000 to attain the acknowledgement table. May I ask how do you sort this problem? @TrentBrick

[2021-11-30 09:26] Koen-vdl commented on #797
I experience the same issue after updating to the latest version of the workflow.
Tried removing and reinstalling the environment with no success.
Tried downloading and installing remote packages listed in `workflow/envs/nextstrain.yaml`  manually as this is where the pipeline breaks.
`conda install augur=13.0.0` and `conda install pangolin=2.3.8 `both can't be solved.

[2021-11-30 14:34] stevin-wilson commented on #797
Thank you, @Koen-vdl. The workflow works as expected after installing `epiweeks=2.1.2` and excluding the `--use-conda` argument.

[2021-11-30 14:34] #797 closed

[2021-12-01 14:53] suskraem opened #798 "Fasta files appear to have different lengths when using get_distance_to_focal_set.py"
Hello nextstrain developers,

**Current Behavior**
I am trying to run the python script get_distance_to_focal_set.py as a standalone to obtain distances between a focal set and a global msa. The calculate_snp_matrix function gives the "fasta files appear to have different length" error. Both the ref and focal alignment fasta files are linearized, aligned and have identical length when checking by

[2021-12-01 15:16] emontag47 commented on #463
Hi Nexstrain Team,

I hope you’re doing well. I was wondering if I could get this bug assigned to me, assuming it is still an open issue. My plan for completing this bug is close to the suggestion under possible solutions. I would check the user input and ensure any focus keys used are supported per the documentation of the tool. If the key is not supported, I plan to return an error message that

[2021-12-01 15:17] emontag47 commented on #657
Hey Nextstrain Team,

I was wondering if you all could assign this issue to me. My approach would be similar to the possible solution. I would define a new function that takes in the config’s inputs and checks each input. If any of them are invalid I plan to return an error message that tells the user in detail what input is wrong and possibly how to fix it. I would also love any feedback on this

[2021-12-01 15:17] emontag47 commented on #700
Hi Nextstrain Team,

I was wondering if I could have this issue assigned to me. My approach would be similar to the possible solution. I would include the reference and metadata before creating the subsampled data to to the time tree. I would also love any feedback on this approach. Thank you!

[2021-12-01 19:08] huddlej opened #799 "Newlines in GISAID metadata for Omicron break sanitize metadata"
## Current Behavior

The sanitize metadata script tries to identify duplicate strain names and resolve these duplicates with GISAID and/or GenBank accession ids. Newlines in GISAID metadata (specifically in the "originating lab" field of the "Input data for Augur pipeline" metadata) cause originating labs to appear in the first column where strain names appear in valid records. This breaks an inte

[2021-12-02 14:28] #798 closed

[2021-12-02 17:57] danrlu commented on #708
Can this be assigned to Sidney and me? I'll get her help to update documentation after the change.

[2021-12-02 23:54] j23414 commented on #796
I hit the same `recent_sequences` error. Should we add `date_submitted` to the ["Required metadata" documentation](https://docs.nextstrain.org/projects/ncov/en/latest/analysis/data-prep.html#required-metadata)?

[2021-12-03 02:21] huddlej commented on #708
Yes! Thank you for picking this up, @danrlu and @sidneymbell!

[2021-12-03 16:30] emmahodcroft commented on #708
Thanks @danrlu & @sidneymbell ! I was working on this but Omicron has arrived and I won't be able to do anything more for the foreseeable future. Thanks!

[2021-12-03 22:20] #799 closed

[2021-12-03 23:48] danrlu commented on #708
@emmahodcroft do you have a branch that I can try incorporate what you have already done as well?

[2021-12-04 00:46] tsibley commented on #700
@emontag47 Assigned! Thanks for volunteering and please feel free to discuss/comment on things here.

[2021-12-04 00:48] tsibley commented on #657
@emontag47 Assigned! Thanks for volunteering and please feel free to discuss/comment on things here.

[2021-12-04 00:48] tsibley commented on #463
@emontag47 Assigned! Thanks for volunteering and please feel free to discuss/comment on things here.

[2021-12-04 12:41] emmahodcroft commented on #708
Hi @danrlu -- unfortunately not - I'd only gotten so far as sketching out on paper what needed to be added where, but not to coding it. Sorry!

[2021-12-04 15:24] danrlu commented on #708
@emmahodcroft no worries! Just want to check so what you already did doesn't go to waste ;)

[2021-12-05 17:30] fritzo opened #802 "Broken link to docs about open data"
**Current Behavior**
I would like to learn how to use Nextstrain's preprocessed open data.  While navigating your July 2021 blogpost ["Extension of SARS-CoV-2 data processing to incorporate Open Data through GenBank"](https://nextstrain.org/blog/2021-07-08-ncov-open-announcement), the [documentation link](https://github.com/nextstrain/ncov/blob/master/docs/remote_inputs.md) is broken.

**Expected

[2021-12-05 23:30] jameshadfield commented on #802
Apologies for that @fritzo - [here are those docs](https://docs.nextstrain.org/projects/ncov/en/latest/reference/remote_inputs.html). I'll update the blog post shortly.

P.S. We'll also be adding more thorough documentation for running nCoV builds over the coming weeks

[2021-12-06 00:14] fritzo commented on #802
Thanks @jameshadfield, I eventually found the docs and am successfully using your metadata.tsv.gz 😄

[2021-12-06 06:33] jameshadfield commented on #796
This was added ~11 days ago in https://github.com/nextstrain/ncov/commit/724ae1dbd8a11d67f29c6347f960259504504167 and we should wrap these inside a conditional which checks if `recent_sequences` is present, as we do for other steps in that script which rely on that metadata. I can get to this tomorrow.

[2021-12-06 20:43] #802 closed

[2021-12-08 20:04] corneliusroemer opened #806 "Omicron clade definition 21K/L"

[2021-12-08 20:11] rneher commented on #806
doesn't https://github.com/nextstrain/ncov/pull/804 address this?

[2021-12-08 20:13] corneliusroemer commented on #806
Yes yes, this is just an issue I made when adding it to the projects board

The issue is linked to the PR:
![image](https://user-images.githubusercontent.com/25161793/145277633-78664b37-7b2f-4652-acf0-8928187a9ee3.png)

[2021-12-08 20:40] huddlej opened #807 "Implement subsampling with strain lists instead of sequences and metadata"
**Context**
Subsampling currently extracts metadata and sequences for each subsample rule, requiring each corresponding augur filter call to loop through the full sequence and metadata.

**Description**
We can speed up subsampling by rewriting these rules to output only strain names (or strain names and metadata) and then adding a rule that emits the subsampled sequences and metadata based on thos

[2021-12-08 20:49] huddlej opened #808 "Outline revised documentation based on integration with docs.nextstrain.org"
### Context
Now that the "SARS-CoV-2 workflow" docs are implemented in RTD and integrated as a subproject of the main docs at docs.nextstrain.org, we can revise these SC2-specific docs to take advantage of their new context and avoid duplicating materials.

### Description
We need an outline of what the new documentation organization should be given that we expect users to complete the main Nextst

[2021-12-08 21:35] huddlej opened #809 "Prototype a linear version of our Snakemake workflow in WDL"
## Context
We would like to support a canonical Nextstrain workflow for SARS-CoV-2 analyses that can run on Terra, DNANexus, and other similar web-based, cloud-backed platforms. However, these platforms require workflows to be implemented in [the WDL language](https://github.com/openwdl/wdl) and do not support Snakemake (the language we use for our current ncov workflow).

We can’t liftover our cu

[2021-12-09 09:56] #806 closed

[2021-12-09 21:03] huddlej opened #810 "Move index/filter after subsampling"
**Context**
Indexing and filtering are slow and unnecessary for most of the workflow to run.

**Description**
We should move the index/filter steps after the subsampling step so logic order will be:

 - subsample
 - align
 - mask
 - filter
 - tree

[2021-12-09 21:07] huddlej opened #811 "Use latest Nextclade for post-subsampling alignment instead of Nextalign"
**Context**
After we move filtering to follow subsampling, we will be applying sequence diagnostics with a smaller dataset than we do currently. Most of our diagnostics assume that the input data were previously processed by Nextclade (i.e., the diagnostics look for Nextclade columns in the metadata), but this is not likely to be the case for most users.

Nextclade uses Nextalign internally alread

[2021-12-09 21:22] jameshadfield commented on #810
Agreed. To do this for subsampling should we avoid providing sequences to the `augur filter` steps? This will limit the available filtering options, but given the rich metadata we have I think this is acceptable.

[2021-12-09 21:34] jameshadfield opened #812 "Standardise parsing of missing / unknown metadata values"
**Context**

Many scripts need to check if a value is "valid" before proceeding. These checks tend to be one-offs and therefore slightly different. This makes it hard to document / understand what to use for unknown / missing data. For instance, the construction of sequence recency uses conditionals:
[code]
whereas our diagnostic script uses a try/except approach for the same field:
[code]
This re

[2021-12-09 22:23] huddlej commented on #810
I'll make an attempt at this now.

[2021-12-09 23:36] huddlej commented on #810
Some notes as I work on this:

1. Moving filter later in the workflow means we can no longer support origin-specific filter configuration parameters like this one from the `example_multiple_inputs` build:

[code]

These would need to be converted to top-level filter parameters like:

[code]

Actually, the diagnostic rule doesn’t make sense at the beginning of the workflow anymore since it analyzes

[2021-12-10 13:27] emmahodcroft commented on #810
Is there a risk that one could end up with a subsample that includes a lot of bad sequences (too many Ns, etc etc), and enough get thrown out that this really skews what you end up with?
Could we use the data we get from Nextclade, like QC & number of Ns, (in particular, if we're caching this as part of the current work being done) to allow us to do a metadata only filter that throws out the worst

[2021-12-10 17:20] #758 closed

[2021-12-10 17:28] huddlej commented on #810
Yeah, it's totally possible that the post-subsampling filtering could include many gapped sequences. If we were to keep an initial filter at the beginning of the workflow, we would need a standardized annotation of these gap values in the full GISAID and open metadata, so people who don't run Nextclade on their analyses first (presumably most people) will have that information somewhere. This was

[2021-12-10 17:44] huddlej commented on #810
I opened a PR for this at https://github.com/nextstrain/ncov/pull/814, where we can continue this discussion.

[2021-12-10 18:11] #796 closed

[2021-12-11 12:31] emmahodcroft commented on #810
Thanks John, interesting to think about. We (or I, or anyone interested) could consider adding a localrules step that uses Nextclade info (for builds where this is available) to make an initial filter through to get rid of sequences based on metadata like Ns, gaps, and things in `exclude.txt`. Might be easier to think through how to do this once we've switched over to having the cached alignments

[2021-12-13 21:39] sidneymbell opened #816 "Move subsampling by proximity into augur"
**Context**
The ability to subsample using a `focal` set and then background context selected by genetic relatedness is SUPER useful. We'd like to be able to do this for other pathogens.

**Description**
Move the subsampling logic that assigns proximity scores by genetic relatedness out of `ncov` and into `augur` proper.

**Examples**

**Possible solution**
(Optional)

[2021-12-14 03:15] emontag47 commented on #700
Hi Nextstrain Team and @tsibley,

I am attempting to push some changes to a branch I created to eventually submit a pull request. When I try to push, I get the error
"remote: Permission to nextstrain/ncov.git denied to emontag47.
fatal: unable to access 'https://github.com/nextstrain/ncov.git/': The requested URL returned error: 403".
After searching for a bit on Google, I found that this error co

[2021-12-14 03:26] jameshadfield commented on #700
Hi Eric - the common way to do this is to [fork the repo and submit a PR from your fork](https://jarv.is/notes/how-to-pull-request-fork-github/). Thanks in advance for your contribution!

[2021-12-14 03:28] emontag47 commented on #700
Hi @jameshadfield! I will try that and post here again if I am still having issues. Thank you for your help!

[2021-12-14 09:02] jmtembo commented on #425
Hello I have the very same problem but I didnt use docker to install nextstrain I used the command line to do it. Do I need to install docker and then adjust memory available to containers? Is there a way I can do this without installing docker?

[2021-12-14 09:06] jmtembo commented on #425
Hello @tsibley  I have the very same problem but I didnt use docker to install nextstrain I used the command line to do it. Do I need to install docker and then adjust memory available to containers? Is there a way I can do this without installing docker?

[2021-12-14 15:54] fanninpm commented on #811
It's important to consider that the `nextstrain/base` Docker image currently only has Nextalign, not Nextclade.

[2021-12-14 21:05] jmtembo opened #818 "ERROR: TREE BUILDING FAILED"
**Current Behavior**
I keep getting this error when trying to build a phylogenetic tree.
WARNING: more threads requested than there are sequences; falling back to IQ-TREE's `-nt AUTO` mode.

ERROR: Shell exited 2 when running: iqtree2 -ninit 2 -n 2 -me 0.05 -nt AUTO -s results/default-build/aligned-delim.fasta -m GTR -ninit 10 -n 4 > results/default-build/aligned-delim.iqtree.log
Command output wa

[2021-12-14 23:53] tsibley commented on #425
@jmtembo Could you share exactly which commands you're running and the exact error message you're seeing?

[2021-12-15 11:55] jmtembo commented on #425
Hello thanks @tsibley below is what I get when trying to run a build

(nextstrain) johntembo@Johns-MacBook-Air ncov-9 % snakemake --profile my_profiles/phylogeny -p
Config file defaults/parameters.yaml is extended by additional config specified via the command line.
Building DAG of jobs...
Using shell: /bin/bash
Provided cores: 4
Rules claiming more threads will be scaled down.
Conda environments:

[2021-12-16 20:50] huddlej opened #824 "Allow users to turn off min and max date filters for frequencies"
## Context

By default, augur frequencies sets a min and max date based on the collection dates present in the input data. [The ncov workflow explicitly hardcodes the `--min-date` and `--max-date` arguments for augur frequencies](https://github.com/nextstrain/ncov/blob/2bc1fa2fcfbbab823a53c52e33312b0430c3eac0/workflow/snakemake_rules/main_workflow.smk#L1049-L1084), though, and [uses default values

[2021-12-21 20:35] #708 closed

[2021-12-21 22:19] huddlej commented on #816
@jameshadfield has [implemented our subsampling logic as a script in ncov](https://github.com/nextstrain/ncov/pull/711), but we haven't revisited this with more testing. We originally planned to implement this as `augur subsample` (and @jameshadfield created [a corresponding Augur PR](https://github.com/nextstrain/augur/pull/762)), but it seemed likely at the time that we'd substantially change th

[2021-12-21 22:27] sidneymbell commented on #816
Oh awesome, thanks @huddlej and @jameshadfield! We'd be up for trying out the script and potentially helping to move things over to augur if helpful, although we probably won't be working on this until a bit later / early spring.

[2021-12-22 08:18] lzhwin opened #829 "the new ncov pipline do not fit the docker image"
We normally use a docker imgae "nextstrain/base" on docker hub , to run the ncov analyze pipiline.
But, in the  recent update , the main workflow add a new rule include a pangolin anaylze. this step need the pangolin software . but the nextstrain/base image didn't contain pangolin analyze software.
so , I wonder how to solve the problem. if I still want to use docker to run this pipline. because i

[2021-12-22 19:31] huddlej commented on #811
Assigning @sidneymbell as an indication that her team at CZI has volunteered to work on this in an upcoming sprint.

[2021-12-23 18:12] huddlej commented on #829
Hi @lzhwin, this is [an open issue for our Docker base image](https://github.com/nextstrain/docker-base/issues/33). We plan to add support for these Pangolin annotations within the next week or two. In the short term, you can run the workflow without the pangolin annotations (the default behavior or when you set `run_pangolin: false` in your builds YAML file. You may also want to try Nextclade to

[2021-12-23 18:12] #829 closed

[2021-12-23 18:35] huddlej commented on #818
Hi @jmtembo! This warning message suggests that there very few sequences in your input alignment.

When this happens, IQ-TREE doesn't have enough data to build a tree and will crash. Can you check your alignment FASTA file (`results/default-build/aligned.fasta`) to confirm how many sequences there are? If there are fewer than you expect, you'll want to look upstream in the workflow a bit to see if

[2021-12-23 18:35] #818 closed

[2021-12-23 18:38] huddlej commented on #719
Hi @imdanique and @ShawnSimp, there are many different reasons why IQ-TREE can fail to build a tree. In my experience with SARS-CoV-2 analyses, these issues tend to be caused by unexpected issues with the input alignment (e.g., not enough valid sequences in the alignment, incorrect sequence type or format, etc.).

To get a better sense of what is happening in your cases, you'll need to look in the

[2021-12-23 18:42] huddlej commented on #623
Closing this since the issue is related to the unavoidably small data set and the fact that logistic growth calculations intentionally don't assign values to sparse clades in trees like the one shown above.

[2021-12-23 18:42] #623 closed

[2021-12-28 23:05] dhoconno opened #830 "Changing /tmp file path?"
Hi there,

I'm trying to run Nextstrain build on a cluster node where I don't have write access to `/tmp.` I can override this manually by setting `TMPDIR=[path_I_can_access]` Is there a more elegant way to specify the temp directory directly as part of the nextstrain build command?

Example output:

[code]

Not a high priority, but I thought I'd point it out in case others have the same issue.

T

[2022-01-05 19:20] j23414 commented on #809
Notes from `2022-01-03` meeting with `huddlej` and `j23414` ([slides](https://docs.google.com/presentation/d/1UV8iJTScQCdlKIpZlvwJPcLFeq3a3FWF--P92V-yx4U/edit?usp=sharing)):

Started implementation of both options in two separate task.wdl files. (Can simply delete the one we don't use later.)

* Option 1: wrapping the entire Snakemake workflow in a single WDL rule  (**Picked this one!**)
  [mini_w

[2022-01-05 20:46] #807 closed

[2022-01-05 20:46] #810 closed

[2022-01-06 15:06] Jerobou opened #832 "Customization of branch labels (Auspice and web vizualisation)"
Dear Nextstrain team,

First of all, thanks a lot for this wonderful software !

I'm currently trying to customize branch labels by adding the possibility to visualize nucleotide mutations through Auspice. In other words, I would like to add a 'nt' option (along the 'aa' one) on the branch label option in the side bar. So far, I was able to do such implementation in the json file for Auspice, by a

[2022-01-06 20:25] jameshadfield commented on #832
Hi Jerobou - as you've found, auspice will happily display any branch label provided in the JSON. I'm not sure what you mean by "I fear that this solution isn't really stable" but there are no plans for auspice to change in this regard.

Currently augur tools don't allow one to customise exported branch labels, although this [should hopefully change soon](https://github.com/nextstrain/augur/pull/7

[2022-01-10 12:04] Jerobou commented on #832
Hi James !

Thanks a lot for your answer, that's perfect ! I was a little bit afraid that the solution won't work following new releases (hence the "isn't really stable"), but if I understood well that's not on the table right now.

Thanks again for this wonderful software.

Jérôme Bourret

[2022-01-10 12:04] #832 closed

[2022-01-13 19:08] jacaravas opened #838 "v10 - Failure to combine multiple input files when "aligned" sequence files are specified"
When multiple sequence files with the "aligned" entry point are specified in the build file I get the following error:

[code]

If "aligned" is switched to "sequences", the build runs correctly.

Envrironment:
v10 environment installed 01-11-2022 using the recommended install procedure

Command:
`snakemake --profile buildDir --jobs 1`

Build file (I hacked this together for this issue.  Hopefully

[2022-01-26 00:21] #838 closed

[2022-01-27 18:36] huddlej opened #845 "Epiweeks annotations crash on invalid date column values"
**Current Behavior**
When running the epiweeks annotations with metadata for which the date column has invalid date/time values like `?`, the pandas to_datetime function call we use crashes.

**Expected behavior**
We should convert invalid dates to ambiguous values during metadata sanitization.

**How to reproduce**
I found this issue with GISAID data for "Europe / Poland" and for lineage "BA.3".

[2022-01-27 19:16] j23414 commented on #809
Current wdl pathogen build: https://dockstore.org/workflows/github.com/j23414/wdl_pathogen_build:main?tab=info

* [ ] Adding video documentation
* [ ] Finding beta testers

[2022-01-27 19:32] jacaravas opened #846 "UnicodeDecodeError in sanitize_metadata"
Some recent additions to GISAID are causing sanitize_metadata.py to fail on my system.  It isn't obvious if this is an issue in the GISAID data, my local system/environment settings, or my data prep script.

The error can be removed by pre-processing the metadata with:
`sed -i.bak 's/[\d128-\d255]//g' metadata.tsv `

The error text is:

`Traceback (most recent call last):
  File "/home/ncov/script

[2022-01-27 23:14] tsibley commented on #846
This seems to me to likely to be bad upstream source data from GISAID (e.g. actually invalid UTF-8).

However, it could plausibly be an issue in Pandas' row/line-chunked parsing accidentally splitting a single UTF-8 multi-byte character across reads/decodes.

Not sure without digging in more and would really need to be able to reproduce locally to diagnose this.

[2022-01-27 23:35] tsibley commented on #830
Hi @dhoconno. `TMPDIR` is the only mechanism here for setting a different temp dir. The stack trace shows that the error you're getting arises deep from within Snakemake's scheduler, so any alternate mechanism we could add would have to ultimately set `TMPDIR` anyway in order to pass the value along. Glad you have a workaround, though!

[2022-01-27 23:35] #830 closed

[2022-01-28 02:15] wanglu2014 opened #847 "Which algorithm you used to infer the parent/child relationships between different clades?"
Your graph in https://nextstrain.org/ncov/gisaid/global is inspiring. Could you kindly suggest how you infer their parent/child relationships? Related code or paper will be a great help!

[2022-02-01 09:47] mjfos2r opened #849 "despite including Wuhan/Hu-1/2019 with metadata in builds.yaml, I still get ERROR: unsupported rooting mechanisms or root not found"
I have read all of the current and previous issues, attempted all recommended fixes, and I still am unable to run my build.

I have included the references in my builds.yaml file, I have made sure they are in include.txt, there are three names for the same reference in include.txt, and I am still getting the error below. I'm just trying to run a simple local analysis of some sequences generated be

[2022-02-01 09:56] mjfos2r commented on #849
I thought it might have been due to not including it in the ltulocalbuild/builds.yaml file but no, that hasn't fixed it either.

[2022-02-01 10:10] emmahodcroft commented on #849
Hi @mjfos2r ! I'm so sorry you're having trouble with getting this to run.

Just out of curiosity, have you grepped the fasta files you are including as input, to ensure that one of these contains the reference sequence with the _exact_ name as given in your `builds.yaml`?

If it's there and largely matches, but it has a prefix (ex: `hCoV-19/`) then you'll want to ensure you're running the `align`

[2022-02-01 18:11] fanninpm commented on #847
Did you scroll down to the bottom of the page you linked? There's a link to a paper at the bottom, and that paper cites [TreeTime.](https://github.com/neherlab/treetime)

[2022-02-01 21:51] jameshadfield commented on #847
Hi @wanglu2014 & thanks @fanninpm - by default ncov uses [IQ-TREE](http://www.iqtree.org/) to infer the tree structure and TreeTime to infer temporal structure & attempt to resolve polytomies.

[2022-02-01 21:51] #847 closed

[2022-02-01 22:28] j23414 commented on #809
* [ ] May need a way to host builds ([thread](https://bedfordlab.slack.com/archives/C017E82L6FM/p1643749382649439))
* [ ] Can [Terra run on Microsoft Azure](https://news.microsoft.com/2021/01/11/broad-institute-and-verily-partner-with-microsoft-to-accelerate-the-next-generation-of-the-terra-platform-for-health-and-life-science-research/)?

[2022-02-02 01:14] mjfos2r commented on #849
I tried everything that you suggested and it turns out it was something as simple as needing quotation marks around each field in my builds.yaml file. Thank you for your help! Works perfectly now.

``
inputs:
  - name: "LA-Tech"
    metadata: "data/LTU.metadata.tsv"
    sequences: "data/ltu.filtered.sequences.fasta"
  - name: "LA-GSU"
    metadata: "data/GSU.metadata.tsv"
    sequences: "data/gsu.

[2022-02-02 01:14] #849 closed

[2022-02-02 20:27] huddlej commented on #846
@jacaravas Just to clarify, is the data flow for the metadata you pass to sanitize metadata like this?

1. GISAID API endpoint
2. internal database
3. metadata TSV

[2022-02-03 05:03] huddlej commented on #845
@victorlin I've got another report of a similar issue from @BryanTegomoh. Looking at this more closely now, the solution shouldn't require changes to the sanitize metadata script. All of the problems are with the assumptions I made about date ambiguity in the epiweeks script. I'm going to write up a couple of tests for this problem and then the solution should be a couple of lines.

[2022-02-03 05:11] jacaravas commented on #846
@huddlej Yes, that is correct.  There is a python script that is between step 2 & 3 where extra annotations are applied, names normalized, etc...  I will try to get back to this tomorrow to confirm these entries are still causing failures for me.

[2022-02-03 17:29] #845 closed

[2022-02-03 18:39] huddlej opened #852 "Allow users to disable clock filter for augur refine"
## Current Behavior

When users try to build Omicron-specific trees against a background of non-Omicron strains, even the relaxed clock filter settings we now use can lead to strains being unexpectedly filtered out.

## Expected behavior

Users should be able to turn off the clock filter completely through the config file.

## Possible solution
Allow users to set the `clock_filter_iqd` parameter i

[2022-02-03 22:07] #811 closed

[2022-02-04 18:48] crl9k opened #856 "Discrepancy in clade assignment between Nextclade and Augur"
**Current Behavior**
21K/L (Nextclade) is assigned to 21M and even 20A by Augur (today's build...).

**Expected behavior**
No discrepancy in clade assignment between Nextclade and Augur.

**How to reproduce**
snakemake --profile my_profiles/local -p (using a local install of Nextstrain environment/ncov workflow)

**Your environment: if running Nextstrain locally**
 - Operating system: CentOS 7
 -

[2022-02-06 14:21] emmahodcroft commented on #856
Hi @crl9k - I assume you mean a particular sequence is being assigned differently between the builds? Unfortunately this can happen sometimes. Nextclade is usually the most reliable way to assign sequences to a clade, as this operates with a specially-constructed, standardized tree and QC metrics. Within the live Nextstrain build, these are "live" builds - we make them fresh every day, and sometim

[2022-02-07 17:49] ktmeaton opened #857 "nextclade: command not found"
**Current Behavior**
With the introduction of `nextclade` in v11 (`44223bcd` specifically), I see the following error with `--use-conda`:

[code]

**Expected behavior**
`snakemake` should be able to find the `nextclade` executable, and not generate this error.

**How to reproduce**

I see this running any build, example:

[code]

**Possible solution**

I can fix it by adding a conda environment to

[2022-02-07 18:12] #857 closed

[2022-02-07 18:13] tsibley commented on #857
Thanks @ktmeaton! I've fixed this in #858.

[2022-02-07 18:44] emmahodcroft commented on #856
Hi @crl9k  - Hm, that's interesting. My guess is that there's something going on with where they end up on the tree - for Nextstrain this can be influenced by what else is in the tree - are these assignments you're seeing in the Nextstrain builds (https://nextstrain.org/ncov/gisaid/global for example), or in a local build?

Are you able to share any of the sequences, and point out where they are f

[2022-02-08 15:30] crl9k commented on #856
Hi @emmahodcroft - the assignments are in a local build of more than 2000 sequences.
You will find attached 20 21K (Nextclade) sequences: 10 assigned to 20A and 10 assigned to 21M by Augur.

Thank you for your help.
[seq.zip](https://github.com/nextstrain/ncov/files/8025156/seq.zip)

[2022-02-08 16:15] emmahodcroft commented on #856
Hi @crl9k - thanks for passing these on!

For the 20A ones, I think I see what's going on - most of these (all except 1 I think) have 3 key reversions:
![image](https://user-images.githubusercontent.com/14290674/153026152-0fa7fb2a-5626-45f7-bf7d-278cdf8c522f.png)
These sites are really key sites for defining the 20B branch, which is what Omicron splits off from:
https://nextstrain.org/ncov/gisaid/

[2022-02-08 16:31] crl9k commented on #856
Attached is the tree I get.

Thank you for your help.
![tree](https://user-images.githubusercontent.com/12101220/153031645-c4d4c83a-ed9b-45fc-ba1f-129497000b33.png)

[2022-02-09 18:49] huddlej opened #863 "Rewrite and reorganize ncov tutorial"
**Context**
The ncov tutorial is now outdated and does not represent the primary use case for most users. Additionally, much of the tutorial's contents belong in separate how-to or reference guides.

**Description**
We plan to rewrite and reorganize the tutorial to reflect modern use cases. This issue serves to track progress toward this goal.

[2022-02-10 10:09] emmahodcroft commented on #856
Hi @crl9k - thanks for sending a snap of the tree! Yes, it looks like the tree is probably having trouble resolving the early splits in the tree (and thus things like where 20A and 20B begin) because it doesn't have many early samples to work with. For example, since a few of your Omicron samples are missing those key mutations to define 20B, and it has no other sequences that have these mutations

[2022-02-14 10:02] emmahodcroft commented on #856
Hi @crl9k - I'm sorry to hear that adding more 20A/20B sequence didn't resolve the issue - that's surprising, I had thought this might do the trick. I think the problem is a combination of where the tree is thinking the 28881/28882 mutation arose, and having those mutations revert in some of the 21K sequences -- but it's clearly a little more complex than just trying to get this mutation in the ri

[2022-02-14 10:56] corneliusroemer commented on #856
@crl9k could you share the auspice.json of your tree? That way it's easiest to see why augur clades behaves the way it does.

There's a reason clades are placed as they are, it's almost definitely due to tree topology and not a bug in ncov per se. Happy to have a quick look but without the auspice.json I don't think I can do much.

[2022-02-14 18:28] corneliusroemer commented on #856
@crl9k kindly sent the auspice.json to Emma and me via email. I'll close this issue, if there are any actionable results, we'll post here, or maybe transfer to discussion.nextstrain.org

[2022-02-14 18:28] #856 closed

[2022-02-15 19:10] huddlej commented on #809
@j23414 Given that [the WDL pathogen build](https://dockstore.org/workflows/github.com/j23414/wdl_pathogen_build:main?tab=info) workflow is working so well on Terra, we should migrate that workflow to this repo, so we can continue to refine the interface more collaboratively. We can start by adding the WDL workflow in a `wdl` branch, placing the files in the `workflow` subdirectory in `workflow/wd

[2022-02-15 21:53] j23414 commented on #809
Sounds great! I added a `wdl` branch, and linked it to Dockstore. Feel free to launch and test from the following link:

* https://dockstore.org/workflows/github.com/nextstrain/ncov:wdl?tab=info

[2022-02-16 19:10] huddlej opened #872 "Support custom color and description files on Terra runs"
## Current Behavior

Custom color and description files used for ncov builds are expected to exist as local files (e.g., in `nextstrain_profiles/`, etc.) based on the paths in the builds YAML file. However, these files are not part of the ncov workflow itself (and shouldn't be), so they do not exist on local storage when running the workflow on Terra.

## Expected behavior

We should be able to su

[2022-02-16 20:04] j23414 commented on #872
I'm still thinking, but for option 3 the implementation would look like:

[code]

And the `build.yaml` would use local paths, like `colors: custom_profile/colors/algeria_colors.tsv` and assume it'll be moved into the `ncov` directory. Yeah, this can get messy fast. I'll need to think.

[2022-02-16 23:10] huddlej commented on #809
Cool, thank you! This worked well for me from Terra, so I'm happy to see the `wdl` branch merged into `master`. Then we can close this issue and move on to other refinements.

[2022-02-21 18:24] pvanheus commented on #427
Hi there - I know this is a closed issued but I hit the same error. This [post](https://groups.google.com/g/iqtree/c/Gii__XoEIdU?pli=1) on the Iqtree forum discusses this issue. As Dr Bui states: "It means that you had a previous (unfinished) run and IQ-TREE loaded the checkpoint file. From what you wrote below, I’m guessing that you now change the alignment file (-s option). This causes incompabi

[2022-02-25 00:37] huddlej commented on #670
Closing as redundant with #700.

[2022-02-25 00:37] #670 closed

[2022-02-25 00:37] huddlej commented on #669
Closing as redundant with #700.

[2022-02-25 00:37] #669 closed

[2022-02-25 01:02] huddlej commented on #700
@jsan4christ reported this issue recently to @rneher and myself. San is one of [many people who have experienced this issue](https://discussion.nextstrain.org/search?q=unknown%20root).

Although there is a workaround of including the reference data as a separate input for a given build, this solution is not clearly documented. Ideally, the workflow would be more aware of the presence of the refere

[2022-02-28 22:50] danrlu opened #874 "Keep small number of BA.2 on the tree and not filtered by clock_filter"
**Context**
On a general, all-lineage tree, when we have only 1 focal BA.2 sample, which pulled in just a few contextual BA.2 samples, most BA.2 samples ended up in excluded_by_diagnostics.txt file and my best understanding is they got removed by the `clock_filter` set [here](https://github.com/nextstrain/ncov/blob/2de8fbcdbb2991619f9835c5206f02d49cc77e33/workflow/snakemake_rules/main_workflow.smk

[2022-03-01 16:16] corneliusroemer opened #876 "BUG: Nucelotide and corresponding amino acid mutation occasionally on different branch"
### Current Behavior
It sometimes happens that nt and the corresponding aa mutation are not on the same branch

### Expected behavior
Nucleotide and the corresponding amino acid mutations (if non-synonymous) should always be on the same branch

### How to reproduce
Don't have reproducible input files yet, if anyone finds a build where this happens again please add input files (if shareable)

### P

[2022-03-01 19:07] jacaravas opened #875 "Suppress or override rule "prepare_nextclade"? "CURLE_PEER_FAILED_VERIFICATION: SSL peer certificate or SSH remote key was not OK.""
I'm having difficulty with the latest ncov workflow due to the addition of the automatic update of the nextclade dataset in the ["prepare nextclade" rule](https://github.com/nextstrain/ncov/blob/master/workflow/snakemake_rules/main_workflow.smk#L447).  The "nextclade dataset get" command does not use the correct certificate store in our conda environment and fails. This issue is [documented on the

[2022-03-02 19:18] corneliusroemer commented on #875
There's a working workaround: download datasets from our Github dataset repo: https://github.com/nextstrain/nextclade_data/tree/master/data/datasets

I know this is not user friendly, but at least it should work until we've fixed https://github.com/nextstrain/nextclade/issues/744

The general issue of `nextclade dataset get` may be addressed in a future version of Nextclade, but not in the near te

[2022-03-02 19:25] huddlej commented on #875
Thank you for the detailed issue description, @jacaravas! While we consider a solution from the Nextclade side of the problem (as @corneliusroemer mentions above), I do have a workaround that should allow you to define your own Snakemake rule that overrides the main workflow's `prepare_nextclade` rule with your own logic. This custom Snakemake logic can live in your build profile directory (or any

[2022-03-02 19:32] jacaravas commented on #875
@huddlej Fantastic!  That is exactly what I was looking for.  I already have an edited version of the rule in place in main_workflow that does curl based download of the data files, but it will be much easier to maintain the solution as an external custom rule.  I was not looking forward to editing "main_workflow.smk" every time I updated.

[2022-03-02 19:32] #875 closed

[2022-03-02 21:07] jacaravas commented on #875
I made a quick repo for the script(s) I'm using to download nextclade datasets in case anyone else needs help with this error.
https://github.com/jacaravas/update-nextclade-dataset

[2022-03-02 21:18] corneliusroemer commented on #875
Very cool! How did you manage to work around this curl/wget bug both @huddlej and I encountered when trying the manual route?

I'll link to your script from Nextclade, too, as a workaround. This is fab.

[2022-03-02 21:27] corneliusroemer commented on #874
The enhancement request is easy to satisfy by factoring out the `min_clade_member_count_threshold_for_offset` `100` as an optional parameter (with default `100` for backwards compatibility). If that number is made smaller, clock filter becomes noisier for small clades, but it's sometimes (at user's risk) better than throwing out all clade members because they don't reach `100`.

Within nextstrain

[2022-03-02 22:45] huddlej commented on #875
Excellent! I'm glad this solution works for your setup, @jacaravas. Thank you also for the example downloads scripts. This does feel like a place that shell + curl is better-suited to the problem at hand than C++.

[2022-03-02 22:46] huddlej commented on #809
@j23414 Whenever you are ready, I think the `wdl` branch can be merged and we can close this issue.

[2022-03-02 22:49] #809 closed

[2022-03-03 18:46] danrlu commented on #874
We're planning to tackle #852 (Allow users to disable clock filter for augur refine) this sprint. Do you want us to bring along this one as well? Since they together fully disable clock filter (is that right??)

[2022-03-03 18:47] danrlu commented on #852
FYI @jgadling will tackle this one this sprint (possibly together with https://github.com/nextstrain/ncov/issues/874 pending coordination with Cornelius). Let us know if that sounds good.

[2022-03-03 21:27] huddlej opened #880 "Add support for deploying Auspice JSON files to an S3 bucket from Terra"
## Context

We currently support running the workflow on Terra through a lightweight WDL wrapper workflow. This WDL workflow saves Auspice JSONs produced by each run of the ncov workflow into a zip file. To view these Auspice files, users have to download the zip file locally, extract it, and run `nextstrain view` or drag/drop onto auspice.us. To post these files to a specific Nextstrain Groups ac

[2022-03-03 21:37] huddlej commented on #872
After discussing this issue today as a group, we agreed that the solution to this issue should include a solution to the broader issue of how to allow users to bring their own "pile of files" to the ncov workflow. We discussed two related approaches to handle this problem:

1. Place `ncov` inside an outer directory that includes the user's data and config files. This approach emphasizes that `ncov

[2022-03-05 00:35] huddlej commented on #852
That sounds excellent, @danrlu! I've assigned this to you, so we know it is "in progress". If @jgadling comments on this issue, I can assign it to them, instead. Have a great weekend!

[2022-03-06 11:46] Gathii commented on #846
I struggled with this bug, and could not go beyond the sanitize metadata.py step: My metadata was retrieved from GISAID using the augur input option. The solution provided here "sed -i.bak 's/[\d128-\d255]//g' metadata.tsv " kept giving me an error "invalid collation character".  What worked for me was converting the metadata file into UTF-8 encoding using Notepad++ then using the encoded  version

[2022-03-07 11:32] ivan-aksamentov commented on #875
Additionally, the zip bundles were fixed in https://github.com/nextstrain/nextclade_data/pull/24

[2022-03-08 21:34] AngieHinrichs opened #883 "/fetch/ not happy with numeric IP address?"
**Current Behavior**
This link with "/fetch/128.114.119.131/..." (numeric IP address) does not work:

https://nextstrain.org/fetch/128.114.119.131/trash/ct/subtreeAuspice1_128_4107f_6b2240.json

<img width="1076" alt="image" src="https://user-images.githubusercontent.com/186983/157327938-254b9e08-16ea-4602-b51f-0a8b83730528.png">

However, if I replace "128.114.119.131" with "genome.ucsc.edu", it

[2022-03-09 19:41] tsibley commented on #846
@Gathii I suspect that `invalid collation character` from that `sed` command implicates something about your locale settings. I'd be curious to know what the output of the `locale` command is on your system. In any case, glad you found a workaround and shared it here!

[2022-03-10 05:34] jameshadfield commented on #883
I think this is due to the fact that the SSL certificate is tied to the domain name, not the IP. [Nextstrain fetch enforces https](https://docs.nextstrain.org/en/latest/guides/share/fetch-via-urls.html#notes) and we can see that loading https://128.114.119.132/trash/ct/subtreeAuspice1_128_4107f_6b2240.json [1] in a browser (Firefox 97.0.1 in my case) doesn’t work.

![image](https://user-images.git

[2022-03-10 09:13] Gathii commented on #846
@tsibley see below my locale settings:

LANG=en_US.utf-8
LC_CTYPE="en_US.utf-8"
LC_NUMERIC="en_US.utf-8"
LC_TIME="en_US.utf-8"
LC_COLLATE="en_US.utf-8"
LC_MONETARY="en_US.utf-8"
LC_MESSAGES="en_US.utf-8"
LC_PAPER="en_US.utf-8"
LC_NAME="en_US.utf-8"
LC_ADDRESS="en_US.utf-8"
LC_TELEPHONE="en_US.utf-8"
LC_MEASUREMENT="en_US.utf-8"
LC_IDENTIFICATION="en_US.utf-8"
LC_ALL=en_US.utf-8

Thanks

[2022-03-11 09:16] #883 closed

[2022-03-13 21:09] abattenhouse opened #887 "subsampling_scheme min-date and max-date don't work"
Supplying a min-date or max-date subsampling_scheme value results in an error. I ran into this when attempting to subsample with a min-date using Nextstrain code downloaded 2/21/2022.

I fixed the problem in my local code and have created a pull request with my 4-line proposed solution. See:
"Fix subsampling_scheme min-date and max-date parameters bug. #886"

[2022-03-13 21:16] abattenhouse commented on #789
FYI, as an outside, non-Nextstrain team user performing custom Nextstrain builds, I wasted more than 4 hours one night figuring out where my early build error came from -- it was because I had a number in my build name. Incredibly frustrating!

[2022-03-13 21:21] abattenhouse commented on #863
As an outside user who relies on your documentation, I have noticed how the code has changed but the documentation has not. For example, the description of how to install Nextstrain in a conda using mamba simply does not work. What I do to rebuild my Nextstrain conda from scratch (which sometimes happen when just updating them doesn't work), I use the workflow/envs/nextstrain.yaml file, and also a

[2022-03-13 22:10] abattenhouse opened #888 "Questions from a custom Nextstrain builder"
As an outside user performing custom Nextstrain builds (for the Texas Department of State Health Services), I have a couple of questions. As background, I configure multiple builds using multiple input files.

1) I've noted that dropping a JSON file on auspice.us does not render the Frequencies panel. Why is this, and is there a way to get that information incorporated in the auspice.us rendering?

[2022-03-13 22:47] jameshadfield commented on #888
You will need to drag and drop both the main dataset JSON (e.g. `X.json`) and the tip-frequencies sidecar (`X_tip-frequencies.json`). Furthermore the "panels" section of the main JSON will need to include "frequencies", which is the default setting in the ncov workflow, so this should be ok.

Yes - [see this line](https://github.com/nextstrain/ncov/blob/master/workflow/snakemake_rules/main_workflo

[2022-03-14 00:24] jameshadfield commented on #863
This is a perpetual struggle -- we have to adapt the workflow as the world changes, and this can lead to documentation (especially text-heavy tutorials) falling out of sync. We are obviously trying to improve things here, and the rewrite should be released in a few weeks.

Would you mind making this a separate issue? This approach _should_ work.

[2022-03-14 01:00] abattenhouse opened #889 "Nextstrain conda installation using mamba doesn't work"
The description of how to install Nextstrain in a conda using mamba simply does not work. By this I mean that after following the steps, just trying to build the basic example gets an error.

When I have to rebuild my Nextstrain conda from scratch (which sometimes happen when just updating it doesn't work), I use the workflow/envs/nextstrain.yaml file, and also add auspice.

[2022-03-14 01:03] abattenhouse commented on #863
Thanks. I've added a new issue for the mamba install.

[2022-03-14 04:29] abattenhouse commented on #888
Thanks for all the great feedback James! Really appreciate it!

You know, I tried dropping the tip-frequencies JSON in auspice.us before mentioning it in the issue, and got an error about only being able to parse CSV files. I now realize that I need to drop both the main JSON and the tip-frequencies *at the same time*, since a file added later is interpreted as custom metadata.

I hope this info w

[2022-03-14 17:10] victorlin commented on #889
Hi @abattenhouse, I'd be happy to help get this working for you and fix the instructions. Could you provide these details?

1. Operating system
2. Link to installation steps you are using

[2022-03-14 19:23] jameshadfield commented on #887
@abattenhouse can you try using the following format in the YAML

[code]

Similar issue: https://github.com/nextstrain/ncov/issues/644#issuecomment-849946060
Reference docs: https://github.com/nextstrain/ncov/blob/master/docs/src/reference/configuration.md#min_date-2

[2022-03-14 21:27] abattenhouse commented on #889
I'm following steps at https://docs.nextstrain.org/en/latest/install.html#installation-steps for Ubuntu Linux (we're on 18.04, fully patched). I'm using the Native (non-docker) option.

As I mentioned before, what does work for me is using the use the workflow/envs/nextstrain.yaml file to configure my conda (also adding auspice).

[2022-03-15 00:07] victorlin opened #891 "docs: lists not rendering"
Sometime in the last few days, lists have stopped rendering properly on doc pages in this repo.

Take the [Data Prep page](https://docs.nextstrain.org/projects/ncov/en/latest/analysis/data-prep.html) as an example:

[The preview](https://nextstrain--878.org.readthedocs.build/projects/ncov/en/878/analysis/data-prep.html) generated 5 days ago for https://github.com/nextstrain/ncov/pull/878/commits/7

[2022-03-15 04:46] victorlin commented on #891
Seems like this happens when `docutils=0.17` is installed [[ref](https://stackoverflow.com/q/67542699)].

[RTD build](https://readthedocs.org/projects/ncov/builds/16314059/) for https://github.com/nextstrain/ncov/pull/878/commits/7a9d6286e1179563b8c041f08ff0d2a3ca6ce6d9 which rendered properly:

[code]

[RTD build](https://readthedocs.org/projects/ncov/builds/16356885/) for current `master` which

[2022-03-15 05:48] victorlin commented on #891
UPDATE: it was pinned by a pip package, `sphinx-tabs`, in a [recent release](https://github.com/executablebooks/sphinx-tabs/releases/tag/v3.3.0) (executablebooks/sphinx-tabs#144). This also explains the timing.

Using `conda` to handle that dependency pulls an older version of `sphinx-tabs` that can handle `docutils!=0.17`. Maybe `docutils=0.18` can work, but will need to wait for `sphinx-tabs` to

[2022-03-16 21:37] j23414 commented on #872
Sorry it took me a while. Implemented solution 2 and tested it on the Chad dataset: https://nextstrain.org/staging/ncov_chad .

* Feel free to [run a test on Terra](https://app.terra.bio/#workspaces/Nextstrain/Development/workflows/Nextstrain/refactor_test)

If the run successfully completes, the result is deployed to a url similar to:

* https://nextstrain.org/staging/ncov_[build_id]

Additional

[2022-03-17 02:27] victorlin commented on #891
So, turns out that installing `docutils<0.17` is a fix, but not a great one.

The real reason, from [a closed docutils bug](https://sourceforge.net/p/docutils/bugs/417/):

This change can be observed in the examples linked in the first comment. If you add `class="section"` on the new `<section>`, the CSS which handles the list styling does its job. However, we don't want to add `class="section"`.

[2022-03-17 17:49] tsibley commented on #891
Good sleuthing.

Since our theme extends sphinx_rtd_theme (and thus it's installed as a dep), Sphinx includes its static assets when it builds the docs. See the [Sphinx docs on theme development](https://www.sphinx-doc.org/en/master/development/theming.html).

Presumably the version of sphinx-rtd-theme that's installed when our docs are built on RTD isn't 1.0.0, which is the latest release and fir

[2022-03-17 17:57] tsibley commented on #891
Indeed, looking at the [RTD logs for the most recent `latest` build](https://readthedocs.org/projects/ncov/builds/16397628/), I see:

[code]

I also noticed that RTD slightly tweaks the `docs/conda.yaml`:

[code]

[2022-03-17 18:03] tsibley commented on #891
Notably, `sphinx_rtd_theme` from Conda is stuck at 0.4.3 unless you enable the conda-forge channel:

[code]

[2022-03-17 21:39] victorlin commented on #891
@tsibley the above PR in nextstrain/sphinx-theme should be sufficient once released on PyPI.

The absence of `sphinx_rtd_theme` from `defaults` shouldn't be a problem for the current conda.yml since it is handled by `pip`:

https://github.com/nextstrain/ncov/blob/fb985678b052809d7829f9e8e72e82250a22a142/docs/conda.yml#L10-L11

If anything, we will need to bump `nextstrain-sphinx-theme` to the newe

[2022-03-21 22:39] kwongm opened #893 "Augur align issue: Unable to run shell commands using env and bash"
**Current Behavior**
Running a workflow, and currently trying to run the Augur align step.

augur align --sequences results\filtered.fasta --output\results\aligned.fasta --fill-gaps

**Expected behavior**
Expected to produce aligned.fasta.

**Environment**
 - Operating system: WIndows 10
 - Running on Python 3.9.7 environment, out of Visual Studio Code in conda environment.
- Versions
-- augur 14.

[2022-03-22 19:48] #852 closed

[2022-03-24 02:06] Mustafa-Mohammed-58541 commented on #265
I want to contribute to this repo  but did not where to start .can any body give me advice. Thanks in advance.

[2022-03-24 18:58] huddlej opened #898 "Link to CDC and CZI GenEpi training videos from documentation"
**Context**
During office hours, we often get questions about what training materials exist to help people get started with genomic epidemiology. Outside of our software-focused tutorials, several other resources exist that we should link to from our docs.

**Description**
Add links to [CZI GenEpi](https://czgenepi.org/resources) and [CDC video](https://www.cdc.gov/amd/training/covid-19-gen-epi-to

[2022-03-24 21:02] victorlin commented on #891
Fixed by releasing nextstrain/sphinx-theme#19 and re-building the live docs via Read the Docs.

[2022-03-24 21:02] #891 closed

[2022-03-28 14:08] AdmiralenOla opened #899 "No column named Nextclade_pango"
**Current Behavior**
ncov workflow crashes at the join_metadata_and_nextclade_qc rule. The key "Nextclade_pango" doesn't exist in the input files to this rule.

**Expected behavior**
I expected "Nextclade_pango" to be a column in the nextclade_qc.tsv file. It does not seem to be in Nextclade version 1.11.0, which is the version indicated in the most recent pull of workflow/envs/nextstrain.yaml

**

[2022-03-28 23:11] victorlin opened #900 "Update configuration guide"
- [ ] Document subsampling scheme `all`
_from https://github.com/nextstrain/ncov/pull/894#discussion_r832704630_
- [ ] prohibit certain suffixes in `builds:` entry names
_from https://github.com/nextstrain/ncov/pull/896#discussion_r836882802_
    1. Update [config.schema.yaml](https://github.com/nextstrain/ncov/blob/464041debc66a86a33d3c1c697026a1adeb1d326/workflow/schemas/config.schema.yaml)

[2022-03-29 16:45] huddlej opened #901 "Document color schemes"
## Context
At the beginning of the pandemic, [Trevor created a collection of color schemes that could scale to hundreds of categorical values](https://github.com/nextstrain/ncov/commit/f2e31be77adf4e51dcec500778f25dea70f89b81). [These color schemes](https://github.com/nextstrain/ncov/blob/master/defaults/color_schemes.tsv) were originally used to generate colors for geographic regions, but they ha

[2022-03-30 10:48] AdmiralenOla commented on #899
Thank you, @huddlej! Well, I really thought I had tested that thoroughly, but running my command with `--forceall` does indeed solve my problem. Apologies for taking up your time with this!

[2022-03-30 10:48] #899 closed

[2022-03-30 18:33] victorlin commented on #265
Hello @Mustafa-Mohammed-58541, you can take a look at the [Contributing section in the repo README](https://github.com/nextstrain/ncov#contributing) as a start. Are you wanting to fix this issue specifically?

[2022-03-31 18:05] huddlej commented on #899
No worries, @AdmiralenOla! It's better to be sure that there's not an issue in the code that everyone else is silently enduring. :) I'm glad it is working now, though.

[2022-04-08 01:39] jameshadfield commented on #901
One limitation of the current ncov workflow (and nextstrain more generally) is that _all_ custom colours have to be specified in one file to be passed to `augur export`. For example, if you want to use our provided (ordered) colours for country, pango lineage etc, but add in some custom colours then there's no easy way to do this (if you're happy with our colours and simply want to change the orde

[2022-04-10 00:46] sacundim opened #909 "Fetching Open workflow intermediate build assets over S3 gives a 403 error in a really simple setup"
As @tsibley mentions in [Pull Request #903](https://github.com/nextstrain/ncov/pull/903), the Open workflow documentation recommends that users preferentially access the intermediate build assets over S3 instead of HTTPS.  [The documentation](https://docs.nextstrain.org/projects/ncov/en/latest/reference/remote_inputs.html) notes that this requires the S3 client to be authenticated with AWS:

What

[2022-04-10 01:17] sacundim commented on #909
Ok, I figured out the problem.  I misunderstood this documentation to mean that authenticating to AWS was sufficient to be able to read from those buckets:

But that really means (and does technically say) that such authentication is **necessary** (not sufficient!) for the execution environment to be able to access the `s3://nextstrain-data/` bucket.  In my case, IAM is denying my Batch job access

[2022-04-12 22:10] #482 closed

[2022-04-13 01:47] jameshadfield opened #915 "Visualise omicron recombinants"
This issue contains two examples of visualising recombinants.

For this issue I've chosen to display BA.1, BA.2, BA.3 and BA.4 as distinct recombinants, however that choice is clearly up for grabs. What workflow changes we make to generate them is also up for grabs, here I'm using a tree from Trevor's #913 and pruning out clades.

Option 1: Separate them into subtrees

URL: https://nextstrain.org/

[2022-04-14 23:28] huddlej commented on #872
This will be closed by [the wdl/optionals branch](https://github.com/nextstrain/ncov/compare/wdl/optionals).

[2022-04-18 18:24] trvrb commented on #700
I like the 1+2 proposal above. Keep in mind that even if we could reliably root on "best" (essentially maximizing root-to-tip correlation) we'd be left with an issue of calling mutations. By including Wuhan root mutations are reliably called relative to this reference. This is important for clade assignment as well as general understanding.

[2022-04-18 18:26] emmahodcroft commented on #700
I agree with Trevor - I think we'd invite more confusion if mutation calling started getting out-of-whack with what's standard.

[2022-04-18 19:37] sidneymbell commented on #700
This sounds great, thank you @huddlej .

I would perhaps also consider adding a conditional to the proximity calculation script that excludes the reference (i.e., don't enrich for samples similar to the ref sequence).

[2022-04-18 20:11] huddlej commented on #700
@sidneymbell I was wondering about that point in @danrlu's Slack thread. I would expect the reference to get ignored during proximity calculations based on [the `--ignore-seqs` that specifies the root strain name](https://github.com/nextstrain/ncov/blob/58ca2bbd166df6d9745939ecfe2e294592de3688/workflow/snakemake_rules/main_workflow.smk#L372). Do you find that you still see the root strain (`Wuhan/

[2022-04-18 21:06] danrlu commented on #700
I'm learning so much through this discussion 😆 I didn't know `--ignore-seqs Wuhan/Hu-1/2019` is in place by default (I see it in our run log). We removed all ref strain from `include.txt` just so we don't get sequences pulled due to proximity to the root, but in fact we only needed to remove the other 2 ref sequences (such as `Wuhan/WH01/2019`), and can keep `Wuhan/Hu-1/2019` in `include.txt` 🤩 Bu

[2022-04-26 23:51] tsibley commented on #909
@sacundim Thanks for digging into this and relaying your findings here! I agree the documentation here could be clarified.

What you ran into was a nuance of cross-account access in AWS. As briefly described in [AWS docs about "public" access](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html#principal-anonymous) (emphasis mine):

The link describes in mor

[2022-04-26 23:53] tsibley commented on #909
Relatedly, I wish it was easier in Snakemake's S3 remote support to disable request signing for these specific S3 requests, since anonymous access works fine and avoids the issue of setting up IAM for cross-account access.

[2022-04-29 15:31] j23414 commented on #872
Closed by merging the [the wdl/optionals branch](https://github.com/nextstrain/ncov/compare/wdl/optionals).

[2022-04-29 15:31] #872 closed

[2022-04-29 22:27] #880 closed

[2022-05-02 17:11] #808 closed

[2022-05-02 17:11] #863 closed

[2022-05-06 16:21] victorlin commented on #898
Done as part of #894. The links are at the bottom of the [tutorial Next Steps page](https://docs.nextstrain.org/projects/ncov/en/latest/tutorial/next-steps.html).

[2022-05-06 16:21] #898 closed

[2022-05-06 21:19] huddlej commented on #915
What do we think is the most biologically appropriate representation of these data in a data structure?

 - Encoding the potential recombinants as subtrees indicates strong evidence that the subtrees do not belong to a single tree. This encoding enforces a specific set of recombination events.
 - Encoding the recombinants as a metadata annotation that we can "explode" or color by indicates uncerta

[2022-05-09 10:15] emmahodcroft commented on #915
I agree with John and also think, that at least for the BAs, encoding as metadata that can be exploded or not is nice to reflect the uncertainty.

One question it raises is whether in cases where recombination is more certain (the X lineages), that would be better to have as a separate tree. How much it influences the phylogeny may be a line-drawing point - 'more recombinant' things may just simpl

[2022-05-13 22:43] joverlee521 opened #948 "`annotate_metadata_with_index` raises `ValueError` when dtypes don't match"
**Current Behavior**
Within [annotate_metadata_with_index](https://github.com/nextstrain/ncov/blob/08cd17c2521001e370bfaaed24620ebda0411356/scripts/annotate_metadata_with_index.py#L18), the index TSV is read without explicitly set dtypes. This can lead to numerical id strain values to be interpreted as numbers, leading to a `ValueError` when merging with the metadata.

**Additional context**
See e

[2022-05-17 22:00] AdrianLimaG opened #949 "Snakemake not passing down resource constrains"
**Current Behavior**
When runing nextstrain build with the following command

nextstrain build . --configfile build.yaml --cores all --resources mem_mb=5000

Everything works up until the iqtree2 command is run. Here my OS kills the operation due to its memory limitations.
My current set up has 15gb of ram and when I check the "dmesg" I see the iqtree was using around 19gb of virtual memory which

[2022-05-24 00:09] tsibley commented on #949
@AdrianLimaG Snakemake's resource settings help Snakemake's scheduler decide what rules can run simultaneously, but they don't automatically enforce limits on what the rule actually uses. It's left to the rule in question to pass through resource constraints to the commands it's running and for the commands to respect those. In this case, I don't think the rule running IQ-TREE is doing that, so IQ

[2022-05-24 10:08] crl9k commented on #856
For the record and for others having this issue, I ended up using the "reference data" maintained by the Nextstrain team that represent all Nextstrain clades annotated for SARS-CoV-2 (cf. https://data.nextstrain.org/files/ncov/open/reference/[metadata.tsv.xz|sequences.fasta.xz], https://docs.nextstrain.org/projects/ncov/en/latest/tutorial/example-data.html). Mixing this reference data with my data

[2022-05-25 19:39] tsibley commented on #949
While I originally didn't think there was a way to ask IQ-TREE to limit its memory usage, looking again I see this in `iqtree --help`:

[code]

So this is something we could update our Snakemake `rule tree` to do.

[2022-05-25 21:10] tsibley commented on #949
Possible fix in #953.

[2022-05-26 17:58] huddlej opened #954 "Link out to CDC curated datasets"
Just a note that Jason Caravas has created [subsampled datasets for US states based on open GenBank data](https://github.com/CDCgov/usa-sars-cov-2-nextstrain-sets/). We should link out to this resource from our "remote inputs" page.

[2022-05-26 18:02] j23414 commented on #954
I assume these links to sequences & metadata should be added to the table at?

* https://github.com/nextstrain/ncov/blob/master/docs/src/reference/remote_inputs.rst#summary-of-available-genbank-open-files

[2022-05-26 18:48] victorlin commented on #954
I created the PR above, putting them in the Data Prep guide since users are more likely to visit that than the remote inputs page.

[2022-05-26 21:48] #954 closed

[2022-06-10 22:28] tsibley opened #961 "Delete pre-computed, downloaded input files on workflow completion on AWS Batch"
During some [troubleshooting on Slack re: a fork/derivative of this workflow](https://bedfordlab.slack.com/archives/C7SDVPBLZ/p1654894186051299), I realized that the workflow doesn't do anything to exclude the pre-computed input files it downloads at the start from being re-uploaded to S3 at the end of the AWS Batch jobs we use in production. For example, from the logs of `90f43cc5-da33-44a5-b0e6-

[2022-06-29 00:22] victorlin opened #968 "doc: Workflow broken for non-Docker runtime following nextclade2/nextalign2 update"
**Current Behavior**

The Snakemake workflow now fails when not using the Docker runtime:

[code]

and similar for `nextclade2`.

This is because the commands `nextalign2`/`nextclade2` are only provided into the `nextstrain/base` Docker image after nextstrain/docker-base#54 and exclusively used by this workflow following merge of #963.

**Expected behavior**

Workflow should work for all runtimes.

[2022-06-29 01:07] ivan-aksamentov commented on #968
The concern was that someone may need Nextclade v1, and so the default symlink still points to v1. Or at lest there was concern before the release and the internal upgrade.

I don't know much about where the base image is used and by whom, so I trust you folks to make a call here.

One thing I can tell for sure, v1 is gone, and we try to encourage switching to v2 for everyone who asks.

cc @tsible

[2022-06-29 18:35] ivan-aksamentov commented on #968
Yeah, I agree. And if someone still needs a base container with v1 they can simply go back at a previous docker tag.

[2022-06-29 19:57] ivan-aksamentov commented on #968
I submitted PRs which should make the transition in places I know:
 - https://github.com/nextstrain/docker-base/pull/60
 - https://github.com/nextstrain/ncov/pull/969
 - https://github.com/nextstrain/monkeypox/pull/91

What do you think?

[2022-07-01 04:46] victorlin commented on #968
[This discussion forum post](https://discussion.nextstrain.org/t/error-trying-to-run-ncov-tutorial-nextalign2-sanitize-sequences-py/1165/2) was made because of this issue. Copying the error output here for visibility:

[code]

[2022-07-01 19:14] huddlej commented on #968
This issue is closed by @ivan-aksamentov's PRs listed above.

[2022-07-01 19:14] #968 closed

[2022-07-15 20:33] victorlin opened #982 "docs-ci is failing with error from sphinx_markdown_tables extension"
[Example run](https://github.com/nextstrain/ncov/runs/7364567111?check_suite_focus=true) where [docs-ci](https://github.com/nextstrain/.github/blob/24efb1981ec34b188535da9b1307076a06c1f3f3/.github/workflows/docs-ci.yaml) is failing.

This is due to https://github.com/ryanfox/sphinx-markdown-tables/issues/36 and we will need to wait for that to be fixed.

[2022-07-15 21:40] tsibley commented on #982
Also impacting the [nextstrain/nextstrain.org repo's docs build](https://readthedocs.org/projects/nextstrainorg/builds/17454033/).

[2022-07-18 17:44] tsibley commented on #982
I'm fine either way. In some sense it's still 7 docs projects to manage regardless of option 1 or 2 above. With option 2, for example, we'll have to trigger new builds for the "latest" version of each project so it picks up the new dep (or wait for this to happen in due course due to other dev). That said, option 2 does let us fix any "stable" builds that are busted because of this (if any?) by re

[2022-07-18 17:50] victorlin commented on #982
Fair enough! I don't mind letting things fail as long as we're aware of the issue and that we aren't able to push any new docs content until it's fixed. We could let this sit until https://github.com/ryanfox/sphinx-markdown-tables/issues/36 gets fixed, or move forward with option 2 if anyone has new docs content that they'd really want to push.

[2022-07-18 21:01] corneliusroemer commented on #982
I don't expect this will be fixed soon, the last commit was 2y ago. Sure, maybe it all worked perfectly but my feeling is this will take at least a month to be solved if at all.

May have to be forked and fixed by community if someone knows how to. May be simple, may not be.

I'd be in favour of us PRing the fixes. Pinning shouldn't be too bad and this may happen again in the future.

No activity

[2022-07-18 22:33] tsibley commented on #982
The fix is incredibly simple, a couple additional characters. On top of that, the whole extension is also very short (~40 lines). We could vendor it with minimal overhead, for example.

But it's only been 3d total—not "another 3d"—and waiting a few more and/or working around as needed (with version pinning or vendoring) seems fine to me. I wouldn't suggest installing from some random patched repo,

[2022-07-18 23:13] tsibley commented on #982
I implemented option 2 as https://github.com/nextstrain/sphinx-theme/pull/29, released as nextstrain-sphinx-theme 2022.8.

[2022-07-19 16:06] corneliusroemer commented on #982
Looks good, the PR CI seems to work now, thanks @tsibley !

[2022-07-24 14:16] corneliusroemer opened #985 "ENH: Add S1 mutations, reversion count and other branch colorings"
**Context**
I found S1 mutations a super useful coloring in the pre-Omicron days.

Unfortunately, Omicron has so many S1 mutations now that new S1 mutations are no longer identifiable through this coloring.

**Description**
It would be great if we could add a few colorings to ncov that are at branch level.

This would allow more informative tree scanning/browsing by coloring at a local level - whe

[2022-07-27 16:43] #982 closed

[2022-08-09 11:59] eltrompetero opened #989 "data download for "all-time" Europe is empty"
**Current Behavior**
I tried downloading the phylo tree data but am getting an empty file. I get a file with data if I select a different time period, 6m or 2m.

**Expected behavior**
I tried downloading the phylo tree data but am getting an empty file. Expected behavior fulfilled with other time periods and "global" region.

**How to reproduce**
Steps to reproduce the current behavior:
1. Select

[2022-08-09 12:11] emmahodcroft commented on #989
I'm afraid wasn't able to replicate this on `open` or `gisaid` on Windows 10, Chrome, Edge, or Firefox. It might be a Mac or Safari-specific problem?
Someone else from Nextstrain might be on a Mac and able to test in those cases.

Just to confirm, are you trying to download the `gisaid` tree - and are you choosing the "Timetree (Newick)" option, or another?

[2022-08-09 12:30] eltrompetero commented on #989
Thanks so much for the rapid response.

You're right, it seems to be a browser specific issue. It didn't seem like it should be one since the download was working for other settings...but it is!

The settings were just as you said. I didn't change anything else besides the options I specified.

[2022-08-09 12:43] emmahodcroft commented on #989
Hi @eltrompetero - it's good to hear that you got it working! I guess it was Safari that didn't work, but another browser did?

It would still be useful for us to look into this if we can, since it could be affecting others. In particular, as you say - it working then not working either after a specific sequence or on a specific dataset, is particularly odd.

[2022-08-09 12:45] eltrompetero commented on #989
Apologies, I didn't specify. Firefox v103 worked for me. Safari did not work.

[2022-08-09 12:55] eltrompetero commented on #989
Possibly related: when I try the same settings as before but specify all clades except for Delta and Omicron, I also receive an empty file.

Maybe these are both query errors? E.g. the query is very long in this particular example.

[2022-08-09 17:30] victorlin opened #990 "URL preview from rebuild-gisaid.yml output does not work"
**Current Behavior**

I ran [rebuild-gisaid.yml](https://github.com/nextstrain/ncov/blob/338e07e0c393f1288da3be61ebce6bca2d7d0ed4/.github/workflows/rebuild-gisaid.yml) to test this workflow running with `augur filter --engine sqlite`, a feature being developed in nextstrain/augur#854.

I see that the Batch job has succeeded, and the files are there under `s3://nextstrain-ncov-private`. However, I

[2022-08-09 18:07] joverlee521 commented on #990
Ah, behavior on staging is a little weird (maybe intentional?) in that you have to provide the _exact_ url to the dataset.

Since the builds are now split into different timespans (`all-time`, `6m`, `2m`), you need to go to `https://nextstrain.org/staging/ncov/gisaid/trial/$TRIAL_NAME/<REGION_NAME>/<TIME_SPAN>`
For example: https://nextstrain.org/staging/ncov/gisaid/trial/victorlin-test-sqlite/glo

[2022-08-09 18:21] victorlin commented on #990
Oh ok! I also tried https://nextstrain.org/staging/ncov/gisaid/trial/victorlin-test-sqlite/global but makes sense why that doesn't work now. I'll make a PR to add `<TIME_SPAN>` and maybe a valid example URL too.

[2022-08-09 18:29] joverlee521 commented on #989
Hmm, I am able to download the Newick tree even when using Safari on MacOS 10.14.6 from https://nextstrain.org/ncov/gisaid/europe/all-time.

This is a separate [known issue in Auspice](https://github.com/nextstrain/auspice/issues/1267) that filtered data produces empty trees unless you use the [workaround](https://github.com/nextstrain/auspice/issues/1267#issuecomment-767846905) in the linked issu

[2022-08-09 21:49] victorlin commented on #989
Also unable to reproduce. I've tried Safari, Microsoft Edge, and Google Chrome. All on latest versions and on macOS 12.3.1.

[2022-08-11 08:04] eltrompetero commented on #989
I'm confirming now that the all-time Europe download, which was the start of the thread, works fine on Safari. Very strange.

I still had the same problem with selecting all clades except for Delta and Omicron returning an empty file, but using "zoom selected" solved my problem as mentioned above.

Thanks for all the suggestions.

[2022-08-11 22:15] joverlee521 commented on #989
Closing this issue since we are unable to reproduce. Please let us know if you run in to any other issues!

[2022-08-11 22:15] #989 closed

[2022-09-26 22:37] j23414 opened #1005 "feat: WDL overhaul for Dockstore and Terra"
## Description

In order to document and test the Terra WDL workflows, this issue outlines a somewhat major overhaul of WDL code.

To stop maintaining 3 separate GitHub branches for `genbank_ingest`, `gisaid_ingest`, and `ncov`; the code is refactored to using [Dockstore subworkflows](https://github.com/nextstrain/ncov/blob/wdl/ingest_squash/.dockstore.yml) as discussed in [this slack thread](http

[2022-10-06 14:25] corneliusroemer opened #1011 "ENH: Reconstruct Nextclade Pango Lineage on internal nodes"
It's great we now have Nextclade Pango Lineage as coloring in ncov.

Could be useful to also color branches = internal nodes.

I have a script for that, that takes aliases etc into account, so if you have BA.5.2 and BA.5.3 tips, it decides the internal node has BA.5 etc

The script is here: https://github.com/neherlab/nextclade_data_workflows/blob/master/sars-cov-2/scripts/internal_pango.py

It ma

[2022-10-06 19:01] fanninpm commented on #410
Augur v18.0.0 was released not too long ago, and it adds the `--use-fft` flag to `augur refine`. Using this flag cut down `augur refine`'s computational time considerably (from 57 minutes down to 35 minutes, on a rather large tree).

I used the following patch to patch `workflow/snakemake_rules/main_workflow.smk`, which you should feel free to modify:

<details>
<summary>Patch to <code>workflow/sn

[2022-10-06 23:20] victorlin commented on #410
@fanninpm that's great to hear! I'm not very involved in the TreeTime development, but I noticed that `--use-fft` was [added to the Nextstrain monkeypox workflow](https://github.com/nextstrain/monkeypox/commit/36da56e6201d3e742f42d3c2810b75fd365676c7) then [recently removed](https://github.com/nextstrain/monkeypox/commit/26c2fa1fbe8766c59685e2f611edabcfc98fdaf5). @corneliusroemer is this because o

[2022-10-14 08:20] corneliusroemer opened #1015 "ENH: Simple reversion coloring to allow inspection of interesting/problematic parts of tree"
**Context**
It would be great to have a simple reversion coloring that counts number of reversions from the root till the node.

This should be easy to script and add, would help a lot with a lot of the work I do on Nextclade trees but should also be useful in general, helping identify problematic parts of trees (e.g. tree builder error), recombinants, quality issues etc.

This script may well end

[2022-10-17 22:43] joverlee521 opened #1017 "Discussion: Do we still need the `snp_clusters` param for `diagnostics` rule?"
### Context
@huddlej's response to a [discussion question](https://discussion.nextstrain.org/t/why-do-my-sequences-end-up-in-excluded-by-diagnostics-txt/1250) prompted me to take a closer look at the `diagnostics` rule/script.
I wanted to understand how the hard-coded params were used in the script:
https://github.com/nextstrain/ncov/blob/44ab71ab3bace68c59bd5c688587e6e30a4a4fc4/workflow/snakemake

[2022-10-17 23:47] j23414 commented on #1017
I lean toward possible solutions 2 or 3, but I'm probably missing the historical context.

[2022-10-18 08:55] emmahodcroft commented on #1017
My guess is that this was removed when we tried to pare down what we were bringing in from Nextclade to keep it to only things that were of most use. I imagine it won't come back and it's hard for me to imagine that users are supplying their own value here. However @rneher & @corneliusroemer might be able to provide a bit more context just in case we're missing anything.

[2022-10-18 10:05] corneliusroemer commented on #1017
This predates me, I can't really comment here.

[2022-10-19 11:13] corneliusroemer opened #1019 "ENH: Make trial build URLs real, not require replacement"
When making trial builds, the URL we output at the moment for where one can view is actually not a URL where one can see anything.

I'd prefer if we just output one example URL where one can see something, rather than `REGION_NAME`

<img width="986" alt="image" src="https://user-images.githubusercontent.com/25161793/196675798-27fd0028-d165-49d8-ae70-09b3e03a7052.png">

I've been confused by this i

[2022-10-19 17:48] joverlee521 commented on #1019
#991 should resolve this.

[2022-10-19 19:13] #990 closed

[2022-10-19 20:38] #1019 closed

[2022-11-15 00:44] AnonymousUserUse opened #1031 "Proposal: elevate BN.1 as 22G"
Sublineages of BA.2.75 deserve more attention than they get.
Here I propose to elevate BN.1, alias of BA.2.75.5.1, as 22G.
BN.1 shows >0.05 growth advantage per day and has reached >5% regional frequency in Oceania, thus fulfilling criteria 4 for designating a Nextstrain clade.
https://cov-spectrum.org/explore/Oceania/AllSamples/Past3M/variants?nextcladePangoLineage=BN.1*
![image](https://user-ima

[2022-11-23 14:17] AnonymousUserUse commented on #1031
Now BN.1 has reached global prevalence of 5%, with substantial growth advantage. I think it should be designated. @corneliusroemer
https://cov-spectrum.org/explore/World/AllSamples/Past2W/variants?nextcladePangoLineage=bn.1*&
![image](https://user-images.githubusercontent.com/113214374/203568542-fda992fe-c383-4f3d-98ee-59a8232b3379.png)