[2020-01-26 12:24] rneher opened #5 "Mandarin translation"
@alvinxhan -- would be great if we would have a mandarin translation.

Emma just make placeholders for a spanish and zh translation. Feel free to get going. we can always rename files etc later.

[2020-01-26 12:26] alvinxhan commented on #5
@rneher yup, I'll get to it now!

[2020-01-26 14:38] rneher commented on #5
Tagging @fzhang12 who is willing to help with this translation. Thank you so much! The task is to translate the English text in here:
https://raw.githubusercontent.com/nextstrain/ncov/master/narratives/ncov_sit-rep-zh_2020-01-25.md

@alvinxhan, maybe you can point @fzhang12 to sections to tackle!

[2020-01-26 14:42] alvinxhan commented on #5
Sure! Hey @fzhang12 I have already translated up to Phylogenetic analysis section. Can you start from there to speed things up?

[2020-01-26 14:56] emmahodcroft opened #6 "Spanish Translation"
We are super-pleased to have @Chjulian working with us on a Spanish translation of narratives! I am simply making this issue so that there's a place where everyone can discuss, contribute, etc to the Spanish narratives!

[2020-01-26 14:58] emmahodcroft commented on #6
@Chjulian thanks so much for the first update! You'll notice I pushed a few small changes - the fields in the top of the file have to remain English in their names just so that the code on the website recognises them. However I have moved your name and attribution into the author list! :)

[2020-01-26 14:58] fzhang12 commented on #5
@alvinxhan absolutely no problem. I've already started a little bit. Could you specify which part (or maybe *which header* is more preferable) I should cover? Maybe `# Within-family transmission`?

[2020-01-26 15:01] alvinxhan commented on #5
Would be great if you could translate starting from ```# Phylogenetic Interpretation```!

[2020-01-26 15:01] Chjulian commented on #6
yeah, I was testing and keep working as w speak. I was not sure about those
headers but was aware could be fixed easily. Thanks!

On Sun, Jan 26, 2020 at 2:58 PM Emma Hodcroft <notifications@github.com>
wrote:

--

Julián

[2020-01-26 15:04] emmahodcroft commented on #6
No worries at all! We are trying to fix it up so that after pushing you can follow a special link and check how it looks. Haven't quite gotten it working but will let you know when we do!

[2020-01-26 16:29] 7glaucio commented on #6
@emmahodcroft  Are you guys intending to have a Portuguese version as well? I can help. I'm have free time and I'm looking projects to contribute to get more to used on Git.

[2020-01-26 16:38] rneher opened #7 "portugese translations"
@7glaucio: yes, there is interest in a Portuguese translation. We made a copy of the narrative file

https://github.com/nextstrain/ncov/blob/master/narratives/ncov_sit-rep-pt_2020-01-25.md

@andersonbrito is also interested in contributing here and he has expertise in the subject matter. Maybe the two of you can coordinate how to best get this done.

[2020-01-26 16:42] rneher commented on #6
I made an issue for the Portuguese and tagged you.

[2020-01-26 17:14] alvinxhan commented on #5
Hey @fzhang12, I have uploaded my part of the translation. Can you give it a quick read as well to make sure they sound right (especially the scientific jargons!)? Sorry for the slow response, was travelling on a flight back home!

[2020-01-26 17:18] fzhang12 commented on #5
@alvinxhan perfect. That was quick. I will integrate it to my current one. I am 75% done for now

[2020-01-26 17:22] rneher commented on #5
fantastic. Since there are several people working on translation right now. I suggest we move this translation into branch https://github.com/nextstrain/ncov/tree/sit-rep_zh

this will avoid conflicts between different people editing and allows us to separate ongoing work from the production version. let us know if you need help.

[2020-01-26 17:22] rneher commented on #6
Since there are several people working on translation right now. I suggest we move this translation into branch

https://github.com/nextstrain/ncov/tree/sit-rep_es

this will avoid conflicts between different people editing and allows us to separate ongoing work from the production version. let us know if you need help.

[2020-01-26 17:23] rneher commented on #7
Since there are several people working on translation right now. I suggest we move this translation into branch

https://github.com/nextstrain/ncov/tree/sit-rep_pt

this will avoid conflicts between different people editing and allows us to separate ongoing work from the production version. let us know if you need help.

[2020-01-26 17:55] alvinxhan commented on #5
@fzhang12 I had time on my hands during transit so please take your time. happy to go over the whole translation with you once you are done!

@rneher great and thanks!

[2020-01-26 18:01] rneher commented on #5
@fzhang12 if you are unfamiliar with git workflows, you can go here

https://github.com/nextstrain/ncov/blob/sit-rep_zh/narratives/ncov_sit-rep-zh_2020-01-25.md

press the "edit" button on the top right, and add your changes in the browser. Once you are done, press the "commit" button at the bottom.

[2020-01-26 18:31] Chjulian commented on #6
I have finished the first full draft of the Spanish version. Need to take a break before proofreading again. Please double check everything looks right (positioning, etc)

[2020-01-26 18:47] fzhang12 commented on #5
@alvinxhan Thanks for your active reply. I just uploaded my second part and am still going over the whole. My main question: is R0 known as '生殖数' in mainland? I didnt find any result even with Baidu. I had it translated as 'R0值'.

thanks @rneher , for your tip (it was really helpful !!) and all the effort.

[2020-01-26 18:55] alvinxhan commented on #5
@fzhang12 - let's go with R0值. I was translating it literally from "basic reproduction number". I'll make the changes now.

[2020-01-26 19:08] rneher commented on #6
Great work! I merged your changes into the feature branch for the Spanish situation report. Better to continue to work on this on a branch to avoid interference with others

https://github.com/nextstrain/ncov/tree/sit-rep_es

will then merge this into master when ready.

I also renamed the file to `ncov_sit-rep_es_2020-01-25.md` which will result in a more sensible url in the end!

[2020-01-26 19:16] Chjulian commented on #6
Great. I will proofread again in an hour or so and then should be ok from my side for the current outbreak update. To my knowledge, nobody else is editing the Spanish one, am I right?

[2020-01-26 19:28] rneher commented on #5
This is fantastic (not that I understand anything). But please add your names to the author list. we should be able to get this up before Asia wakes up in the morning!

[2020-01-26 19:51] rneher commented on #6
great. If you want to see what it'll look like, have a look here:

https://nextstrain-s-ncov-sit-r-ndkhc6.herokuapp.com/narratives/ncov/sit-rep/es/2020-01-25

once you have proof-read, we can move it live.

[2020-01-26 19:55] emmahodcroft commented on #6
This looks great @Chjulian ! Thank you so much for the quick work!

Yes at the moment you are the only person working on the Spanish translation. One some of the other translation pages we have multiple people working, so we're trying to set up something to standardise them all and reduce conflicts.

[2020-01-26 20:02] rneher commented on #5
btw: you can preview your work here:
https://nextstrain.org/community/narratives/nextstrain/ncov/sit-rep-zh/2020-01-25?n=0

[2020-01-26 20:47] alvinxhan commented on #5
Had a readthrough of the entire thing. Looks good to me. Thanks @fzhang12 for working on this together!

@rneher - added my name to the author list (looks like the order doesn't matter?). Thanks again! Fantastic job with the nCoV updates so far!

[2020-01-26 20:53] rneher commented on #5
I'll finalize this, add @fzhang12 name!

[2020-01-26 20:59] rneher commented on #5
here is the report:
https://nextstrain.org/community/narratives/nextstrain/ncov/sit-rep/zh/2020-01-25?n=10
not yet on live site, but as it would appear. @fzhang12 are you happy with your name shown as is?

[2020-01-26 22:29] rneher commented on #5
This is up live at

https://nextstrain.org/narratives/ncov/sit-rep/zh/2020-01-25?n=0

thank you all for your help. We'll make a new issue when there is an update to the English report.

[2020-01-26 22:29] #5 closed

[2020-01-26 23:02] Chjulian commented on #6
Hey all, I just read it again, rephrased a few things but overall good. I
am very happy with the outcome. The only issue if that I dont see the fig
titles displayed. Cheers

On Sun, Jan 26, 2020 at 7:55 PM Emma Hodcroft <notifications@github.com>
wrote:

--

Julián

[2020-01-26 23:03] jameshadfield commented on #6
👍 Thanks so much @Chjulian -- i'll double check the titles & release this ASAP.

[2020-01-27 00:04] jameshadfield commented on #6
Released 🎉

[2020-01-27 00:04] #6 closed

[2020-01-27 01:12] emmahodcroft commented on #6
@Chjulian it's middle of night now but when you wake up would you like to tweet the live link (I can provide in EU morning) announcing the Spanish version to ensure you get credit for your work publicly? The rest of us, and nextstrain account, can retweet your tweet!

[2020-01-27 01:16] jameshadfield commented on #6
https://twitter.com/Chjulian/status/1221585832143921152 ;)

[2020-01-27 01:17] emmahodcroft commented on #6
😂 very good! Sorry I'm behind - Only awake at 2am thanks to my cat!!

[2020-01-27 06:22] 7glaucio commented on #7
Hey @rneher , the link is not working. Page not found. And as far as I noticed, there is only one branch so far (master).

[2020-01-27 07:10] rneher commented on #7
sorry. Must have gotten accidentally deleted as Spanish and Mandarin were merged. the branch is back. feel free to get going.

[2020-01-27 07:18] 7glaucio commented on #7
No problem. Thanks, working on it.

[2020-01-27 09:15] emmahodcroft opened #9 "French translation"
@PierreBarrat has said he'll have a go at a French translation of the narrative! :)
I've created a page for it in the narratives folder, and will now create a branch as well. This issue is just for any necessary discussion/questions etc.

[2020-01-27 09:16] emmahodcroft commented on #9
@PierreBarrat there's now a new branch `sit-rep_fr` that you can work on, and a new file in the `narratives` folder called `ncov_sit-rep_fr_2020-01-25.md` which you can modify with the translation!

[2020-01-27 11:51] Chjulian commented on #6
Ha, np! please let me know when important updates are made available for the main narrative so these changes are incorporated in the Spanish one.

[2020-01-27 20:51] jameshadfield commented on #9
Thanks @PierreBarrat!

[2020-01-28 00:07] tsibley opened #12 "Better GISAID → metadata → Fauna data flow"

[2020-01-28 01:43] acx01b commented on #12
Hi,  Please get the Ragt13 bat virus https://www.gisaid.org/CoV2020/ which is 96% close to nCov and add it to https://nextstrain.org/groups/blab/sars-like-cov

(the bat virus found in Wuhan's virology institute main paper https://www.biorxiv.org/content/10.1101/2020.01.22.914952v2 )

[2020-01-28 03:00] CristianPumaES6 opened #13 "There should be a branch site-rep_es"
Los branch actuales:

master
https
sit-esp_fr
sit-esp_pt

[2020-01-28 03:02] CristianPumaES6 commented on #9
Hi desde perú,
quisiera traducir algunas narrativas, donde las consigo?

[2020-01-28 03:44] jameshadfield commented on #13
Hi @CristianPumaES6  -- the spanish translation is complete for the 2020-01-25 sit rep (see https://github.com/nextstrain/ncov/blob/master/narratives/ncov_sit-rep_es_2020-01-25.md or https://nextstrain.org/narratives/ncov/sit-rep/es/2020-01-25) which is why there is no `sit-rep_es` branch. (But if you have proposed modifications please let us know via an issue or PR!)

When we have a new sit-rep,

[2020-01-28 03:44] #13 closed

[2020-01-28 05:47] Daniel-Mietchen opened #15 "Add a LICENSE file"
to clarify reusability.

[2020-01-28 06:19] #15 closed

[2020-01-28 14:24] emvolz opened #17 "The substitution rate estimate under 'clock' view appears incorrect"
It states in the graph: "rate estimate: 1.40e+1 subs per site per year"
Surely not. Is this rate per genome?

[2020-01-28 17:16] tsibley commented on #12
@acx01b Thanks for your interest! I think your request is more suitable for the https://github.com/blab/sars-like-cov repository, which is what is used to produce https://nextstrain.org/groups/blab/sars-like-cov. This repository is for https://nextstrain.org/ncov. I'd encourage you to see if you can adapt the build there to include the bat virus you mention.

[2020-01-28 19:46] jameshadfield commented on #17
Hey Erik -- yes, this data has been scaled to represent "mutations per genome" as we felt that would be more generally interpretable, but the visualization hasn't caught up!

[2020-01-28 19:54] trvrb commented on #17
Thanks Erik! I've created an issue in Auspice here: https://github.com/nextstrain/auspice/issues/858, which is the place in the codebase that this would be addressed.

[2020-01-28 23:33] andersonbrito commented on #7
Hi @7glaucio and @rneher,

I have just finished proofreading the translations that Glaucio did (great job, by the way) :)

The version I see at the [master branch] (https://github.com/nextstrain/ncov/blob/master/narratives/ncov_sit-rep-pt_2020-01-25.md) still shows in English, while the Portuguese version lives in [this branch](https://github.com/nextstrain/ncov/blob/a03c438a296712f03ee9fcdeaa3fb7

[2020-01-29 00:26] tolot27 opened #20 "German translation"
Like for French and Portugese, there exists a branch [sit-rep_de](/ncov/tree/sit-rep_de) for German translation, already.
I wonder why the file names contain the date. I know, they are linked to different versions according to the date. But for a highly dynamic document updating frequently, it looks a bit strange to me.

[2020-01-29 00:29] jameshadfield commented on #7
@andersonbrito -- @7glaucio's changes are now in the branch `sit-rep_pt` branch of this repo (nextstrain/ncov) -- you should be able to edit by adding a commit to that branch (I've given you access to this repo).

[2020-01-29 00:31] tolot27 commented on #20
What about the more recent analyses, i. e. from 28th, January? Shall the document link to the most recent version of the analyses? If yes, is it possible to create the links dynamically?

[2020-01-29 00:43] jameshadfield commented on #20
@tolot27 -- we have made the decision to encode the date in the filename (and therefore the URL) for most nCoV datasets & narratives. This allows us to both preserve a historical record of analysis, easily viewable by anyone, as well as ensuring that the narrative content is referring to the correct data.

There is one exception: nextstrain.org/ncov will represent the latest dataset (you can see t

[2020-01-29 00:43] #20 closed

[2020-01-29 02:10] 7glaucio commented on #7
I'm glad to hear that @andersonbrito . I was a little worried, since I ain't specialized in the subject of discussion. I did my best. I hope it helps.

[2020-01-29 08:47] rneher commented on #7
merged. Thanks  @7glaucio and @andersonbrito!

[2020-01-29 08:47] #7 closed

[2020-01-29 10:10] rneher commented on #7
@7glaucio what is your twitter handle. I was going to announce the report from the nextstrain twitter account and tag you.

[2020-01-29 12:32] 7glaucio commented on #7
@rneher My username is @glauciomarcos . Thanks. I use LIn a lot if you're sharing there as well.

[2020-01-29 15:50] rneher commented on #7
here is the live version. needed to change the header slightly:
https://nextstrain.org/narratives/ncov/sit-rep/pt/2020-01-25?n=0

[2020-01-29 16:38] andersonbrito commented on #7
Is this header fixed, no matter the language?
By the way, I have just fixed a few markdown issues. New version committed now.

[2020-01-29 17:36] rneher commented on #7
yes. header fields are fixed. non ascii characters not allowed. I'll push your changes live. Please make a branch there were problems with the header. To avoid conflicts in master, please make a new branch if further changes are required

[2020-01-30 11:17] emmahodcroft commented on #17
Hi Erik - just to let you know, we've pushed through a fix for this and it should be displaying correctly now:
![image](https://user-images.githubusercontent.com/14290674/73445185-69d66f80-435a-11ea-90a6-300f7fe62c03.png)
But thanks again for bringing this to our attention!

[2020-01-30 11:17] #17 closed

[2020-01-30 11:41] rneher opened #22 "Update zh translation"
We updated the situation report. It would be great if this update was reflected in the translations in a timely manner: @fzhang12  @alvinxhan @wdingx (Wei was a PhD student/post-doc with me and offered to help as well).

 * make a branch `update-sit-rep_zh`
 * copy old report
 * make changes (see diff below) and other updates/corrections that are necessary.

The list of changes seems long, but the

[2020-01-30 12:34] emmahodcroft commented on #22
**I have already created a branch `sit-rep_zh` with the new file to be translated: `ncov_sit-rep_zh_2020-01-30.md`**

To make it easier to see what's changed, I've created a 'fake' diff file which shows the changes **only in the text**. You still *must* use the latest `ncov_sit-rep_`(lang)`_2020-01-30.md` file as your basis, because the code parts of the file have changed!

You can view the **text

[2020-01-30 12:36] emmahodcroft opened #23 "Update German Translation"
This is an issue for updating the German version of the Situation Report to match the 30 Jan 2020 English version, when possible! Tagging @nicfel @tolot27 @rneher - sorry if I've missed anyone!

**I have already created a branch `sit-rep_de` with the new file to be translated: `ncov_sit-rep_de_2020-01-30.md`**

To make it easier to see what's changed, I've created a 'fake' diff file which shows th

[2020-01-30 12:39] emmahodcroft opened #24 "Update Spanish Translation"
This is an issue for updating the Spanish version of the Situation Report to match the 30 Jan 2020 English version, when possible! Tagging @Chjulian

**I have already created a branch `sit-rep_es` with the new file to be translated: `ncov_sit-rep_es_2020-01-30.md`**

To make it easier to see what's changed, I've created a 'fake' diff file which shows the changes **only in the text**. You still *mu

[2020-01-30 12:40] emmahodcroft opened #25 "Update Portuguese Translation"
This is an issue for updating the Portuguese version of the Situation Report to match the 30 Jan 2020 English version, when possible! Tagging @7glaucio @andersonbrito

**I have already created a branch `sit-rep_pt` with the new file to be translated: `ncov_sit-rep_pt_2020-01-30.md`**

To make it easier to see what's changed, I've created a 'fake' diff file which shows the changes **only in the tex

[2020-01-30 12:49] fzhang12 commented on #22
Thanks @rneher @emmahodcroft for the update

Hi @wdingx , welcome to the zh translation team :)
We, also @alvinxhan , can take part of the job to speed up with the whole translation. I will start from the bottom this evening because I don't have much time during the day.

[2020-01-30 15:44] Chjulian commented on #24
Hey, there is a Spanish version completed that Im happy about. Please check

[2020-01-30 16:57] andersonbrito commented on #25
Thank you for letting us know, Emma.
I'm working on that now.

*Anderson Brito*

On Thu, 30 Jan 2020 at 07:40, Emma Hodcroft <notifications@github.com>
wrote:

[2020-01-30 18:31] andersonbrito commented on #25
@emmahodcroft, I have just pushed a new version of the narrative into **sit-rep_pt** branch.
Please let me know if you can see it.

Your use of </tag> is indeed a good idea. I was wondering if we could use hidden tags to number the start and end point of sections: it would make translations easier (sometimes it's hard to guess which part belongs to which section).

Finally, is there a way to visua

[2020-01-30 18:38] emmahodcroft commented on #25
Thank you so much! Sorry, it's a bit nuts here and I'm catching up. Will try to get you a preview link asap :)

[2020-01-30 18:40] andersonbrito commented on #25
Just now a saw there's more content to translate (I stopped half way through 💢). I'll ping you when it is (actually) finished.

[2020-01-30 18:43] emmahodcroft commented on #25
Ok!

[2020-01-30 18:49] emmahodcroft commented on #24
Thanks! Will check now!

[2020-01-30 18:56] emmahodcroft commented on #24
This looks great! Had to fix a few places where the URL was to the old data (2020-01-25 instead of 2020-01-30), but that was all :)
You can see a preview here : https://nextstrain.org/community/narratives/nextstrain/ncov/sit-rep/es/2020-01-30

Once you think it all looks good, I'll put this 'live' on the main site and close this as an issue!

Thanks again for such quick work!

[2020-01-30 19:07] Chjulian commented on #24
Thanks. I noticed that the latest english version informs in the Executive summary an R0 between 1.5 and 3.5. This needs to be updated to 1.8 (in the Spanish version too)

[2020-01-30 19:16] emmahodcroft commented on #25
So I just took a look at what you have so far, and there's a super weird thing (that's probably a bug on our side) but that stops it from working. In the text that shows up on the left, it seems this cannot finish with a link. So for example when you have the list of links:
![image](https://user-images.githubusercontent.com/14290674/73482008-3cf77c00-439d-11ea-888f-873877278fa6.png)
You currently

[2020-01-30 19:19] emmahodcroft commented on #24
Good spotting! I will update both... just the executive summary right?

[2020-01-30 19:21] Chjulian commented on #24
Yes, please merge my branch with my last minute minor updates and is ready
to go public

On Thu, Jan 30, 2020 at 7:19 PM Emma Hodcroft <notifications@github.com>
wrote:

--

Julián

[2020-01-30 19:41] andersonbrito commented on #25
@emmahodcroft, the translation is now finished. Please let me know if you encounter any inconsistencies concerning content presence or absence.

[2020-01-30 19:52] alvinxhan commented on #22
Heads up! I have started the translation.
See https://github.com/nextstrain/ncov/blob/sit-rep_zh/narratives/ncov_sit-rep_zh_2020-01-30.md

I have translated everything up to #Within-family transmission 2 - shared mutations

[2020-01-30 19:54] alvinxhan commented on #22
@wdingx (hello!) @fzhang12 - I can finish up the rest if need be (just holler!); Stopped here since @fzhang12 started from the end of the narrative.

[2020-01-30 20:03] alvinxhan commented on #22
@emmahodcroft @rneher - I think the R0 estimate in the executive summary (English one as well) should be updated as between **1.8** and 3.5?

[2020-01-30 20:05] emmahodcroft commented on #24
Thanks! Do you want to check the preview here? All looks good to me, though: https://nextstrain.org/community/narratives/nextstrain/ncov/sit-rep/es/2020-01-30

[2020-01-30 20:13] emmahodcroft commented on #25
@andersonbrito This looks good! Had to fix one minor bug in spacing, but that's all. Check out the preview here and let me know if it looks good!
https://nextstrain.org/community/narratives/nextstrain/ncov/sit-rep/pt/2020-01-30

[2020-01-30 20:14] Chjulian commented on #24
I just scrolled down and all looks good!

On Thu, Jan 30, 2020 at 8:05 PM Emma Hodcroft <notifications@github.com>
wrote:

--

Julián

[2020-01-30 20:19] emmahodcroft commented on #22
Yes! If you can fix this in your version I would appreciate it! Thank you! @Chjulian also spotted this...

[2020-01-30 20:24] alvinxhan commented on #22
@emmahodcroft Yep, I've already changed it to 1.8!

[2020-01-30 20:25] emmahodcroft commented on #24
https://nextstrain.org/narratives/ncov/sit-rep/es/2020-01-30 This will be the link, if you want to tweet it! I can have the nextstrain account retweet you. :) I will update the link on the main webpage now - but it will take a little while for the checks to run and it to update!

[2020-01-30 20:26] emmahodcroft commented on #24
(tell me when you tweet it and I'll go find it on twitter! But I'll need a nudge - juggling a lot!)

[2020-01-30 20:38] emmahodcroft commented on #22
@alvinxhan & @fzhang12 @wdingx  You can preview how the branch you are working on looks here!: https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_zh/sit-rep/zh/2020-01-30

Give me a ping when you are happy with how it looks, and I'll set it live!

[2020-01-30 20:41] Chjulian commented on #24
Ha, sure: here it goes:
https://twitter.com/Chjulian/status/1222983088722128903?s=20

On Thu, Jan 30, 2020 at 8:26 PM Emma Hodcroft <notifications@github.com>
wrote:

--

Julián

[2020-01-30 20:49] wdingx commented on #22
Thanks @fzhang12  @alvinxhan @emmahodcroft
I am adding a few updates now. (One sentence is missing + small edits)

[2020-01-30 23:03] fzhang12 commented on #22
Great work! thanks @alvinxhan @wdingx

I am reading through the whole translation, and rewriting some of sentences just to make them more understandable for non-scientist readers also.
I suppose it will take relatively long, so could you please not update the current version of it for a moment? Thanks again :)

[2020-01-31 01:09] fzhang12 commented on #22
Evening, @alvinxhan @wdingx I finished and uploaded my comments. I edited quite a few words in the previous part, i.e. evolutionary contents. And adding @wdingx in the author list :)

[2020-01-31 05:52] 7glaucio commented on #25
@andersonbrito I'm running late this time. Long day. Are you guys all set or is there something else that I can do to help?

[2020-01-31 08:01] emmahodcroft commented on #25
If you could look at the preview link above and let me know if all looks ok, that would be great! Feel free to push changes to the `sit-rep_pt` branch, or let me know here (tag me if possible so I'll see it faster!) if it's all good, and I'll push live :)

(You can preview any changes you make to the branch after pushing, here: https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_pt

[2020-01-31 08:01] #24 closed

[2020-01-31 08:03] emmahodcroft commented on #22
Do you think it's looking good to go, or shall I hold off? You can check out the full version here and ensure it all makes sense and looks good!
https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_zh/sit-rep/zh/2020-01-30

Tag me here if you think it's ready and I'll push it live :) Thank you all for your hard and speedy work!!

[2020-01-31 08:05] wdingx commented on #22
@fzhang12 Many thanks.
I just read through the text.
It seems that your comments are not added to the branch sit-rep_zh. Could you have a look? Thanks.

[2020-01-31 08:22] emmahodcroft commented on #22
I've pinged @fzhang12 on Twitter to see if she might be able to check she pushed! :)

[2020-01-31 10:53] emmahodcroft commented on #25
@andersonbrito

This is a great suggestion! I am working on putting tags of this sort into the next narrative, so this will be easier in future!

[2020-01-31 11:08] alvinxhan commented on #22
@emmahodcroft @wdingx @fzhang12 - had some time on my hands. I completed the translation building upon @fzhang12's work in the previous report.

[2020-01-31 11:12] emmahodcroft commented on #25
@andersonbrito If you have a minute, could you look at the raw version of the 'next' update file on the `sit-rep_update` branch, here: https://github.com/nextstrain/ncov/blob/sit-rep_update/narratives/ncov_sit-rep_2020-01-31.md

I've added commented 'slide break's and also annotated whether the text below goes on the left of the screen, or the right (or, if there is none of the right).

I didn't w

[2020-01-31 11:16] emmahodcroft commented on #22
I am not sure what to do, but haven't heard from @fzhang12 this morning. Would be lovely to have her contributions, but unsure when she might be available to find what went wrong.

@alvinxhan Does the preview look good to you? Would you say we are otherwise good to go? Thank you for your work!

[2020-01-31 11:18] fzhang12 commented on #22
@emmahodcroft Sorry, I was at a workshop this morning. I think I had a problem with my connection yesterday. I am working on the current file.

[2020-01-31 11:19] emmahodcroft commented on #22
Ok great! Yes, I figured you were probably busy - no worries at all! Have a look and let us know what you think. :)

[2020-01-31 11:19] alvinxhan commented on #22
The preview looks good to me but I would wait for either @fzhang12 or @wdingx to give it a run through before going online. I only gave the translation a go in case things are time-sensitive.

[2020-01-31 11:26] emmahodcroft commented on #22
@alvinxhan Much appreciated! Certainly no urgency in the next few hours, but we'd really love to get the update up today if at all possible! Thanks for your quick work!

[2020-01-31 11:44] fzhang12 commented on #22
@alvinxhan @wdingx @emmahodcroft  sorry for the delay, I read it through and uploaded my comments. Glad to work with you all :)

[2020-01-31 11:46] emmahodcroft commented on #22
So without being able to read what it says, visually it looks good to me too. I'm about to go to lunch - if anyone willing to give the final ok, let me know, and I'll push it live!

[2020-01-31 11:50] fzhang12 commented on #22
I screened @wdingx 's work also. It was already quite good to me so I didn't change so much. I am totally satisfied with it so, yes @emmahodcroft we are ready to go

[2020-01-31 11:57] emmahodcroft commented on #22
Great! Thank you all! I will push after lunch and tag you all in a tweet :)

On Fri, 31 Jan 2020, 12:50 fzhang12, <notifications@github.com> wrote:

[2020-01-31 12:47] emmahodcroft commented on #22
It's now live at : https://nextstrain.org/narratives/ncov/sit-rep/zh/2020-01-30
And I have tweeted, tagging you, here: https://twitter.com/nextstrain/status/1223226071614619648

The changes to the main Nextstrain page have been made but it will take a few minutes for the checks to complete and the server to start sending out the changes - but should be up there very soon!

Thank you all again for

[2020-01-31 12:47] #22 closed

[2020-01-31 13:44] 7glaucio commented on #25
@emmahodcroft @andersonbrito We're good to go. I fixed a few errors (an English sentence leftover, and 2 concordance errors), now I think we can publish it.

[2020-01-31 13:50] 7glaucio commented on #25
@andersonbrito Let me ask you a silly question, yet useful to clarify for the next reports: How do we know when to use **numerals or number in words**? Just asking because some parts we've been using both, others we are using only one of them (numerals or numbers written). Let's set a guideline for now on.

[2020-01-31 13:55] emmahodcroft commented on #25
Fantastic! I will do this now!
I'll post a link here, and do a tweet on the Nextstrain account, tagging you both.

Is this a reasonable translation for a tweet?:
Temos agora disponível em português o nosso último relatório de situação de 30 Jan Nextstrain sobre o surto #nCoV #nCoV2019: <link>

Muito obrigado ao rápido trabalho de <tags>

[2020-01-31 14:10] emmahodcroft commented on #25
Here's the live link: https://nextstrain.org/narratives/ncov/sit-rep/pt/2020-01-30

I've tweeted here: https://twitter.com/nextstrain/status/1223247025392713730

I've updated the links on the main Nextstrain page - it'll take a few minutes for the server to run checks and then start serving the latest versions - but should be up soon!

[2020-01-31 14:11] emmahodcroft commented on #25
Thank you both so much for your speedy work on this! :)
I will close the issue but you can still add comments to continue any conversation - and it would be great to hear if you think the tags I've added for the next update are the right direction!

[2020-01-31 14:11] #25 closed

[2020-01-31 14:22] 7glaucio commented on #25
@emmahodcroft About the tweet: Sounds good to me.

[2020-01-31 15:22] Simon-LoriereLab commented on #9
With Pierre technical help, I finished the French translation that he started (in the sit-rep_fr branch).

[2020-01-31 15:24] emmahodcroft commented on #9
@Simon-LoriereLab That's amazing!
You can see a preview of it here: https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_fr/sit-rep/fr/2020-01-30
If you think it looks good, I can push it live!

[2020-01-31 15:25] emmahodcroft commented on #9
Ah - I need to update some of the URLs - let me do that quickly and I'll let you know when to look at the preview! Sorry!

[2020-01-31 15:38] emmahodcroft commented on #9
@Simon-LoriereLab Great! I just made a few tiny fixes to the URLs and to some links.
Can you check out the preview here? https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_fr/sit-rep/fr/2020-01-30
If it all looks good, let me know and I'll push it live!

[2020-01-31 15:47] Simon-LoriereLab commented on #9
Everything looks good, you can push it! The only part not translated is on the first page (copied below) but this is the same in other translated versions:
 (Explore the content by scrolling the left hand side (or click on the arrows), and the data visualizations will change accordingly. Clicking "explore the data yourself" (top right of page) will replace this narrative with a set of controls so

[2020-01-31 15:49] emmahodcroft commented on #9
Great, I'll do that now!

Yes unfortunately this text is pushed on the server-side, and doesn't come in from the page that you guys work on. Long-term we can definitely fix, this, but we just never anticipated needing to implement different languages so suddenly, so it's  not perfect!

However, it's good spotting, and I'll make an issue, so we can remember to get to it!

[2020-01-31 15:52] emmahodcroft opened #32 "Narratives Instructions Always in English"
Instructions for how to use Narratives are always in English.

The instructions at the top of the first Narrative page are not from the Markdown file being loaded, so they are always in English.
![image](https://user-images.githubusercontent.com/14290674/73553341-13485e80-444a-11ea-8da1-196fb011c7b4.png)

It would be nice if we could inject different translations of this into different language ve

[2020-01-31 16:04] andersonbrito commented on #25
Thanks for asking, @7glaucio. At least in Portuguese scientific language (and probably English), I usually see numbers below 10 being written as words. But that's more of a convention. As long as we are consistent, that's fine.

This is a good guide for that: http://www.bristol.ac.uk/arts/exercises/grammar/grammar_tutorial/page_33.htm

[2020-01-31 16:09] andersonbrito commented on #25
@emmahodcroft, your 'slide break' proposal looks great. To make it event better, I would add slide numbers as well: since the wording content is sometimes very similar, I found myself editing Slide 8 on top of Slide 9 by mistakes. Or when some slides are eventually added, or inverted in order, things can get a bit confusing, for example.

Something like this would solve the issue:
!-- ############

[2020-01-31 16:55] emmahodcroft commented on #9
The link is live here: https://nextstrain.org/narratives/ncov/sit-rep/fr/2020-01-30

And I've tweeted it about it here: https://twitter.com/nextstrain/status/1223287249040760832

And it's live on the Nextstrain site as well! (Sorry, took a few minutes for all that to happen)

Thank you both so much for your help with this - it's fantastic to have a French version!

[2020-01-31 16:55] #9 closed

[2020-01-31 17:00] emmahodcroft commented on #25
@andersonbrito Thank you for taking a look! I did consider this, but my concern is that if we add or delete slides during the next update... it's a pain to go through and re-number (I think people just won't do it).

What I can try to do though, is once we've finalized the English version for sure, I can make a version that's 'for translation' and add the numbers then - when I know they won't chan

[2020-01-31 20:57] 7glaucio commented on #25
I see! I get it now. I didn't know that, thanks for the lesson. For now on we're in the same page.

[2020-01-31 23:22] jameshadfield commented on #32
cc @joverlee521 -- This content is indeed hardcoded in auspice.

[2020-02-01 21:19] emmahodcroft opened #38 "Russian Translation of 30 Jan Situation Report"
Thanks to @ivan-aksamentov, we have a Russian translation! I will push live tomorrow if we are ready. Ivan, if you hadn't seen it yet, here's the preview link, so you can check it out: https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_ru/sit-rep/ru/2020-01-30

A couple of the markdown links are broken (space between the ] and ( in `[link text](link)` ). I can fix this very easily

[2020-02-01 21:38] ivan-aksamentov commented on #38
@emmahodcroft thanks.
I will push an update with md links corrected and some other little adjustments soon.

[2020-02-02 09:40] emmahodcroft commented on #23
Made one small change to the exec summary, where the English version also hadn't updated the R0 estimate. Will push live now!

[2020-02-02 09:43] emmahodcroft commented on #23
The live version is here: https://nextstrain.org/narratives/ncov/sit-rep/de/2020-01-30
Tiles on main page will update momentarily.

[2020-02-02 09:43] #23 closed

[2020-02-02 10:10] emmahodcroft commented on #38
When this is ready to go, what would you suggest as the 'card' title, which will appear on the main Nextstrain.org page? https://nextstrain.org/
From the narrative translation, my guess would be "Ситуационный отчет 2020-01-30" - would this work?

[2020-02-02 15:50] ivan-aksamentov commented on #38
@emmahodcroft Yes this will work

[2020-02-03 08:05] PUPstudent123 opened #43 "Help"
How canni make a 3player connect4 game using python(pygame) and sublime

[2020-02-03 08:28] emmahodcroft commented on #43
Hi PUPstudent123, I don't think we can help you with this. This repository is for tracking nCoV via Nextstrain. Thanks.

[2020-02-03 08:28] #43 closed

[2020-02-03 09:18] emmahodcroft commented on #38
Situation Report in Russian now live at : https://nextstrain.org/narratives/ncov/sit-rep/ru/2020-01-30

The tiles on the main page have also been updated, and the Nextstrain Twitter account has tweeted!

Thank you for the hard work!

[2020-02-03 09:18] #38 closed

[2020-02-03 21:58] joverlee521 commented on #32
@jameshadfield Should the hardcoded bit be completely removed from auspice and just injected through nextstrain.org?

[2020-02-04 11:49] emmahodcroft opened #45 "More Colorblind friendly colours (or separate colourblind page?)"
From this tweet:
https://twitter.com/RScheppingen/status/1224652384372215809

Here's how nCoV looks with the Chrome Extension Colorblinding, set to Red-Blind (but Green-blind looks similar, and I understand these two are the most common):
![image](https://user-images.githubusercontent.com/14290674/73742360-8c96c880-474c-11ea-8a54-a3f2a2360779.png)

It's super hard to get colours people can see, ev

[2020-02-04 12:04] emmahodcroft commented on #45
I'm chatting with Roan to get his thoughts on what might help here. Estimates are ~5% of the population suffer some kind of colourblindness (~8% of men), so I think if there's something not-too-difficult we can maybe incorporate, it might be worth trying out.

[2020-02-04 13:27] tolot27 commented on #45
At http://colorbrewer2.org you can choose different palettes with different number of categorial/quantitative colorblind safe colors.

[2020-02-04 16:44] emmahodcroft commented on #45
Thanks @tolot27 ! This is probably a good starting place for some spectrums :)

[2020-02-08 00:24] WeileiZeng opened #47 "您的项目已录入 OpenSourceWuhan 武汉开源"
您好！

感谢您对武汉和开源社区的贡献，您的项目已录入 OpenSourceWuhan 武汉开源,如有疑问请[open an issue](https://github.com/WeileiZeng/OpenSourceWuhan)

武汉开源 [OpenSourceWuhan](https://weileizeng.github.io/OpenSourceWuhan/)
集齐了开源平台上支援武汉的项目，是一个连结各个开源项目的入口。

站点：
[https://weileizeng.github.io/OpenSourceWuhan/](https://weileizeng.github.io/OpenSourceWuhan/)

[2020-02-08 02:01] trvrb commented on #47
Thank you so much for letting us know @WeileiZeng! Much appreciated.

Google translation: 非常感谢您让我们知道@WeileiZeng！ 非常感激。

[2020-02-08 02:01] #47 closed

[2020-02-08 03:30] WeileiZeng commented on #47
Thanks for reminding me to make it English-friendly

[2020-02-12 11:06] Chess13234 opened #49 "Unique Strains count"
Could there be a counter for unique strains?

[2020-02-14 19:50] notebooklinda opened #51 "augur: error: unrecognized arguments: --weights config/weights.tsv when build with augur6.3.0"
After installing augur 6.3.0 via pip, when build again with command nextstrain build .
job 12 failed:
Job 12:
        Inferring ancestral traits for division
          - increase uncertainty of reconstruction by 2 to partially account for sampling bias
        augur traits             --tree results/tree.nwk             --metadata data/metadata.tsv             --weights config/weights.tsv

[2020-02-14 23:59] notebooklinda commented on #51
Running `nextstrain update`, and then build again solved the problem.

[2020-02-14 23:59] #51 closed

[2020-02-15 19:56] trvrb commented on #51
Great! Glad this was resolved for you.

[2020-02-17 00:52] trvrb commented on #12
Resolved in #50.

[2020-02-17 00:52] #12 closed

[2020-02-19 13:53] hackerchenzhuo opened #52 "one of the commands exited with non-zero exit code"
**when I put the sequences.fasta into data file, this error was raised.
I have tried many ways but faild.
I don't know whether is the problem from my sequences.fasta. But I have arranged these data like what described in readme.**

![image](https://user-images.githubusercontent.com/42081540/74840617-42bffc00-5362-11ea-9508-884ebb91c4da.png)

[2020-02-19 13:59] emmahodcroft commented on #52
Hi @hackerchenzhuo , from what you've posted, it seems the problem is that you have two copies of the sequence 'Italy/INMI1/2020' in your sequences.fasta file. (Or, two sequences that are called 'Italy/INMI1/2020'.)

If you search for this name in the sequences file you should be able to find where both of them are, and then you can remove one (if they are duplicates) or rename one (if you have ac

[2020-02-19 14:08] brianpardy commented on #52
Hi @emmahodcroft, while this problem is due to duplicate strain names in the data provided from GISAID, is it possible that a change in augur may help prevent this?  Both of the Italy/INMI1/2020 sequences are very short, under 400nt.  If they made it through this duplicate key error, they would be dropped by augur's size filter anyway, and would not make it into further processing.  Would it make

[2020-02-19 14:18] hackerchenzhuo commented on #52
@emmahodcroft  thank you very much !
I make it!

[2020-02-19 14:26] hackerchenzhuo commented on #52
good idea

[2020-02-19 14:32] emmahodcroft commented on #52
Hi @brianpardy, so while in this case the length filter would drop both of the Italy sequences, in a more _general_ setting duplicate sequences may not be dropped, and this can cause a lot of problems downstream (we actually didn't use to have this check, so I'm unfortunately familiar with the mess this can cause!).
We never know (generally) what's causing this duplication, so it's important that

[2020-02-19 14:48] brianpardy commented on #52
Thanks @emmahodcroft, that makes perfect sense as to why a filter-first change would not generalize. A custom de-duplication step is basically what I have been doing on my side and it works well.

[2020-02-19 14:49] #52 closed

[2020-02-19 15:50] brianpardy opened #53 "GISAID all-sequences fasta should be directly usable by nextstrain/ncov"
Filing this as an issue as suggested by @emmahodcroft:

GISAID provides an all-sequences download button for SARS-CoV-2 sequences.  The provided file is not directly usable as a sequences.fasta file in nextstrain/ncov because of several issues in the GISAID file:

1. There is at least one duplicate sequence name (Italy/INMI1/2020) that causes errors in augur filter, and often other duplicates exis

[2020-02-19 15:52] emmahodcroft commented on #53
Raised as an idea after issue #52 and the thought that more such error issues may come our way from those using the file download.

[2020-02-19 15:55] emmahodcroft commented on #53
Thanks @brianpardy , I've linked to this on our internal Nextstrain convos so we can consider :)

[2020-02-19 17:17] brianpardy commented on #53
Hi @emmahodcroft, I did go ahead and create a simple script that works on my local install using the current gisaid_cov2020_sequences.fasta file.  I committed it to my fork with https://github.com/brianpardy/ncov/commit/b4010511c6eb3919ff917a7fd93b5127d248c412

It uses only cat, sed, awk, and grep.  Call as:
`scripts/normalize_gisaid_fasta.sh data/gisaid_cov2020_sequences.fasta data/sequences.fast

[2020-02-19 18:24] brianpardy commented on #53
It is certainly the wrong way to do it but I also added a Snakefile rule called 'gisaid' that will run this script to create sequences.fasta from gisaid_cov2020_sequences.fasta.  I don't know enough to change the Snakefile to replace the download rule with the gisaid rule, but calling "snakemake gisaid" on my copy will generate sequences.fasta, and "snakemake -f gisaid" will regenerate it when a n

[2020-02-20 11:19] emmahodcroft commented on #53
Thanks @brianpardy ! We are looking into some possible solutions here. We are going to try and make this work better, but we'll need to iron out some details on how to organise that :)

[2020-02-20 13:21] hackerchenzhuo opened #54 "About json data using in "ncov \ auspice""
@emmahodcroft
Sorry to bother you again. We are currently engaged in scientific research and analysis of related new coronaviruses, hoping to help solve the epidemic situation in China. After learning about your data set and visualization, we have  have benefited a lot.  Would you mind us using the json results of your data in "ncov \ auspice"? We won't use it for commercial purposes and will sign

[2020-02-20 13:51] brianpardy commented on #53
That sounds good to me, @emmahodcroft, if I helped spur some thought I'm happy.  I did make one more change to my script on the embedded spaces item, I noticed the "Hong Kong" sequences were in metadata.tsv with the space removed, not converted to underscore, so they could not be matched, I fixed that. I'll also add some error checking for calls without naming the files on the commandline.  If the

[2020-02-21 09:48] emmahodcroft commented on #54
Hi @hackerchenzhuo . You are welcome to use the JSON data from `ncov/auspice` for open sharing, but yes, please do credit Nextstrain where possible.
It's also very important to credit GISAID and to credit the data contributors that provide the sequences to GISAID so we can include them in our analyses. You can see the list of contributing labs at the bottom of the `ncov` page and it is also in the

[2020-02-21 10:00] hackerchenzhuo commented on #54
thanks for your permission again@emmahodcroft
and yes, I have register as a member of GISAID the day before yesterday , and get the sequence there to runs the snakmake project of ncov in local enrivonment.
I will follow your advice and won't publish the detail data there : )

[2020-02-25 01:50] brianpardy commented on #53
As @jameshadfield mentioned this issue in https://github.com/nextstrain/ncov/pull/57 I should add that as of right now the script I offered does not work perfectly with the current all sequences file from GISAID: the three new Hong Kong sequences EPI_ISL_412028, EPI_ISL_412029, and EPI_ISL_412030 have duplicate strain names to earlier submissions EPI_ISL_408975, EPI_ISL_409020, and EPI_ISL_409024.

[2020-02-25 13:50] brianpardy commented on #53
Sorry about those extra commits showing up on the issue log, I'm learning how to deal with branching properly so I can submit a pull request and I was not expecting that quite yet.  Please ignore the first one.

I updated my script to resolve this issue.  I added a 3rd commandline parameter for minimum length that defaults to 15000. I am calling it from my Snakefile using params.min_length and it

[2020-02-25 17:15] emmahodcroft commented on #53
Hi @brianpardy , thank you for the work! Yes, these are the same issues we are running into on our end. We're still trying to figure out the best way to deal with this both for public users and for our own internal builds (which need to be aligned between all of us who update Nextstrain, etc, so are a bit more complicated). We're all a bit short on time at the moment unfortunately, so progress is

[2020-03-02 13:21] Fungker opened #62 "Genomic epidemiology of novel coronavirus (HCoV-19)"
Sorry to bother you,  I want to know that how can I get the date information about the branch(i. e.
the original gene generate the first branch) in the website (https://nextstrain.org/ncov) . We did not find it in the github data, but you can hover over the branch to show the inferred date.

[2020-03-02 13:50] Fungker opened #63 "nextstrain_ncov_timetree file(1) and nextstrain_ncov_tree(2)"
I want to know how to read the file with pyhon. Currently, I use the Phylo libary to load, but we did not find differences between the two files, how can i find the time information

[2020-03-05 13:50] Algorithman opened #68 "Missing link from Germany to Italy nCov occurence on La Gomera?"
@trvrb
I write you here, because i don't have a twitter account (Edit i made an account now)

I think there is a possibility that the missing link for the transmission in europe is on the canary islands.
After the virus was detected at Webasto employees, one contact of a employee went to his holiday to the canary islands with 4 friends, to La Gomera to be precise. (https://www.epochtimes.de/politi

[2020-03-05 14:01] Algorithman commented on #68
Addition: on 2020-02-05 one of his friends went back to germany.
https://www.youtube.com/watch?v=kDacUnZxYVc

[2020-03-05 16:51] xzhuo commented on #53
It may sound silly but I have to ask: where is the "all-sequences download button for SARS-CoV-2 sequences" in GISAID? I could not find it...

[2020-03-05 16:52] emmahodcroft commented on #53
On GISAID, in the EpiCoV tab - bottom right 'Download' button, under the table.

[2020-03-05 16:52] emmahodcroft commented on #53
You will need a GISAID account to do this.

[2020-03-05 16:55] xzhuo commented on #53
I registered. I can see each entry with a "download metadata" and a "download fasta" button. But I could not find a button to download all of them.

[2020-03-05 16:58] brianpardy commented on #53
You need to be on the main 'browse' screen that lists all of the deposited sequences, not the individual-sample screen that contains the 'download metadata' and 'download fasta' buttons.  The button is just labeled "Download" with an icon on it, to the right of the screen paging tools.

[2020-03-05 17:06] xzhuo commented on #53
Thank you very much! do you mean the excel table? I can download an excel table with all the entries by clicking "Download Acknowledgement Table for all submissions here". But I still cannot get a fasta file...
![image](https://user-images.githubusercontent.com/2028370/76005842-36df4880-5ed1-11ea-805f-486694f876ec.png)

[2020-03-05 17:11] brianpardy commented on #53
It looks like the download button is not appearing for you at all.  Are you able to scroll your screen to the right?  The page I see includes a download button as shown below.
![gisaid-download](https://user-images.githubusercontent.com/20647016/76006413-6fcfeb00-5eda-11ea-86cf-854a8f49d256.png)

[2020-03-05 17:16] xzhuo commented on #53
No, I don't have that button. Thank you both very much for replying! Now I have to try something else.

[2020-03-06 12:52] moeinrahimi opened #72 "no data about iran"
why there is no data about corona spread in Iran ?

[2020-03-06 16:00] emmahodcroft commented on #72
We do not have any sequences from Iran. If we receive some, we will include them.

[2020-03-06 16:00] #72 closed

[2020-03-06 16:05] emmahodcroft opened #73 "Translate situation report to Italian"
The narrative from 2020-03-05 should be translated to Italian. A branch exists as `sit-rep_it` where this can be done, and the file to translate is `ncov_sit-rep_it_2020-03-05.md` (you can translate in this file directly). The file is here: https://github.com/nextstrain/ncov/blob/sit-rep_it/narratives/ncov_sit-rep_it_2020-03-05.md

Note this file is in Markdown - it's important to to change any li

[2020-03-06 16:10] emmahodcroft opened #74 "Translate situation report to Mandarin"
The narrative from 2020-03-05 should be translated to Chinese. A branch exists as `sit-rep_zh` where this can be done, and the file to translate is `ncov_sit-rep_it_2020-03-05.md` (you can translate in this file directly). The file is here: https://github.com/nextstrain/ncov/blob/sit-rep_zh/narratives/ncov_sit-rep_zh_2020-03-05.md

Note this file is in Markdown - it's important **not** to change a

[2020-03-06 16:12] emmahodcroft opened #75 "Translate situation report to Spanish"
The narrative from 2020-03-05 should be translated to Spanish. A branch exists as `sit-rep_es` where this can be done, and the file to translate is `ncov_sit-rep_es_2020-03-05.md` (you can translate in this file directly). The file is here: https://github.com/nextstrain/ncov/blob/sit-rep_es/narratives/ncov_sit-rep_es_2020-03-05.md

Note this file is in Markdown - it's important **not** to change a

[2020-03-06 16:14] emmahodcroft opened #76 "Translate situation report to Portuguese"
The narrative from 2020-03-05 should be translated to Portuguese. A branch exists as `sit-rep_pt` where this can be done, and the file to translate is `ncov_sit-rep_pt_2020-03-05.md` (you can translate in this file directly). The file is here: https://github.com/nextstrain/ncov/blob/sit-rep_pt/narratives/ncov_sit-rep_pt_2020-03-05.md

Note this file is in Markdown - it's important **not** to chang

[2020-03-06 16:16] emmahodcroft opened #77 "Translate situation report to French"
The narrative from 2020-03-05 should be translated to French. A branch exists as `sit-rep_fr` where this can be done, and the file to translate is `ncov_sit-rep_fr_2020-03-05.md` (you can translate in this file directly). The file is here: https://github.com/nextstrain/ncov/blob/sit-rep_fr/narratives/ncov_sit-rep_fr_2020-03-05.md

Note this file is in Markdown - it's important **not** to change an

[2020-03-06 16:17] emmahodcroft opened #78 "Translate situation report to German"
The narrative from 2020-03-05 should be translated to German. A branch exists as `sit-rep_de` where this can be done, and the file to translate is `ncov_sit-rep_de_2020-03-05.md` (you can translate in this file directly). The file is here: https://github.com/nextstrain/ncov/blob/sit-rep_de/narratives/ncov_sit-rep_de_2020-03-05.md

Note this file is in Markdown - it's important **not** to change an

[2020-03-06 16:19] emmahodcroft opened #79 "Translate situation report to Russian"
The narrative from 2020-03-05 should be translated to Russian. A branch exists as `sit-rep_ru` where this can be done, and the file to translate is `ncov_sit-rep_ru_2020-03-05.md` (you can translate in this file directly). The file is here: https://github.com/nextstrain/ncov/blob/sit-rep_ru/narratives/ncov_sit-rep_ru_2020-03-05.md

Note this file is in Markdown - it's important **not** to change a

[2020-03-06 16:40] cassiawag commented on #74
@fzhang12 and @alvinxhan -- hello! We've got a new nextstrain situation report that would be great to be translated into Mandarin. Would either of you be able to help translate it this go around? Thanks very much!

[2020-03-06 16:45] cassiawag commented on #75
@Chjulian -- hello! We've got another nextstrain situation report that would be great to be translated into Spanish.
All the information is above. Thanks so much!

[2020-03-06 16:46] cassiawag commented on #78
@nicfel Here's Emma's issue for the german translation

[2020-03-06 16:51] cassiawag commented on #76
@andersonbrito & @7glaucio -- we've got another nextstrain narrative that would be great to be translated into Portuguese. Are either of you able to translate this go around?

All the information is above. Please let me know if you have any questions. Thank you so much!!

[2020-03-06 16:56] cassiawag commented on #77
@Simon-LoriereLab & @PierreBarrat -- we've got another nextstrain situation report and would love to get it translated into French. Are either of you able to translate it this go around?

All of the information is above. Let me know if you have any questions. THANKS much!!

[2020-03-06 17:03] cassiawag commented on #79
Hello @ivan-aksamentov -- we've got another nextstrain situation report that would be great to be translated into Russian. Are you able to translate again?

All of the information is above. Let me know if you've got any questions. Thanks so much!

[2020-03-06 17:12] Simon-LoriereLab commented on #77
As I wrote to Emma, happy to do it. Will start shortly!

[2020-03-06 17:31] cassiawag commented on #77
Super!

[2020-03-06 18:32] ivan-aksamentov commented on #79
@cassiawag
Hi Cassia,
Sure, I'll do my best.

[2020-03-06 18:51] cassiawag commented on #77
@Simon-LoriereLab: The earlier version of instruction said to change links; that was a typo. I'm sorry. Hope this hasn't caused you any extra work already.

Please DON'T change any of the links.

[2020-03-06 19:46] 7glaucio commented on #76
I gonna take a look tonight (10 hours from now). @andersonbrito , if you have time to start doing earlier than me, just let me know to make sure of not getting the same parts.

[2020-03-06 19:53] andersonbrito commented on #76
Thank you for letting us know, @cassiawag and @emmahodcroft.

@7glaucio, I may only have time over the weekend. Please, feel free to start the translation. In case you find some technical sentences you are unsure about how to translate, you can leave them untranslated, and I'll help translating those and any other remaining sentences. Cheers!

[2020-03-06 19:55] 7glaucio commented on #76
Yessir. Any questions I let you know since I have you on my LinkedIn as well.

[2020-03-06 21:55] cassiawag commented on #73
This should be ready to merge (if you can get the internal links to work)! All links are checked, it's had two translators eyes on it, and I added (in inglese) to all our external links.

[2020-03-07 01:19] 7glaucio commented on #76
The first version is done, @andersonbrito . Feel free to take a look when you have the chance.

1 - Special attention to the parts "community transmission" is mentioned, because it's a technical term which I was unsure on how to deal properly with it.

2 - About the scientific credit page: Should we translate the labs names? @emmahodcroft @cassiawag

[2020-03-07 02:29] cassiawag commented on #76
Thanks @7glauci! It's looking good; don't worry about translating lab names.

[2020-03-07 08:08] acx01b opened #81 "Masking a few nucleotides in N-protein (Italian lineage)"
Hi, in [this edit](https://github.com/nextstrain/ncov/commit/1b9af7bf7cb521a855bcf311e7ea6224edd1745d#diff-b0ca7e384af213e2f691bf0435d08557)
` mask_sites = "18529 28881 28882 28883"`

[This tweet](https://twitter.com/arambaut/status/1235645418052014080?s=20) suggests that what you thought was a sequencing artifact could be a major mutation

Or did I miss something ?

[2020-03-07 12:00] Chjulian commented on #75
Thanks, will have this done by Monday. Hasta pronto!

Le ven. 6 mars 2020 à 16:45, cassiawag <notifications@github.com> a écrit :

--

Julián

[2020-03-07 12:52] emmahodcroft commented on #75
Thank you @Chjulian !

[2020-03-07 13:19] emmahodcroft commented on #76
Thanks so much @7glaucio ! @andersonbrito  if you have a moment to check that would be great!

Yes, please don't worry about translating lab names. Just let me know when you guys think it's ready!

[2020-03-07 15:41] cassiawag commented on #73
I think I properly threaded the internal links, used: [https://nextstrain.org/narratives/ncov/sit-rep/it/2020-03-05?n=7](https://nextstrain.org/narratives/ncov/sit-rep/it/2020-03-05?n=7), etc.

[2020-03-07 15:44] emmahodcroft commented on #73
That looks good Cassia!

On Sat, 7 Mar 2020, 16:41 cassiawag, <notifications@github.com> wrote:

[2020-03-07 18:20] #73 closed

[2020-03-07 20:16] cassiawag commented on #78
@tolot27 @rneher -- @nicfel has done rough translation, but needs a proofread. Can anyone help out?

[2020-03-07 21:39] Chjulian commented on #75
Hey all. I finished the translation. I checked and everything seems in
place, but please double check. Is all good please go ahead and merge.
(BTW, we have translated before "how to read phylogenies" slides, so maybe
this could be also integrated somehow on that slide). Cheers

On Sat, Mar 7, 2020 at 12:52 PM Emma Hodcroft <notifications@github.com>
wrote:

--

Julián

[2020-03-07 21:40] Chjulian commented on #75
*if all good (late here and a bit sleepy :P )

On Sat, Mar 7, 2020 at 9:39 PM Ch. Julian <cj.villabona@gmail.com> wrote:

--

Julián

[2020-03-07 21:59] cassiawag commented on #77
@meriemelkaroui is going to help out on the translation too, so we can get this out as quickly as possible. All of the information needed should be in Emma's comment at the very top. Thanks again everyone for the hard work!

[2020-03-07 22:20] cassiawag commented on #75
Thanks @Chjulian! I think you're the only translator working on this, but I'll look through. @jameshadfield, do you know where the Spanish version of "How To Read Phylogenies" is? Would be great to get that link correct.

[2020-03-07 22:21] rneher commented on #78
sure. Will proofread tomorrow morning!

[2020-03-07 22:28] cassiawag commented on #75
@miparedes -- any chance you can look at this? Instructions are above in Emma's comment.

[2020-03-07 22:32] Maijin commented on #77
Happy to help translating / reviewing the french translation. In previous project I contributed, we used hackmd and its real-time edition feature of that software -  https://hackmd.io/yfGSFw47REijMktzrei03Q?both to speed up the process.

Is there something similar on-going?

[2020-03-07 22:34] meriemelkaroui commented on #77
Hi Maijin,
Not that i am aware of.  I am just starting editing directly in the branch.
Cheers
Meriem

On 7 Mar 2020, at 22:32, Maijin <notifications@github.com<mailto:notifications@github.com>> wrote:

Happy to help translating / reviewing the french translation. In previous project I contributed, we used hackmd and its real-time edition feature of that software - https://hackmd.io/yfGSFw47REijMkt

[2020-03-07 22:36] Maijin commented on #77
Maybe that could fasten the process since it is a markdown editor too :) - https://hackmd.io/1VnX5FI7QKO8ljq1PA9YDA check it out I added the content

[2020-03-07 22:43] meriemelkaroui commented on #77
ok but i need you to guide me as I am not familiar with the process (sorry !): I can edit directly and you can too as the same time  thate address that you sent me ? and then we can put it on the sit_rep file on GitHub, correct?

On 7 Mar 2020, at 22:36, Maijin <notifications@github.com<mailto:notifications@github.com>> wrote:

Maybe that could fasten the process since it is a markdown editor too

[2020-03-07 22:44] Maijin commented on #77
Yes exactly, we can both edit (and more can join) on https://hackmd.io/1VnX5FI7QKO8ljq1PA9YDA?both and we can switch between edition/view on top

And then when finish anyone can do the pull-request on Github ;)

<img width="221" alt="image" src="https://user-images.githubusercontent.com/1408600/76153546-9a35ca00-60cd-11ea-8685-1019fb0e673e.png">

[2020-03-07 22:44] miparedes commented on #75
Hi all! I'll proofread it soon!

[2020-03-07 22:48] Maijin commented on #77
I've created an IRC channel (chat) https://webchat.freenode.net/#nextstrain-fr-translation if you want to discuss.

[2020-03-07 22:54] meriemelkaroui commented on #77
ok but it seems I need a password

On 7 Mar 2020, at 22:48, Maijin <notifications@github.com<mailto:notifications@github.com>> wrote:

I've created an IRC channel (chat) https://webchat.freenode.net/#nextstrain-fr-translation if you want to discuss.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/nextstrain/ncov/issues/77?ema

[2020-03-07 22:54] meriemelkaroui commented on #77
Hi cassia,
I think the plan is we now work on https://hackmd.io/1VnX5FI7QKO8ljq1PA9YDA?both  to edit in parrallel and then we will move to GitHub (to speed the process);
so we will not push commits for a while but if you can direct people who are working on the translation to that address the would be great.
but yes if you can tell me how to push commits so that i am sure we do things correctly th

[2020-03-07 22:56] Maijin commented on #77
I can help for the github Pull-request.

For the IRC, just choose a nickname, you don't need to press "I have a password" :)

[2020-03-07 23:01] meriemelkaroui commented on #77
coucou maijin
j’ai réussi a me connecter sur l’IRC mais je n’arrive pas écrire, quelle nouille je crois qu’il faut que je change de surnom  ; j’essaie à nouveau
je n’ai pratiquement pas commencé donc tu peux éditer sur la version que tu as copié et je te rejoins des que j’ai réglé ce problème de surnom.
la traduction en français du 30/0A1 est très bonne donc je pense qu’il y a une partie du texte

[2020-03-08 00:08] Maijin commented on #77
We have made good progress with @meriemelkaroui on this Hackmd - https://hackmd.io/1VnX5FI7QKO8ljq1PA9YDA?both if you sign-in with your github account you can help contributing - we will push a pull-request once finished.

You can also connect (no need password) https://webchat.freenode.net/#nextstrain-fr-translation to discuss the translation.

[2020-03-08 00:15] meriemelkaroui commented on #77
If possible somebody with a background in phylogeny should check the translation (I am a microbiologist with only basic understanding of phylogeny).

[2020-03-08 05:13] cassiawag commented on #77
@meriemelkaroui & @Maijin -- thank you so much for your hard work! We really appreciate it.

I'm glad that hackmd is working well for you to work on the translation together. When you've finished it, please push the translation to the `sit-rep_fr` branch; no need to make a PR. We can then live preview it on Nextstrain, and I think it will be easier for someone else to review the scientific accurac

[2020-03-08 07:13] Simon-LoriereLab commented on #77
Dear @meriemelkaroui & @Maijin,
I have advanced a bit on the translation before noticing these posts. I pushed what I did, and let you take over. I can proofread the phylogeny part at the end then. Bon courage!

[2020-03-08 09:52] meriemelkaroui commented on #77
ok we are on it and we will update when done. The phylogénie part will definitely need to be proofread but if you want you can start now directly on https://hackmd.io/1VnX5FI7QKO8ljq1PA9YDA?edit

On 8 Mar 2020, at 07:13, Simon-LoriereLab <notifications@github.com<mailto:notifications@github.com>> wrote:

Dear @meriemelkaroui<https://github.com/meriemelkaroui> & @Maijin<https://github.com/Maijin>,

[2020-03-08 10:13] Maijin commented on #77
Ready for some proof-read/review - @Simon-LoriereLab / @PierreBarrat - https://github.com/Maijin/ncov/commit/aa1064cbc61ec23ee1b5ce3b0da2e09d0b7c2358

[2020-03-08 10:23] emmahodcroft commented on #77
Thank you guys for the work! If you push to the `sit-rep_fr` branch you can preview your work live here: https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_fr/sit-rep/fr/2020-03-05

At the moment it looks like this version is a bit behind from your current work, but if you push you can see how it's all looking in context.

[2020-03-08 10:26] Simon-LoriereLab commented on #77
Happy to proofread anything (if needed) as soon as it is pushed!

[2020-03-08 10:29] emmahodcroft commented on #77
That would be wonderful! I think @Maijin is going to push or make a PR for `sit-rep_fr` branch - @Maijin if you could post here when that's done (or I should get a PR request which I can approve), then @Simon-LoriereLab can proofread, and then we should be able to go live :)
Thanks to all for incredible work on this!

[2020-03-08 10:31] emmahodcroft commented on #77
Great! You can preview the build here: https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_fr/sit-rep/fr/2020-03-05

[2020-03-08 10:59] meriemelkaroui commented on #77
Hi all, I have corrected some typo @Simon-LoriereLab you can proofread whenever you want.

[2020-03-08 11:51] Simon-LoriereLab commented on #77
Thanks everybody, everything looks good now! @emmahodcroft you can take it live.
Cheers!

[2020-03-08 12:21] meriemelkaroui commented on #77
thanks a lot!

On 8 Mar 2020, at 11:51, Simon-LoriereLab <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks everybody, everything looks good now! @emmahodcroft<https://github.com/emmahodcroft> you can take it live.
Cheers!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/nextstrain/ncov/issues/77?email_

[2020-03-08 14:01] emmahodcroft commented on #77
Thank you guys!! I can't get on this immediately but either the Seattle team will take care of this now, or I will be sure to do it later tonight (Europe time).

[2020-03-08 14:35] #77 closed

[2020-03-08 14:46] cassiawag commented on #77
The translation is live: https://nextstrain.org/narratives/ncov/sit-rep/fr/2020-03-05.

Thanks all for the good work!

[2020-03-08 14:48] emmahodcroft commented on #77
@Simon-LoriereLab @Maijin @meriemelkaroui  Do you guys have twitter handles I can tag for our announcement?

[2020-03-08 14:55] emmahodcroft commented on #77
I am going to go ahead and announce, but if you send twitter handles I can tag you in a comment :) Sorry, we should have asked sooner!

[2020-03-08 14:57] Maijin commented on #77
Sure https://twitter.com/Maijin212

[2020-03-08 14:57] Simon-LoriereLab commented on #77
Mine is @SimonLoriereLab, thanks!

[2020-03-08 15:24] emmahodcroft opened #92 "Translate Situation Report to Japanese"
The narrative from 2020-03-05 should be translated to Japanese. A branch exists as `sit-rep_ja` where this can be done, and the file to translate is `ncov_sit-rep_ja_2020-03-05.md` (you can translate in this file directly). The file is here: https://github.com/nextstrain/ncov/blob/sit-rep_ja/narratives/ncov_sit-rep_ja_2020-03-05.md

Note this file is in Markdown - it's important **not** to change

[2020-03-08 15:25] emmahodcroft commented on #92
@satotake can you Change your PR to merge into the `sit-rep_ja` branch? Once pushed this will then allow us to view a preview live :)

[2020-03-08 15:35] meriemelkaroui commented on #77
mine is @MEKlab (no worries if my answer arrived too late)

________________________________
From: Emma Hodcroft <notifications@github.com>
Sent: 08 March 2020 14:48
To: nextstrain/ncov <ncov@noreply.github.com>
Cc: EL KAROUI Meriem <Meriem.Elkaroui@ed.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [nextstrain/ncov] Translate situation report to French (#77)

@Simon-LoriereLab<https://g

[2020-03-08 15:42] cassiawag commented on #74
@fillorkill translated the sitution report; big thanks, btw! Can anyone give a proofread, @fzhang12, @alvinxhan, @wdingx ? It's good to have two people looking at every translation.

[2020-03-08 15:44] emmahodcroft commented on #74
Unfortunately this narrative seems broken... https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_zh/sit-rep/zh/2020-03-05 We may have to test locally before continuing.

[2020-03-08 15:44] emmahodcroft commented on #74
(Nobody's fault - the markdown is very picky - one stray quote and it's all broken!)

[2020-03-08 16:12] cassiawag opened #93 "Translate Situation Report to Dutch"
The narrative from 2020-03-05 should be translated to Dutch. A branch exists as sit-rep_nl where this can be done, and the file to translate is ncov_sit-rep_nl_2020-03-05.md (you can translate in this file directly). The file is here: https://github.com/nextstrain/ncov/blob/sit-rep_nl/narratives/ncov_sit-rep_nl_2020-03-05.md

Note this file is in Markdown - it's important not to change any links!

[2020-03-08 16:13] emmahodcroft commented on #93
@cassiawag  just switch that second `ja` to `nl` in the first link to the file ;)

[2020-03-08 16:15] cassiawag commented on #93
Fixed ;)

[2020-03-08 16:16] fzhang12 commented on #74
I am proofreading the work. I have one issue here, the translation of 'divergence'. We don't actually have a Chinese name for it, but it is not "分叉" definitely, "分叉" means branches. Any ideas? @alvinxhan @wdingx . What about “差异程度”?

[2020-03-08 17:02] emmahodcroft commented on #93
@roanvanscheppingen I've merged your PR into the `sit-rep_nl` branch, and you can use this link to preview your work: https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_nl/sit-rep/nl/2020-03-05

It looks like the first slide is done, but others are incomplete, is that right? (No problem if so, just checking!)

[2020-03-08 17:04] emmahodcroft opened #95 "Translate Situtation Report to Hindi"
The narrative from 2020-03-05 should be translated to Hindi. A branch exists as `sit-rep_hi` where this can be done, and the file to translate is `ncov_sit-rep_hi_2020-03-05.md` (you can translate in this file directly). The file is here: https://github.com/nextstrain/ncov/blob/sit-rep_hi/narratives/ncov_sit-rep_hi_2020-03-05.md

Note this file is in Markdown - it's important **not** to change any

[2020-03-08 17:05] emmahodcroft commented on #92
Thanks @satotake! You can preview your work here: https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_ja/sit-rep/ja/2020-03-05 How is it looking?

[2020-03-08 17:06] roanvanscheppingen commented on #93
I now got to the FAQ and misconceptions (line 78), but I think I should not translate the titles of the articles? Just mention the articles are in English?

How does committing or pushing things work? Now I have  created a Pull Request for the first 78 lines. Is that how it works? How can I then keep working on the same file?

[2020-03-08 17:07] emmahodcroft commented on #93
It's ok, you can keep working on the same file and just make commits, and then push - to the branch that you are working on your own computer. When you push, it'll update the PR - but sorry, I just merged them for you!

[2020-03-08 17:09] emmahodcroft commented on #93
If you want You can do a few pushes to the PR and then I'll merge, and you can use the link in the issue to preview!

The FAQs we will want to translate... but later. It's a bit much to coordinate now. Feel free to translate the links or not - but yes, if you can warn they are in English. Most browsers support some kind of translation nowadays anyway....

[2020-03-08 17:16] fzhang12 commented on #74
@fillorkill , thanks for the translation. Glad working with you.
@emmahodcroft I've finished proofreading. The content itself now could be pushed online.

[2020-03-08 17:18] ronakb128 commented on #95
Hi, I would like to translate this in Hindi but I might need some help

[2020-03-08 17:19] rneher commented on #78
I went through the sit-rep and fixed typos. Looks good to me and can go live.

[2020-03-08 17:20] cassiawag commented on #74
Thank you @fillorkill & @fzhang12 -- do either of you have twitter handles we can tag when we post the update?

I got the narrative fixed, so the live preview is working here: https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_zh/sit-rep/zh/2020-03-05?n=12

[2020-03-08 17:24] emmahodcroft commented on #74
Thank you guys for the hard work!

[2020-03-08 17:28] fzhang12 commented on #74
@cassiawag thanks you too for the effort.
Oh I forgot to add our names on the author list. I just updated the file, adding my name onto it. but I have no idea about @fillorkill
My twitter: fengjun_zhang

[2020-03-08 17:29] emmahodcroft commented on #78
Thanks @nicfel and @rneher ! Note to self, when ready to announce, twitter handles are @nicfelm and @richardneher

[2020-03-08 18:05] roanvanscheppingen commented on #93
Okay, I think I have most of it right now.
Would be nice if a second Dutch person can go over it (some translations are a bit liberal) or someone else can also check on things that are not translated yet.

If you have any questions, hit me up on Twitter @RScheppingen

[2020-03-08 18:12] cassiawag commented on #78
Translation is live: https://nextstrain.org/narratives/ncov/sit-rep/de/2020-03-05
Thanks for the hard work everyone!

[2020-03-08 18:13] cassiawag commented on #74
Translation is live: https://nextstrain.org/narratives/ncov/sit-rep/zh/2020-03-05

Thanks for the hardwork @fzhang12 & @fillorkill !

[2020-03-08 18:21] cassiawag commented on #95
Thanks for your offer to translate, @ronakb128 ! I'm here to help; please follow Emma's instructions above, and let me know if you run into _any_  issues.

[2020-03-08 18:32] cassiawag commented on #93
@roanvanscheppingen thanks for the translation! We're on the lookout for another Dutch translator. Do you have any recommendations?

[2020-03-08 18:34] roanvanscheppingen commented on #93
Maybe https://twitter.com/GertvanderHoek
He is often retweeted by Flutrackers about COV. Seems Dutch :)

Good luck on your endevour

[2020-03-08 18:37] #74 closed

[2020-03-08 18:40] #78 closed

[2020-03-08 18:51] emmahodcroft commented on #93
A friend has volunteered to read through! But of course, more eyes often better :)

[2020-03-08 19:29] andersonbrito commented on #76
Nice job, @7glaucio, I just had to fix some minor points.

@emmahodcroft and @cassiawag, the PT translation is now available on the sit-rep_tr branch.

[2020-03-08 19:44] emmahodcroft commented on #93
My friend @JiscaH has read and made a few minor edites! @roanvanscheppingen if you are happy with all, can you let us know if it's ok to go live?
(preview link: https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_nl/sit-rep/nl/2020-03-05)

[2020-03-08 20:12] miparedes commented on #75
Hey all, sorry for the delay, just proofread and did some very minor edits. Looks good to go

[2020-03-08 20:16] JiscaH commented on #93
Disclaimer: I don't know the dutch translation for many technical terms, and suspect that the English words are commonly used. Also my grammar is rusty after living abroad for a decade.

I've now added some links to dutch wikipedia + RIVM ('dutch CDC') too.

[2020-03-08 20:26] roanvanscheppingen commented on #93
I've edited a few double points, a grammar mistake and a change in an abbreviation.
It seems to be ready for live!

Thanks also JiscaH. It is true, some technical terms translate really bad into Dutch. I've kept some in English or modified them towards Dutch spelling (clusters/sequencen. English words are commonly used and Dutch people are quite ok with reading English.

[2020-03-08 20:28] emmahodcroft commented on #93
This translation is fixed and ready to go! @cassiawag  (whenever you can)

[2020-03-08 20:36] emmahodcroft commented on #75
This translation is fixed and ready to go! @cassiawag (whenever you can!)

[2020-03-08 20:42] emmahodcroft commented on #76
This narrative is fixed and ready go to! @cassiawag  (whenever you have time!)

[2020-03-08 20:44] emmahodcroft commented on #76
Can anyone still awake let me know their twitter handles if you'd like to be tagged on release?

[2020-03-08 20:45] emmahodcroft commented on #75
@miparedes  & @Chjulian Can you pass me your twitter handles to tag when we release?

[2020-03-08 20:47] 7glaucio commented on #76
@emmahodcroft My username on Twitter is `glauciomarcos`, and Anderson's is `AndersonBrito_`.

[2020-03-08 20:48] Chjulian commented on #75
@chjulian :P

On Sun, Mar 8, 2020 at 8:45 PM Emma Hodcroft <notifications@github.com>
wrote:

--

Julián

[2020-03-08 20:51] miparedes commented on #75
@miguelp1120

[2020-03-08 20:52] 7glaucio commented on #76
@emmahodcroft Should I request the pull or just wait for @cassiawag do something else?

[2020-03-08 21:01] emmahodcroft commented on #76
We'll handle it on our end now - just catching up! We've had a lot of translation action here today, but need to just final-check, push, copy, and update the website for each one.

[2020-03-08 21:07] emmahodcroft commented on #75
Tweeted and live! https://nextstrain.org/narratives/ncov/sit-rep/es/2020-03-05 Thank you guys so much for the fast help! Incredible!

[2020-03-08 21:07] #75 closed

[2020-03-08 21:19] fzhang12 commented on #92
Hi @satotake , I read your translation and it was great. Excellent job!
I just added some Japanese name of the places, remove couple of english lines that you forgot to delete.
thank you @emmahodcroft for your contribution and I think the content is good to go. but I am not sure how to write satotake's name in the author list (Take Sato is my guess). Let's wait for his reply.

[2020-03-08 21:39] emmahodcroft commented on #76
Live and tweeted - thanks guys! https://nextstrain.org/narratives/ncov/sit-rep/pt/2020-03-05

[2020-03-08 21:39] #76 closed

[2020-03-08 22:04] cassiawag commented on #93
It's live at: https://nextstrain.org/narratives/ncov/sit-rep/nl/2020-03-05
Thanks all for the hard work!

[2020-03-08 22:04] #93 closed

[2020-03-09 06:09] trvrb commented on #81
Thanks for catching this! We had this mask in place when there was just one virus with this triplet mutation and we doubted it was real. Commit 5c96e0291ba4416aefac2af10115d216aeaae9d2 removed this mask and resolves this issue.

[2020-03-09 06:09] #81 closed

[2020-03-09 08:37] jameshadfield commented on #49
We filter out all duplicates so the (currently) 240 strains reported on nextstrain.org are all unique samples to the best of our knowledge.

[2020-03-09 08:37] #49 closed

[2020-03-09 08:37] jameshadfield commented on #81
@acx01b you can see the unmasked mutations here: https://nextstrain.org/ncov?c=gt-nuc_28881,28882,28883

[2020-03-09 10:20] emmahodcroft opened #107 "Translate Situation Report to Korean"
The narrative from 2020-03-05 should be translated to Korean. A branch exists as `sit-rep_ko` where this can be done, and the file to translate is `ncov_sit-rep_ko_2020-03-05.md` (you can translate in this file directly). The file is here: https://github.com/nextstrain/ncov/blob/sit-rep_ko/narratives/ncov_sit-rep_ko_2020-03-05.md

Note this file is in Markdown - it's important **not** to change an

[2020-03-09 10:21] emmahodcroft commented on #107
@hmkim Can you work on this branch to start a translation? After pushing you should be able to preview on the link above. Feel free to use this thread for comments/questions! I'll add you to the repo now. (Note you will not be able to push to master.)

[2020-03-09 10:24] emmahodcroft commented on #107
@hmkim - My apologies. I can't add you to this repo right now. Could you fork the `sit-rep_ko` branch and then make PRs? I can merge them pretty quick and you can preview live on the link above. Sorry about that!

[2020-03-09 11:10] emmahodcroft commented on #95
@ronakb128 This looks great! You can preview the translation live here: https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_hi/sit-rep/hi/2020-03-05 And check everything looks as it should. If you need to make any more changes just make another PR and I'll merge it ASAP!

[2020-03-09 11:11] emmahodcroft commented on #95
Would you like me to tag you in our release announcement on twitter when it happens? I saw your account had a lock, so no worries if not. (Or please let me know how you might like to be announced - by name, nickname, etc!)

[2020-03-09 11:19] ronakb128 commented on #95
@emmahodcroft the preview looks excellent. Yeah, it would be great if you can tag my twitter account with the release announcement. Thanks!

[2020-03-09 11:26] emmahodcroft commented on #95
Excellent! I'll just see if I can one more pair of eyes to proofread, then we can release!

[2020-03-09 11:29] ronakb128 commented on #95
Sounds good

[2020-03-09 11:59] emmahodcroft commented on #95
@KanikaNahata Would you mind proofreading this version to see if it looks ok? You can view the live preview here:
https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_hi/sit-rep/hi/2020-03-05

If you see any changes you want to make, fork the `sit-rep_hi` branch, make your changes, then make a PR back to this branch. I'll merge the PR and you can see how your changes look in the pre

[2020-03-09 11:59] emmahodcroft commented on #95
I'm about to head to lunch so there might be a little delay if you submit a PR in the next hour, but I'll get on it as soon as I'm back ;)

[2020-03-09 13:19] KanikaNahata commented on #95
It looks really good! I do not have suggestions :)

[2020-03-09 13:37] emmahodcroft commented on #95
Great, thank you! I'll push live soon!

[2020-03-09 13:53] emmahodcroft commented on #107
@hmkim - You can preview the PR I just pushed here: https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_ko/sit-rep/ko/2020-03-05

It looks like the first slide is translated, but that's all. If that's all you got to, that's fine! Just checking that's what you expected :)

[2020-03-09 14:14] emmahodcroft opened #113 "Hindi Translation has no Drop-down"
See : https://nextstrain.org/narratives/ncov/sit-rep/hi/2020-03-05

![image](https://user-images.githubusercontent.com/14290674/76221001-ad08e580-6218-11ea-80e5-673138017ce7.png)

At the top the Language menu drop-down is 'English' - and there's no option for Hindi. Can we extend support?

[2020-03-09 14:19] emmahodcroft commented on #95
Thank you both for your hard work! Live and tweeted here!: https://twitter.com/nextstrain/status/1237020133375213568

[2020-03-09 14:19] #95 closed

[2020-03-09 14:31] tlz4320 opened #114 "DIVERGENCE different with yours"
Sorry to bother you.
These days I am using nextstrain to analysis the data I have.
But after I download sequences from gisaid. And I checked the sequences I download with sequences you used in you network, it is the same.
However I discovered that the DIVERGENCE in my result is different with yours in nextstrain.org/ncov.
But interestingly, I checked some of samples, mutations in my result just ma

[2020-03-09 15:30] tlz4320 commented on #114
I update the docker img today.
And download the ncov.json from http://data.nextstrain.org/ncov.json.
View it with docker(not native).
I get the result just like mine.
So is the "view" function need something more?

[2020-03-09 16:17] cassiawag commented on #113
It looks good on my side (I think):
![Capture](https://user-images.githubusercontent.com/41387591/76234305-27bd0b00-61ef-11ea-8b95-c805221bde25.PNG)

[2020-03-09 16:24] cassiawag commented on #75
@Chjulian -- do you have a copy of the "How To Read Phylogenies" in Spanish? I'm not aware of one on our end, but would be great to get!

[2020-03-09 16:24] satotake commented on #92
Hi @fzhang12 .
Your guess is valid but my name is "Takeshi Sato"
Anyway thank you for your comment!

[2020-03-09 16:32] fzhang12 commented on #92
@satotake Yes I was thinking maybe Takeshi should be more frequent www.
No problem, I've update your correct name into the author list.

@emmahodcroft I am glad to announce the Japanese translation is ready.

Happy to work with both of you :)

[2020-03-09 16:35] emmahodcroft commented on #113
Oh what! Ok great! I don't know by what kind of black magic this works, but maybe it just need to catch up! Excellent!

[2020-03-09 16:36] cassiawag commented on #92
@fzhang12 & @satotake -- excellent work!

I'm getting this posted. Do you have twitter handles we can tag in the announcement?

[2020-03-09 16:36] emmahodcroft commented on #113
It might be tied to the site rebuild... I did all this before it had finished - so that could well be why! I'll close this now, I think it's not an issue after all :)

[2020-03-09 16:36] #113 closed

[2020-03-09 16:47] emmahodcroft commented on #92
This is great news guys! Can you pass us your twitter handles (Sorry, I know we ask over and over - don't have any good place to store this!), and @cassiawag will coordinate pushing it live - as soon as we have your twitters we can tweet!

[2020-03-09 16:54] cassiawag commented on #92
It's live at: https://nextstrain.org/narratives/ncov/sit-rep/ja/2020-03-05

Thanks everyone for the hard work!

[2020-03-09 17:05] cassiawag commented on #92
It's now Tweeted at:  https://twitter.com/nextstrain/status/1237061228645711878

@satotake -- we can add your twitter as a comment. Great working with everyone.

[2020-03-09 17:05] #92 closed

[2020-03-09 17:10] cassiawag commented on #107
@hmkim - I've given you access to push to the `sit-rep_ko` branch directly without having to make a PR. That should allow you to view previews at the link Emma just mentioned. Let me know if you've got any questions.

[2020-03-09 20:41] Chjulian commented on #75
Any previous repo should have one (except for the new section Reading a
typed Phylogenetic Tree), because this was done before for each narrative.
(e.g.
https://github.com/nextstrain/ncov/blob/master/narratives/ncov_sit-rep_es_2020-01-30.md
)

   -
*¿Cómo interpretar los árboles filogenéticos? *

*## Árboles de transmisión vs árboles filogenéticos
*
Los patógenos se propagan a través de una replic

[2020-03-09 21:38] ivan-aksamentov commented on #79
@cassiawag Hi Cassia, sorry a lot of stuff going on currently, I don't know when I will be able to do the translation. Not this week, unlikely. But it's on my TODO list.

[2020-03-09 22:58] emmahodcroft commented on #79
No worries @ivan-aksamentov ! I'll reach out on twitter and see if we can get a couple of people to start - then maybe you can proofread, which will be much less of your time! :)

[2020-03-09 23:37] cassiawag opened #118 "Need translators for weekly situation reports"
Greetings all -- we’re working hard to start publishing weekly situation reports on hCov-19; we’d like to get these weekly reports translated too.

I’ve been **really** impressed and appreciative of all your efforts to get the last situation report out so quickly. Is anyone available to commit to translating reports on a weekly basis?

We plan to publish situation reports in English every Friday a

[2020-03-09 23:47] aliceLedda commented on #118
Hello,
I have a background in phylogenetic and I can commit to translate into
Italian over the weekend, sending you the translation by Sunday night (1am
CET).
(So if you get somebody in US to check it, they'll have more time).
My name is Alice Ledda and I am research associate at the department for
infectious disease epidemiology of Imperial College London.
My Twitter handle is @aliceLedda.
Thank

[2020-03-10 00:29] Maijin commented on #118
Happy to help!

I'm not expert in phylogeny (did some basic @ College) but a lot in this weekly report could be translatable without knowledge which saves time for the parts requiring more background.

I think that if we use hackmd+IRC (or something similar) as we did for French translation. It would fasten the process and reduce the need for non-tech folks to mess with Git/Github :octocat:.

I'm

[2020-03-10 03:14] miparedes commented on #118
Count me in! Happy to help with Spanish translation/proofreading. Name/twitter handle: Miguel Paredes/@miguelp1120

[2020-03-10 03:23] fillorkill commented on #118
please count me in too for the Chinese translation. I’m based in China so
time wise it could work in my favor.

Derek Zhang with The King’s School Shenzhen International. I’m not on
twitter though.

Cheers!

Miguel Paredes <notifications@github.com>于2020年3月10日 周二上午11:14写道：

--
Regards,

Derek Zhang

[2020-03-10 04:22] 7glaucio commented on #118
@cassiawag You can count on me.

[2020-03-10 04:34] andersonbrito commented on #118
@cassiawag, I'm teaming up with @7glaucio to conduct the Portuguese translations.
Anderson Brito, Twitter: AndersonBrito_

[2020-03-10 07:32] emmahodcroft commented on #118
You guys are all amazing. Thank you so much ❤️

[2020-03-10 07:35] emmahodcroft commented on #75
Thank you @Chjulian ! @cassiawag we can copy and past this to wherever you feel is best to start doing the docs translations.

[2020-03-10 07:46] roanvanscheppingen commented on #118
Dutch chiming in. No direct background in phylogeny, but 4 months shy of a MSc. Biomedical Sciences.

I want to help, but this weekend might be a bit busy. Translating would take me approximately 2 to 3 hours.

[2020-03-10 08:07] JiscaH commented on #118
Other Dutch here: Happy to help! No background in phylogeny either, but do have a PhD in Biology. So, an additional Dutch speaker with phylogeny knowledge would perhaps be good.

@roanvanscheppingen if we alternate between first draft and proofreading, it should be OK?

Name: Jisca Huisman
Twitter handle: @HuismanJisca

[2020-03-10 08:09] Simon-LoriereLab commented on #118
Happy to help with the French translation, background in phylogenetics.
Name: Etienne Simon-Loriere,
Twitter handle: @SimonLoriereLab

[2020-03-10 08:52] roanvanscheppingen commented on #118
Yes, I am okay with that. I am flexible though, so if a specific week is too busy, let me know :)
I do not know specific phylogeny people within the Netherlands/twitterverse.

[2020-03-10 09:24] emmahodcroft commented on #107
@hanbin973  Thank you for your kind offer to review the translation! You can see a preview of the translation here: https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_ko/sit-rep/ko/2020-03-05

If you'd like to make changes, you can make them to the `sit-rep_ko` branch - once you push, you can use the same link to review your edits. I'll add you to the branch now.

Then, just let u

[2020-03-10 10:03] emmahodcroft opened #127 "Testing full-width marks in Japanese & Mandarin"
I've set back up the `sit-rep_zh` branch so that @fzhang12 can test full-width marks in the narratives to ensure they work correctly in Markdown.

Both the `zh` and the `ja` files could be modified here if that's helpful! (To test both, if you want)

The files are here:
https://github.com/nextstrain/ncov/blob/sit-rep_zh/narratives/ncov_sit-rep_zh_2020-03-05.md (Mandarin)

https://github.com/nextst

[2020-03-10 10:18] Cholokiwi commented on #118
Hi @cassiawag and all,
I’m happy to help with the translations to Spanish. My background is in Statistics and Genomics.
Cheers,
Roy Costilla
Twitter: @CMroycostilla

[2020-03-10 11:19] meriemelkaroui commented on #118
Happy to help with french translation (no phylogenetic background just bioinformatics and microbiology)
Name: Meriem El Karoui
twitter handle: @MEKlab
currently checking with other lab member for Italian and Russian.

On 10 Mar 2020, at 08:09, Simon-LoriereLab <notifications@github.com<mailto:notifications@github.com>> wrote:

Happy to help with the French translation, background in phylogenetics.

[2020-03-10 11:27] hanbin973 commented on #107
I've switched to sit-rep_ko (git checkout sit-rep_ko) and executed

Then I get a permission error as below

am I missing something?

[2020-03-10 12:22] tomoyuki-nezu commented on #118
Hi all.
It may not be every time, but I can help with the translate to Japanese.
I'd not have a background of phylogenetics, so please count as a support member.
best.
Tomoyuki Nezu / @tommy_nezy

[2020-03-10 12:42] fzhang12 commented on #118
Hi all, glad to join the team.
I am a PhD student in University of Muenster. I have a phylogenetic background and also experience in translating EN<->CN / EN<->JP.
I am willing to help with Mandarin and Japanese translation during the weekend.
My twitter: fengjun_zhang

[2020-03-10 14:46] enkelejdamiho commented on #118
I could review your translation.

On Tue, 10 Mar 2020 at 00:47 aliceLedda <notifications@github.com> wrote:

--
Prof. Dr. Enkelejda Miho
aiNET GmbH, ETH spin-off
c/o Switzerland Innovation Park Basel Area AG
Hochbergstrasse 60C
4057 Basel

Mobile +41 76 469 91 91

[2020-03-10 14:57] cassiawag commented on #107
Hi @hanbin973, you do have permission to write to `sit-repo_ko`. I think your error _might_ be a wrong password. Can you try pushing again?

[2020-03-10 15:29] cassiawag commented on #118
Thanks so much all. You are wonderful!

@enkelejdamiho -- what language are you able to help out with? Do you have a Twitter handle that we can credit when we post?

[2020-03-10 15:36] meriemelkaroui commented on #118
two more translators
French:  Daniel Thédié @DanielThedie, twitter @DanielThedie
Italian: Alessia Lepore @al-epo,  twitter @MEKlab
no phylogenetic background.
working on finding finding russian translator

[2020-03-10 15:47] satotake commented on #118
Hi all
Can I join? My background is not phylogenetics but pharmacology and immunology.
I am not so active on the twitter that you do not have to post my twitter handle.
(translation into Japanese)

[2020-03-10 15:56] cassiawag commented on #118
@satotake -- would love to have you. Thank you!

[2020-03-10 16:10] fzhang12 commented on #127
@emmahodcroft I corrected the Mandarin file and made it more readable for non-scientists (because some feedback on Twitter said too professional for them). Could you push it online?
Thx very much.

For the Japanese one, I will directly edit on sit-rep_ja branch after the other Japanese translator merged his comments. Thx again :)

[2020-03-10 16:19] meriemelkaroui commented on #118
russian translator
Irina Kalita.  Github@irina95511., twitter @MEKlab, no phylogenetic background.

[2020-03-10 16:46] cassiawag commented on #127
@fzhang12 thank you!

@alvinxhan or @wdingx, can either of you take a look at this? @fzhang12 has added some resources and links to make the narrative more accessible, and I just want to get at least two people's eyes on everything we publish :)

[2020-03-10 19:00] lxy0107 commented on #118
Hi! I'm Xueying Li and I'd like to help with Chinese translation. twitter @3Xueying. I am a postdoc and I work on evolutionary genetics.

[2020-03-10 19:50] fzhang12 commented on #127
Hi @lxy0107 , I added more resources to the currently narrative. Could you have a look at the preview:
https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_zh/sit-rep/zh/2020-03-05
Any comment will be welcome :)

[2020-03-10 19:54] cassiawag commented on #79
@vpuller -- any chance you're available to help translate this? All of the information should be above in Emma's comment. Thank you!

[2020-03-10 19:59] lxy0107 commented on #127
Yes, happy to take a look. Any deadlines? How do I make edits? Do I check the accuracy of science or also fluency? Sorry I’m new to this pipeline.

Sent from my iPhone

[2020-03-10 20:09] fzhang12 commented on #127
No problem. You may directly edit the file below through browsers.
https://github.com/nextstrain/ncov/blob/sit-rep_zh/narratives/ncov_sit-rep_zh_2020-03-05.md

I am not sure about the deadline but usually it is a time-sensitive report. The text itself I've edited twice so it should be fluent enough. But please do check on the additional links I added later (they are from zh wikipedia, China CDC an

[2020-03-10 20:15] emmahodcroft commented on #127
Hi @fzhang12 - I really appreciate your being so incredibly helpful about this!

I notice above you reference some extra links - and on the slides I can see that there are some extras compared to the current version we have live on Nextstrain.org:
(the version above): https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_zh/sit-rep/zh/2020-03-05?n=5

(the live version) : https://next

[2020-03-10 20:30] fzhang12 commented on #127
@emmahodcroft No problem, all clear. I have removed the additional links above but kept just two edited one. The two are the Mandarin version of the original links (one is from wikipedia and the other is from US CDC).

[2020-03-10 20:30] cassiawag commented on #79
@irina95511 -- here's the issue for translating the Russian report. Let me know if you have any questions.

[2020-03-10 20:37] emmahodcroft commented on #127
@fzhang12 thank you so much for being so understanding! 🙏
After @lxy0107 has a look and @cassiawag feels we're good, we can include this :)

[2020-03-10 21:48] lxy0107 commented on #127
working on it right now

[2020-03-10 23:00] enkelejdamiho commented on #118
Italian, twitter handle: @EnkelejdaMiho

On Tue, 10 Mar 2020 at 16:29 cassiawag <notifications@github.com> wrote:

--
Prof. Dr. Enkelejda Miho
aiNET GmbH, ETH spin-off
c/o Switzerland Innovation Park Basel Area AG
Hochbergstrasse 60C
4057 Basel

Mobile +41 76 469 91 91

[2020-03-10 23:11] emmahodcroft commented on #79
@cassiawag , I've got @frogtraveler who may also be able to help translate and/or proofread!

[2020-03-11 00:20] SalehA74 commented on #118
Thanks for the great efforts!
I can help with the translation to Arabic language
I am a molecular microbiologist
I have no Twitter account, but can keep in touch via What's up!
Greetings

[2020-03-11 00:21] lxy0107 commented on #127
Hi all, I finished proofreading. It looks good to me now. @fzhang12 , thanks for the hard work! You did an excellent job. I made some changes, hopefully they do not offend you... I put some explanation of major changes in the commit notes. You can check again if you want. We can also discuss privately if there are any questions.

[2020-03-11 00:59] frogtraveler commented on #79
Hi @cassiawag, I'll be happy to help! Forgive me my lack of experience with GitHub editing, it says I dont have access to  edit the file- should I create a new branch to edit it and then ask to pull?

[2020-03-11 01:11] cassiawag commented on #79
I've given you permission @frogtraveler! Thanks for your help :)

[2020-03-11 01:16] cassiawag commented on #127
Thanks @lxy0107 !

@fzhang12 -- let me know if you're good with the Mandarin, and I will publish it.

I've pushed also @tomoyuki-nezu & @satotake on the the Japanese translation; did you want to test full-width marks or shall I push it live?

[2020-03-11 01:36] cassiawag commented on #118
Greetings @SalehA74; thank you so much for your offer of help! We've discussed adding Arabic translations previously but have been concerned that the material might not translate well because our narratives are set up for languages read from left to right, not right to left: https://nextstrain.org/narratives/ncov/sit-rep/2020-03-05. We would _love_ to add that capacity, but considering we're in th

[2020-03-11 07:13] fzhang12 commented on #127
@lxy0107 thanks for the comments :)

@cassiawag I've looked her comments and it's good to be online. Happy working with you both

the full-width mark works with Mandarin as long as it stays inside translation blocks, I expect it also fine with Japanese.

[2020-03-11 09:01] emmahodcroft commented on #118
@cassiawag we can discuss offline, but we could set up a branch to test this? @SalehA74 can I ask what your time zone is (to find out who is best to coordinate with you)?

[2020-03-11 09:59] whispererindarkness commented on #118
Hello, I can help with Italian translation over the weeked. I'm not an expert in phylogenetic, but I can help with technical stuff (computer engineer here). My name is Andrea Claudi, my twitter handle is @s_a_demidov.

[2020-03-11 10:05] hanbin973 commented on #107
Thanks. My system had some input problem. It was resolved.

[2020-03-11 10:36] emmahodcroft commented on #118
Really pleased to say that @Bolloknoon has super kindly offered to help out with the Korean translation! @cassiawag could you connect with them?

@Bolloknoon, our translation coordinators are mostly on US time, so there might be a little delay before we are in touch again, but we're hoping to set up a good system to coordinate all of this very soon!

[2020-03-11 10:44] emmahodcroft commented on #118
@minkyuxyz is also interested in helping with Korean translations! @minkyuxyz, just so you know, most of our translation coordinators are in the US, so there'll be a little delay in a response - and we're also just setting this up. However, we hope to get a system together very soon that will explain everything!

(@cassiawag the twitter handle here is also @minkyuxyz)

[2020-03-11 12:00] hanbin973 commented on #107
I have completed a first complete draft. Can anyone have a try and check whether the translations are good enough?

[2020-03-11 14:25] emmahodcroft commented on #118
@SalehA74 may also be able to help with Arabic translations! @SalehA74 there may be a little delay in responding as most of our translation team is in the US, but hopefully we can get you set up soon!  (Twitter handle @Ahmadsa96201545)

[2020-03-11 14:27] SalehA74 commented on #118
<https://accounts.google.com/SignOutOptions?hl=en&continue=https://www.google.com/search%3Fq%3Dmy%2Btime%2Bzone%26oq%3Dmy%2Btime%2Bzone%26aqs%3Dchrome..69i57j0l3.13300j0j4%26client%3Dms-android-xiaomi-rev1%26sourceid%3Dchrome-mobile%26ie%3DUTF-8>

[Google Account]
Search Modes
ALL
IMAGES<https://www.google.com/search?q=my+time+zone&client=ms-android-xiaomi-rev1&prmd=ivmn&sxsrf=ALeKk00c1JheYe_g9A2Z

[2020-03-11 15:18] satotake commented on #127
I've checked full-width mark (your mean `。` ,  don't you ?) of Japanese version.
It is fine, thank you.

[2020-03-11 16:11] cassiawag opened #138 "Translate situation report into Arabic"
Hello @SalehA74 -- I made a branch `sit-rep_ar` where you can start translating the report into Arabic. We can see how it looks, and you can see if it translates okay with the narratives format. The file to translate is `ncov_sit-rep_ar_2020-03-05.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_ar/narratives/ncov_sit-rep_ar_2020-03-05.md

You can translate direct

[2020-03-11 16:38] cassiawag commented on #118
@SalehA74 --I made issue #138 where you can test out an Arabic translation. Let me know how it goes!

[2020-03-11 16:55] SalehA74 commented on #118
Thanks very much...I think it is going well with the Arabic translation.

احصل على Outlook for Android<https://aka.ms/ghei36>

________________________________
From: cassiawag <notifications@github.com>
Sent: Wednesday, March 11, 2020 6:39:10 PM
To: nextstrain/ncov <ncov@noreply.github.com>
Cc: ahmad saleh <a.m.saleh@ptuk.edu.ps>; Mention <mention@noreply.github.com>
Subject: Re: [nextstrain/ncov]

[2020-03-11 17:48] cassiawag commented on #107
@minkyuxyz or @Bolloknoon -- can either of you take a look? You can use this link here to preview: https://nextstrain.org/community/narratives/nextstrain/ncov@sit-rep_ko/sit-rep/ko/2020-03-05

[2020-03-11 18:03] minkyuxyz commented on #107
Just read. They are overall very well translated. I'll try to fix just a few bits in upcoming hours.

[2020-03-11 19:09] cassiawag commented on #118
Thanks for your help, @minkyuxyz & @Bolloknoon! I've tagged you in issue #107.

[2020-03-11 20:23] melkebir commented on #53
@xzhuo : Same issue for me, gisaid removed the download button. Did you figure out an alternative solution?

[2020-03-11 20:29] Cholokiwi commented on #62
I think it is in the Genomic epidemiology notes
https://www.ncbi.nlm.nih.gov/nuccore/MN908947
Hope it helps,

Roy

[2020-03-11 20:34] cassiawag commented on #127
Both Mandarin (https://nextstrain.org/narratives/ncov/sit-rep/zh/2020-03-05) and Japanese updates are live (https://nextstrain.org/narratives/ncov/sit-rep/ja/2020-03-05)! Thanks for your hard work all.

[2020-03-11 20:34] #127 closed

[2020-03-11 21:02] cassiawag commented on #75
@Chjulian -- yes thank you very much!! I've held off on posting this as we're almost finished with a narrative version of "How To Read Phylogenies" + a bit more. Maybe this can be used as starting point for translating that?

[2020-03-11 22:31] Chjulian commented on #75
Yeah. I’m happy to help with this part. Cheers.

Le mer. 11 mars 2020 à 21:02, cassiawag <notifications@github.com> a écrit :

--

Julián

[2020-03-11 22:33] Cholokiwi commented on #75
@cassiawag and @Chjulian I'm happy to chip in as well if needed.

[2020-03-12 01:53] frogtraveler commented on #79
Hi @cassiawag. My last translation was overwritten by dtaliun because I believe the version of that user didn't contain my changes. Could you please advise how should I make the changes so that they appear in the main branch?

[2020-03-12 04:12] xzhuo commented on #53
Not yet. A crawler?

[2020-03-12 07:48] msaavedra1026 commented on #118
Hello, I am no expert in phylogenetic, but I’m more than happy to help translate to Spanish as well.

[2020-03-12 15:11] cassiawag commented on #79
@vpuller -- we've a finished a Russian translation of the 03-05-2020 situation report. Any chance you can proofread it?

[2020-03-12 15:16] #118 closed

[2020-03-12 15:26] cassiawag commented on #107
@minkyuxyz, let me know when you're finished and we can we publish this.

[2020-03-12 15:34] irina95511 commented on #79
yes, can do within an hour!

[2020-03-12 15:45] cassiawag commented on #107
@hmkim & @hanbin973, I'm not sure if you saw issue #118, but we're gearing up to start publishing weekly situation reports. Are either of you interested in joining?

[2020-03-12 15:56] cassiawag commented on #95
@KanikaNahata & @ronakb128 -- any interest in helping out on weekly translations? See issue #118. No worries if you're unable to commit, but would love to get this out into Hindi!

[2020-03-12 16:19] hanbin973 commented on #107
yes i'd like to join. i have spare time untill may

[2020-03-12 18:09] irina95511 commented on #79
I have finished proofreading. The file looks good to me!

[2020-03-12 18:36] cassiawag commented on #79
The translation is live here: https://nextstrain.org/narratives/ncov/sit-rep/ru/2020-03-05
Please share it with your Russian speaking contacts!

@frogtraveler & @dtaliun -- do you have twitter handles we can tag when we post?

[2020-03-12 18:36] #79 closed

[2020-03-12 19:05] cassiawag commented on #118
@msaavedra1026 -- really appreciate the offer! I think we're okay on Spanish translators for now, but will add you to our list of backups. Thanks very much!

[2020-03-12 20:32] frogtraveler commented on #79
will definitively share! My tweeter handle is @varvarakozyreva. thanks!

[2020-03-12 23:01] minkyuxyz commented on #107
Made some changes. Now they look good to go. Happy to contribute to the first Korean situation report. Will keep joining. @cassiawag

[2020-03-12 23:03] minkyuxyz commented on #118
I'm in. I can contribute to the Korean versions. I am situated in California, US. Ping to me at any time. My twitter handle is [@minkyuxyz](http://twitter.com/minkyuxyz).

[2020-03-12 23:06] cassiawag commented on #107
@hanbin973 -- can you quickly preview? Once I've got a thumbs up from you, we'll publish it live.

[2020-03-13 00:19] hanbin973 commented on #107
i've read read through. It is much better with @minkyuxyz 's contribution

[2020-03-13 01:47] cassiawag commented on #107
The translation is live: https://nextstrain.org/narratives/ncov/sit-rep/ko/2020-03-05 !

Thank you so much @hanbin973 & @minkyuxyz. Please share it with your Korean-speaking colleagues.

[2020-03-13 01:47] #107 closed

[2020-03-13 01:50] minkyuxyz commented on #107
Sorry, I had to update one line that contained a minor mistake. Could you reflect the change please?

[2020-03-13 01:56] cassiawag commented on #107
Updated!

[2020-03-13 05:10] ronakb128 commented on #95
Hi @cassiawag I am sorry I have other commitments this month. I'll let you know if someone from the lab can do it.

[2020-03-13 05:27] victorlin commented on #53
That's weird, the download button shows for me. Looking at the page source, the button calls this function upon being clicked:

    sys.getC('c_q7124u_kv').buttonClick('DownloadAllSequences')

If you pull up a console on the page @brianpardy mentioned (*right click page > Inspect* on most browsers) and run this command, hopefully it should trigger the download.

It also seems like the download URL

[2020-03-13 05:58] Hikoyu opened #143 "How to construct phylogenetic tree"
I want to know the method for constructing phylogenetic tree used in this project.
Is it NJ or MP or ML?
Are there any informations?
Thank you.

[2020-03-13 06:11] jameshadfield commented on #143
The full pipeline is detailed here: https://github.com/nextstrain/ncov/blob/master/Snakefile

We use ML methods for both inferring topology and temporal branching. Please see https://nextstrain-augur.readthedocs.io/en/stable/ for more information.

[2020-03-13 06:11] #143 closed

[2020-03-13 06:49] minkyuxyz commented on #32
"Author" and "Creator" part, too! Might not be a big deal, but just letting you guys know.

[2020-03-13 07:01] jameshadfield commented on #32
Leaving this issue here as it's natural to file it to this repo but locking it as it's not specific to hCoV-19. https://github.com/nextstrain/nextstrain.org/issues/130 is the issue to bring proper language support into nextstrain & auspice 🎉

[2020-03-13 08:10] wwydmanski commented on #53
We've written a scrapper for the data
https://github.com/bioinf-mcb/gisaid-scrapper
It's a shame that they removed the download button

[2020-03-13 08:58] KanikaNahata commented on #95
Hi @cassiawag , similar to @ronakb128 I have other commitments this month so I will not be the best support! Good luck!

[2020-03-13 10:09] astridgall commented on #118
Hello
I am happy to help with English-German translations. I have a background in virus phylogenetics and worked with several of your collaborators. I am now doing bioinformatics scicomm and training.
Thanks
Astrid Gall
Twitter: @AstridGAGall

[2020-03-13 17:04] cassiawag commented on #95
@ronakb128 & @KanikaNahata -- very understandable. Thanks for letting me know!

[2020-03-13 17:43] melkebir commented on #53
@wwydmanski , @victorlin : Thank you!

I wrote a scraper myself, too:

https://github.com/elkebir-group/GISAIDScraper

[2020-03-13 19:42] rvosa opened #147 "perhaps replace s/COVID-19/SARS-CoV-2/g"
The narratives talk about genomic analysis of COVID-19. I suppose technically this should be SARS-CoV-2 as that is what the virus is called, while the disease is COVID-19 (compare HIV and AIDS).

[2020-03-13 19:43] rvosa commented on #147
BTW I'm happy to make these replacements and submit as a PR if you agree that this is worth doing.

[2020-03-13 22:36] cassiawag opened #148 "Translate Mar13 situation report into Dutch"
Happy weekend @roanvanscheppingen, @Van-Doorslaer, @pleunipennings, @JSHuisman, @JiscaH !

The situation report from March 13 is ready to be translated to Dutch. A branch exists at `sit-rep_nl`  where this can be done, and the file to translate is `ncov_sit-rep_nl_2020-03-13.md` under the `narratives` folder:   https://github.com/nextstrain/ncov/blob/sit-rep_nl/narratives/ncov_sit-rep_2020-03-13.m

[2020-03-13 22:42] cassiawag opened #149 "Translate March13 sit-rep to Farsi"
Happy weekend @dahaj1897, @mg878!

The situation report from March 13 is ready to be translated to Farsi. A branch exists as `sit-rep_fa`  where this can be done, and the file to translate is `ncov_sit-rep_fa_2020-03-13.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_fa/narratives/ncov_sit-rep_fa_2020-03-13.md.

You can translate directly in this file, but please

[2020-03-13 22:47] cassiawag opened #150 "Translate March 13 sit-rep to French"
Happy weekend @meriemelkaroui, @Maijin, @DanielThedie, @Simon-LoriereLab !

The situation report from March 13 is ready to be translated to French. A branch exists as `sit-rep_fr`  where this can be done, and the file to translate is `ncov_sit-rep_fr_2020-03-13.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_fr/narratives/ncov_sit-rep_fr_2020-03-13.md.

You can t

[2020-03-13 22:49] Maijin commented on #150
Awesome, like last week I have created an hackmd started working on it - https://hackmd.io/tS0vrA4lT5yI_w9BM1o-Wg
To recap Hackmd is an online system that allows multiple users to collaborate on the same document with instant preview the changes.

I also opened an instant message chat / IRC - https://webchat.freenode.net/#nextstrain-fr-translation so we can coordinate on the translation. (You don'

[2020-03-13 22:52] cassiawag opened #151 "Translate March 13 sit-rep into German"
Happy weekend @astridgall, @rneher, @nicfel !

The situation report from March 13 is ready to be translated to German. A branch exists as `sit-rep_de`  where this can be done, and the file to translate is `ncov_sit-rep_de_20202-03-13.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_de/narratives/ncov_sit-rep_de_2020-03-13.md.

You can translate directly in this fi

[2020-03-13 22:57] cassiawag opened #152 "Translate March 13 sit-rep to Italian"
Happy weekend @al-epo, @enkelejdamiho, @whispererindarkness, @aliceLedda!

The situation report from March 13 is ready to be translated to Italian. A branch exists as `sit-rep_it`  where this can be done, and the file to translate is `ncov_sit-rep_it_2020-03-13.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_it/narratives/ncov_sit-rep_it_2020-03-13.md.

You can t

[2020-03-13 23:03] cassiawag opened #153 "Translate March 13 sit-rep into Japanese"
Happy weekend @tomoyuki-nezu, @satotake, @fzhang12!

The situation report from March 13 is ready to be translated to Japanese. A branch exists as `sit-rep_ja`  where this can be done, and the file to translate is `ncov_sit-rep_ja_2020-03-13.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_ja/narratives/ncov_sit-rep_ja_2020-03-13.md.

You can translate directly in

[2020-03-13 23:05] meriemelkaroui commented on #150
Hi all, I am starting now on hackmd.

[2020-03-13 23:08] cassiawag opened #154 "Translate March 13 situation report into Korean"
Happy weekend @hanbin973, @minkyuxyz, @Bolloknoon!

The situation report from March 13 is ready to be translated to Korean. A branch exists as `sit-rep_ko`  where this can be done, and the file to translate is `ncov_sit-rep_ko_2020-03-13.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_ko/narratives/ncov_sit-rep_ko_2020-03-13.md.

You can translate directly in thi

[2020-03-13 23:12] cassiawag opened #155 "Translate March 13 situation report into Mandarin"
Happy weekend @fillorkill, @alvinxhan, @lxy0107, @fzhang12!

The situation report from March 13 is ready to be translated to Mandarin Chinese. A branch exists as `sit-rep_zh`  where this can be done, and the file to translate is `ncov_sit-rep_zh_2020-03-13.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_zh/narratives/ncov_sit-rep_zh_2020-03-13.md.

You can transl

[2020-03-13 23:17] cassiawag opened #156 "Translate March 13 situation report into Portuguese"
Happy weekend @7glaucio, @andersonbrito !

The situation report from March 13 is ready to be translated to Portuguese. A branch exists as `sit-rep_pt`  where this can be done, and the file to translate is `ncov_sit-rep_pt_2020-03-13.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_pt/narratives/ncov_sit-rep_pt_2020-03-13.md.

You can translate directly in this fil

[2020-03-13 23:21] rvosa commented on #148
I am ready to help. Do you prefer pull requests or would you consider giving me direct access?

[2020-03-13 23:22] cassiawag opened #157 "Translate March 13 situation report into Russian"
Happy weekend @dtaliun, @frogtraveler, @vpuller, @irina95511!

The situation report from March 13 is ready to be translated to Russian. A branch exists as `sit-rep_ru`  where this can be done, and the file to translate is `ncov_sit-rep_ru_2020-03-13.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_ru/narratives/ncov_sit-rep_ru_2020-03-13.md.

You can translate dir

[2020-03-13 23:26] cassiawag opened #158 "Translate March 13 situation report into Spanish"
Happy weekend @miparedes, @Chjulian, @Cholokiwi!

The situation report from March 13 is ready to be translated to Spanish. A branch exists as `sit-rep_es`  where this can be done, and the file to translate is `ncov_sit-rep_es_2020-03-13.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_es/narratives/ncov_sit-rep_es_2020-03-13.md.

You can translate directly in this

[2020-03-13 23:27] #138 closed

[2020-03-13 23:28] Cholokiwi commented on #158
Sweet as, working on it.

On Sat, Mar 14, 2020 at 12:26 PM cassiawag <notifications@github.com> wrote:

[2020-03-13 23:30] cassiawag commented on #148
Hi @rvosa -- I've given you permission to push to `sit-rep_nl`. Thanks for your help!

[2020-03-13 23:30] rvosa commented on #148
Thanks!

[2020-03-13 23:31] miparedes commented on #158
Sounds good! @Cholokiwi @Chjulian How do we want to divide this?

[2020-03-13 23:42] aliceLedda commented on #152
Hello Cassia,
I've committed just the beginning.
Can you tell me if the format is fine or not?
(I copied each translated line and commented the English version below, so
it's easier to check the translation)

Thanks!
Alice

On Fri, Mar 13, 2020, 22:58 cassiawag <notifications@github.com> wrote:

[2020-03-13 23:49] Cholokiwi commented on #158
Hi Miguel,
I just emailed Juliana about this but I didn't have your email. How about I
do the summary plus the first two headings (up to Circulation in Europe)
and you do the rest? Then we proof-read each other's part?
Cheers,

Roy

On Sat, Mar 14, 2020 at 12:31 PM Miguel Paredes <notifications@github.com>
wrote:

[2020-03-13 23:56] miparedes commented on #158
Hey!
That works for me! My email is paredesm@uw.edu for future use!

[2020-03-13 23:59] Cholokiwi commented on #158
Awesome Miguel. Apologies Julian! Don’t know why the autocorrection changed
your name.
Cheers,
Roy

On Sat, 14 Mar 2020 at 12:56 pm, Miguel Paredes <notifications@github.com>
wrote:

[2020-03-14 00:04] cassiawag opened #159 "Translate March 13 situation report into Hindi"
The situation report from March 13 is ready to be translated to Hindi. A branch exists as `sit-rep_hi`  where this can be done, and the file to translate is `ncov_sit-rep_hi_2020-03-13.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_hi/narratives/ncov_sit-rep_hi_2020-03-13.md.

You can translate directly in this file, but please remember to push often as other pe

[2020-03-14 00:13] Maijin commented on #150
Draft ready for review 👍  We'll likely also continue reviewing tomorrow.

[2020-03-14 00:13] tomoyuki-nezu commented on #153
Hello folks, and good morning (Japan is 9:00 in the morning, Saturday)
I can take about an hour from now, so I'll try to roughly translate it into Japanese.
Push every 1-2 page.

[2020-03-14 00:17] cassiawag opened #160 "Translate March 13 situation report into Arabic"
Happy weekend @SalehA74 !

If you feel like the narrative format will work with Arabic, the situation report from March 13 is ready to be translated. I remade the `sit-rep_ar`  branch where this can be done, and the file to translate is `ncov_sit-rep_ar_2020-03-13.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_ar/narratives/ncov_sit-rep_ar_2020-03-13.md.

You ca

[2020-03-14 00:18] cassiawag commented on #150
Fast work! @Simon-LoriereLab , would you mind taking a look?

[2020-03-14 00:29] rvosa commented on #148
Here's a first draft. I couldn't get the pushing to work so I submit this as a pull request. Please let me know if there is anything I need to do besides translating body text: I haven't touched any of the internal or external links.

[2020-03-14 00:30] tomoyuki-nezu commented on #153
@cassiawag Looks like you don't have push permission yet. Can you add it to me? I checked the email and GitHub, but there was no invitation message etc.

[2020-03-14 00:34] cassiawag commented on #153
@tomoyuki-nezu: I just re-invited you. Try navigating to the `nextstrain/ncov` repo to see if your invitation pops up.

[2020-03-14 00:58] cassiawag commented on #154
@kyobinkang is also going to help out with the translation!

[2020-03-14 01:09] tomoyuki-nezu commented on #153
Hmm...  No pop-ups. I tried switching the branch to sit-rep_ja from master, but didn't come out.

[2020-03-14 01:10] tomoyuki-nezu commented on #153
When I try to a git push, you get this message:

$ git branch
  master
* sit-rep_ja

$ git push
remote: Permission to nextstrain/ncov.git denied to tomoyuki-nezu.
fatal: unable to access 'https://github.com/nextstrain/ncov.git/': The requested URL returned error: 403

[2020-03-14 01:11] tomoyuki-nezu commented on #153
When I try to a git push, get this message:

$ git branch
master

sit-rep_ja
$ git push
remote: Permission to nextstrain/ncov.git denied to tomoyuki-nezu.
fatal: unable to access 'https://github.com/nextstrain/ncov.git/': The requested URL returned error: 403

[2020-03-14 01:12] tomoyuki-nezu commented on #153
When I try to a git push, I get this message:

[code]

[2020-03-14 01:38] minkyuxyz commented on #154
Thanks!

Pardon my Korean, I'd like to discuss how we can collaborate simultaneously.

첫 상황보고서는 @hanbin973 님이 초벌 번역하고, 제가 감수하는 방식으로 진행했습니다.
현재 4명의 기여자가 있는데, 어떻게 진행하는 게 좋을까요? 마구잡이로 번역하다가 일관성이 떨어지거나 푸시가 충돌하는 경우가 있을 것 같아서요. 한 분이 초벌번역 맡는 게 저는 좋다고 생각하는데, 어떻게 생각하시나 궁금합니다. 계속 진행하기 전에 미리 원칙을 세워두는 편이 좋을 것 같아서요. :)

그리고 이하는 첫 보고서를 번역하면서 세웠던 몇 가지 원칙입니다.

- Sequence (명사) 는 모두 "염기서열"로, Sequencing (동사)는 "해독"으로

[2020-03-14 01:48] cassiawag commented on #148
I merged your PR @rvosa! Thanks so much -- that's lightning fast work. Anyone else want to take a look?

[2020-03-14 01:52] cassiawag commented on #153
On my side, it's still showing that you haven't accepted the invitation, which is why you're getting the permissions errors. This [forum post](https://github.community/t5/How-to-use-Git-and-GitHub/Where-do-I-see-all-incoming-invitations-collaborator/td-p/4280) might help you troubleshoot finding the invitation.

[2020-03-14 01:59] pleunipennings commented on #148
I can read through it in the next few hours!

On Fri, Mar 13, 2020 at 6:48 PM cassiawag <notifications@github.com> wrote:

--

Pleuni Pennings

Assistant Professor

Department of Biology,

San Francisco State University

Website: http://pleunipennings.wordpress.com/

My office hours are 10-12 on Monday in HH520.

Recent paper on Collectively Improving our Teaching
<http://www.lifescied.org/content

[2020-03-14 02:07] whispererindarkness commented on #152
Hi @cassiawag, can you please check my access to the sit-rep_it branch? I didn't received any invitation from you, at the moment.

[2020-03-14 02:19] tomoyuki-nezu commented on #153
@cassiawag The invitation has been confirmed. I apologize for the trouble.
About half of them are roughly translated and commit. I'll take a little more time, so I'm going to get everything rough translate...

[2020-03-14 02:40] cassiawag commented on #152
@aliceLedda -- I love the way you've commented the English version. It's such a fantastic way for other people to check accuracy of your translation. This works everywhere except the very first slide -- the header/title page. The narratives program can be a little finicky, and comments just don't work in the title slide.. I pushed a commit that's fixed that error, and you should now be able to pre

[2020-03-14 03:11] tomoyuki-nezu commented on #153
All pages were translated roughly and committed.
I would like professional correction from @satotake and @fzhang12.
Questions were annotated as Translator notes.
best.

[2020-03-14 03:32] 7glaucio commented on #156
Hello, @cassiawag . The first version is ready to be revised. @andersonbrito, it's all yours.

[2020-03-14 03:45] frogtraveler commented on #157
I could work on translation tomorrow

[2020-03-14 04:05] Cholokiwi commented on #158
Hi @miparedes @Chjulian just finished. Please have a look when you have a chance (and be patient as it is my first time :) ).

Hey @cassiawag, could the background info (links below) be also translated?
https://nextstrain.org/help/general/how-to-read-a-tree
https://nextstrain.org/help/coronavirus/SARS-CoV-2
https://nextstrain.org/help/coronavirus/human-CoV#seasonal-cov

Cheers,

Roy

[2020-03-14 04:27] cassiawag commented on #158
@Cholokiwi -- we've got a little bit of code development before we can translate the general pages. See this [this issue](https://github.com/nextstrain/nextstrain.org/issues/130). But I'll be opening a request soon to get the background narrative on "How to read phylogenies" translated.  Thanks for your quick work! That was very fast.

[2020-03-14 04:40] DavidRThrashJr opened #164 "Add rss feed for daily mutations"
For those who want to stay informed of any mutations, without checking the site daily should be able to subscribe to the rss feed
Should be able to use this to do so: https://github.com/kurtmckee/feedparser

[2020-03-14 06:03] KyobinKang commented on #154
초벌 번역 후 감수하는 방식에 동의합니다. @hanbin973님께서 괜찮으시면 일관성 유지를 위해 초벌 번역을 위해 수고해 주시고 나머지 contributor들이 감수하는 방식이 좋지 않을까요?

[2020-03-14 06:06] minkyuxyz commented on #154
저도 그게 좋은 방식이라 생각하고, @hanbin973 님이 바쁠 경우 제가 초벌번역을 맡거나 일정부분 분담하는 것도 가능합니다.

@hanbin973 : 보시면 답변 주세요.

[2020-03-14 06:45] roanvanscheppingen commented on #148
If someone can delete the English part that is still around. Working on my mobile now. All else looks fine! Twitter: Rvanscheppingen

It is here:
Zooming in on the map, we see that there are many links between Italy and other areas; however, it is important to keep in mind that the directionality of these links can't always be confidently inferred. Other hypotheses can also explain these data (e.g

[2020-03-14 06:57] tomoyuki-nezu opened #165 "Added OGP settings for sharing information on SNS."
When sharing a post on Twitter or Facebook, if information according to the OGP is added in the contents header, it will be displayed when sharing, and people who see the shared information will understand it better.

The Open Graph protocol
https://ogp.me/

OGP Guidelines on Facebook
https://developers.facebook.com/docs/sharing/webmasters/

OGP Guidelines on Twitter
https://developer.twitter.com/

[2020-03-14 07:28] wonkyshree commented on #118
Hi,
I would be happy to help with Hindi translations. I'm a biochemist and material scientist. Also have been writing on articles on COVID 19 to increase scientific info on the topic.

https://wonkyperspectives.com/main-coronavirus-covid-19-article/

Let me know. My Twitter handle is @wonkyshree

Thanks
Shree

[2020-03-14 07:34] aliceLedda commented on #152
Thanks!
I'll keep working on it today!
Alice

On Sat, Mar 14, 2020, 02:40 cassiawag <notifications@github.com> wrote:

[2020-03-14 08:15] lxy0107 commented on #155
Hi all,  @fillorkill, @alvinxhan, @fzhang12
maybe we can get a head count who have time to translate this weekend? I propose we have at least one person translate and one person proofread it. If one than two people have time, we can split the report into two or three parts for the ‘translators’, and the ‘proofreader’ will still proof the entire article.

If anyone wants to do it reply by Saturday

[2020-03-14 08:18] alvinxhan commented on #155
Will be a busy weekend for me - happy to proofread.

-----

Cheers,
A

On 14 Mar 2020, at 9:16 AM, lxy0107 <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi all, @fillorkill, @alvinxhan, @fzhang12
maybe we can get a head count who have time to translate this weekend? I propose we have at least one person translate and one person proofread it. If one than two people have time,

[2020-03-14 08:25] fzhang12 commented on #155
I am here in Germany too. Happy to take one part of the translation.
@lxy0107 which part do you prefer? I will start later.
Either way I need to go over the whole since I need to proofread the JP.

[2020-03-14 08:55] JiscaH commented on #148
@roanvanscheppingen I've deleted that english bit. I read through everything and it looks absolutely fine.

I wonder if 'intercaleren' in the bit about Washington vs Grand Princess  could be replaced by a more laymen-friendly term like 'zich voegen tussen', but I'm not sure about the nuances of interpretation so I left it.

[2020-03-14 09:03] roanvanscheppingen commented on #148
I am a fan of the layman terms. I would say "zich vermengen met" "gemengd zijn met" to show that the two populations cluster together/are very similar.

Im off to hike in the mountains around Munich, so I'll be offline for a bit...(since Rome, then Prague and then a grouphike were cancelled). Good luck all :)

[2020-03-14 09:13] pedroelbanquero commented on #53
why no add the fasta of sars, mers and the others of the family ?, when is a new virus ?

[2020-03-14 09:16] lxy0107 commented on #155
It seems @fillorkill already did half it, maybe I can do the rest today and you can proofread?
Sent from my iPhone

[2020-03-14 09:30] fillorkill commented on #155
I just pushed the rest of the translation, if anyone could proofread?

[2020-03-14 10:15] al-epo commented on #152
@cassiawag,  @aliceLedda  @whispererindarkness
Hello all !
I am starting to traslate now, I will use same strategy used by cassiawag.
I am new to github, so I am a bit slow. Sorry! Trying  my best!
Alessia

[2020-03-14 10:22] aliceLedda commented on #152
Ciao Alessia,
 can you start for the most general parts and leave the more phylogenetic
parts to the end? I think it makes more sense if I translate the
phylogenetics parts and you check if it makes sense in Italian, while you
translate all the parts that do not require specific knowledge. Not that
you cannot translate the technical part, just that's harder for my brain to
correct a translation th

[2020-03-14 10:28] al-epo commented on #152
Ciao Alice,

sure! I agree with you.
Could you tell me from what lines you will traslate so I stay away from it? :-)

Alessia

[2020-03-14 11:10] vpuller commented on #157
As I had time, I have translated a part of it. If I have time later, I will do more.

[2020-03-14 11:55] ElwynWang opened #167 "Failed in jobid 17 due to an eeror of clade"
Hi,

When I run this project, I suffered an error as follows. I will appreciate if anyone could help me to solve this issue or give some suggestions.

Validating schema of 'results/aa_muts.json'...
Traceback (most recent call last):
  File "/home/anaconda3/envs/nextstrain/bin/augur", line 8, in <module>
    sys.exit(main())
  File "/home/anaconda3/envs/nextstrain/lib/python3.6/site-packages/augur/

[2020-03-14 12:12] al-epo commented on #152
I have committed a part translated until [COVID-19 Resources] .
please, let me know if there is something  I can improve
Best,

Alessia

[2020-03-14 12:15] whispererindarkness commented on #152
@cassiawag, I did not get any email or notification with an invitation from you. I just switched to another email address, can you please try to re-invite me? Maybe the email address is the problem?
I can work through pull requests, but it would be terribly inconvenient for other translators...

[2020-03-14 12:22] rvosa commented on #148
Ik vond intercaleren ook wat awkward, eerlijk gezegd. Misschien is 'zich voegen tussen' beter dan 'zich vermengen met' omdat dat tweede wellicht als hybridisatie of zo geinterpreteerd gaat worden.

[2020-03-14 12:22] hyouka315 commented on #154
Hello. I am Hyunseok, a pre-med student in SNU.
As a native Korean speaker, I am willing to work as a Korean translator.
If there is anything I need to know, feel free to contact me.

[2020-03-14 12:26] rvosa commented on #147
(I think this has become a moot point because the more recent situation report seems to formulate this a bit better. I'll just go ahead and remove this to unclutter.)

[2020-03-14 12:26] #147 closed

[2020-03-14 12:45] wwydmanski commented on #53
@pedroelbanquero sure, it can be done at one point. For now I've added parsing metadata of the samples to the scrapper, it should yield some interesting information

[2020-03-14 12:59] rvosa commented on #53
I've been having trouble getting @wwydmanski's scraper to work (it errors at the end of the first page because the DOM seems to have changed). @melkebir's scraper does work. This is both on a macbook 10.14.6.

[2020-03-14 13:07] wwydmanski commented on #53
@rvosa maybe it's OS dependent? I've tested it only on windows 10

[2020-03-14 13:10] emmahodcroft commented on #167
Hi @ElwynWang. I pushed an update a little while ago which should fix this. The `clades` file had a line which was separated by spaces instead of tabs. This should be fixed now. Try pulling and re-running?

[2020-03-14 13:28] vpuller commented on #157
I've think that I have finished translating it. However, somebody has to proofread.

[2020-03-14 13:34] JiscaH commented on #148
Kijkend naar de phylogenie, heb ik het veranderd in:
"Interessant is dat de monsters van het Grand Princess cruiseschip zich voegen tussen de Washington monsters."

Translates to: it's interesting to see, that the monsters of the GP cruiseship are in-between the Washington monsters.

[2020-03-14 13:45] lxy0107 commented on #155
Hi all, I will start proofreading now since I have some time.

[2020-03-14 13:48] fzhang12 commented on #155
I updated till summary part. but be careful with content list. I found removing half-width dot in that page will break the slides.

[2020-03-14 13:53] lxy0107 commented on #155
Yes, and I will push after going through each page.

[2020-03-14 13:55] cassiawag commented on #152
@whispererindarkness, I just resent your invitation. Ping me again if you're still having problems.

[2020-03-14 13:57] cassiawag commented on #157
@irina95511 -- any chance you can take a look? Thanks so much @vpuller, fast work!

[2020-03-14 13:59] cassiawag commented on #148
Ping me when this is good to publish!

[2020-03-14 14:10] cassiawag commented on #118
@wonkyshree, I've added you to the repo and tagged you in the relevant issue for the Hindi translation. Thanks so much!

[2020-03-14 14:10] cassiawag commented on #159
@wonkyshree, all of the information you need should be above. Let me know if you have any questions!

[2020-03-14 14:17] Simon-LoriereLab commented on #150
Apologies for the delay, it is all good, very impressed by the speed of @Maijin and @meriemelkaroui !

[2020-03-14 14:20] meriemelkaroui commented on #150
Great! Speed was thanks to @Maijin who suggested  the combination of using hackmd and google translate which is surprisingly (at least to me) good at scientific texts.
@cassiawag may be this should be suggested to other translators?

[2020-03-14 14:28] JiscaH commented on #148
@cassiawag  it's good to go!

I've merged in @rvosa 's proposed edits, just swapped "the Washington monsters are in-between the the monsters of the GP cruiseship" the other way around.

Resolving the conflicts between @pleunipennings patch-1 and the main branch was unambiguous.

[2020-03-14 14:35] whispererindarkness commented on #152
@cassiawag, it's ok now. Thanks!

@aliceLedda, @al-epo: "FAQs & Misconceptions" and "Scientific credit" sections are more or less the same as my last translation, I will take care of it. I'll leave the rest to you, ping me if you need help. I'll ask a friend (who is a professional translator) to help with the final proofreading.

[2020-03-14 14:36] al-epo commented on #152
@whispererindarkness  ok!

[2020-03-14 14:37] cassiawag commented on #150
I've updated in internal links and added all of your names in parentheses as authors. I'll publish it now. AMAZING work everyone. Thank you so much!

[2020-03-14 14:37] Maijin commented on #150
👍

[2020-03-14 14:44] Maijin commented on #150
Erf forgot I need to use fix in a commit and not the title.

[2020-03-14 14:44] #150 closed

[2020-03-14 14:52] cassiawag commented on #150
It's live at: https://nextstrain.org/narratives/ncov/sit-rep/fr/2020-03-13.

Posting on Twitter now. Pardon my absolute terrible language skills, but can one of you give me a translation for "Read our latest situation report on COVID-19 in French." I could go for Google Translate, but you all seem like a a better option :)

[2020-03-14 14:54] Simon-LoriereLab commented on #150
Lisez notre dernier rapport de situation sur COVID-19 en français!

[2020-03-14 14:54] hyouka315 commented on #154
Hello. I am Hyunseok, a pre-med student in SNU.
As a native Korean speaker, I am willing to work as a Korean translator.
If there is anything I need to know, please feel free to contact me.

안녕하십니까. 저는 서울대 의예과 학부 재학 중인 서현석입니다. 번역 작업에 미약하나마 보탬이 됨과 동시에 여러 훌륭하신 분들께서 협업하시는 것을 보고 싶어 이렇게 자원하게 되었습니다. 폐가 되지 않도록 최선을 다하겠습니다.

[2020-03-14 15:14] rneher commented on #151
@astridgall Did we just edit this at the same time? You deleted my first edits in 3731e091e18c106ed9160520ee650b5d061bbbd5

I pushed my version (finished but in need of polishing) to `sit-rep_de2`

[2020-03-14 15:20] cassiawag commented on #148
It's live at: https://nextstrain.org/narratives/ncov/sit-rep/nl/2020-03-13.

Posting to twitter shortly. Amazing work everyone! Thank you so much.

[2020-03-14 15:20] #148 closed

[2020-03-14 15:23] astridgall commented on #151
@rneher It looks like it. Sorry about that. I can proofread your version?

[2020-03-14 15:25] aliceLedda commented on #152
Cool!
I started my part.
How do we put accents?
Thanks for anybody who will answer!
Alice

On Sat, Mar 14, 2020, 14:35 Andrea Claudi <notifications@github.com> wrote:

[2020-03-14 15:27] tomoyuki-nezu commented on #153
PR (https://github.com/nextstrain/ncov/pull/166) from @satotake has been merged.

Re-post the comments written on the PR thread:

@satotake Thank you for the review and pointing out the fine nuances and details.
I committed again to merge the points you pointed out and I changed only one place (https://github.com/nextstrain/ncov/pull/166#discussion_r392593165)

@fzhang12 Thank you for your continu

[2020-03-14 15:31] DanielThedie commented on #150
Hi, amazing to see that's it's already done! If using google translate for the first round of translation, I can suggest also trying DeepL (https://www.deepl.com/en/translator), which I've found quite amazing for other translations before. But whatever works best, of course... :)

[2020-03-14 15:34] cassiawag commented on #148
@rvosa -- do you have a twitter I can tag in the post?

And does anyone want to translate this for me: The latest situation report on COVID-19 is now available in Dutch! Thank you to [twitter handles] for their fast translation.

[2020-03-14 15:37] JSHuisman commented on #148
Het nieuwste situatie rapport over COVID 19 is nu beschikbaar in het Nederlands! Met dank aan [twitter handles] voor hun snelle vertaling.

[2020-03-14 15:37] rneher commented on #151
Have a look at this file:
https://raw.githubusercontent.com/nextstrain/ncov/ddf3512d36f418855fc72f89988cd77a384fd52a/narratives/ncov_sit-rep_de_2020-03-13.md
it is in a separate branch `sit-rep_de2` bc I couldn't push into the original one in which you deleted the file.

[2020-03-14 15:38] roanvanscheppingen commented on #148
Het nieuwste situatierapport over COVID-19 is nu beschikbaar in het Nederlands! Bedankt [handles] voor hun snelle vertaling.

[2020-03-14 15:39] roanvanscheppingen commented on #148
Guys. We are getting too effective! Good job all and especially the Nextstrain team for their around the clock work

[2020-03-14 15:45] astridgall commented on #151
Needs a few commas etc. Can I edit here:
https://github.com/nextstrain/ncov/blob/sit-rep_de2/narratives/ncov_sit-rep_de_2020-03-13.md
?

[2020-03-14 15:45] cassiawag commented on #148
Thank you all

[2020-03-14 15:47] rvosa commented on #148
@cassiawag, my twitter handle is the same as my github handle: @rvosa

[2020-03-14 15:48] cassiawag commented on #150
The hackmd does seem to work very well when multiple people are working at the same time. Feel free to share the info with other translating groups @Maijin & @meriemelkaroui

[2020-03-14 15:51] fzhang12 commented on #153
Thank for @tomoyuki-nezu and @satotake 's excellent job. The text was already great and I just modified some typo. Happy working with you again :)

@cassiawag the JP translated narrative is ready to be pushed. Thanks for your effort.

[2020-03-14 15:54] rneher commented on #151
yes, edit this file!

[2020-03-14 16:03] lxy0107 commented on #155
Hi all, I finished proofreading.
@fillorkill @fzhang12 please check if you agree with all the changes - great work!
We should also put our names in, right? I noticed none of you has done it.
@cassiawag you mean we add our names in parentheses to the author list on the front page, right? Do we need to add any note like "translators"?

[2020-03-14 16:11] cassiawag commented on #153
Thank you all, incredibly fast work! Can I get a translation of this for the twitter post:

The latest situation report on #COVID19 is now available in Japanese! Thank you to @tommy_nezy, @fengjun_zhang, and Takeshi Sato for their quick translation.

[2020-03-14 16:17] tomoyuki-nezu commented on #153
@cassiawag I read this post. How do we write the translator's name in translated document?
https://github.com/nextstrain/ncov/issues/155#issuecomment-599086636

[2020-03-14 16:22] al-epo commented on #152
@aliceLedda  I have an italian keybord ( not a useful answer..I know)
I start now the Takeaways  section to avoid overlaps, ok?

Alessia

[2020-03-14 16:24] aliceLedda commented on #152
Yes Alessia, amazing...
I am still trying to figure out accents...
I have to change my keyboard configuration
Alice

On Sat, Mar 14, 2020 at 4:23 PM al-epo <notifications@github.com> wrote:

[2020-03-14 16:26] cassiawag commented on #153
You did it just right, @tomoyuki-nezu. I'm adding everyone else's name and will publish.

[2020-03-14 16:30] whispererindarkness commented on #152
@aliceLedda I think I can fix the accents at the end using my Italian keyboard :)

[2020-03-14 16:30] fzhang12 commented on #153
@tomoyuki-nezu good question!
@cassiawag sorry I am busy with CN translation and totally forgot this... Another question, is there any possibility to put translators' name in somewhere else? It now looks like we are all from the first author's group. I could be okay with that, but I am not sure if it is right to do so.

[2020-03-14 16:40] irina95511 commented on #157
Yes, happy to read now! Let you know as soon as I am done!

[2020-03-14 16:43] cassiawag commented on #153
@fzhang12, I'll consult with team here, but that's what we decided to do a week ago. Could consider putting them in the abstract too.

[2020-03-14 16:45] cassiawag commented on #153
Translation is live: https://nextstrain.org/narratives/ncov/sit-rep/ja/2020-03-13

Can someone please translate the following for me for the twitter post?

The latest situation report on #COVID19 is now available in Japanese! Thank you to @tommy_nezy, @fengjun_zhang, and Takeshi Sato for their quick translation.

[2020-03-14 16:49] cassiawag commented on #155
Yes, @lxy0107, exactly right. The parantheses is to signify translators. In the future we're hoping to add another field for translators in the future, but that still requires some code development on our end.

[2020-03-14 17:00] fzhang12 commented on #155
I have read through the whole. both @lxy0107 and @fillorkill have done a great job.
@alvinxhan may give us more comments. Let us wait for her update :)

[2020-03-14 17:05] cassiawag opened #172 "Translate March 13 situation report to Polish"
Hello @balwierz!

The situation report from March 13 is ready to be translated to Polish. A branch exists as `sit-rep_pl` where this can be done, and the file to translate is `ncov_sit-rep_pl_2020-03-13.md` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_pl/narratives/ncov_sit-rep_pl_2020-03-13.md.

You can translate directly in this file, but please remember to push

[2020-03-14 17:09] fzhang12 commented on #153
@cassiawag I will give a try
コロナウィルス及び #COVID19 についての状況報告（日本語）更新されました！
翻訳担当の @tommy_nezy さん、 @fengjun_zhang さんとTakeshi Satoさん、お疲れ様です。

[2020-03-14 17:09] cassiawag commented on #153
Thank you! And thank you to all for your amazing work!

[2020-03-14 17:09] #153 closed

[2020-03-14 17:17] hanbin973 commented on #154
Ok. I expect to finish the initial draft before tommorow.

[2020-03-14 17:20] Maijin commented on #150
@DanielThedie that's what I used this time indeed ;)

[2020-03-14 18:44] irina95511 commented on #157
Have finished -- the translation looks great to me!

[2020-03-14 18:57] cassiawag commented on #157
Amazing work everyone!

I'm going to add your  names in parentheses to give you credit. @dtaliun, do you have a name you'd like me to use. I also don't have your twitter handle for when we post to twitter.

Also, can someone translate this for me for the twitter post?

The latest #COVID19 situation report is now available in Russian. Many thanks to @Meklab, Vadim Puller and [dtaliun] for their fas

[2020-03-14 19:02] emmahodcroft commented on #167
@ElwynWang your issue should be fixed, but re-open if you need.

[2020-03-14 19:02] #167 closed

[2020-03-14 19:08] dtaliun commented on #157
Thank you @cassiawag! I don't have twitter handle but you can use my name Daniel Taliun.
Below is the translated twitter post.

Последний отчет о ситуации по #COVID19 теперь доступен на русском языке. Большое спасибо @Meklab, Vadim Puller и Daniel Taliun за их быстрый перевод!

[2020-03-14 19:27] cassiawag commented on #157
Thank you all for your fast work! It's live here: https://nextstrain.org/narratives/ncov/sit-rep/ru/2020-03-13 Please share with your colleagues.

[2020-03-14 19:27] #157 closed

[2020-03-14 20:32] astridgall commented on #151
Done!

[2020-03-14 20:35] cassiawag commented on #151
Super! Thank you. @rneher, can you take a final look, merge your PR into master, and ping me when it's done. I'll push it live and get it posted.

[2020-03-14 21:00] pvanheus opened #174 "Duplication of Netherlands/Overijssel_2/2020"
The virus name Netherlands/Overijssel_2/2020 is associated with both EPI_ISL_414550 and EPI_ISL_414460, with the former being dated later than the latter. I don't see an easy way to exclude one of what appear to be duplicates, but the duplicate name causes processing problems.

[2020-03-14 21:07] lxy0107 commented on #155
I added my name in Chinese and @fzhang12 's name in English.
@fillorkill you can add your name before us (sorry I don't know your name).

[2020-03-14 21:26] cassiawag opened #175 "Translate "How to interpret phylogenetic trees" to French"
We’d like to translate [“How to interpret phylogenetic trees”](https://nextstrain.org/narratives/trees-background) into French. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_fr.md` in branch `background_fr` under the `narratives` folder: https://github.c

[2020-03-14 21:38] cassiawag opened #176 "Translate "How to interpret phylogenetic trees" to Dutch"
We’d like to translate [“How to interpret phylogenetic trees”](https://nextstrain.org/narratives/trees-background) into Dutch. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_nl.md` in branch `background_nl` under the `narratives` folder: https://github.co

[2020-03-14 21:43] cassiawag opened #177 "Translate "How to interpret phylogenetic trees" to Japanese"
We’d like to translate [“How to interpret phylogenetic trees”](https://nextstrain.org/narratives/trees-background) into Japanese. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_ja.md` in branch `background_ja` under the `narratives` folder: https://github

[2020-03-14 21:47] cassiawag opened #178 "Translate "How to interpret phylogenetic trees" to Russian"
We’d like to translate [“How to interpret phylogenetic trees”](https://nextstrain.org/narratives/trees-background) into Russian. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_ru.md` in branch `background_ru` under the `narratives` folder: https://github.

[2020-03-14 21:52] rneher commented on #151
Yes, looks great.

[2020-03-14 21:52] #151 closed

[2020-03-14 21:53] cassiawag opened #179 "Translate "How to interpret phylogenetic trees" to Farsi"
We’d like to translate [“How to interpret phylogenetic trees”](https://nextstrain.org/narratives/trees-background) into Farsi. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_fa.md` in branch `background_fa` under the `narratives` folder: https://github.co

[2020-03-14 22:07] cassiawag opened #180 "Translate "How to interpret phylogenetic trees" to German"
We’d like to translate [“How to interpret phylogenetic trees”](https://nextstrain.org/narratives/trees-background) into German. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_de.md` in branch `background_de` under the `narratives` folder: https://github.c

[2020-03-14 22:37] cassiawag opened #181 "Translate "How to interpret phylogenetic trees" to Spanish"
We’d like to translate [“How to interpret phylogenetic trees”](https://nextstrain.org/narratives/trees-background) into Spanish. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_es.md` in branch `background_es` under the `narratives` folder: https://github.

[2020-03-14 22:44] cassiawag opened #182 "Translate "How to interpret phylogenetic trees" to Italian"
We’d like to translate [“How to interpret phylogenetic trees”](https://nextstrain.org/narratives/trees-background) into Italian. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_it.md` in branch `background_it` under the `narratives` folder: https://github.

[2020-03-14 22:56] cassiawag opened #183 "Translate "How to interpret phylogenetic trees" into Korean"
We’d like to translate [“How to interpret phylogenetic trees”](https://nextstrain.org/narratives/trees-background) into Korean. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_ko.md` in branch `background_ko` under the `narratives` folder: https://github.c

[2020-03-14 23:00] cassiawag opened #184 "Translate "How to interpret phylogenetic trees" into Mandarin"
We’d like to translate [“How to interpret phylogenetic trees”](https://nextstrain.org/narratives/trees-background) into Mandarin Chinese. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_zh.md` in branch `background_zh` under the `narratives` folder: https:

[2020-03-14 23:02] cassiawag opened #185 "Translate "How to interpret phylogenetic trees" into Portuguese"
We’d like to translate [“How to interpret phylogenetic trees”](https://nextstrain.org/narratives/trees-background) into Portuguese. This narrative is referenced in the latest hCov-19 report, and we hope it will help make that one and future situation reports more accessible. The file to translate is `ncov_trees-background_pt.md` in branch `background_pt` under the `narratives` folder: https://gith

[2020-03-14 23:04] cassiawag commented on #156
I've had an offer for more help with Portuguese translations. You two seem to have a system down, which is why I'm asking first, but weekly translation could be a big burden. I can send more people your way if helpful.

[2020-03-14 23:15] cassiawag opened #186 "Translate titles of German situation report"
Hello @rneher, @astridgall, @nicfel -- I just realized that the headers on the L-slides were not translated. I re-opened `sit-rep_de` branch and the file is here: https://github.com/nextstrain/ncov/blob/sit-rep_de/narratives/ncov_sit-rep_de_2020-03-13.md

Can someone please translate those? Then I'll publish it. Thanks!

[2020-03-14 23:17] tomoyuki-nezu commented on #153
Thank you all. It was fun to be together :)

[2020-03-14 23:36] andersonbrito commented on #156
@cassiawag, from my side, no worries. Please, bring her/him in.

[2020-03-15 00:12] lxy0107 commented on #155
Hi all, I thought maybe it’s a good idea to share the translated report (screenshots) on Chinese social media, e.g. Weibo, the Twitter substitute in China, to help science communication. @cassiaweg, do people agree with this? The authors will of course be credited. @others, if so, should we coordinate Weibo posts as well (like to make screenshots and annotate the figures)?

Sent from my iPhone

[2020-03-15 00:14] andersonbrito commented on #156
The 2020-03-13 report, Portuguese translation is ready to go.
Thank you  for translating the largest part of it, @7glaucio. Great job.

[2020-03-15 00:29] fzhang12 commented on #155
It could be a possible approach but I strongly suggest we should leave the scientific credits in English, in case we have any consequence later.
I dont know who added 'Chinese Taiwan' after the laboratory from Taiwan. Please, DO NOT bring any political opinion into their scientific report.

[2020-03-15 01:14] cassiawag commented on #156
I'll add him on to the next round of translations. Thank you for the fast work! It's now posted at: https://nextstrain.org/narratives/ncov/sit-rep/pt/2020-03-13

[2020-03-15 01:14] #156 closed

[2020-03-15 01:18] cassiawag commented on #155
Well said, @fzhang12. I strongly echo that statement; we CANNOT bring anything political into these reports. Please adjust the document accordingly. Thank you.

[2020-03-15 01:31] trvrb commented on #53
I'll leave this issue open for discussion. If you successfully download `gisaid_cov2020_sequences.fasta` from GISAID then the merged #59 should make preparation of `sequences.fasta` straight forward.

I don't understand what's going on with some people being able to see a "Download" button and others not able to. I'd suggest to continue to contact GISAID support about this.

[2020-03-15 01:33] trvrb commented on #164
We'd love to automate this at some point, but for the moment the best thing is to follow https://twitter.com/nextstrain. We try to post whenever we update.

[2020-03-15 01:42] trvrb commented on #174
Hi @pvanheus. We've just merged #59 that should fix this duplicates issue. After downloading from GISAID, run
[code]
and then proceed with `snakemake` or `nextstrain build`, but let us know if this doesn't resolve things.

[2020-03-15 01:42] #174 closed

[2020-03-15 01:43] #164 closed

[2020-03-15 01:46] trvrb commented on #63
I'd recommend parsing http://data.nextstrain.org/ncov.json. This has time, location and mutation information. Otherwise, you can get time information from the file `results/branch_lengths.json` generated during the build process. Hope this helps.

[2020-03-15 01:46] #63 closed

[2020-03-15 01:46] #54 closed

[2020-03-15 01:48] trvrb commented on #62
You can always download the complete analysis data set at http://data.nextstrain.org/ncov.json. This is what the nextstrain.org front-end renders. Nodes in this tree have date information. More information on this schema is described here: https://github.com/nextstrain/ncov#developer-notes. Good luck!

[2020-03-15 01:48] #62 closed

[2020-03-15 01:56] fillorkill commented on #155
I agree we can leave the credits in English. I did the previous commits including the translated credits. However if they are left in English, you may want to take out "R.O.C" altogether from the English narrative anyway. The correct name for the agency is Taiwan Centers for Disease Control, without any suffix. R.O.C itself is political.

[2020-03-15 02:42] tsibley commented on #155
@fillorkill For context here, `Centers for Disease Control, R.O.C. (Taiwan)` is what is reported on GISAID. I think our reports' attribution/credit of the various labs need to use what is submitted to and reported by GISAID.

[2020-03-15 02:56] 7glaucio commented on #185
@cassiawag You're right. I've been thinking about it while translating the last report. The phylogeny is a fundamental part of the analysis. On the other hand, it's a very technical guide, so I think someone more involved in this area should do it to have a better translation. What do you think, @andersonbrito ? If you're too busy to do I can start but only in the next few days, because I got a lo

[2020-03-15 04:00] hanbin973 commented on #154
I'll commit right after updating each page.

[2020-03-15 04:43] hanbin973 commented on #154
Finished the first draft. Some remaining untranslated parts at the end of the narrative is identical to the early few pages of the previous report. We can just simply copy and paste for them.

[2020-03-15 04:46] minkyuxyz commented on #154
On it!

[2020-03-15 05:44] Bolloknoon commented on #154
I just want to make a minor changes in the files but I cannot commit the file without PR since I don't have writing assess on this file.

How can I get writing asscess on the file?
https://github.com/nextstrain/ncov/blob/sit-rep_ko/narratives/ncov_sit-rep_ko_2020-03-13.md.

@cassiawag

[2020-03-15 06:00] pvanheus commented on #174
Thanks, I have my own Python [script](https://github.com/pvanheus/ncov/blob/master/combine_gisaid.py) that does the same as that script.

[2020-03-15 06:32] #186 closed

[2020-03-15 06:32] JiscaH commented on #176
I'm working on it, but it definitely needs checking by one of the phylogenetic experts.

@cassiawag there's a typo at the very end of the "How do I read a tree" slide. It reads " A & B are more closely related to C than they are to D & C." - the last 'C' should be 'E'.

[2020-03-15 06:38] cassiawag commented on #154
@Bolloknoon -- on my end it's showing an open invitation to the `ncov` repo that you haven't yet accepted. Maybe this [forum post](https://github.community/t5/How-to-use-Git-and-GitHub/Where-do-I-see-all-incoming-invitations-collaborator/td-p/4280) can help you troubleshoot?

[2020-03-15 06:48] miparedes commented on #158
Hey y'all @Cholokiwi @Chjulian, just finished the translation. It should be available for you to proofread. Would love to hear your comments as well! (I had a bit of trouble when uploading to github so please let me know if anything seems regarding the files)

@cassiawag I had a little github trouble and seem to have broken the nextstain.org narratives preview -- can you fix it? (I'm not too sure

[2020-03-15 06:49] frogtraveler commented on #178
I think there is a typo in English version in line 80: "Based on this tree, we would conclude that A & B closely related to each other, and D & E are closely related to each other. A & B are more closely related to C than they are to D & C". The last sentence should be: "A & B are more closely related to C than they are to D & E".  @cassiawag

[2020-03-15 06:56] JiscaH commented on #176
@cassiawag spotted another typo: end of slide "how does the map relate to the tree" reads:
"you can play an animation of how the inferred spread of the virus over the course of the outbreak."  - 'how'  should be deleted.

[2020-03-15 07:03] tomoyuki-nezu commented on #177
@cassiawag Thank you for your attention.

@satotake @fzhang12
I have a little time to translate a few pages. If someone can translate at in this time, please start after "Measuring differences with genetic divergence". I think I can translate this section.

[2020-03-15 07:08] JiscaH commented on #176
I've submitted a rough complete draft, with considerable contribution by google translate.

[2020-03-15 07:10] roanvanscheppingen commented on #176
Ill check within an hour!
@cassiawag do you have plans to further translate for example the explanations or background, or is it made by someone else?

[2020-03-15 07:14] cassiawag commented on #158
Fixed it @miparedes.

We now have a new field for translators on the first page (yay!), and you can add a link to your name. I put in all your Twitter accounts, but if you'd like to update that to another professional page, please do so.

[2020-03-15 07:32] Bolloknoon commented on #154
Oh I found the invitation email now. Thank you! @cassiawag

[2020-03-15 08:11] tomoyuki-nezu commented on #177
Translated and committed to Measuring differences with genetic divergence.
Questions are written as translator notes.

[2020-03-15 08:16] roanvanscheppingen commented on #176
Some edits:

Added Dutch translation of the first page
Added Dutch translation of the alternative texts (for the other Dutch people, this is the description of a picture, for the visually impaired people using reading software!)
Some spelling errors
Changed some wording

[2020-03-15 08:23] JiscaH commented on #176
@cassiawag  The very last slide ('End of Narrative') appears to be coded in another file

[2020-03-15 08:24] roanvanscheppingen commented on #159
I've asked @palmrinmoy (a labmate) to also have a look into this. Last time he was too late, but maybe he has some time right now :)

[2020-03-15 08:24] satotake commented on #177
@tomoyuki-nezu Thanks.
I am translating the parts from `Measuring differences over time` to `About the dataset`

[2020-03-15 09:15] Maijin commented on #175
Hi Everyone!

I have created an hackmd started working on it - https://hackmd.io/h9jCGoD3T2uTeOdtKMVi2w
To recap Hackmd is an online system that allows multiple users to collaborate on the same document with instant preview the changes.

I also opened an instant message chat / IRC - https://webchat.freenode.net/#nextstrain-fr-translation so we can coordinate on the translation. (You don't need pas

[2020-03-15 09:19] JSHuisman commented on #176
I will go through it now as well (also looking at the narrative). This will be my first experience with git in a public repository, so bear with me :'

[2020-03-15 09:31] meriemelkaroui commented on #175
Hi Everyone,
Today I am super busy so I cannot help with the translation, sorry.
@DanielThedie, @Simon-LoriereLab, @PierreBarrat , can you take over?
Thanks
meriem

[2020-03-15 09:34] rvosa commented on #176
My bad, we were crossing paths, I will take my hands off it now to let @JSHuisman do their thing. We are now at commit https://github.com/nextstrain/ncov/commit/b610223077fce4fdca66c9f2cc6eea034fbd4bdf

[2020-03-15 09:42] al-epo commented on #152
@cassiawag , @aliceLedda @whispererindarkness  I am going to traslate the parts that are still in english, if someone can check them after it would be great!

Thanks,

Alessia

[2020-03-15 09:56] DanielThedie commented on #175
Hi, yes I will get to it later this morning.

[2020-03-15 10:00] roanvanscheppingen opened #190 "Narratives affiliation"
Hi,

When scrolling through the different languages, I saw the names of the translators within the parenthesis, but the affiliation superscript is behind the parenthesis, as if we are all working in Seattle. To avoid confusion, that one could perhaps be moved?

Cheers :)

[2020-03-15 10:08] satotake commented on #177
pushed mine and put comment about your notes

[2020-03-15 10:11] al-epo commented on #182
@cassiawag , @whispererindarkness , @aliceLedda ,
I can start after I finish to translate  the main report. At a first look the specific language doesn’t  seem too difficult to me, but I am not an expert  in phylogenitic (I am a biophysicist  with some knowledge  in molecular biology ) so if someone  can supervise  me it would  be great.

Thank you!

[2020-03-15 10:27] aliceLedda commented on #182
Sorry, I think I have the accents now, so I am starting the translation.

On Sun, Mar 15, 2020 at 10:11 AM al-epo <notifications@github.com> wrote:

[2020-03-15 10:27] alvinxhan commented on #155
Hey, gave it a read - I think all of you did a great job. I don't really have any substantive comments. There is no need to credit me - I didn't do anything other than proofreading.

[2020-03-15 10:29] aliceLedda commented on #152
Sorry I have just read this!

On Sat, Mar 14, 2020 at 4:30 PM Andrea Claudi <notifications@github.com>
wrote:

[2020-03-15 10:41] JiscaH opened #191 ""How to interpret phylogenetic trees" in english has 2 typo's + last slide isn't translatable"
- at the very end of the "How do I read a tree" slide it reads " A & B are more closely related to C than they are to D & C." - the last 'C' should be 'E'.
- end of slide "how does the map relate to the tree" reads: "you can play an animation of how the inferred spread of the virus over the course of the outbreak." - 'how' should probably be deleted.
- The very last slide ('End of Narrative') appe

[2020-03-15 10:43] JSHuisman commented on #176
Just finished - it seems quite ready (at least from a phylogenetics perspective the explanations make sense)

[2020-03-15 10:45] Simon-LoriereLab opened #192 "minor: Strasbourg (France) location is shifted west on the map"
Hello,
Looking at the map of the recent French cases, the location of Strasbourg seems a bit off (same on different browsers and on mobile), while the lat long coordinate appear correct in the file.
With more sequences coming  for the eastern part of the country, would be great if it was possible to check?
<img width="835" alt="2020-03-15_Nextstrain_Map" src="https://user-images.githubusercontent.

[2020-03-15 10:55] taehoonh commented on #183
Taehoon Ha

[2020-03-15 10:59] lxy0107 commented on #155
Hi all, I think having the contribution page in English makes sense. I asked my friend in China and found nextstrain.org can be accessed there. Then it makes things easy. Maybe when the Chinese version is up, I will ask a friend I trust who works actively in science communication and has a background in plant phylogenetics to write a post on Weibo, something like your PR Tweet. Does that work with

[2020-03-15 11:16] aliceLedda commented on #182
I am working on this right now...
Alice

On Sun, Mar 15, 2020 at 10:27 AM alice ledda <alice.ledda@gmail.com> wrote:

[2020-03-15 11:42] al-epo commented on #152
@cassiawag , @whispererindarkness  and @aliceLedda
I finished, it should be ok. If you could  double check for typos would be great !

Thanks!

[2020-03-15 11:46] al-epo commented on #182
@aliceLedda
What can I do?
maybe I can start from the bottom of the document?

[2020-03-15 11:55] whispererindarkness commented on #152
@al-epo, @aliceLedda, I'm fixing HTML comments tags by now. Multi-line HTML comments breaks the display of the narrative (you can check the link provided in the first message by @cassiawag to check out how the translation is displayed). I'll let you know when I'll finish this.

[2020-03-15 12:07] whispererindarkness commented on #152
Done, it takes less than expected :)

[2020-03-15 12:08] al-epo commented on #152
Cool! Well done!

[2020-03-15 12:18] Maijin commented on #175
First draft pushed - ready for review!

[2020-03-15 12:29] aliceLedda commented on #182
Can you please do the end of the document where there are the credits etc
and leave the rest?
I need some one hourish beak right now and I think I'll need some 1 hour
and half later to finish this.
If you could come back in 3 hours and do the following it would be amazing.
Just first reread the italian without looking at the english and spot the
sentences that do not make much sense for you, then

[2020-03-15 12:30] Simon-LoriereLab commented on #175
So quick! I will check now.

[2020-03-15 12:48] al-epo commented on #182
Ciao Alice,
- I just finished the end of documents with the credits
- I agree with you that some of the words in English do not traslate directly to Italian, we have to find some sort of "best approximation"
- I will come back in around 3 hours and read the italian as you suggest.

[2020-03-15 12:52] Simon-LoriereLab commented on #191
Also, in the "How does the "diversity" panel relate to the tree?", 3rd paragraph
"In this "divisity" panel," should be "In this "diversity" panel," no?

[2020-03-15 12:53] Simon-LoriereLab commented on #175
Once again terrific, I only changed minor things.
This can be released!

[2020-03-15 12:59] aliceLedda commented on #182
Thanks so much!!
It is very valuable to be able to test my translation on you before giving
it to the public.
We need to be sure to give the exact message the narrative wants to give.
A presto!
Alice

On Sun, Mar 15, 2020, 12:48 al-epo <notifications@github.com> wrote:

[2020-03-15 13:16] whispererindarkness commented on #152
@cassiawag, @sarameiqi can help us with proofreading as a professional translator. Can you please add her as a contributor? Thanks!

[2020-03-15 13:17] tomoyuki-nezu commented on #177
@satotake Where are the comments written for me? It doesn't seem to be in the document.

[2020-03-15 13:28] tomoyuki-nezu commented on #177
@satotake Found in commit history. I'll check it.

[2020-03-15 13:44] tomoyuki-nezu commented on #177
Apply received comments from @satotake and committed.

[2020-03-15 14:59] brianpardy commented on #53
Thank you for the merge, @trvrb!

As another followup to this, users running local nextstrain/ncov instances based on the normalized GISAID fasta download may notice inconsistencies in their local results vs those on the nextstrain.org site. Occasionally sequences released on GISAID are later withdrawn or set as non-public, at which point they no longer appear in the gisaid_cov2020_sequences.fasta

[2020-03-15 15:27] Simon-LoriereLab commented on #192
cannot reproduce this anymore.

[2020-03-15 15:31] cassiawag commented on #152
Thanks for the hard work everyone! I've added @sarameiqi. Is this report ready to publish?

[2020-03-15 15:35] cassiawag commented on #190
Hey @roanvanscheppingen, yes, it is a bit confusing. We haven't yet developed the code to have multiple affiliations, but we're actively working on it. Within the last 12 hours, we added a feature to allow a separate translators field. See https://nextstrain.org/narratives/ncov/sit-rep/de/2020-03-13. I'm actively working on updating the already published narratives to reflect this.

[2020-03-15 15:35] #190 closed

[2020-03-15 15:36] cassiawag commented on #155
I think that sounds great @lxy0107! I am publishing this now. Thanks to all for the hard work!

[2020-03-15 15:40] cassiawag commented on #155
Thanks to our amazing developers. We can now add translators in a separate field, and we can include links to the translators professional pages or twitter if they'd like. See for example: https://nextstrain.org/narratives/ncov/sit-rep/de/2020-03-13

Do you have a webpage you would like me to link to?

[2020-03-15 15:42] sarameiqi commented on #152
Hi all, thank you for adding me.
In 90 minutes I should complete the proofreading.
I'll ping you back when I'm done.
I'll write here to @aliceLedda and @al-epo if I have any problem in understanding contents.

[2020-03-15 15:53] aliceLedda commented on #152
I haven't checked that yet...
I am sorry... I am running late translating the other one!
Alice

On Sun, Mar 15, 2020 at 3:42 PM Sara Pilia <notifications@github.com> wrote:

[2020-03-15 15:58] cassiawag commented on #155
It's now live at: https://nextstrain.org/narratives/ncov/sit-rep/zh/2020-03-13
Let me know if you have a web page, you'd like linked to.

[2020-03-15 15:58] #155 closed

[2020-03-15 16:18] fzhang12 commented on #177
Thank both of you. I will start proofread it right now.

[2020-03-15 16:24] al-epo commented on #182
@aliceLedda  I am starting to read and comment you last version

[2020-03-15 16:32] aliceLedda commented on #182
Unfortunately I haven't finished yet, but your comments are more than
welcome!!
There is an awful definition of functional mutation that I need to fix...
Thanks!!

On Sun, Mar 15, 2020, 16:24 al-epo <notifications@github.com> wrote:

[2020-03-15 16:36] sarameiqi commented on #152
Hi all, 3 questions:
1) I'd like to specify that SARS-CoV-2 is a virus writing "il virus SARS-Cov-2" instead of "il SARS-CoV-", because here in Italy many people are confusing coronavirus, SARS-CoV-2, Covid-19 etc. Do you have any objection?

2) In a few cases you write that cases intercalate with others, but in Italian "intercalare" ha un significato too different to be properly understood. Can

[2020-03-15 16:38] cassiawag commented on #191
Thank you very much @JiscaH & @Simon-LoriereLab for noticing these and letting us know! In regards to the final slide, that text is hardcoded in auspice, and at this point can't be translated.

@sidneymbell, I've created a PR [here](https://github.com/nextstrain/narratives/pull/3) that should address them.

[2020-03-15 16:41] cassiawag commented on #152
@sarameiqi -- I'm fine with you clarifying the virus in #1. And please translate the image captions in. Thank you very much!

[2020-03-15 16:49] al-epo commented on #152
@cassiawag  Thank you for reopening  it!

@sarameiqi : thank you for proofreading it!
1. I agree. Also in "indice dei contenuti" : "della SARS-CoV2" is confusing
2. you are absolutely  right , but so far I don’t  have a better word...maybe @aliceLedda  that has a specific  knowledge  on the argument  can suggest a better word for intercalate ?

[2020-03-15 16:51] cassiawag commented on #176
Thank you everyone for the fast translation! Wow, I continue to be very impressed by all. I'm publishing it now.

Thanks to our amazing developers, we can now add translators in a separate field, and translators can have a link to their own professional page. Example: https://nextstrain.org/narratives/ncov/sit-rep/de/2020-03-13 Do you have any pages you would like me to link to?

[2020-03-15 16:53] roanvanscheppingen commented on #176
You guys are more awesome though.

My twitter is enough :)

[2020-03-15 16:57] sarameiqi commented on #152
@al-epo if you can try to explain the meaning with one sentence or two I can try to figure something out! (You can write in Italian, the important is for me to understand the meaning so that I can render it in the best way!)

[2020-03-15 17:02] aliceLedda commented on #152
Yes!
I translated this way
Notably, sequences from many different countries intercalate,
E' interessante notare che le sequence provenienti da molti paesi diversi
si mischiano tra di loro

It's not perfect...

On Sun, Mar 15, 2020 at 4:49 PM al-epo <notifications@github.com> wrote:

[2020-03-15 17:04] aliceLedda commented on #152
The meaning is that instead of having clusters on the tree defined by
geographical origin, sequences group independently from their geographical
origin.
I reread it now, so that I can tell you if there is anything that does not
make sense from the phylogenetic point of view
Alice

On Sun, Mar 15, 2020 at 4:57 PM Sara Pilia <notifications@github.com> wrote:

[2020-03-15 17:05] sarameiqi commented on #152
Ok thanks, I think about it and propose something in a few minutes.
I'm doing the last proofreading, directly from the preview. When I finish I amend this "intercalate" issue and I'm done.

[2020-03-15 17:09] aliceLedda commented on #152
Sara, please can you get rid of all the campionato-campionare.
It's better to use raccogliere campioni.
You do not campionare blood or urine, you raccogli campioni. Since this is
human too, although from the throat, I think it's better to change this
verb.
Thanks!

On Sun, Mar 15, 2020 at 5:05 PM Sara Pilia <notifications@github.com> wrote:

[2020-03-15 17:10] sarameiqi commented on #152
Yes, ok.
Give a look at lines 162 and 233, I solved the "intercalate" issue in two different ways because of the context.

[2020-03-15 17:12] al-epo commented on #182
@aliceLedda
I corrected small typos and accents
I commented with <!-- AL :  proposing a different translation two sentences that I found a bit difficult  to understand in italian. It is challenging translating technical scientific English in Italian!

[2020-03-15 17:14] aliceLedda commented on #152
162 amazing!
233 I changed it (the way you wrote was misleading from the genetic point
of view)

On Sun, Mar 15, 2020 at 5:10 PM Sara Pilia <notifications@github.com> wrote:

[2020-03-15 17:20] cassiawag commented on #176
And it's live here: https://nextstrain.org/narratives/trees-background/nl Well done all.

I will update with translator links once/if everyone sends in a web page.

[2020-03-15 17:20] #176 closed

[2020-03-15 17:26] aliceLedda commented on #152
Ok! I've changed a couple of things that were really important for the
understanding.
No problems with the italian, it was just technical jargon.
Correlare-correlato has a very precise scientific meaning, for example!
Good work everyone!!
I need to finish the other one now!
Cheers!
Alice

On Sun, Mar 15, 2020 at 5:13 PM alice ledda <alice.ledda@gmail.com> wrote:

[2020-03-15 17:28] aliceLedda commented on #182
thanks, I'll go through it!!
That's exactly what I needed!
Alice

[2020-03-15 17:31] sarameiqi commented on #152
I'm done with the proofreading and the request about "campionamento".
I read all the preview twice, I hope I found all the occurrences.

[2020-03-15 17:33] cassiawag commented on #152
Thank you @sarameiqi. @aliceLedda -- is the translation good from your end?

[2020-03-15 17:35] #191 closed

[2020-03-15 17:40] cassiawag commented on #178
Thank you @frogtraveler for noticing that typo. It's now fixed in the English version. @ivan-aksamentov or @vpuller, any chance either of you could proofread this? I know you're both quite busy, and I'd like to have it proofread by someone who does phylogenetics. Thank you!

[2020-03-15 17:53] tolot27 commented on #53
It looks like GISAID made some correction after contacting them via E-Mail. Now I see the Download button again. :smiley:

[2020-03-15 18:14] cassiawag commented on #175
Thank you everyone! I am again amazed by your fast work.

Note: In the narratives format, all links must be followed by some type of text (can be punctuation), or else it will break the narrative. The exception to this is headers! Links in headers cannot be followed by punctuation b/c the lack of punctuation signal that this is a new slide. Letting you all know for future reference.

[2020-03-15 18:16] #175 closed

[2020-03-15 18:17] sarameiqi commented on #152
I added our names as @cassiawag asked to do, I wrote "trad.it. (meaning Italian translation)+ names".
I listed the translators' names in alphabetical order, I hope that you're ok with it. If not, feel free to change.
@al-epo please add your name by yourself, I don't know your surname! =)

[2020-03-15 18:21] al-epo commented on #152
@sarameiqi
Sorry I don’t  find  where I should  add it! I am Alessia Lepore btw  :-)

[2020-03-15 18:23] sarameiqi commented on #152
Added! =)

[2020-03-15 18:23] al-epo commented on #152
Grazie!

[2020-03-15 18:30] cassiawag commented on #175
It's live at: https://nextstrain.org/narratives/trees-background/fr

[2020-03-15 18:39] cassiawag commented on #158
@Cholokiwi or @Chjulian, any updates? I would love to get this published.

[2020-03-15 18:51] tolot27 commented on #180
Pull requests should still be created and submitted to https://github.com/nextstrain/narratives, right?

[2020-03-15 18:59] tolot27 commented on #180
I'm also wondering why the origin of the sequences is part of the narratives and not generated dynamically.

[2020-03-15 19:03] vpuller commented on #178
Hi, I have proofread it and translated a few remaining bits.

[2020-03-15 19:07] andersonbrito commented on #185
@cassiawag, I'm in a similar situation. Due to COVID-19, activities in my lab will intensify this week, so, I predict things will be a bit hectic.

I can help translating some bits at each day, in my free time (if I have some, hoping things will not get too wild in CT).

[2020-03-15 19:15] cassiawag commented on #152
Thank you everyone for your hard work on this! I really appreciate everyone's attention to detail. Early this morning, the developers added a feature to the program, so we can make a separate field for translators. I updated this narrative accordingly.

The translation is now live here: https://nextstrain.org/narratives/ncov/sit-rep/it/2020-03-13

I'm going to post it to Twitter. @sarameiqi, do yo

[2020-03-15 19:20] aliceLedda commented on #152
Oh no!!
I had just finished reviewing and I could not commit!
Alice

On Sun, Mar 15, 2020 at 7:15 PM cassiawag <notifications@github.com> wrote:

[2020-03-15 19:21] cassiawag commented on #152
I'll pull it no problem. We haven't posted yet, so no one has likely seen it. I'll also re-open the branch

[2020-03-15 19:26] cassiawag commented on #152
I'm so sorry @aliceLedda. I looked at the commit history and saw you'd committed content changes last and assumed that you were finished. I won't do it again. Thankfully it barely went live. I re-opened the branch and you should be able to push your changes there.

[2020-03-15 19:32] fzhang12 commented on #177
Hi @tomoyuki-nezu @satotake , I've integrated all my comments. Your work is great as usual. Could any of you take a look at my changes (mainly on divergence part)?

[2020-03-15 19:41] cassiawag commented on #185
Definitely understand @7glaucio & @andersonbrito. It's a crazy time for us all. I'm going to see if the new Portuguese translator wants to work on this, and then maybe you can proofread as your schedule allows? We've already published to situation reports without this and another week or so is not going to be a problem.

[2020-03-15 19:43] cassiawag commented on #154
Hello all -- thank you for your hard work! What's the status on this? I'd love to get it published soon.

[2020-03-15 19:44] Chjulian commented on #158
I just proof-read. Just minor changes. Reads good. Cheers

[2020-03-15 19:58] Cholokiwi commented on #158
Hi all,

It looks good to me too. I just made other small changes.

However, the links in the table of contents do not properly work in the
preview though as they go to the English version. @cassiawag, could we do
something at our end?

Cheers,

Roy

On Mon, Mar 16, 2020 at 8:44 AM Ch. Julian Villabona Arenas <
notifications@github.com> wrote:

[2020-03-15 20:02] aliceLedda commented on #152
No problem!
Sorry that I am working just in bit and pieces!
That's finished!
It was an amazing work really!!
Alice

On Sun, Mar 15, 2020 at 7:26 PM cassiawag <notifications@github.com> wrote:

[2020-03-15 20:04] cassiawag commented on #152
Yeah, it is really amazing. I'm glad you all are part of it. To double confirm, I can publish the Italian translation?

[2020-03-15 20:06] glasnt commented on #165
This issue has been opened over on https://github.com/nextstrain/nextstrain.org/issues/134, which is the repo for the static website. I think this issue can be closed and discussions moved there.

[2020-03-15 20:12] cassiawag commented on #158
@Cholokiwi, thanks for noticing that; most people don't! I just changed the internal links. I leave those to the end because prior to publishing, the correct language links don't actually this.

Can we change the UK back to Great Britain and Ireland? With all the politics that have gone, I want to be safe and leave it as it was.

[2020-03-15 20:23] aliceLedda commented on #152
Yes!

On Sun, Mar 15, 2020 at 8:04 PM cassiawag <notifications@github.com> wrote:

[2020-03-15 20:26] aliceLedda commented on #182
Ragazzi,
I've done all of the scientific part.
Can anyone check if it does make sense in Italian and point me to the
awkward sentences?
I'll be back in an hour or so!
(otherwise I will just reread it myself)
Thanks everyone!
Alice

On Sun, Mar 15, 2020 at 5:27 PM alice ledda <alice.ledda@gmail.com> wrote:

[2020-03-15 20:30] Cholokiwi commented on #158
Done @cassiawag ! Sorry about that newbie mistake.
Cheers,

Roy

[2020-03-15 20:35] cassiawag commented on #152
And now it's finalized _and_ live at: https://nextstrain.org/narratives/ncov/sit-rep/it/2020-03-13

[2020-03-15 20:35] #152 closed

[2020-03-15 20:37] al-epo commented on #182
ok!

[2020-03-15 21:11] cassiawag commented on #158
And it's live at: https://nextstrain.org/narratives/ncov/sit-rep/es/2020-03-13

Thank you all for the excellent translation!

[2020-03-15 21:11] #158 closed

[2020-03-15 21:12] al-epo commented on #182
@aliceLedda
I corrected few typos, you left in english the titles of the last two paragraphs, I put them in English in the comments <!-- AL :
Also I am not sure about the traslation of infer with inferire. I suggest dedurre
or  in this case infer is used as "inferenza statistica" ?
Overall  is very clear!

[2020-03-15 21:19] jameshadfield commented on #190
@roanvanscheppingen this is https://github.com/nextstrain/auspice/issues/951 -- feel free to take it if possible 😄

[2020-03-15 21:19] #165 closed

[2020-03-15 21:24] cassiawag commented on #178
Thank you @vpuller!

@irina95511 -- any chance you could take one final look? Since this text will be used for a while, I want to make sure plenty of eyes see it.

[2020-03-15 21:25] aliceLedda commented on #182
Esatto, I meant in the sense of inferenza statistica or in this case
inferenza dal modello...
Yes I forgot to change the two headers.
And I think I missed one of your notes previously because I accepted just
one of them...
Thank you for the comments, they were very helpful!
Anyway I will reread it in half an hour.
Thanks again!

Alice

On Sun, Mar 15, 2020, 21:12 al-epo <notifications@github.com>

[2020-03-15 21:30] irina95511 commented on #178
Yes, can do right now! Sorry for not being able to help earlier, was quite busy during the day...

[2020-03-15 21:42] minkyuxyz commented on #154
Hey, @cassiawag, is it possible to make a few minor edits after publishing as well? Or, do you prefer not to edit anything beyond the point it is published? I'd say: it's generally good to go. But I would like to fine-tune a few sentences, however, I am occupied for the next few hours. I would not object if you think timely publication is more important and publish it anyway.

[2020-03-15 22:00] sarameiqi commented on #182
@cassiawag did you add me to this branch too? If not, could you do it?
Thanks!

[2020-03-15 22:00] whispererindarkness commented on #182
Hi all, I made a few minor technical update to the translation, fixing HTML tags and translating a couple of subtitle. Let me know if you need further help.

[2020-03-15 22:10] cassiawag commented on #154
A couple hours is no problem :) Thanks for your help in the midst of what I'm sure is an already busy schedule.

[2020-03-15 22:12] minkyuxyz commented on #154
Perfect, I'll wrap things up by 9pm PT.

[2020-03-15 23:19] andersonbrito commented on #185
The help of the third translator will be really welcomed.
I'm happy to proofread it.

[2020-03-15 23:27] aliceLedda commented on #182
@al-epo <https://github.com/al-epo> I did not get what you meant with this
note. Anyway I don't especially like my translation in that point and the
meaning is clear, so go on and change it if you feel like!

I accepted all your comments except the ones about inferred.
Dear everyone,
my part is done, if you want to have a look, correct typos or signal
sentences that do not feel right, please feel

[2020-03-15 23:29] irina95511 commented on #178
I went through the translation, great work guys! Everything is very clear and accessible for Russian community :)

[2020-03-15 23:44] al-epo commented on #182
@aliceLedda  I meant to change " questo significa " in " significa". I made the change now.
Good night !
Alessia

[2020-03-15 23:49] aliceLedda commented on #182
Sorry Alessia, I am too sleepy... Thanks for changing it!!

Perfect then!
Huston (but it's actually Seattle, is it?) we're done here! You can publish
it!
Perfectly on time, as promised!

Goodnight!
Alice

On Sun, Mar 15, 2020, 23:44 al-epo <notifications@github.com> wrote:

[2020-03-15 23:53] sarameiqi commented on #182
I spotted a couple of issues that need fixing. Let me know when you add me so that I can upload the changes. Thank you all for your amazing work!! It is lovely to work with you all!

[2020-03-16 00:16] 7glaucio commented on #185
Feel free to bring her/him. I gonna try start translating tonight, then I gonna commit it, in case someone else wants to step in and translate other parts.

[2020-03-16 00:22] tomoyuki-nezu commented on #177
@fzhang12 I checked the my part. It is easier to understand and more accurate. Thank you!!!

[2020-03-16 01:12] satotake commented on #177
Checked. Thanks @fzhang12 !

[2020-03-16 01:12] minkyuxyz commented on #154
It's okay to publish, now.

[2020-03-16 01:28] taehoonh commented on #154
Hi all,
My names is Taehoon Ha and I am working as an assistant research biostatistician at Weill Cornell Medicine. If you need anything, feel free to let me know. Also, @cassiawag, I would appreciate if you send me an invitation. Thank you. Again, great to work with you all.

[2020-03-16 02:03] 7glaucio commented on #185
Hey @cassiawag , I had some free hours tonight, then I did it myself. When it's ready remember to include it replacing the URLs on the narratives.

@andersonbrito feel free to proofread when you have the chance. How it's too technical for me, I tried my best. But I quite sure you gonna have a few things to fix.

[2020-03-16 04:01] cassiawag commented on #154
Thank you all for the hard work! It's now live at: https://nextstrain.org/community/narratives/nextstrain/ncov/sit-rep/ko/2020-03-13

[2020-03-16 04:01] #154 closed

[2020-03-16 04:11] tomoyuki-nezu commented on #177
@cassiawag I think, ready to publish :)

[2020-03-16 05:30] cassiawag commented on #182
Hi @sarameiqi, you should have access to push to branches in the `ncov` repo. Let me know if this is not working for you. Thanks for your eyes on this.

[2020-03-16 07:57] minkyuxyz opened #198 "Suggestion: Meta tags for social media"
Thank you for your tremendous contribution on spreading scientific findings & connecting researchers around the world with your awesome platform.

Your service currently lacks a set of meta tags that are critical for sharing & advertising your site over social medial. As a result, there is no thumbnail image or proper headlines appearing when a link is shared on Twitter or Facebook.

This is my hu

[2020-03-16 09:40] sarameiqi commented on #182
It sounds clearer from my point of view as not-expert on the topic. Inferite all alone sounds really strange. Let me know if it's ok!

[2020-03-16 09:42] aliceLedda commented on #182
Ok, if you think it's clearer it's fine with me...
Alice

On Mon, Mar 16, 2020, 09:40 Sara Pilia <notifications@github.com> wrote:

[2020-03-16 10:02] al-epo commented on #182
@sarameiqi  and @aliceLedda  "inferite statisticamente" sounds  better to me!

Well done, great work!
It has been a pleasure work with you,
Have a good day and stay safe !

Alessia

[2020-03-16 10:15] sarameiqi commented on #182
I'm done with the proofreading, it's a really great way to expand my (little) knowledge on genomics and SARS-CoV-2.
Thank you all for this amazing job!

[2020-03-16 10:50] aliceLedda commented on #182
Well then, can we consider it done and call @cassia to publish it?

On Mon, Mar 16, 2020, 10:15 Sara Pilia <notifications@github.com> wrote:

[2020-03-16 11:17] sarameiqi commented on #182
Ok for me, I added the translators' names.

[2020-03-16 12:27] tomoyuki-nezu commented on #165
Thanks!!!

[2020-03-16 13:14] abitrolly commented on #53
Is it possible to submit this validator script to GISAID to improve the data quality on their side?

[2020-03-16 15:45] cassiawag commented on #198
@minkyuxyz, thanks for suggestion; we are agreed on it. If you have the background, try tackling the issue here: https://github.com/nextstrain/nextstrain.org/issues/134

[2020-03-16 15:45] #198 closed

[2020-03-16 16:38] cassiawag commented on #178
It's live at: https://nextstrain.org/narratives/trees-background/ru. The link in the most current situation report has also been updated. Thank you all for the quick and excellent translation :)

[2020-03-16 16:38] #178 closed

[2020-03-16 17:44] cassiawag commented on #177
So fast! I'm having trouble keeping up with you all :)

This is published here: https://nextstrain.org/narratives/trees-background/ja

I've also updated the latest situation report with the appropriate link: https://nextstrain.org/narratives/ncov/sit-rep/ja/2020-03-13

Thanks again for the excellent work.

[2020-03-16 17:44] #177 closed

[2020-03-16 18:25] cassiawag commented on #182
You all are fast; well done! This is now live at: https://nextstrain.org/narratives/trees-background/it
I've updated the latest Italian narrative with the appropriate link: https://nextstrain.org/narratives/ncov/sit-rep/it/2020-03-13

Thanks!

[2020-03-16 18:25] #182 closed

[2020-03-16 20:20] pedroelbanquero commented on #53
looking proteins of the first samples of sars in 2004, seems more similar to this samples than other of 2018 pr 2019, how is posible with 17 years of evolution ?, and with this really mutable virus, who change a lot in 3 months ?

i was using exonerate to comparte the code alignement.

./exonerate orf1ab2004.fasta covid

C4 Alignment:
------------
         Query: AAP49011.4 orf1ab polyprotein [SAR

[2020-03-16 20:46] xzhuo commented on #53
If you are interested, please check out https://nextstrain.org/groups/blab/beta-cov and https://nextstrain.org/groups/blab/sars-like-cov.
I don't know which 2018 SARS are you talking about, but you are more related to your aunt/uncle than your cousin even though you and your cousin are about the same age. Does it make sense? Besides, if you want to discuss evolutionary analysis about SARS-CoV-2 ht

[2020-03-16 20:53] pedroelbanquero commented on #53
i was looking this examples but seems just 52 genome samples, the protein im talking more similar than others is AAP49011.4 from 2004 https://www.ncbi.nlm.nih.gov/protein/AAP49011.4,  i think is needed more data to the samples, thanks for the link

[2020-03-16 21:05] #149 closed

[2020-03-16 21:42] cassiawag opened #202 "Translate March 13 situation report into Greek"
I'm creating this issue as a place to discuss the Greek translation of the situation report. @codergr has already done the hard work on the translation, but we'll want a proofread on it (as we do for all translations), preferably by someone with a background in phylogenetics.

The translated file exists on `sit-rep_el` under the `narratives` folder: https://github.com/nextstrain/ncov/blob/sit-rep_

[2020-03-17 00:44] wonkyshree commented on #159
Thank you. Just read this. @cassiawag

[2020-03-17 00:44] wonkyshree commented on #159
Is there a deadline for this?

[2020-03-17 00:49] cassiawag commented on #159
@wonkyshree, we're publishing reports every Friday; thus, the content quickly becomes outdated. So the sooner the better?

[2020-03-17 01:31] mg878 commented on #179
yes, we will start working on this shortly!

[2020-03-17 01:36] cassiawag commented on #181
This narrative is based off this page: https://nextstrain.org/help/general/how-to-read-a-tree, which @Chjulian already translated. I'm copying and pasting from a previous issue below:
   -
*¿Cómo interpretar los árboles filogenéticos? *

*## Árboles de transmisión vs árboles filogenéticos
*
Los patógenos se propagan a través de una replicación rápida en un
huésped infectado seguido de su transmisi

[2020-03-17 02:05] cassiawag commented on #185
Thanks @7glaucio!

[2020-03-17 02:10] Cholokiwi commented on #181
Sounds good @cassiawag , it'll have it ready this week.

[2020-03-17 04:42] taehoonh commented on #183
Taehoon Ha

[2020-03-17 04:57] kairstenfay commented on #160
Hi @wammar! Thanks for agreeing to take a look at the Arabic translation of our hCoV-19 narrative. I'm connecting you with @cassiawag who will take it from here.

[2020-03-17 05:36] cassiawag commented on #160
Hi @wammar! Excited to have your help! I just sent you an invitation to join the repo, so you should be able to push to this branch. Please review the above translation for grammatical correctness as well as accuracy to the English version here: https://nextstrain.org/narratives/ncov/sit-rep/2020-03-13. Translate any sentences that haven't yet been translated. Please push your edits up to the bran